<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

## ข้อมูลหลัก ตาราง alldb.csv

In [4]:
alldb = os.path.join(path,'alldb.csv')
alldb = pd.read_csv(alldb)
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [5]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [6]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [7]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [8]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [9]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [10]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [11]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [12]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [13]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'32077',
 '18733',
 '92220',
 '61095',
 '58196',
 '48768',
 '28627',
 '19578',
 '52481',
 '99475',
 '50577',
 '25331',
 '00317',
 '66801',
 '37249',
 '25403',
 '16247',
 '73038',
 '16675',
 '80847',
 '47157',
 '91645',
 '09820',
 '03169',
 '02396',
 '50332',
 '31196',
 '84187',
 '05182',
 '98290',
 '00182',
 '54614',
 '00143',
 '00303',
 '53333',
 '00318',
 '00134',
 '38771',
 '77811',
 '81293',
 '07331',
 '83934',
 '42380',
 '14255',
 '19241',
 '00204',
 '91167',
 '47593',
 '51892',
 '00195',
 '05291',
 '43657',
 '46566',
 '70490',
 '62459',
 '26647',
 '29796',
 '66261',
 '32581',
 '99884',
 '3450100836420',
 '05069',
 '18524',
 '50466',
 '00213',
 '00269',
 '59051',
 '83257',
 '64211',
 '41182',
 '3451100451251',
 '63284',
 '31133',
 '67961',
 '00165',
 '00122',
 'qqq',
 '33664',
 '60909',
 '25199',
 '11111',
 '66155',
 '63312',
 '06655',
 '76088',
 '28348',
 '74432',
 '62443',
 '65675',
 '11387',
 '09529',
 '34343',
 'uuu',
 '92120',
 '00018',
 '00029',
 '60887',
 '00042',
 '00078',
 '31143',
 '17769',
 '94279',
 '45161',
 '70492',
 '00271',
 '40520',
 '67280',
 '09006',
 '78251',
 '85094',
 '32591',
 '70409',
 '62059',
 '63852',
 '64817',
 '54544',
 '34801',
 '76096',
 '96699',
 '94454',
 '65555',
 '3451100150251',
 '02230',
 'zzz',
 '34210',
 '22478',
 '19273',
 '48274',
 '00046',
 '00127',
 '02087',
 '26811',
 '55865',
 '74523',
 '57228',
 '11611',
 '51403',
 '63200',
 '29118',
 '00025',
 '00026',
 '00117',
 '17982',
 '32949',
 '37018',
 '18954',
 't006',
 '00755',
 '00288',
 '22421',
 '06223',
 '00279',
 '00033',
 '22688',
 '46622',
 '39448',
 '00144',
 '77706',
 '00178',
 '05272',
 '22722',
 '17536\n\n17536',
 '00292',
 '29611',
 '66780',
 '17184',
 '51653',
 '31551',
 '00059',
 '65995',
 '73233',
 '84768',
 '83900',
 '02547',
 '74378',
 '00161',
 'ttohn',
 '59144',
 '14037',
 '02639',
 '14764',
 '12576',
 '01183',
 '00116',
 '05047',
 '79920',
 '87029',
 '67850',
 '53188',
 '97831',
 '00260',
 '52013',
 '06079',
 '16428',
 '15963',
 '74338',
 '30283',
 '30767',
 '26477',
 '81065',
 '38518',
 '00624',
 '49741',
 '65632',
 '67379',
 '95301',
 '19559',
 '30016',
 '55430',
 '69789',
 '47429',
 '60879',
 '61359',
 '10905',
 '00153',
 '00966',
 '01942',
 '75061',
 '68112',
 '04193',
 '35942',
 '00253',
 '5600190011969',
 '50063',
 '77645',
 '00321',
 '10264',
 '83733',
 '85879',
 '03523',
 '18890',
 '25593',
 '80175',
 '77688',
 '32082',
 '04388',
 '3450101576642',
 '12044',
 '3450101323370',
 '52724',
 '90612',
 '00400',
 '87738',
 '47494',
 '00172',
 '00114',
 '14505',
 '61265',
 '3451100141252',
 '73496',
 '42173',
 '84493',
 '00151',
 '11215',
 '18865',
 '75487',
 '00015',
 '23796',
 '48255',
 '19201',
 '63485',
 '75126',
 '72451',
 '95151',
 '68317',
 '80382',
 '00202',
 '76331',
 '30977',
 '01403',
 '01009',
 '40865',
 '81570',
 '85444',
 '63098',
 '47061',
 '00109',
 '00048',
 '04461',
 '95821',
 '00183',
 '55239',
 '20061',
 '14088',
 '87181',
 '05091',
 '00266',
 '3451100241281',
 '83777',
 '46520',
 '69566',
 '79493',
 '00069',
 '34791',
 '00404',
 '02913',
 '01594',
 '06436',
 '50373',
 '61320',
 '49424',
 '32999',
 '71891',
 '39440',
 '51903',
 '19699',
 '22455',
 '3451100451758',
 '08236',
 '35139',
 '66473',
 '01467',
 '00158',
 '43068',
 '25176',
 '10046',
 '06385',
 '25659',
 '08998',
 '47656',
 '67972',
 '94558',
 '00304',
 '00180',
 '33739',
 '75835',
 '16754',
 '00399',
 '45881',
 '03263',
 '24491',
 '39593',
 '99999',
 '05304',
 '67094',
 '53980',
 '55659',
 '77862',
 '52665',
 '84374',
 '00198',
 '08072',
 '27604',
 '00328',
 '62768',
 '24258',
 '19180',
 '01637',
 '40551',
 '54761',
 '03535',
 '95161',
 '60688',
 '24559',
 '00578',
 '74861',
 '77782',
 '92948',
 '85493',
 '42682',
 '25128',
 '00011',
 '44199',
 '31762',
 '55911',
 '71378',
 '51973',
 '76011',
 '47354',
 '59266',
 '48298',
 '92747',
 '27529',
 '40577',
 '49308',
 '26440',
 '76299',
 '00277',
 '44364',
 '14771',
 '00286',
 '49413',
 '15678',
 '36692',
 '02784',
 '29875',
 '68162',
 '29094',
 '82822',
 '50004',
 '49782',
 '94601',
 '32622',
 '56044',
 '94881',
 '76819',
 '43228',
 '37728',
 '00001',
 '52210',
 '00190',
 '00189',
 '00218',
 '15930',
 '13824',
 '28593',
 '14667',
 '46902',
 '00010',
 '87374',
 '72938',
 '00210',
 '17560',
 '86299',
 '31283',
 '91917',
 '03558',
 '74335',
 '22354',
 '53481',
 '31086',
 'fff',
 '43431',
 '90888',
 '00207',
 '15588',
 '49880',
 '64503',
 '36390',
 '46597',
 '55236',
 '32891',
 '76475',
 '74782',
 '37216',
 '00265',
 '83276',
 'aiov0001',
 '33869',
 '10695',
 '33171',
 '88377',
 '93307',
 '02604',
 '83449',
 '53943',
 'hu',
 '77726',
 '93671',
 '53330',
 '49961',
 '91125',
 '73158',
 '12605',
 '00221',
 '17777',
 '81537',
 '11027',
 '29051',
 '00013',
 '16971',
 '40553',
 '23554',
 '54192',
 '00192',
 '33237',
 '79590',
 '05368',
 '11055',
 '00129',
 '05211',
 '37826',
 '79001',
 'ppp',
 '32666',
 '19903',
 '46948',
 '65075',
 '20454',
 '45593',
 '11198',
 '05242',
 '98156',
 '49901',
 '52902',
 '53616',
 '01431',
 '10724',
 '49241',
 '90343',
 '15731',
 '00272',
 '13406',
 '00123',
 '03831',
 '37140',
 '93028',
 '31534',
 '01730',
 '06277',
 '47938',
 '99734',
 '51301',
 '76386',
 '00177',
 '39529',
 '85934',
 '45884',
 '63274',
 '16372',
 '05353',
 '44845',
 '38305',
 '80511',
 '02518',
 '43257',
 '71378\n71378',
 '99992',
 '90872',
 '65664',
 '16604',
 '05082',
 '00039',
 '00014',
 '98829',
 '63471',
 '02102',
 '00203',
 '52912',
 '32873',
 '01850',
 '63091',
 '00065',
 '00154',
 '43143',
 '31401',
 '19527',
 '15801',
 '27678',
 '26540',
 '78494',
 '46481',
 '32310',
 '94019',
 '87797',
 '47844',
 '00028',
 '97281',
 '00040',
 '14380',
 '64081',
 '74345',
 '95810',
 '76486',
 '45924',
 '64810',
 '33103',
 '10375',
 '00051',
 '95291',
 '48393',
 '92648',
 '01008',
 '74840',
 'mks',
 '19911',
 '24641',
 '80067',
 '22692',
 '37151',
 '00193',
 '98519',
 '08971',
 '05038',
 '63039',
 '22635',
 '44018',
 '96630',
 '13312',
 '25179',
 '00108',
 '12015',
 '50802',
 '9250',
 '70940',
 '47950',
 '44805',
 '00159',
 '00008',
 '23675',
 '96431',
 '00187',
 '38778',
 '69681',
 '17191',
 '00224',
 '67450',
 '42120',
 '00036',
 '67409',
 '63767',
 '32171',
 '46783',
 '21955',
 '22545',
 '92431',
 '62440',
 '73225',
 '16529',
 '30024',
 '19202',
 '69576',
 '18513',
 '00201',
 '70370',
 '00781',
 '74493',
 '28330',
 '00273',
 '41000',
 '08734',
 '26442',
 '19920',
 '16174',
 '26459',
 '00023',
 '03949',
 '81529',
 '21831',
 '62962',
 '33219',
 '08436',
 '99245',
 '18769',
 '34988',
 '36358',
 '80317',
 '45752',
 '00148',
 '00130',
 '00341',
 '00566',
 '00044',
 '3450100805222',
 '96706',
 '00319',
 '41301',
 '00200',
 '47122',
 '31879',
 '83937',
 '27503',
 '14360',
 '38547',
 '14988',
 '09226',
 '00112',
 '32468',
 '02075',
 '87315',
 '47135',
 '38422',
 '00219',
 '66381',
 '12003',
 '00126',
 '46627',
 '97965',
 '08242',
 '54281',
 '91947',
 '44509',
 '19250',
 'aiov0002',
 '00140',
 '33553',
 '3450101325119',
 '86271',
 '06790',
 '53579',
 '27046',
 '21432',
 '27096',
 '10992',
 '50900',
 '42228',
 'hhh',
 '48493',
 '86545',
 '14189',
 '21751',
 '76105',
 '11727',
 '18318',
 '94406',
 '70455',
 '92580',
 '88135',
 '08777',
 '00071',
 '83659',
 '06924',
 '21010',
 '90516',
 '05063',
 '00206',
 '31994',
 '00216',
 '48042',
 '89381',
 '09315',
 '68856',
 '67615',
 '00324',
 '64520',
 '26957',
 '31577',
 '52921',
 '00197',
 '26859',
 '84392',
 '10487',
 '38381',
 '28402',
 '68006',
 '89913',
 '89081',
 '00121',
 '74394',
 '50276',
 '97484',
 '25837',
 '66191',
 '55873',
 '92962',
 '18025',
 '73381',
 '65301',
 '01883',
 '3400900747146',
 '85702',
 '33643',
 '52678',
 '08370',
 '11111111',
 '71921',
 '00267',
 '47933',
 '3450101229373',
 '20847',
 '16193',
 '97860',
 '00132',
 '46341',
 'vvv',
 '84495',
 '37091',
 '69431',
 '05113',
 '61325',
 '1450700099250',
 '34585',
 '16970',
 '45825',
 '98551',
 '80673',
 '76803',
 '61182',
 '00251',
 '76459',
 '3451400598487',
 '28381',
 '26773',
 '25721',
 '89801',
 '62941',
 '27129',
 '70957',
 '25781',
 '00162',
 '25683',
 'xxx',
 '50624',
 '00141',
 '85737',
 '63564',
 '40886',
 '14801',
 '3451100324624',
 '02759',
 '74375',
 '30059',
 '99376',
 '04431',
 '83725',
 '00137',
 '64612',
 '16321',
 'sss',
 '66205',
 '00156',
 '39802',
 '96081',
 '19575',
 '46643',
 '04281',
 '53356',
 '58668',
 '38727',
 'rrr',
 '12966',
 '00006',
 '00004',
 '19875',
 '00313',
 '00320',
 '68037',
 '50284',
 '23889',
 '25478',
 'yyy',
 '61121',
 '69911',
 '65254',
 '80734',
 '17055',
 '03649',
 '54974',
 '62415',
 '39959',
 '13070',
 '71791',
 '91438',
 '00139',
 '71417',
 '28010',
 '09269',
 '80880',
 '13088',
 '54100',
 '56845',
 '33081',
 '34501009308',
 '30041',
 '58718',
 '62491',
 '46775',
 '37691',
 '74369',
 '66437',
 '00118',
 '94392',
 '78731',
 '36141',
 '65678',
 '00147',
 '23010',
 '53045',
 '11361',
 '76246',
 '84459',
 '34317',
 '97770',
 '45914',
 '61587',
 '03953',
 '08818',
 '32625',
 '00149',
 '04405',
 '61486',
 '19671',
 '3459900286317',
 '73946',
 '58993',
 '94494',
 '23058',
 '29271',
 '65390',
 '25466',
 '95104',
 '50951',
 '19852',
 '82054',
 '83943',
 '29417',
 '26462',
 '24622',
 '00565',
 '10194',
 '81197',
 '31208',
 '3451100146637',
 '02728',
 '47602',
 '19632',
 '09617',
 '51175',
 '  67241\n',
 '4',
 '00076',
 '00223',
 '77384',
 '71998',
 '77254',
 '92241',
 '88942',
 '29379',
 '51065',
 '67241',
 '24501',
 '24612',
 '61591',
 '67400',
 '00131',
 '70671',
 '23811',
 '59326',
 '74103',
 '70196',
 '78257',
 '02990',
 '76642',
 '7140',
 '16848',
 '51039',
 '46333',
 '45531',
 '82954',
 '65509',
 '82685',
 '67352',
 '19808',
 '33316',
 '3450101556129',
 '40533',
 '72988',
 '12378',
 '00168',
 '83771',
 '85504',
 '05358',
 '11891',
 '03562',
 '24179',
 '74891',
 '52922',
 '01762',
 '24032',
 '48514',
 '00030',
 '00041',
 '00157',
 '80253',
 '17564',
 '00052',
 '00294',
 'eee',
 '55300',
 '19756',
 '42370',
 '00910',
 '01721',
 '10993',
 '34322',
 '3450101325097',
 'tttt',
 '00124',
 '00166',
 '59269',
 '51501',
 '23338',
 '97913',
 '73772',
 '05019',
 '29485',
 '34096',
 '00215',
 '27143',
 '94538',
 '52131',
 '32914',
 '26469',
 '36481',
 '62616',
 '03100',
 '28291',
 '05961',
 '90571',
 '23231',
 '00191',
 '03617',
 '15229',
 '00136',
 '86474',
 '11165',
 '16904',
 '05849',
 '09188',
 '00054',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [14]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'32077',
 '18733',
 '92220',
 '61095',
 '58196',
 '48768',
 '28627',
 '19578',
 '52481',
 '99475',
 '50577',
 '25331',
 '00317',
 '66801',
 '37249',
 '25403',
 '16247',
 '73038',
 '16675',
 '80847',
 '47157',
 '91645',
 '09820',
 '03169',
 '02396',
 '50332',
 '31196',
 '84187',
 '05182',
 '98290',
 '00182',
 '54614',
 '00143',
 '00303',
 '53333',
 '00318',
 '00134',
 '38771',
 '77811',
 '81293',
 '07331',
 '83934',
 '42380',
 '14255',
 '19241',
 '00204',
 '91167',
 '47593',
 '51892',
 '00195',
 '05291',
 '43657',
 '46566',
 '70490',
 '62459',
 '26647',
 '29796',
 '66261',
 '32581',
 '99884',
 '05069',
 '18524',
 '50466',
 '00213',
 '00269',
 '59051',
 '83257',
 '64211',
 '41182',
 '63284',
 '31133',
 '67961',
 '00165',
 '00122',
 '33664',
 '60909',
 '25199',
 '11111',
 '66155',
 '63312',
 '06655',
 '76088',
 '28348',
 '74432',
 '62443',
 '65675',
 '11387',
 '09529',
 '34343',
 '92120',
 '00018',
 '00029',
 '60887',
 '00042',
 '00078',
 '31143',
 '17769',
 '94279',
 '45161',
 '70492',
 '00271',
 '40520',
 '67280',
 '09006',
 '78251',
 '85094',
 '32591',
 '70409',
 '62059',
 '63852',
 '64817',
 '54544',
 '34801',
 '76096',
 '96699',
 '94454',
 '65555',
 '02230',
 '34210',
 '22478',
 '19273',
 '48274',
 '00046',
 '00127',
 '02087',
 '26811',
 '55865',
 '74523',
 '57228',
 '11611',
 '51403',
 '63200',
 '29118',
 '00025',
 '00026',
 '00117',
 '17982',
 '32949',
 '37018',
 '18954',
 '00755',
 '00288',
 '22421',
 '06223',
 '00279',
 '00033',
 '22688',
 '46622',
 '39448',
 '00144',
 '77706',
 '00178',
 '05272',
 '22722',
 '00292',
 '29611',
 '66780',
 '17184',
 '51653',
 '31551',
 '00059',
 '65995',
 '73233',
 '84768',
 '83900',
 '02547',
 '74378',
 '00161',
 '59144',
 '14037',
 '02639',
 '14764',
 '12576',
 '01183',
 '00116',
 '05047',
 '79920',
 '87029',
 '67850',
 '53188',
 '97831',
 '00260',
 '52013',
 '06079',
 '16428',
 '15963',
 '74338',
 '30283',
 '30767',
 '26477',
 '81065',
 '38518',
 '00624',
 '49741',
 '65632',
 '67379',
 '95301',
 '19559',
 '30016',
 '55430',
 '69789',
 '47429',
 '60879',
 '61359',
 '10905',
 '00153',
 '00966',
 '01942',
 '75061',
 '68112',
 '04193',
 '35942',
 '00253',
 '50063',
 '77645',
 '00321',
 '10264',
 '83733',
 '85879',
 '03523',
 '18890',
 '25593',
 '80175',
 '77688',
 '32082',
 '04388',
 '12044',
 '52724',
 '90612',
 '00400',
 '87738',
 '47494',
 '00172',
 '00114',
 '14505',
 '61265',
 '73496',
 '42173',
 '84493',
 '00151',
 '11215',
 '18865',
 '75487',
 '00015',
 '23796',
 '48255',
 '19201',
 '63485',
 '75126',
 '72451',
 '95151',
 '68317',
 '80382',
 '00202',
 '76331',
 '30977',
 '01403',
 '01009',
 '40865',
 '81570',
 '85444',
 '63098',
 '47061',
 '00109',
 '00048',
 '04461',
 '95821',
 '00183',
 '55239',
 '20061',
 '14088',
 '87181',
 '05091',
 '00266',
 '83777',
 '46520',
 '69566',
 '79493',
 '00069',
 '34791',
 '00404',
 '02913',
 '01594',
 '06436',
 '50373',
 '61320',
 '49424',
 '32999',
 '71891',
 '39440',
 '51903',
 '19699',
 '22455',
 '08236',
 '35139',
 '66473',
 '01467',
 '00158',
 '43068',
 '25176',
 '10046',
 '06385',
 '25659',
 '08998',
 '47656',
 '67972',
 '94558',
 '00304',
 '00180',
 '33739',
 '75835',
 '16754',
 '00399',
 '45881',
 '03263',
 '24491',
 '39593',
 '99999',
 '05304',
 '67094',
 '53980',
 '55659',
 '77862',
 '52665',
 '84374',
 '00198',
 '08072',
 '27604',
 '00328',
 '62768',
 '24258',
 '19180',
 '01637',
 '40551',
 '54761',
 '03535',
 '95161',
 '60688',
 '24559',
 '00578',
 '74861',
 '77782',
 '92948',
 '85493',
 '42682',
 '25128',
 '00011',
 '44199',
 '31762',
 '55911',
 '71378',
 '51973',
 '76011',
 '47354',
 '59266',
 '48298',
 '92747',
 '27529',
 '40577',
 '49308',
 '26440',
 '76299',
 '00277',
 '44364',
 '14771',
 '00286',
 '49413',
 '15678',
 '36692',
 '02784',
 '29875',
 '68162',
 '29094',
 '82822',
 '50004',
 '49782',
 '94601',
 '32622',
 '56044',
 '94881',
 '76819',
 '43228',
 '37728',
 '00001',
 '52210',
 '00190',
 '00189',
 '00218',
 '15930',
 '13824',
 '28593',
 '14667',
 '46902',
 '00010',
 '87374',
 '72938',
 '00210',
 '17560',
 '86299',
 '31283',
 '91917',
 '03558',
 '74335',
 '22354',
 '53481',
 '31086',
 '43431',
 '90888',
 '00207',
 '15588',
 '49880',
 '64503',
 '36390',
 '46597',
 '55236',
 '32891',
 '76475',
 '74782',
 '37216',
 '00265',
 '83276',
 '33869',
 '10695',
 '33171',
 '88377',
 '93307',
 '02604',
 '83449',
 '53943',
 '77726',
 '93671',
 '53330',
 '49961',
 '91125',
 '73158',
 '12605',
 '00221',
 '17777',
 '81537',
 '11027',
 '29051',
 '00013',
 '16971',
 '40553',
 '23554',
 '54192',
 '00192',
 '33237',
 '79590',
 '05368',
 '11055',
 '00129',
 '05211',
 '37826',
 '79001',
 '32666',
 '19903',
 '46948',
 '65075',
 '20454',
 '45593',
 '11198',
 '05242',
 '98156',
 '49901',
 '52902',
 '53616',
 '01431',
 '10724',
 '49241',
 '90343',
 '15731',
 '00272',
 '13406',
 '00123',
 '03831',
 '37140',
 '93028',
 '31534',
 '01730',
 '06277',
 '47938',
 '99734',
 '51301',
 '76386',
 '00177',
 '39529',
 '85934',
 '45884',
 '63274',
 '16372',
 '05353',
 '44845',
 '38305',
 '80511',
 '02518',
 '43257',
 '99992',
 '90872',
 '65664',
 '16604',
 '05082',
 '00039',
 '00014',
 '98829',
 '63471',
 '02102',
 '00203',
 '52912',
 '32873',
 '01850',
 '63091',
 '00065',
 '00154',
 '43143',
 '31401',
 '19527',
 '15801',
 '27678',
 '26540',
 '78494',
 '46481',
 '32310',
 '94019',
 '87797',
 '47844',
 '00028',
 '97281',
 '00040',
 '14380',
 '64081',
 '74345',
 '95810',
 '76486',
 '45924',
 '64810',
 '33103',
 '10375',
 '00051',
 '95291',
 '48393',
 '92648',
 '01008',
 '74840',
 '19911',
 '24641',
 '80067',
 '22692',
 '37151',
 '00193',
 '98519',
 '08971',
 '05038',
 '63039',
 '22635',
 '44018',
 '96630',
 '13312',
 '25179',
 '00108',
 '12015',
 '50802',
 '9250',
 '70940',
 '47950',
 '44805',
 '00159',
 '00008',
 '23675',
 '96431',
 '00187',
 '38778',
 '69681',
 '17191',
 '00224',
 '67450',
 '42120',
 '00036',
 '67409',
 '63767',
 '32171',
 '46783',
 '21955',
 '22545',
 '92431',
 '62440',
 '73225',
 '16529',
 '30024',
 '19202',
 '69576',
 '18513',
 '00201',
 '70370',
 '00781',
 '74493',
 '28330',
 '00273',
 '41000',
 '08734',
 '26442',
 '19920',
 '16174',
 '26459',
 '00023',
 '03949',
 '81529',
 '21831',
 '62962',
 '33219',
 '08436',
 '99245',
 '18769',
 '34988',
 '36358',
 '80317',
 '45752',
 '00148',
 '00130',
 '00341',
 '00566',
 '00044',
 '96706',
 '00319',
 '41301',
 '00200',
 '47122',
 '31879',
 '83937',
 '27503',
 '14360',
 '38547',
 '14988',
 '09226',
 '00112',
 '32468',
 '02075',
 '87315',
 '47135',
 '38422',
 '00219',
 '66381',
 '12003',
 '00126',
 '46627',
 '97965',
 '08242',
 '54281',
 '91947',
 '44509',
 '19250',
 '00140',
 '33553',
 '86271',
 '06790',
 '53579',
 '27046',
 '21432',
 '27096',
 '10992',
 '50900',
 '42228',
 '48493',
 '86545',
 '14189',
 '21751',
 '76105',
 '11727',
 '18318',
 '94406',
 '70455',
 '92580',
 '88135',
 '08777',
 '00071',
 '83659',
 '06924',
 '21010',
 '90516',
 '05063',
 '00206',
 '31994',
 '00216',
 '48042',
 '89381',
 '09315',
 '68856',
 '67615',
 '00324',
 '64520',
 '26957',
 '31577',
 '52921',
 '00197',
 '26859',
 '84392',
 '10487',
 '38381',
 '28402',
 '68006',
 '89913',
 '89081',
 '00121',
 '40591',
 '74394',
 '50276',
 '97484',
 '25837',
 '66191',
 '55873',
 '92962',
 '18025',
 '73381',
 '65301',
 '01883',
 '85702',
 '33643',
 '52678',
 '08370',
 '71921',
 '00267',
 '47933',
 '20847',
 '16193',
 '97860',
 '00132',
 '46341',
 '84495',
 '37091',
 '69431',
 '05113',
 '61325',
 '34585',
 '16970',
 '45825',
 '98551',
 '80673',
 '76803',
 '61182',
 '00251',
 '76459',
 '28381',
 '26773',
 '25721',
 '89801',
 '62941',
 '27129',
 '70957',
 '25781',
 '00162',
 '25683',
 '50624',
 '00141',
 '85737',
 '63564',
 '40886',
 '14801',
 '02759',
 '74375',
 '30059',
 '99376',
 '04431',
 '83725',
 '00137',
 '64612',
 '16321',
 '66205',
 '00156',
 '39802',
 '96081',
 '19575',
 '46643',
 '04281',
 '53356',
 '58668',
 '38727',
 '12966',
 '00006',
 '00004',
 '19875',
 '00313',
 '00320',
 '68037',
 '50284',
 '23889',
 '25478',
 '61121',
 '69911',
 '65254',
 '80734',
 '17055',
 '03649',
 '54974',
 '62415',
 '39959',
 '13070',
 '71791',
 '91438',
 '00139',
 '71417',
 '28010',
 '09269',
 '80880',
 '13088',
 '54100',
 '56845',
 '33081',
 '30041',
 '58718',
 '62491',
 '46775',
 '37691',
 '74369',
 '66437',
 '00118',
 '94392',
 '78731',
 '36141',
 '65678',
 '00147',
 '23010',
 '53045',
 '11361',
 '76246',
 '84459',
 '34317',
 '97770',
 '45914',
 '61587',
 '03953',
 '08818',
 '32625',
 '00149',
 '04405',
 '61486',
 '19671',
 '73946',
 '58993',
 '94494',
 '23058',
 '29271',
 '65390',
 '25466',
 '95104',
 '50951',
 '19852',
 '82054',
 '83943',
 '29417',
 '26462',
 '24622',
 '00565',
 '10194',
 '81197',
 '31208',
 '02728',
 '47602',
 '19632',
 '09617',
 '51175',
 '00076',
 '00223',
 '77384',
 '71998',
 '77254',
 '92241',
 '88942',
 '29379',
 '51065',
 '67241',
 '24501',
 '24612',
 '61591',
 '67400',
 '00131',
 '70671',
 '23811',
 '59326',
 '74103',
 '70196',
 '78257',
 '02990',
 '76642',
 '7140',
 '16848',
 '51039',
 '46333',
 '45531',
 '82954',
 '65509',
 '82685',
 '67352',
 '19808',
 '33316',
 '40533',
 '72988',
 '12378',
 '00168',
 '83771',
 '85504',
 '05358',
 '11891',
 '03562',
 '24179',
 '74891',
 '52922',
 '01762',
 '24032',
 '48514',
 '00030',
 '00041',
 '00157',
 '80253',
 '17564',
 '00052',
 '00294',
 '55300',
 '19756',
 '42370',
 '00910',
 '01721',
 '10993',
 '34322',
 '00124',
 '00166',
 '59269',
 '51501',
 '23338',
 '97913',
 '73772',
 '05019',
 '29485',
 '34096',
 '00215',
 '27143',
 '94538',
 '52131',
 '32914',
 '26469',
 '36481',
 '62616',
 '03100',
 '28291',
 '05961',
 '90571',
 '23231',
 '00191',
 '03617',
 '15229',
 '00136',
 '86474',
 '11165',
 '16904',
 '05849',
 '09188',
 '00054',
 '87394',
 '50172',
 '75841',
 '00298',
 '61746',
 '05391',
 '79066',
 '75347',
 '68768',
 '57954',
 '24563',
 '66062',
 '02693',
 '63910',
 '09343',
 '75771',
 '55806',
 '00047',
 '61338',
 '66386',
 '00233',
 '93884',
 '47605',
 '28917',
 '86133',
 '12561',
 '75838',
 '08602',
 '33791',
 '08021',
 '89056',
 '87337',
 '60953',
 '75579',
 '31792',
 '19002',
 '50291',
 '79817',
 '20606',
 '00088',
 '58814',
 '50047',
 '87067',
 '00160',
 ...}

In [16]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [17]:
alldb_drop2['user'] = alldb_drop2['user'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
alldb_drop2.dtypes # เช็คว่า user ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ site

In [19]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [20]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [22]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [23]:
alldb_drop3['site'] = alldb_drop3['site'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
alldb_drop3.dtypes # เช็คว่า site ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ ov

In [25]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [26]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [27]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [28]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [29]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [31]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00103',
 '02484',
 '00505',
 '01060',
 '02401',
 '01965',
 '10984',
 '00859',
 '02719',
 '00359',
 '01133',
 '3450101522372',
 '00378',
 '00317',
 '00470',
 '02737',
 '00249',
 '04011',
 '02298',
 '02832',
 '02204',
 '02782',
 '00604',
 '02143',
 '02555',
 '00944',
 '01310',
 '01551',
 '02222',
 '02380',
 '02849',
 '01973',
 '04650',
 '00429',
 '05720',
 '05125',
 '01110',
 '02032',
 '01463',
 '02730',
 '05233',
 '03438',
 '02396',
 '08930',
 '00398',
 '01360',
 '09027',
 '00619',
 '01674',
 '01682',
 '01704',
 '01486',
 '02912',
 '01111',
 '02621',
 '01804',
 '02919',
 '00246',
 '00453',
 '01971',
 '10983',
 '08952',
 '00227',
 '01678',
 '05096',
 '00411',
 '02402',
 '04675',
 '00182',
 '04179',
 '01508',
 '00542',
 '01231',
 '02470',
 '01274',
 '00508',
 '02796',
 '05223',
 '06725',
 '00143',
 '00303',
 '01709',
 '09033',
 '00318',
 '06043',
 '02886',
 '00134',
 '05244',
 '00599',
 '01370',
 '02096',
 '01728',
 '02567',
 '00498',
 '00957',
 '01032',
 '02598',
 '04672',
 '00935',
 '02936',
 '04012',
 '01223',
 '00962',
 '01931',
 '29',
 '00942',
 '00477',
 '00527',
 '00763',
 '00204',
 '01787',
 '02933',
 '01236',
 '02064',
 '00195',
 '00471',
 '01830',
 '01873',
 '02335',
 '03071',
 '05382',
 '00577',
 '01690',
 '00999',
 '08960',
 '00311',
 '02851',
 '03415',
 '01288',
 '04777',
 '00736',
 '01202',
 '08915',
 '00465',
 '01261',
 '00631',
 '03123',
 '00590',
 '02965',
 '01867',
 '08995',
 '00402',
 '01981',
 '03049',
 '08245',
 '08911',
 '02365',
 '03059',
 '04008',
 '00732',
 '02720',
 '01773',
 '00432',
 '02602',
 '00213',
 '00926',
 '00269',
 '02486',
 '02165',
 '01429',
 '04033',
 '02731',
 '08963',
 '00884',
 '04001',
 '06049',
 '00165',
 '00122',
 '33664',
 '06040',
 '00092',
 '11111',
 '02010',
 '00709',
 '02670',
 '02857',
 '08959',
 '03006',
 '00462',
 '01841',
 '00387',
 '01832',
 '01955',
 '00897',
 '00947',
 '00615',
 '02664',
 '00913',
 '03333',
 '01662',
 '04061',
 '02037',
 '01477',
 '01038',
 '03544',
 '02756',
 '02099',
 '02516',
 '01435',
 '01037',
 '01716',
 '02110',
 '02843',
 '02852',
 '00066',
 '03066',
 '00575',
 '02672',
 '02918',
 '03512',
 '03005',
 '00335',
 '00384',
 '00018',
 '00029',
 '00651',
 '01235',
 '00551',
 '00746',
 '01307',
 '05209',
 '00889',
 '02847',
 '06006',
 '01862',
 '00042',
 '01475',
 '00989',
 '05109',
 '01676',
 '01363',
 '00078',
 '01533',
 '02732',
 '00255',
 '00271',
 '05343',
 '03236',
 '01739',
 '04673',
 '09006',
 '125',
 '02993',
 '01382',
 '04690',
 '01220',
 '06005',
 '01136',
 '04696',
 '00858',
 '02439',
 '00410',
 '00472',
 '02596',
 '05991',
 '01717',
 '05204',
 '01205',
 '02680',
 '00845',
 '08902',
 '02079',
 '00107',
 '01496',
 '01623',
 '04685',
 '01108',
 '05806',
 '01960',
 '01166',
 '02313',
 '06062',
 '04639',
 '03144',
 '72093',
 '02230',
 '00927',
 '03310',
 '05281',
 '02491',
 '02726',
 '02107',
 '00046',
 '00127',
 '00998',
 '01039',
 '01468',
 '00753',
 '03327',
 '08069',
 '123',
 '02238',
 '02218',
 '03129',
 '00853',
 '00254',
 '04663',
 '06009',
 '01033',
 '02531',
 '02536',
 '56',
 '02027',
 '01089',
 '32',
 '02074',
 '10988',
 '01021',
 '01815',
 '00572',
 '02232',
 '00025',
 '02949',
 '05339',
 '00072',
 '01294',
 '05975',
 '02055',
 '00026',
 '00475',
 '02356',
 '06018',
 '01376',
 '00117',
 '01197',
 '01798',
 '00101',
 '04074',
 '05267',
 '200',
 '01986',
 '01801',
 '05780',
 '01584',
 '02295',
 '00485',
 '00991',
 '00258',
 '01540',
 '00755',
 '02860',
 '00288',
 '00520',
 '02844',
 '06058',
 '08973',
 '03183',
 '02077',
 '00279',
 '01456',
 '01797',
 '02488',
 '02945',
 '02997',
 '00033',
 '00488',
 '01618',
 '00144',
 '00869',
 '03358',
 '00178',
 '0018',
 '01869',
 '00292',
 '01860',
 '01916',
 '00546',
 '00059',
 '00595',
 '05723',
 '02151',
 '01853',
 '08521',
 '00568',
 '00407',
 '00749',
 '00911',
 '00161',
 '02547',
 '02991',
 '02938',
 '02639',
 '02824',
 '02638',
 '00460',
 '00974',
 '01183',
 '00111',
 '04004',
 '02754',
 '00714',
 '01272',
 '0030',
 '00116',
 '02338',
 '00691',
 '01479',
 '02967',
 '00260',
 '03233',
 '00098',
 '00672',
 '03237',
 '01104',
 '00970',
 '01489',
 '00768',
 '03399',
 '02420',
 '02202',
 '04137',
 '00664',
 '01666',
 '00624',
 '03181',
 '01358',
 '00406',
 '01837',
 '00865',
 '02170',
 '01012',
 '02475',
 '185',
 '00652',
 '03425',
 '01495',
 '01753',
 '02855',
 '00482',
 '00153',
 '03030',
 '01048',
 '00966',
 '01942',
 '01979',
 '11000',
 '04193',
 '03182',
 '05117',
 '00525',
 '01013',
 '00253',
 '02973',
 '02773',
 '00517',
 '02022',
 '02845',
 '01581',
 '00321',
 '03179',
 '00814',
 '02620',
 '01918',
 '00598',
 '00329',
 '01865',
 '06028',
 '01807',
 '02137',
 '01889',
 '01901',
 '02651',
 '01458',
 '01582',
 '03499',
 '00336',
 '01597',
 '02505',
 '01135',
 '01028',
 '02839',
 '03273',
 '01006',
 '01355',
 '00835',
 '01939',
 '00400',
 '04732',
 '08926',
 '09038',
 '00172',
 '121',
 '00114',
 '11003',
 '00569',
 '00544',
 '01803',
 '05146',
 '08503',
 '01868',
 '01779',
 '00151',
 '00389',
 '00385',
 '00901',
 '00754',
 '01600',
 '01510',
 '01630',
 '10997',
 '00455',
 '01629',
 '00015',
 '09043',
 '00828',
 '06042',
 '01361',
 '02539',
 '03376',
 '02119',
 '00958',
 '03954',
 '08925',
 '00939',
 '00977',
 '01976',
 '03056',
 '02485',
 '10973',
 '00202',
 '00716',
 '11006',
 '01502',
 '06029',
 '00690',
 '00961',
 '00264',
 '01925',
 '01932',
 '02237',
 '04054',
 '05153',
 '00640',
 '01403',
 '03111',
 '01009',
 '01669',
 '03553',
 '03405',
 '00713',
 '00109',
 '02989',
 '06027',
 '00048',
 '03389',
 '00340',
 '00183',
 '01964',
 '05091',
 '00415',
 '00826',
 '00915',
 '04118',
 '00266',
 '00787',
 '00692',
 '09026',
 '00537',
 '00925',
 '00069',
 '01105',
 '03032',
 '01178',
 '04015',
 '02622',
 '00404',
 '08961',
 '01996',
 '01594',
 '09037',
 '09013',
 '01585',
 '45972',
 '02873',
 '02440',
 '02398',
 '01090',
 '01426',
 '01302',
 '00980',
 '00938',
 '00532',
 '00417',
 '03199',
 '01323',
 '01417',
 '02166',
 '03305',
 '05195',
 '05202',
 '05220',
 '05717',
 '01106',
 '00621',
 '04080',
 '04687',
 '02208',
 '03152',
 '06036',
 '02403',
 '01569',
 '01954',
 '02739',
 '03546',
 '05989',
 '01771',
 '00964',
 '01467',
 '00158',
 '02123',
 '002.5',
 '00800',
 '03437',
 '01699',
 '00496',
 '00248',
 '02585',
 '03313',
 '02049',
 '02743',
 '01947',
 '02507',
 '01897',
 '00635',
 '01304',
 '08998',
 '01494',
 '02172',
 '00952',
 '02983',
 '03541',
 '02176',
 '01474',
 '08939',
 '00304',
 '02004',
 '00180',
 '03136',
 '00356',
 '03322',
 '00423',
 '02887',
 '01566',
 '00399',
 '01078',
 '00934',
 '00973',
 '05318',
 '06008',
 '02364',
 '03420',
 '03263',
 '01122',
 '04683',
 '04974',
 '02523',
 '04754',
 '01619',
 '01120',
 '01725',
 '00238',
 '00541',
 '02619',
 '02809',
 '01501',
 '03265',
 '99999',
 '02271',
 '00371',
 '00554',
 '00534',
 '08477',
 '00198',
 '05097',
 '01011',
 '01099',
 '02662',
 '01453',
 '00328',
 '02233',
 '08992',
 '01989',
 '01147',
 '02377',
 '03983',
 '01549',
 '00689',
 '01637',
 '00376',
 '00241',
 '00971',
 '01719',
 '02500',
 '08965',
 '02669',
 '08968',
 '02861',
 '01401',
 '03535',
 '00681',
 '01746',
 '01695',
 '02643',
 '04628',
 '00442',
 '10968',
 '00578',
 '04812',
 '01859',
 '00596',
 '00507',
 '01182',
 '00358',
 '00011',
 '00483',
 '04800',
 '02793',
 '03509',
 '02354',
 '03312',
 '01490',
 '00783',
 '00245',
 '00084',
 '00497',
 '00580',
 '03064',
 '01667',
 '00468',
 '01365',
 '02769',
 '00427',
 '01556',
 '1881',
 '00500',
 '02375',
 '08956',
 '01448',
 '00277',
 '00653',
 '01440',
 '03063',
 '03391',
 '00286',
 '01233',
 '01706',
 '02931',
 '05721',
 '03211',
 '02480',
 '01271',
 '01700',
 '02275',
 '02784',
 '01821',
 '02892',
 '00687',
 '08969',
 '09005',
 '01327',
 '03042',
 '00976',
 '02588',
 '02387',
 '153',
 '03248',
 '02383',
 '02085',
 '01657',
 '02258',
 '10980',
 '02595',
 '00903',
 '00228',
 '01871',
 '02708',
 '0010',
 '00956',
 '00001',
 '00190',
 '01872',
 '00873',
 '00543',
 '00189',
 '00218',
 '00686',
 '03067',
 '00638',
 '02881',
 '01387',
 '00010',
 '01671',
 '00261',
 '01509',
 '00210',
 '01893',
 '03065',
 '08115',
 '08987',
 '01612',
 '02677',
 '01396',
 '01639',
 '03549',
 '01938',
 '02125',
 '08975',
 '01643',
 '02078',
 '02999',
 '00469',
 '08982',
 '01598',
 '04627',
 '00459',
 '01591',
 '04621',
 '01922',
 '00769',
 '01096',
 '00807',
 '00338',
 '10990',
 '00207',
 '01080',
 '01394',
 '00086',
 '03113',
 '10996',
 '01388',
 '00697',
 '03494',
 '01243',
 '04136',
 '01838',
 '04679',
 '00265',
 '01808',
 '02994',
 '04638',
 '01894',
 '01926',
 '01999',
 '00461',
 '01491',
 '03044',
 '02209',
 '01820',
 '00711',
 '02604',
 '10506',
 '02167',
 '03126',
 '02688',
 '01525',
 '09039',
 '01844',
 '03961',
 '05965',
 '06066',
 '00628',
 '03180',
 '01764',
 '00221',
 '01228',
 '02189',
 '03239',
 '01245',
 '05988',
 '08922',
 '01156',
 '03547',
 '04666',
 '03252',
 '00397',
 '01242',
 '01065',
 '00013',
 '00772',
 '01911',
 '03373',
 '01005',
 '01303',
 '01418',
 '00192',
 '09044',
 '00570',
 '00501',
 '02593',
 '00129',
 '01555',
 '00953',
 '01375',
 '01107',
 '01016',
 '03436',
 '01282',
 '02702',
 '02610',
 '01167',
 '00663',
 '01301',
 '01884',
 '01247',
 '02200',
 '06055',
 '03909',
 '01497',
 '01631',
 '01661',
 '01043',
 '01953',
 '01503',
 '01017',
 '03218',
 '00804',
 '03105',
 '02038',
 '01286',
 '01431',
 '00272',
 '00782',
 '01040',
 '01251',
 '01795',
 '00123',
 '01713',
 '01184',
 '01385',
 '00680',
 '08917',
 '00717',
 '01164',
 '09009',
 '09008',
 '02673',
 '00701',
 '01364',
 '04039',
 '00986',
 '00177',
 '02256',
 '06045',
 '05263',
 '00744',
 '01903',
 '01673',
 '00350',
 '00445',
 '01628',
 '00486',
 '06726',
 '01763',
 '01092',
 '01504',
 '03521',
 '01848',
 '03708',
 '01842',
 '01297',
 '00333',
 '01276',
 '01605',
 '02518',
 '09023',
 '00706',
 '00684',
 '00375',
 '00414',
 '01201',
 '01679',
 '02819',
 '150',
 '00225',
 '01377',
 '08977',
 '03125',
 '00039',
 '01874',
 '02136',
 '00519',
 '00014',
 '01098',
 '00969',
 '05957',
 '01331',
 '02007',
 '04648',
 '01747',
 '01578',
 '00203',
 '08903',
 '02084',
 '00393',
 '02041',
 '00847',
 '01850',
 '02517',
 '04060',
 '04753',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [32]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [34]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00103',
 '02484',
 '00505',
 '01060',
 '02401',
 '01965',
 '10984',
 '00859',
 '02719',
 '00359',
 '01133',
 '3450101522372',
 '00378',
 '00317',
 '00470',
 '02737',
 '00249',
 '04011',
 '02298',
 '02832',
 '02204',
 '02782',
 '00604',
 '02143',
 '02555',
 '00944',
 '01310',
 '01551',
 '02222',
 '02380',
 '02849',
 '01973',
 '04650',
 '00429',
 '05720',
 '05125',
 '01110',
 '02032',
 '01463',
 '02730',
 '05233',
 '03438',
 '02396',
 '08930',
 '00398',
 '01360',
 '09027',
 '00619',
 '01674',
 '01682',
 '01704',
 '01486',
 '02912',
 '01111',
 '02621',
 '01804',
 '02919',
 '00246',
 '00453',
 '01971',
 '10983',
 '08952',
 '00227',
 '01678',
 '05096',
 '00411',
 '02402',
 '04675',
 '00182',
 '04179',
 '01508',
 '00542',
 '01231',
 '02470',
 '01274',
 '00508',
 '02796',
 '05223',
 '06725',
 '00143',
 '00303',
 '01709',
 '09033',
 '00318',
 '06043',
 '02886',
 '00134',
 '05244',
 '00599',
 '01370',
 '02096',
 '01728',
 '02567',
 '00498',
 '00957',
 '01032',
 '02598',
 '04672',
 '00935',
 '02936',
 '04012',
 '01223',
 '00962',
 '01931',
 '00942',
 '00477',
 '00527',
 '00763',
 '00204',
 '01787',
 '02933',
 '01236',
 '02064',
 '00195',
 '00471',
 '01830',
 '01873',
 '02335',
 '03071',
 '05382',
 '00577',
 '01690',
 '00999',
 '08960',
 '00311',
 '02851',
 '03415',
 '01288',
 '04777',
 '00736',
 '01202',
 '08915',
 '00465',
 '01261',
 '00631',
 '03123',
 '00590',
 '02965',
 '01867',
 '08995',
 '00402',
 '01981',
 '03049',
 '08245',
 '08911',
 '02365',
 '03059',
 '04008',
 '00732',
 '02720',
 '01773',
 '00432',
 '02602',
 '00213',
 '00926',
 '00269',
 '02486',
 '02165',
 '01429',
 '04033',
 '02731',
 '08963',
 '00884',
 '04001',
 '06049',
 '00165',
 '00122',
 '33664',
 '06040',
 '00092',
 '11111',
 '02010',
 '00709',
 '02670',
 '02857',
 '08959',
 '03006',
 '00462',
 '01841',
 '00387',
 '01832',
 '01955',
 '00897',
 '00947',
 '00615',
 '02664',
 '00913',
 '03333',
 '01662',
 '04061',
 '02037',
 '01477',
 '01038',
 '03544',
 '02756',
 '02099',
 '02516',
 '01435',
 '01037',
 '01716',
 '02110',
 '02843',
 '02852',
 '00066',
 '03066',
 '00575',
 '02672',
 '02918',
 '03512',
 '03005',
 '00335',
 '00384',
 '00018',
 '00029',
 '00651',
 '01235',
 '00551',
 '00746',
 '01307',
 '05209',
 '00889',
 '02847',
 '06006',
 '01862',
 '00042',
 '01475',
 '00989',
 '05109',
 '01676',
 '01363',
 '00078',
 '01533',
 '02732',
 '00255',
 '00271',
 '05343',
 '03236',
 '01739',
 '04673',
 '09006',
 '02993',
 '01382',
 '04690',
 '01220',
 '06005',
 '01136',
 '04696',
 '00858',
 '02439',
 '00410',
 '00472',
 '02596',
 '05991',
 '01717',
 '05204',
 '01205',
 '02680',
 '00845',
 '08902',
 '02079',
 '00107',
 '01496',
 '01623',
 '04685',
 '01108',
 '05806',
 '01960',
 '01166',
 '02313',
 '06062',
 '04639',
 '03144',
 '72093',
 '02230',
 '00927',
 '03310',
 '05281',
 '02491',
 '02726',
 '02107',
 '00046',
 '00127',
 '00998',
 '01039',
 '01468',
 '00753',
 '03327',
 '08069',
 '123',
 '02238',
 '02218',
 '03129',
 '00853',
 '00254',
 '04663',
 '06009',
 '01033',
 '02531',
 '02536',
 '56',
 '02027',
 '01089',
 '02074',
 '10988',
 '01021',
 '01815',
 '00572',
 '02232',
 '00025',
 '02949',
 '05339',
 '00072',
 '01294',
 '05975',
 '02055',
 '00026',
 '00475',
 '02356',
 '06018',
 '01376',
 '00117',
 '01197',
 '01798',
 '00101',
 '04074',
 '05267',
 '200',
 '01986',
 '01801',
 '05780',
 '01584',
 '02295',
 '00485',
 '00991',
 '00258',
 '01540',
 '00755',
 '02860',
 '00288',
 '00520',
 '02844',
 '06058',
 '08973',
 '03183',
 '02077',
 '00279',
 '01456',
 '01797',
 '02488',
 '02945',
 '02997',
 '00033',
 '00488',
 '01618',
 '00144',
 '00869',
 '03358',
 '00178',
 '0018',
 '01869',
 '00292',
 '01860',
 '01916',
 '00546',
 '00059',
 '00595',
 '05723',
 '02151',
 '01853',
 '08521',
 '00568',
 '00407',
 '00749',
 '00911',
 '00161',
 '02547',
 '02991',
 '02938',
 '02639',
 '02824',
 '02638',
 '00460',
 '00974',
 '01183',
 '00111',
 '04004',
 '02754',
 '00714',
 '01272',
 '0030',
 '00116',
 '02338',
 '00691',
 '01479',
 '02967',
 '00260',
 '03233',
 '00098',
 '00672',
 '03237',
 '01104',
 '00970',
 '01489',
 '00768',
 '03399',
 '02420',
 '02202',
 '04137',
 '00664',
 '01666',
 '00624',
 '03181',
 '01358',
 '00406',
 '01837',
 '00865',
 '02170',
 '01012',
 '02475',
 '00652',
 '03425',
 '01495',
 '01753',
 '02855',
 '00482',
 '00153',
 '03030',
 '01048',
 '00966',
 '01942',
 '01979',
 '11000',
 '04193',
 '03182',
 '05117',
 '00525',
 '01013',
 '00253',
 '02973',
 '02773',
 '00517',
 '02022',
 '02845',
 '01581',
 '00321',
 '03179',
 '00814',
 '02620',
 '01918',
 '00598',
 '00329',
 '01865',
 '06028',
 '01807',
 '02137',
 '01889',
 '01901',
 '02651',
 '01458',
 '01582',
 '03499',
 '00336',
 '01597',
 '02505',
 '01135',
 '01028',
 '02839',
 '03273',
 '01006',
 '01355',
 '00835',
 '01939',
 '00400',
 '04732',
 '08926',
 '09038',
 '00172',
 '121',
 '00114',
 '11003',
 '00569',
 '00544',
 '01803',
 '05146',
 '08503',
 '01868',
 '01779',
 '00151',
 '00389',
 '00385',
 '00901',
 '00754',
 '01600',
 '01510',
 '01630',
 '10997',
 '00455',
 '01629',
 '00015',
 '09043',
 '00828',
 '06042',
 '01361',
 '02539',
 '03376',
 '02119',
 '00958',
 '03954',
 '08925',
 '00939',
 '00977',
 '01976',
 '03056',
 '02485',
 '10973',
 '00202',
 '00716',
 '11006',
 '01502',
 '06029',
 '00690',
 '00961',
 '00264',
 '01925',
 '01932',
 '02237',
 '04054',
 '05153',
 '00640',
 '01403',
 '03111',
 '01009',
 '01669',
 '03553',
 '03405',
 '00713',
 '00109',
 '02989',
 '06027',
 '00048',
 '03389',
 '00340',
 '00183',
 '01964',
 '05091',
 '00415',
 '00826',
 '00915',
 '04118',
 '00266',
 '00787',
 '00692',
 '09026',
 '00537',
 '00925',
 '00069',
 '01105',
 '03032',
 '01178',
 '04015',
 '02622',
 '00404',
 '08961',
 '01996',
 '01594',
 '09037',
 '09013',
 '01585',
 '45972',
 '02873',
 '02440',
 '02398',
 '01090',
 '01426',
 '01302',
 '00980',
 '00938',
 '00532',
 '00417',
 '03199',
 '01323',
 '01417',
 '02166',
 '03305',
 '05195',
 '05202',
 '05220',
 '05717',
 '01106',
 '00621',
 '04080',
 '04687',
 '02208',
 '03152',
 '06036',
 '02403',
 '01569',
 '01954',
 '02739',
 '03546',
 '05989',
 '01771',
 '00964',
 '01467',
 '00158',
 '02123',
 '00800',
 '03437',
 '01699',
 '00496',
 '00248',
 '02585',
 '03313',
 '02049',
 '02743',
 '01947',
 '02507',
 '01897',
 '00635',
 '01304',
 '08998',
 '01494',
 '02172',
 '00952',
 '02983',
 '03541',
 '02176',
 '01474',
 '08939',
 '00304',
 '02004',
 '00180',
 '03136',
 '00356',
 '03322',
 '00423',
 '02887',
 '01566',
 '00399',
 '01078',
 '00934',
 '00973',
 '05318',
 '06008',
 '02364',
 '03420',
 '03263',
 '01122',
 '04683',
 '04974',
 '02523',
 '04754',
 '01619',
 '01120',
 '01725',
 '00238',
 '00541',
 '02619',
 '02809',
 '01501',
 '03265',
 '99999',
 '02271',
 '00371',
 '00554',
 '00534',
 '08477',
 '00198',
 '05097',
 '01011',
 '01099',
 '02662',
 '01453',
 '00328',
 '02233',
 '08992',
 '01989',
 '01147',
 '02377',
 '03983',
 '01549',
 '00689',
 '01637',
 '00376',
 '00241',
 '00971',
 '01719',
 '02500',
 '08965',
 '02669',
 '08968',
 '02861',
 '01401',
 '03535',
 '00681',
 '01746',
 '01695',
 '02643',
 '04628',
 '00442',
 '10968',
 '00578',
 '04812',
 '01859',
 '00596',
 '00507',
 '01182',
 '00358',
 '00011',
 '00483',
 '04800',
 '02793',
 '03509',
 '02354',
 '03312',
 '01490',
 '00783',
 '00245',
 '00084',
 '00497',
 '00580',
 '03064',
 '01667',
 '00468',
 '01365',
 '02769',
 '00427',
 '01556',
 '00500',
 '02375',
 '08956',
 '01448',
 '00277',
 '00653',
 '01440',
 '03063',
 '03391',
 '00286',
 '01233',
 '01706',
 '02931',
 '05721',
 '03211',
 '02480',
 '01271',
 '01700',
 '02275',
 '02784',
 '01821',
 '02892',
 '00687',
 '08969',
 '09005',
 '01327',
 '03042',
 '00976',
 '02588',
 '02387',
 '153',
 '03248',
 '02383',
 '02085',
 '01657',
 '02258',
 '10980',
 '02595',
 '00903',
 '00228',
 '01871',
 '02708',
 '0010',
 '00956',
 '00001',
 '00190',
 '01872',
 '00873',
 '00543',
 '00189',
 '00218',
 '00686',
 '03067',
 '00638',
 '02881',
 '01387',
 '00010',
 '01671',
 '00261',
 '01509',
 '00210',
 '01893',
 '03065',
 '08115',
 '08987',
 '01612',
 '02677',
 '01396',
 '01639',
 '03549',
 '01938',
 '02125',
 '08975',
 '01643',
 '02078',
 '02999',
 '00469',
 '08982',
 '01598',
 '04627',
 '00459',
 '01591',
 '04621',
 '01922',
 '00769',
 '01096',
 '00807',
 '00338',
 '10990',
 '00207',
 '01080',
 '01394',
 '00086',
 '03113',
 '10996',
 '01388',
 '00697',
 '03494',
 '01243',
 '04136',
 '01838',
 '04679',
 '00265',
 '01808',
 '02994',
 '04638',
 '01894',
 '01926',
 '01999',
 '00461',
 '01491',
 '03044',
 '02209',
 '01820',
 '00711',
 '02604',
 '10506',
 '02167',
 '03126',
 '02688',
 '01525',
 '09039',
 '01844',
 '03961',
 '05965',
 '06066',
 '00628',
 '03180',
 '01764',
 '00221',
 '01228',
 '02189',
 '03239',
 '01245',
 '05988',
 '08922',
 '01156',
 '03547',
 '04666',
 '03252',
 '00397',
 '01242',
 '01065',
 '00013',
 '00772',
 '01911',
 '03373',
 '01005',
 '01303',
 '01418',
 '00192',
 '09044',
 '00570',
 '00501',
 '02593',
 '00129',
 '01555',
 '00953',
 '01375',
 '01107',
 '01016',
 '03436',
 '01282',
 '02702',
 '02610',
 '01167',
 '00663',
 '01301',
 '01884',
 '01247',
 '02200',
 '06055',
 '03909',
 '01497',
 '01631',
 '01661',
 '01043',
 '01953',
 '01503',
 '01017',
 '03218',
 '00804',
 '03105',
 '02038',
 '01286',
 '01431',
 '00272',
 '00782',
 '01040',
 '01251',
 '01795',
 '00123',
 '01713',
 '01184',
 '01385',
 '00680',
 '08917',
 '00717',
 '01164',
 '09009',
 '09008',
 '02673',
 '00701',
 '01364',
 '04039',
 '00986',
 '00177',
 '02256',
 '06045',
 '05263',
 '00744',
 '01903',
 '01673',
 '00350',
 '00445',
 '01628',
 '00486',
 '06726',
 '01763',
 '01092',
 '01504',
 '03521',
 '01848',
 '03708',
 '01842',
 '01297',
 '00333',
 '01276',
 '01605',
 '02518',
 '09023',
 '00706',
 '00684',
 '00375',
 '00414',
 '01201',
 '01679',
 '02819',
 '00225',
 '01377',
 '08977',
 '03125',
 '00039',
 '01874',
 '02136',
 '00519',
 '00014',
 '01098',
 '00969',
 '05957',
 '01331',
 '02007',
 '04648',
 '01747',
 '01578',
 '00203',
 '08903',
 '02084',
 '00393',
 '02041',
 '00847',
 '01850',
 '02517',
 '04060',
 '04753',
 '01306',
 '06182',
 '00065',
 '01399',
 '00154',
 '01654',
 '00105',
 ...}

In [35]:
alldb_drop5['PartitionKey'] = alldb_drop5['PartitionKey'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
alldb_drop5.dtypes # เช็คว่า PartitionKey ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [37]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [38]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [39]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [40]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [41]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [42]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [43]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [44]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [45]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [46]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [47]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [48]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [49]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [50]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [51]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [52]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [53]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [54]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [55]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [56]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [57]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [58]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [59]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'02484',
 '05027',
 '27405',
 '00859',
 '08016',
 '13852',
 '05583',
 '27673',
 '08715',
 '09857',
 '28627',
 '28794',
 '24928',
 '22102',
 '01133',
 '22805',
 '04301',
 '25034',
 '28052',
 '77694',
 '13696',
 '02562',
 '05790',
 '11022',
 '02782',
 '02143',
 '05406',
 '07794',
 '15194',
 '15239',
 '24364',
 '02849',
 '25043',
 '28645',
 '08113',
 '04650',
 '04394',
 '10224',
 '00429',
 '23692',
 '02410',
 '04430',
 '02712',
 '27381',
 '05233',
 '06194',
 '03169',
 '08756',
 '10203',
 '14926',
 '08279',
 '07340',
 '08930',
 '00398',
 '07956',
 '07462',
 '00619',
 '09027',
 '02274',
 '01674',
 '28695',
 '09340',
 '28810',
 '11469',
 '24670',
 '28273',
 '08237',
 '26871',
 '06331',
 '00246',
 '10026',
 '03214',
 '25758',
 '01971',
 '08952',
 '01678',
 '07779',
 '28737',
 '10189',
 '09105',
 '02182',
 '04873',
 '23770',
 '26257',
 '02113',
 '21425',
 '02470',
 '01274',
 '25113',
 '02545',
 '08856',
 '25016',
 '00303',
 '07945',
 '11703',
 '24170',
 '08891',
 '10908',
 '09121',
 '06719',
 '09239',
 '14317',
 '05756',
 '26765',
 '00498',
 '00957',
 '02598',
 '25155',
 '08889',
 '10880',
 '07925',
 '11226',
 '11266',
 '10513',
 '01223',
 '00962',
 '00942',
 '08142',
 '09284',
 '05284',
 '00204',
 '10721',
 '14126',
 '03257',
 '24117',
 '09341',
 '07172',
 '10702',
 '03830',
 '24972',
 '24269',
 '25015',
 '03719',
 '28418',
 '77710',
 '23877',
 '05382',
 '06116',
 '02335',
 '11209',
 '25039',
 '25940',
 '24741',
 '00999',
 '13839',
 '08960',
 '24810',
 '00311',
 '04421',
 '03415',
 '14342',
 '05373',
 '23748',
 '09871',
 '04777',
 '24743',
 '26216',
 '28741',
 '00465',
 '09764',
 '00631',
 '23623',
 '02965',
 '13649',
 '24002',
 '04909',
 '10052',
 '25094',
 '24010',
 '26988',
 '05221',
 '08245',
 '19531',
 '23775',
 '02047',
 '09633',
 '24374',
 '24477',
 '26360',
 '28116',
 '04707',
 '04317',
 '24854',
 '06893',
 '08402',
 '27485',
 '07269',
 '27067',
 '28020',
 '09910',
 '00926',
 '99910',
 '07714',
 '11481',
 '04336',
 '05421',
 '10490',
 '77776',
 '01429',
 '04033',
 '02731',
 '08963',
 '24201',
 '13988',
 '00884',
 '04001',
 '11704',
 '14631',
 '06199',
 '15171',
 '26642',
 '00165',
 '25918',
 '14637',
 '27344',
 '25199',
 '06040',
 '05257',
 '06847',
 '25583',
 '27561',
 '77747',
 '22851',
 '11111',
 '03659',
 '04589',
 '27652',
 '11231',
 '24675',
 '07424',
 '25962',
 '00387',
 '09556',
 '01955',
 '13724',
 '24873',
 '15012',
 '02664',
 '00615',
 '06561',
 '28368',
 '04737',
 '04124',
 '24198',
 '08678',
 '07798',
 '09896',
 '25763',
 '25938',
 '26020',
 '01477',
 '25058',
 '16140',
 '09529',
 '04876',
 '11196',
 '02516',
 '04778',
 '10051',
 '25624',
 '25828',
 '11468',
 '00575',
 '02672',
 '23718',
 '07623',
 '22845',
 '06849',
 '14256',
 '02186',
 '00746',
 '00889',
 '08192',
 '07062',
 '10192',
 '12149',
 '09648',
 '09789',
 '11806',
 '25092',
 '13967',
 '01363',
 '00078',
 '14284',
 '14138',
 '25902',
 '00255',
 '07215',
 '08529',
 '05900',
 '11351',
 '03236',
 '05783',
 '05588',
 '07968',
 '04763',
 '25857',
 '01382',
 '04690',
 '04026',
 '15015',
 '25913',
 '02680',
 '11234',
 '26913',
 '08285',
 '23873',
 '09109',
 '07239',
 '08463',
 '06750',
 '09279',
 '11777',
 '12159',
 '22837',
 '06823',
 '09533',
 '09544',
 '08395',
 '04244',
 '09731',
 '11559',
 '25904',
 '26005',
 '77752',
 '06062',
 '21557',
 '03906',
 '25188',
 '12405',
 '07875',
 '11494',
 '21339',
 '10355',
 '02230',
 '05546',
 '04275',
 '04574',
 '28214',
 '77729',
 '77739',
 '13890',
 '02491',
 '25786',
 '06918',
 '21970',
 '03171',
 '10248',
 '03337',
 '08131',
 '05902',
 '15136',
 '28082',
 '25738',
 '07597',
 '06009',
 '01033',
 '10177',
 '05624',
 '10930',
 '06768',
 '27040',
 '05329',
 '02027',
 '14889',
 '05457',
 '10424',
 '08696',
 '24929',
 '06345',
 '25937',
 '11061',
 '02232',
 '05533',
 '11747',
 '23227',
 '26171',
 '06459',
 '26194',
 '05975',
 '08385',
 '09878',
 '15781',
 '23562',
 '22884',
 '24220',
 '05917',
 '00117',
 '08343',
 '24215',
 '05483',
 '12470',
 '05780',
 '06663',
 '28793',
 '08121',
 '09890',
 '03243',
 '02860',
 '05383',
 '28025',
 '10101',
 '07355',
 '02077',
 '06223',
 '01456',
 '13867',
 '02945',
 '05345',
 '05261',
 '14048',
 '02450',
 '07763',
 '05419',
 '00178',
 '12488',
 '15108',
 '21583',
 '25701',
 '27031',
 '77706',
 '05659',
 '03368',
 '09794',
 '00595',
 '09357',
 '26164',
 '06643',
 '08521',
 '10136',
 '00568',
 '07107',
 '07856',
 '24510',
 '99976',
 '00911',
 '02547',
 '25760',
 '25845',
 '02938',
 '13684',
 '99900',
 '06156',
 '02638',
 '15230',
 '25768',
 '08589',
 '28837',
 '02754',
 '28601',
 '02338',
 '14362',
 '00691',
 '01479',
 '25978',
 '09970',
 '25582',
 '26873',
 '00260',
 '08651',
 '27463',
 '00098',
 '08735',
 '28441',
 '03237',
 '27050',
 '06745',
 '08384',
 '01104',
 '08847',
 '04462',
 '09644',
 '05394',
 '06342',
 '00768',
 '03399',
 '09751',
 '10163',
 '11908',
 '06741',
 '09098',
 '14107',
 '22949',
 '08821',
 '01358',
 '27712',
 '00406',
 '13875',
 '22860',
 '08055',
 '01012',
 '27021',
 '20023',
 '09187',
 '11842',
 '17228',
 '24048',
 '24781',
 '11420',
 '08567',
 '19386',
 '06538',
 '08437',
 '12422',
 '01753',
 '00482',
 '09579',
 '08700',
 '10905',
 '10225',
 '07622',
 '10899',
 '04193',
 '03182',
 '05044',
 '09454',
 '14136',
 '18537',
 '01013',
 '99957',
 '02973',
 '05249',
 '02022',
 '03179',
 '20448',
 '00814',
 '28628',
 '24371',
 '21336',
 '23868',
 '06328',
 '21714',
 '28245',
 '24877',
 '03537',
 '05332',
 '06280',
 '25593',
 '06028',
 '03873',
 '24995',
 '01889',
 '05748',
 '26940',
 '06746',
 '03499',
 '04388',
 '07753',
 '07781',
 '07783',
 '13657',
 '03514',
 '06210',
 '06748',
 '03885',
 '01028',
 '14074',
 '12044',
 '03273',
 '04870',
 '00835',
 '05487',
 '11415',
 '00400',
 '04732',
 '07548',
 '08926',
 '10767',
 '22822',
 '00172',
 '24763',
 '07402',
 '15101',
 '24294',
 '27614',
 '11003',
 '08822',
 '11279',
 '01803',
 '99829',
 '08052',
 '02751',
 '08619',
 '09822',
 '11014',
 '01779',
 '05729',
 '06381',
 '00389',
 '10662',
 '01510',
 '23870',
 '25093',
 '21737',
 '09043',
 '06672',
 '11714',
 '26584',
 '22158',
 '25672',
 '04427',
 '11063',
 '26006',
 '02119',
 '07912',
 '25724',
 '08390',
 '05540',
 '08295',
 '03914',
 '11428',
 '24946',
 '26928',
 '19571',
 '00202',
 '07545',
 '24974',
 '02721',
 '00690',
 '27383',
 '15112',
 '00640',
 '14588',
 '25709',
 '25158',
 '06027',
 '15332',
 '02989',
 '05049',
 '05879',
 '00048',
 '03837',
 '08820',
 '08774',
 '04461',
 '00340',
 '10664',
 '25080',
 '07433',
 '03662',
 '23865',
 '26333',
 '05693',
 '11595',
 '24948',
 '11272',
 '10670',
 '24283',
 '00266',
 '25114',
 '24047',
 '07890',
 '00692',
 '00537',
 '02276',
 '08061',
 '05531',
 '08739',
 '00069',
 '07651',
 '10140',
 '01105',
 '06236',
 '10895',
 '14355',
 '15526',
 '07150',
 '05680',
 '02573',
 '08961',
 '09459',
 '14439',
 '14657',
 '24935',
 '25803',
 '09464',
 '08212',
 '01585',
 '06436',
 '09013',
 '22745',
 '05832',
 '12086',
 '06583',
 '08869',
 '03632',
 '03955',
 '03600',
 '04977',
 '27480',
 '08042',
 '26703',
 '27664',
 '00532',
 '26751',
 '27395',
 '09411',
 '06442',
 '01323',
 '17904',
 '13833',
 '05195',
 '04837',
 '28725',
 '12485',
 '07330',
 '07859',
 '25810',
 '14069',
 '22455',
 '27531',
 '06218',
 '05650',
 '25694',
 '03546',
 '10938',
 '06348',
 '24323',
 '01467',
 '04135',
 '02920',
 '09272',
 '10493',
 '28672',
 '24319',
 '01699',
 '00496',
 '26724',
 '00248',
 '08464',
 '27434',
 '06539',
 '02743',
 '10362',
 '15146',
 '01947',
 '24967',
 '09256',
 '00635',
 '01304',
 '10849',
 '01494',
 '19341',
 '03541',
 '12271',
 '21353',
 '05870',
 '13968',
 '08653',
 '08939',
 '22859',
 '26686',
 '02004',
 '22800',
 '03322',
 '24305',
 '11398',
 '27479',
 '26104',
 '24499',
 '09916',
 '08104',
 '12007',
 '20518',
 '23070',
 '06008',
 '25442',
 '24089',
 '24491',
 '04754',
 '03135',
 '01725',
 '09698',
 '28405',
 '26138',
 '15702',
 '09190',
 '25831',
 '00371',
 '21770',
 '00198',
 '05750',
 '08072',
 '09555',
 '01453',
 '11374',
 '77769',
 '04853',
 '08992',
 '02377',
 '05752',
 '26134',
 '15221',
 '08345',
 '01637',
 '00376',
 '04949',
 '08965',
 '08968',
 '24486',
 '07168',
 '13714',
 '25453',
 '13784',
 '10766',
 '09292',
 '14031',
 '04971',
 '07037',
 '24767',
 '99864',
 '24466',
 '24559',
 '19395',
 '03046',
 '01859',
 '13812',
 '03763',
 '06610',
 '01182',
 '25106',
 '21486',
 '09593',
 '03917',
 '02354',
 '09740',
 '26002',
 '09192',
 '11104',
 '14609',
 '22789',
 '14318',
 '23561',
 '26264',
 '14572',
 '23951',
 '04852',
 '24267',
 '06700',
 '00468',
 '01365',
 '08005',
 '27415',
 '28267',
 '05736',
 '23782',
 '00427',
 '10157',
 '23587',
 '07358',
 '07768',
 '00277',
 '07274',
 '10501',
 '14128',
 '00286',
 '02252',
 '02931',
 '09394',
 '09665',
 '03211',
 '28722',
 '28648',
 '08632',
 '10197',
 '15233',
 '23563',
 '01821',
 '25599',
 '00687',
 '06647',
 '09945',
 '77728',
 '06386',
 '01327',
 '07133',
 '77704',
 '06093',
 '27436',
 '26346',
 '02387',
 '26094',
 '24587',
 '04417',
 '02085',
 '24065',
 '07349',
 '04710',
 '27008',
 '23847',
 '25592',
 '09475',
 '02595',
 '22771',
 '07139',
 '00228',
 '03989',
 '05593',
 '00956',
 '00001',
 '01872',
 '23810',
 '00873',
 '09331',
 '77671',
 '00218',
 '04712',
 '12071',
 '13695',
 '11289',
 '07564',
 '02881',
 '05639',
 '28774',
 '05861',
 '06420',
 '28675',
 '08269',
 '09716',
 '28760',
 '26784',
 '09568',
 '11768',
 '03247',
 '12272',
 '01396',
 '05288',
 '06954',
 '01643',
 '28477',
 '02078',
 '02999',
 '00469',
 '03082',
 '01598',
 '04627',
 '09609',
 '14352',
 '24059',
 '01591',
 '04621',
 '00769',
 '11332',
 '14153',
 '14869',
 '04563',
 '03001',
 '25917',
 '27437',
 '26897',
 '07226',
 '05675',
 '03113',
 '06757',
 '14438',
 '03349',
 '07520',
 '04822',
 '08754',
 '01388',
 '08014',
 '14322',
 '09700',
 '23749',
 '09079',
 '02425',
 '05436',
 '06749',
 '27334',
 '11336',
 '08885',
 '12442',
 '06201',
 '16025',
 '08628',
 '23975',
 '24746',
 '02800',
 '03249',
 '24081',
 '06132',
 '77750',
 '23839',
 '10950',
 '00461',
 '10695',
 '14715',
 '77647',
 '22748',
 '06975',
 '02963',
 '07114',
 '01820',
 '00711',
 '03557',
 '05802',
 '11062',
 '19444',
 '06338',
 '07807',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [60]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [61]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [62]:
hospital_list_drop['hcode'] = hospital_list_drop['hcode'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [63]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [64]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37964,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37965,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [65]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [66]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15-32-53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11-03-40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [67]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37892, 25)

In [68]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37966
size after drop = 37892
% from drop = 0.19491123636938312

## ตรวจสอบเอาแต่ 5 หลัก

user & site & PartitionKey

In [69]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['site'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [70]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['user'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ชม,CMI
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

# ตารางข้อมูลที่จะนำมาใช้

In [71]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ชม,CMI
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [72]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [73]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,505,505,505,505,505,505,505,505,505,505,...,505,505,505,505,505,505,505,505,505,505
ขอนแก่น,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
นครพนม,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,706,706,706,706,706,706,706,706,706,706,...,706,706,706,706,706,706,706,706,706,706
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,1777,1777,1777,1777,1777,1777,1777,1777,1777,1777,...,1777,1777,1777,1777,1777,1777,1777,1777,1777,1777
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,580,580,580,580,580,580,580,580,580,580,...,580,580,580,580,580,580,580,580,580,580
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [74]:
Province_new = Province.iloc[:,:1]
Province_new

             user
province
กาฬสินธุ์     505
ขอนแก่น        36
นครพนม         16
ปทุมธานี        1
มหาสารคาม     706
มุกดาหาร        2
ร้อยเอ็ด     1777
สมุทรสงคราม     1
อุตรดิตถ์     580
เชียงใหม่       1

In [75]:
P_noindex = Province_new.reset_index()
P_noindex

      province  user
0    กาฬสินธุ์   505
1      ขอนแก่น    36
2       นครพนม    16
3     ปทุมธานี     1
4    มหาสารคาม   706
5     มุกดาหาร     2
6     ร้อยเอ็ด  1777
7  สมุทรสงคราม     1
8    อุตรดิตถ์   580
9    เชียงใหม่     1

In [76]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

      province  จำนวนการตรวจในแต่ละพื้นที่
0    กาฬสินธุ์                         505
1      ขอนแก่น                          36
2       นครพนม                          16
3     ปทุมธานี                           1
4    มหาสารคาม                         706
5     มุกดาหาร                           2
6     ร้อยเอ็ด                        1777
7  สมุทรสงคราม                           1
8    อุตรดิตถ์                         580
9    เชียงใหม่                           1

## จำนวนที่พบโรค

### ระดับ 0

In [77]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,ชม,CMI
53,54614,A4023987-89F9-40AD-B8CB-4EBBE29838E3,2022-04-01,"iPhone13,3",14284,16-28-39,ปกติ (เหลืองใส),0,1,14284.0,...,8.0,ห้วยเม็ก,6.0,พิมูล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
55,71417,AEA3FEAA-376F-427E-A660-83777C7CDD7F,2022-03-28,"iPhone13,4",11159,15-04-55,ปกติ (เหลืองใส),0,1,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
57,74747,B046BAA2-2BDC-4BD1-9B1B-3BEE6719473F,2022-03-30,"iPhone12,1",11164,09-04-03,ขุ่น,0,1,11164.0,...,8.0,ลับแล,5.0,ชัยจุมพล,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37881,11177,frvgwohzcx.png,2022-02-27,Samsung SM-G998B,11111,12-47-12,ปกติ (เหลืองใส),0,44147,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37940,68768,5CF89F00-A898-4BB6-B42A-06CC7EBD3114,2022-03-24,"iPhone11,8",11088,10-30-56,ปกติ (เหลืองใส),0,72093,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37943,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10-31-40,ปกติ (เหลืองใส),0,87606,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37944,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10-26-19,ปกติ (เหลืองใส),0,87720,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [78]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,340,340,340,340,340,340,340,340,340,340,...,340,340,340,340,340,340,340,340,340,340
ขอนแก่น,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
นครพนม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,281,281,281,281,281,281,281,281,281,281,...,281,281,281,281,281,281,281,281,281,281
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,832,832,832,832,832,832,832,832,832,832,...,832,832,832,832,832,832,832,832,832,832
อุตรดิตถ์,374,374,374,374,374,374,374,374,374,374,...,374,374,374,374,374,374,374,374,374,374
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [79]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

           user
province
กาฬสินธุ์   340
ขอนแก่น      20
นครพนม        1
ปทุมธานี      1
มหาสารคาม   281
มุกดาหาร      2
ร้อยเอ็ด    832
อุตรดิตถ์   374
เชียงใหม่     1

In [80]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

    province  user
0  กาฬสินธุ์   340
1    ขอนแก่น    20
2     นครพนม     1
3   ปทุมธานี     1
4  มหาสารคาม   281
5   มุกดาหาร     2
6   ร้อยเอ็ด   832
7  อุตรดิตถ์   374
8  เชียงใหม่     1

In [81]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

    province  จำนวนที่พบโรค ระดับ 0
0  กาฬสินธุ์                    340
1    ขอนแก่น                     20
2     นครพนม                      1
3   ปทุมธานี                      1
4  มหาสารคาม                    281
5   มุกดาหาร                      2
6   ร้อยเอ็ด                    832
7  อุตรดิตถ์                    374
8  เชียงใหม่                      1

### ระดับ 1

In [82]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
170,14088,52058EC4-F49F-4AE0-A7DA-2326279781B9,2022-03-10,"iPhone13,4",13944,13-56-20,ปกติ (เหลืองใส),1,2,13944.0,...,2.0,เกษตรวิสัย,3.0,เหล่าหลวง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
176,18041,60E80E30-324B-42E4-A7E1-91F8E4F0DEFC,2022-03-28,"iPhone14,3",11158,10-35-27,ปกติ (เหลืองใส),1,2,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
272,19875,umqqweksvp.png,2022-03-30,Xiaomi 21081111RG,10673,10-22-44,ปกติ (เหลืองใส),1,2,10673.0,...,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,5.0,โรงพยาบาลศูนย์,31.0,3.1 ตติยภูมิ,อต,UTT
303,68768,3A74566F-4A59-46D9-8D9E-BDA1259F5F3A,2022-03-24,"iPhone11,8",11088,11-01-50,ปกติ (เหลืองใส),1,3,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
360,95104,E9D741AB-4FE8-40CB-AECB-FB8D69D0ABC9,2022-03-01,"iPhone11,8",13953,11-40-20,ปกติ (เหลืองใส),1,3,13953.0,...,11.0,สุวรรณภูมิ,8.0,ทุ่งหลวง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37850,11111,EF66DB5E-518F-43A4-A071-4548470CDC2C,2022-03-10,"iPhone13,4",11111,19-22-23,มีตะกอน,1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37856,22244,qkicoalymp.png,2022-02-24,Realme RMX2170,24650,13-49-58,ปกติ (เหลืองใส),1,116,24650.0,...,1.0,เมืองร้อยเอ็ด,1.0,ในเมือง,13.0,ศูนย์บริการสาธารณสุข,10.0,1 ปฐมภูมิ,รอ,RET
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [83]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,86,86,86,86,86,86,86,86,86,86,...,86,86,86,86,86,86,86,86,86,86
ขอนแก่น,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
มหาสารคาม,187,187,187,187,187,187,187,187,187,187,...,187,187,187,187,187,187,187,187,187,187
ร้อยเอ็ด,422,422,422,422,422,422,422,422,422,422,...,422,422,422,422,422,422,422,422,422,422
อุตรดิตถ์,105,105,105,105,105,105,105,105,105,105,...,105,105,105,105,105,105,105,105,105,105

In [84]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

           user
province
กาฬสินธุ์    86
ขอนแก่น      12
นครพนม        3
มหาสารคาม   187
ร้อยเอ็ด    422
อุตรดิตถ์   105

In [85]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

    province  user
0  กาฬสินธุ์    86
1    ขอนแก่น    12
2     นครพนม     3
3  มหาสารคาม   187
4   ร้อยเอ็ด   422
5  อุตรดิตถ์   105

In [86]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

    province  จำนวนที่พบโรค ระดับ 1
0  กาฬสินธุ์                     86
1    ขอนแก่น                     12
2     นครพนม                      3
3  มหาสารคาม                    187
4   ร้อยเอ็ด                    422
5  อุตรดิตถ์                    105

### ระดับ 2

In [87]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
65,95104,C425E09D-D9EF-4690-A4E0-6B1E67EEB760,2022-03-01,"iPhone11,8",13953,11-38-01,ปกติ (เหลืองใส),2,1,13953.0,...,11.0,สุวรรณภูมิ,8.0,ทุ่งหลวง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
182,89475,7D574DA1-8BB6-4D1A-A552-F9E84314B17F,2022-03-30,"iPhone12,1",13947,11-27-21,ปกติ (เหลืองใส),2,2,13947.0,...,5.0,ธวัชบุรี,22.0,ราชธานี,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37859,22244,qhfenzqvzy.png,2022-02-24,Realme RMX2170,24650,13-53-24,ปกติ (เหลืองใส),2,121,24650.0,...,1.0,เมืองร้อยเอ็ด,1.0,ในเมือง,13.0,ศูนย์บริการสาธารณสุข,10.00000,1 ปฐมภูมิ,รอ,RET
37872,11111,willjicqkd.png,2022-03-07,Samsung SM-G998B,11111,11-58-03,สีฟ้า หรือน้ำเงิน,2,22222,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN

In [88]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,39,39,39,39,39,39,39,39,39,39,...,39,39,39,39,39,39,39,39,39,39
ขอนแก่น,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,98,98,98,98,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
ร้อยเอ็ด,224,224,224,224,224,224,224,224,224,224,...,224,224,224,224,224,224,224,224,224,224
อุตรดิตถ์,44,44,44,44,44,44,44,44,44,44,...,44,44,44,44,44,44,44,44,44,44

In [89]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

           user
province
กาฬสินธุ์    39
ขอนแก่น       3
นครพนม        2
มหาสารคาม    98
ร้อยเอ็ด    224
อุตรดิตถ์    44

In [90]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

    province  user
0  กาฬสินธุ์    39
1    ขอนแก่น     3
2     นครพนม     2
3  มหาสารคาม    98
4   ร้อยเอ็ด   224
5  อุตรดิตถ์    44

In [91]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

    province  จำนวนที่พบโรค ระดับ 2
0  กาฬสินธุ์                     39
1    ขอนแก่น                      3
2     นครพนม                      2
3  มหาสารคาม                     98
4   ร้อยเอ็ด                    224
5  อุตรดิตถ์                     44

### ระดับ 3

In [92]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
205,10993,C469F722-1EB5-41FE-9C7A-123861D4DBBE,2022-03-25,"iPhone12,8",14005,08-55-44,ปกติ (เหลืองใส),3,2,14005.0,...,2.0,ตรอน,4.0,น้ำอ่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
358,77509,E37B852E-2E81-4E70-951B-41064A03C230,2022-03-28,"iPhone13,4",11159,13-02-35,ปกติ (เหลืองใส),3,3,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
441,80734,yazcvadjkd.png,2022-03-29,OPPO CPH2121,14007,14-05-47,ปกติ (เหลืองใส),3,3,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
530,80734,awqkxuyxxw.png,2022-03-29,OPPO CPH2121,14007,15-47-46,ปกติ (เหลืองใส),3,4,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
580,80734,txfjvckkmw.png,2022-03-29,OPPO CPH2121,14007,15-54-04,ปกติ (เหลืองใส),3,4,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37845,11111,A6D69321-ED1F-457D-B615-6F4C1F600C01,2022-02-27,"iPhone13,4",11111,18-50-25,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37848,11111,D8D8751F-7259-429A-98AE-431346C74317,2022-02-27,"iPhone13,4",11111,19-14-58,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37849,11111,E2371023-E100-4255-BB0A-9314D26674FC,2022-02-27,"iPhone13,4",11111,19-19-43,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37851,11111,FA4AB630-0269-4445-8439-D22139951BC1,2022-03-07,"iPhone13,4",11111,11-49-54,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37853,11111,mnoycjbkar.png,2022-03-07,Samsung SM-G998B,11111,11-57-35,ปกติ (เหลืองใส),3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [93]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
ขอนแก่น,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครพนม,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
มหาสารคาม,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,68,68
ร้อยเอ็ด,177,177,177,177,177,177,177,177,177,177,...,177,177,177,177,177,177,177,177,177,177
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32

In [94]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

             user
province
กาฬสินธุ์      28
ขอนแก่น         1
นครพนม          7
มหาสารคาม      68
ร้อยเอ็ด      177
สมุทรสงคราม     1
อุตรดิตถ์      32

In [95]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

      province  user
0    กาฬสินธุ์    28
1      ขอนแก่น     1
2       นครพนม     7
3    มหาสารคาม    68
4     ร้อยเอ็ด   177
5  สมุทรสงคราม     1
6    อุตรดิตถ์    32

In [96]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

      province  จำนวนที่พบโรค ระดับ 3
0    กาฬสินธุ์                     28
1      ขอนแก่น                      1
2       นครพนม                      7
3    มหาสารคาม                     68
4     ร้อยเอ็ด                    177
5  สมุทรสงคราม                      1
6    อุตรดิตถ์                     32

### ระดับ 4

In [97]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
491,74747,965CAA1B-D5FA-498B-A91B-D4662A18E794,2022-03-30,"iPhone12,1",11164,09-07-15,ปกติ (เหลืองใส),4,4,11164.0,...,8.0,ลับแล,5.0,ชัยจุมพล,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
638,10993,679D1941-51ED-406B-A019-94F9922DD485,2022-03-25,"iPhone12,8",14005,11-40-50,ปกติ (เหลืองใส),4,5,14005.0,...,2.0,ตรอน,4.0,น้ำอ่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
832,23811,FBD9F3C2-3679-423B-807B-584E398F54BF,2022-03-30,"iPhone11,8",11161,10-27-48,ปกติ (เหลืองใส),4,6,11161.0,...,5.0,ฟากท่า,1.0,ฟากท่า,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
1092,19237,63A48F39-032E-462D-974B-B651FF741C03,2022-03-28,"iPhone13,4",11159,14-30-03,ปกติ (เหลืองใส),4,8,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
1228,43257,5CB1EEAC-FBBC-4966-9F20-E6B09213840B,2022-03-28,"iPhone13,4",11159,15-03-44,ปกติ (เหลืองใส),4,9,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37818,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09-32-10,ปกติ (เหลืองใส),4,10986,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37833,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11-52-34,มีเม็ดเลือดแดง,4,11002,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37842,11111,6F95D193-3E3D-452D-99BD-705D0271030F,2022-02-27,"iPhone13,4",11111,18-53-44,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37843,11111,7BB0E403-CEC8-4860-A4B9-C9487B18CDC5,2022-02-27,"iPhone13,4",11111,19-23-10,ใสเป็นน้ำเปล่า,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37846,11111,AD73A95C-3C91-42DA-85AC-00AE0524FAEE,2022-02-27,"iPhone13,4",11111,19-01-11,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [98]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

    province  user
0  กาฬสินธุ์    12
1     นครพนม     3
2  มหาสารคาม    72
3   ร้อยเอ็ด   122
4  อุตรดิตถ์    25

In [99]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

    province  จำนวนที่พบโรค ระดับ 4
0  กาฬสินธุ์                     12
1     นครพนม                      3
2  มหาสารคาม                     72
3   ร้อยเอ็ด                    122
4  อุตรดิตถ์                     25

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [100]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,340,86.0,39.0,28.0,12.0
1,ขอนแก่น,20,12.0,3.0,1.0,NaN
2,นครพนม,1,3.0,2.0,7.0,3.0
3,ปทุมธานี,1,NaN,NaN,NaN,NaN
4,มหาสารคาม,281,187.0,98.0,68.0,72.0
5,มุกดาหาร,2,NaN,NaN,NaN,NaN
6,ร้อยเอ็ด,832,422.0,224.0,177.0,122.0
7,อุตรดิตถ์,374,105.0,44.0,32.0,25.0
8,เชียงใหม่,1,NaN,NaN,NaN,NaN

In [101]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [102]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [103]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,505,340.0,86.0,39.0,28.0,12.0
1,ขอนแก่น,36,20.0,12.0,3.0,1.0,0.0
2,นครพนม,16,1.0,3.0,2.0,7.0,3.0
3,ปทุมธานี,1,1.0,0.0,0.0,0.0,0.0
4,มหาสารคาม,706,281.0,187.0,98.0,68.0,72.0
5,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
6,ร้อยเอ็ด,1777,832.0,422.0,224.0,177.0,122.0
7,สมุทรสงคราม,1,NaN,NaN,NaN,NaN,NaN
8,อุตรดิตถ์,580,374.0,105.0,44.0,32.0,25.0
9,เชียงใหม่,1,1.0,0.0,0.0,0.0,0.0

In [114]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [115]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [119]:
data1 # แสดงข้อมูลหลังเเทน NaN ด้วย 0

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,505,340.0,86.0,39.0,28.0,12.0
1,ขอนแก่น,36,20.0,12.0,3.0,1.0,0.0
2,นครพนม,16,1.0,3.0,2.0,7.0,3.0
3,ปทุมธานี,1,1.0,0.0,0.0,0.0,0.0
4,มหาสารคาม,706,281.0,187.0,98.0,68.0,72.0
5,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
6,ร้อยเอ็ด,1777,832.0,422.0,224.0,177.0,122.0
7,สมุทรสงคราม,1,0.0,0.0,0.0,0.0,0.0
8,อุตรดิตถ์,580,374.0,105.0,44.0,32.0,25.0
9,เชียงใหม่,1,1.0,0.0,0.0,0.0,0.0

In [116]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [117]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
15,18041,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,โรงพยาบาลตรอน,อุตรดิตถ์
20,27096,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,โรงพยาบาลน้ำปาด,อุตรดิตถ์
33,76486,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัว ตำบล...,ร้อยเอ็ด
36,51235,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโหล่งปง,เชียงใหม่
40,61813,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37948,68768,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37950,68317,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,โรงพยาบาลนาคู,กาฬสินธุ์
37951,68317,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,โรงพยาบาลนาคู,กาฬสินธุ์
37952,68768,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์

In [118]:
merged_use.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: https://datastudio.google.com/reporting/a76882b0-d2de-409a-a7b9-b9d4b4a6061a