<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

## ข้อมูลหลัก ตาราง alldb.csv

In [4]:
alldb = os.path.join(path,'alldb.csv')
alldb = pd.read_csv(alldb)
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [5]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [6]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [7]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [8]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [9]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [10]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [11]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [12]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [13]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'49424',
 '55300',
 '03535',
 '97290',
 '04281',
 '92962',
 '17777',
 '45876',
 '54214',
 '80382',
 '5600190011969',
 '68037',
 '08021',
 '59423',
 '00051',
 '00272',
 '91209',
 '00030',
 '44201',
 '99884',
 '06316',
 '00304',
 '94019',
 '00024',
 '38727',
 '06924',
 '18041',
 '84276',
 '00404',
 '18737',
 '95291',
 '30311',
 '3450100836420',
 '31322',
 '00216',
 '00206',
 '76851',
 '25781',
 '05116',
 '15588',
 '28890',
 '02663',
 '89576',
 '02647',
 '00145',
 '00189',
 '12605',
 '11808',
 '62459',
 '61338',
 '40520',
 '47858',
 '89394',
 '03087',
 '03736',
 '46341',
 '08734',
 '77567',
 '69566',
 '52227',
 '40881',
 '44502',
 '40035',
 '34409',
 '33237',
 '43657',
 '00545',
 '00295',
 '95301',
 '00235',
 '55659',
 '05974',
 '92241',
 '67400',
 '00005',
 '88135',
 '11215',
 '47354',
 '21688',
 '00131',
 '98245',
 '00320',
 '00328',
 '63880',
 '51653',
 '03431',
 '3451100146637',
 '33100',
 '46662',
 '33643',
 '10518',
 '53089',
 '24612',
 '49241',
 '95978',
 '45161',
 '25721',
 '81293',
 '99475',
 '24491',
 '29271',
 '88377',
 '49880',
 '00566',
 '15971',
 '45736',
 '11864',
 'aiov0002',
 '45825',
 '26776',
 '46291',
 '02471',
 '62768',
 '73251',
 '44199',
 '29118',
 '35605',
 '71791',
 '02518',
 '91645',
 '42173',
 '82954',
 '13073',
 '59226',
 '75061',
 '17277',
 '29025',
 '32171',
 '45668',
 '58993',
 '30660',
 'fff',
 '02862',
 '03263',
 '05151',
 '47494',
 '00138',
 '33664',
 '72486',
 '24032',
 '48710',
 '45047',
 '64612',
 '56764',
 '38771',
 '77811',
 '25683',
 '95127',
 '04431',
 '87337',
 '39537',
 '23049',
 '30283',
 '00178',
 '05304',
 '86113',
 '54932',
 '60909',
 '53076',
 '47567',
 '00038',
 '74840',
 '11282',
 '79590',
 '80979',
 '29999',
 '01637',
 '85989',
 '83377',
 '16372',
 '84375',
 '24994',
 '77782',
 '37091',
 '22119',
 '37732',
 '00050',
 '83937',
 '62241',
 '60688',
 '29796',
 '00279',
 '31577',
 '11111',
 '3451100324713',
 '11159',
 '86050',
 '89081',
 '38463',
 '41061',
 'hhh',
 '26916',
 '00170',
 '46643',
 '99376',
 '77509',
 '89195',
 '18402',
 '75579',
 '42465',
 '21860',
 '17916',
 '20827',
 '46520',
 '85879',
 '58870',
 '00273',
 'aaa',
 '55911',
 '83257',
 '16247',
 '20606',
 '3451100451251',
 '00116',
 '00280',
 '00281',
 '63018',
 '53356',
 '44902',
 '54192',
 '9250',
 '39448',
 '08741',
 '00203',
 '62440',
 '95810',
 '00039',
 '00218',
 '25179',
 '7197',
 '93991',
 '00190',
 '26574',
 '05291',
 '18527',
 '66155',
 '94454',
 '00124',
 '31534',
 '42228',
 '23958',
 'lll',
 '14387',
 '51065',
 '69576',
 '30977',
 '27046',
 '98260',
 '19241',
 '86474',
 '00166',
 '00155',
 '69556',
 '52922',
 '29611',
 '00082',
 '05507',
 '00011',
 '65509',
 '72938',
 '80511',
 '22377',
 '11007',
 '83659',
 '00268',
 '47933',
 '79322',
 '82211',
 '50580',
 '83733',
 '26511',
 '61095',
 '30067',
 '00121',
 '31762',
 '32891',
 '15678',
 '40533',
 '68856',
 '18954',
 '03421',
 '12044',
 '54427',
 'mks',
 '05091',
 '89056',
 '03100',
 '77706',
 '31811',
 'ppp',
 'u789',
 '45593',
 '77670',
 '29441',
 '48368',
 '53333',
 '62443',
 '73876',
 '00185',
 '21378',
 '3450100543961',
 '78901',
 '16085',
 '21010',
 '85433',
 '73772',
 '00164',
 '25659',
 '26477',
 '02594',
 '28399',
 '  67241\n',
 '77978',
 '26957',
 '72451',
 '61591',
 '51310',
 '00265',
 '00270',
 '42098',
 '08242',
 '54599',
 '00345',
 '05961',
 'ttohn',
 '53011',
 '00065',
 '00187',
 '67094',
 'vvv',
 '07331',
 '00582',
 '85379',
 '30121',
 '45752',
 '07573',
 '37127',
 '52013',
 '31062',
 '25128',
 '31982',
 '17184',
 '10264',
 '00042',
 '33103',
 '18892',
 '14771',
 '79066',
 '84187',
 '03308',
 '14390',
 '72988',
 '11816',
 '08072',
 '09226',
 '67972',
 'bbb',
 '59128',
 '97016',
 '63753',
 '49103',
 '00159',
 '84479',
 '22680',
 '46902',
 '92648',
 '21177',
 '55430',
 '44888',
 '60879',
 '52209',
 '10695',
 '46767',
 '01850',
 '83449',
 '02230',
 '06268',
 '41951',
 '47623',
 '03359',
 '94494',
 '26651',
 '71228',
 '07427',
 '53579',
 '70810',
 '74335',
 '70490',
 '29485',
 '96417',
 '3450500541443',
 '00034',
 '63471',
 '23811',
 '22722',
 '97913',
 'jjj',
 '37216',
 '00188',
 '33553',
 '14255',
 'zzz',
 '46783',
 '00205',
 '00902',
 '3451100451758',
 '96630',
 '37018',
 '30511',
 '33869',
 '17938',
 't006',
 '46622',
 '55806',
 '04854',
 '00017',
 '00305',
 '92580',
 '39103',
 '11742',
 '71813',
 '00324',
 '29000',
 '76475',
 '00781',
 '74782',
 '00147',
 '69789',
 '89493',
 '32581',
 '24179',
 '13978',
 '88351',
 '51689',
 '34988',
 '40828',
 '00153',
 '06277',
 '3450101325119',
 '71781',
 '46627',
 '38422',
 '46970',
 '02962',
 '29094',
 '92691',
 '29391',
 '35512',
 '00285',
 '37691',
 '00146',
 '28186',
 '89837',
 '65075',
 '19762',
 '90604',
 '00037',
 '03562',
 '95668',
 '19202',
 '50471',
 '34791',
 '87218',
 '00291',
 '65854',
 '39079',
 '18865',
 '14491',
 '24559',
 '00032',
 '10691',
 '99250',
 '83725',
 '55692',
 '00308',
 '02102',
 '26199',
 '28743',
 '48962',
 '37186',
 '17769',
 '00211',
 '99734',
 '02897',
 '00143',
 '89329',
 '93726',
 '55299',
 '00210',
 '03169',
 '04255',
 '25943',
 '31114',
 '31229',
 '14891',
 '47157',
 '00251',
 '35942',
 '01942',
 '76088',
 '27096',
 '00223',
 '56004',
 '50727',
 '05182',
 '70370',
 '00180',
 '14764',
 '54974',
 '93527',
 '12023',
 '35139',
 '73225',
 '32077',
 '52665',
 '90770',
 '66437',
 '09006',
 '48956',
 '00221',
 '61325',
 '04347',
 '77254',
 '76339',
 '75921',
 '26442',
 '40577',
 '74345',
 '86545',
 '01883',
 '99992',
 '3400900747146',
 '00151',
 '10194',
 '43834',
 '19675',
 'ttt',
 '78960',
 '62334',
 '00353',
 '99011',
 '31551',
 '00212',
 '94988',
 '04221',
 '00315',
 '33791',
 '98703',
 '89290',
 '19632',
 '26445',
 '00115',
 '01636',
 '30024',
 '00755',
 '08773',
 '65632',
 '05210',
 '12015',
 '88459',
 '00012',
 '87181',
 '38547',
 '40865',
 '20690',
 '71891',
 '00171',
 '97255',
 '04857',
 '30767',
 '00048',
 '89475',
 '26647',
 '12041',
 '00966',
 '75771',
 '37231',
 '19671',
 '68162',
 '11198',
 '00267',
 '48016',
 '22545',
 '90872',
 '55354',
 '74523',
 '10348',
 '36358',
 '91438',
 '38522',
 '20304',
 '19527',
 '00300',
 '61182',
 '00213',
 '75487',
 '19364',
 '19201',
 '31879',
 '73496',
 '15801',
 '69037',
 '19624',
 '28917',
 '12003',
 '26859',
 '86601',
 '71805',
 '63485',
 '00081',
 '28402',
 '00033',
 '01428',
 '37551',
 '00296',
 '37408',
 '68805',
 '93189',
 '45846',
 '49634',
 '47061',
 '19265',
 '66205',
 '40591\n40591\n',
 '16112',
 '65664',
 '13361',
 '01403',
 '81724',
 '43068',
 '55547',
 '26990',
 '41026',
 '3450101229373',
 '54538',
 '00284',
 '16193',
 'uuu',
 '61806',
 '43228',
 '01183',
 '72364',
 '74414',
 'tt',
 '66082',
 '11387',
 '00301',
 '22455',
 '5450500072920',
 '47938',
 '64520',
 '16144',
 '97057',
 '08602',
 '83662',
 '54923',
 '25804',
 'www',
 '05272',
 '31133',
 '95161',
 '11361',
 '15229',
 '20395',
 '06079',
 '24468',
 '32625',
 '63284',
 '96771',
 '11891',
 '45485',
 '29417',
 '55236',
 '70409',
 '70940',
 '00029',
 '00031',
 '59181',
 '00233',
 '96292',
 '30059',
 '27129',
 '19903',
 '00278',
 '01594',
 '02396',
 '00043',
 '24563',
 '00083',
 '33251',
 '77576',
 '76096',
 '99288',
 '02091',
 '19250',
 '96786',
 '59721',
 '49413',
 '00177',
 '50756',
 '70671',
 '46775',
 '62616',
 '50332',
 '18890',
 '65656',
 '58845',
 '96099',
 '88337',
 '86774',
 '58668',
 '66501',
 '81472',
 '04193',
 '00341',
 '79525',
 '02759',
 '95927',
 '38500',
 '41000',
 '46566',
 '00352',
 '51903',
 '95151',
 'eee',
 '86299',
 '45531',
 '54679',
 '73233',
 '66381',
 '83276',
 '67241',
 '5799',
 '00073',
 '00001',
 '63200',
 '47810',
 '05228',
 '10120',
 '00025',
 '3459900286317',
 '19237',
 '27529',
 '49863',
 '94414',
 '00394',
 '65733',
 '61486',
 '25466',
 '67864',
 '14380',
 '83777',
 '11165',
 '76105',
 '17842',
 '05663',
 '25403',
 '79028',
 '00018',
 '51474',
 '38121',
 '08370',
 '64385',
 '48440',
 '28731',
 '51235',
 '97860',
 '23796',
 '50577',
 '13406',
 '00193',
 '12561',
 '70187',
 '18513',
 '19130',
 '31792',
 '00194',
 '63910',
 '58814',
 '24622',
 '18769',
 '96481',
 '43257',
 '94295',
 '15930',
 'rrr',
 '00195',
 '02878',
 '16904',
 '36481',
 '25837',
 '31994',
 '39529',
 '84063',
 '00201',
 '00289',
 '20951',
 '48393',
 '53481',
 '19737',
 '74964',
 '82685',
 '99835',
 '99771',
 '00252',
 '95104',
 '30431',
 '00118',
 '19911',
 '70455',
 '45701',
 '67212',
 '19411',
 '66062',
 '05038',
 '00126',
 '09820',
 '03080',
 '63429',
 '00004',
 '60250',
 '87067',
 '00283',
 '39726',
 '62687',
 '46951',
 '00306',
 '76386',
 '74891',
 '95821',
 '63477',
 '60847',
 '61359',
 '51241',
 '86588',
 '32796',
 '00169',
 '66261',
 '51795',
 '64081',
 '89470',
 '71327',
 '37228',
 '02728',
 '13312',
 '06655',
 '05113',
 '37915',
 '90888',
 '20380',
 '14455',
 '65390',
 '47429',
 '76803',
 '91402',
 '00013',
 '00302',
 '01762',
 '51039',
 '74367',
 '16022',
 '31428',
 '66708',
 '63098',
 '03731',
 '51403',
 '22824',
 '00040',
 '22099',
 '64817',
 '87374',
 '81065',
 '28291',
 '00127',
 '00140',
 '22478',
 '46481',
 '11111111',
 '80175',
 '20215',
 '69428',
 '00253',
 '62415',
 '70492',
 '49782',
 '00165',
 '39342',
 '90609',
 '65675',
 '40551',
 '80289',
 '20291',
 '01651',
 '34096',
 '85702',
 '00565',
 '00174',
 '19211',
 '77665',
 '02263',
 '71998',
 '46960',
 '62059',
 '00028',
 '54281',
 '46732',
 '47593',
 '90154',
 '42055',
 '60581',
 '44509',
 '29502',
 '77688',
 '77358',
 '63381',
 '96061',
 '39764',
 '00059',
 '72483',
 '05849',
 '02825',
 '94087',
 '84055',
 '09188',
 '00176',
 '00399',
 '87536',
 '62962',
 '77587',
 '28381',
 '00044',
 '26043',
 '46415',
 '62941',
 '36390',
 '00297',
 '26459',
 '89381',
 '19002',
 '24986',
 '03338',
 '00293',
 '51568',
 '14505',
 '98829',
 '35888',
 '00158',
 '09582',
 '94406',
 '13070',
 '55075',
 '1450700099250',
 '18025',
 '59361',
 '33316',
 '01861',
 '77994',
 '00003',
 '99245',
 '25829',
 '71378',
 '67352',
 '48768',
 '19699',
 '3460500500020',
 '34829',
 '28627',
 '46313',
 '68759',
 '18849',
 'ggg',
 '00941',
 '10993',
 '95193',
 '5451100055352',
 '63606',
 '38614',
 '59326',
 '61419',
 '00006',
 '89251',
 '00008',
 '00117',
 '84409',
 '42468',
 '3450101323370',
 '50349',
 '59476',
 '54544',
 '04402',
 '25593',
 '02547',
 'qqq',
 '64199',
 '80734',
 '17560',
 '32200',
 '49215',
 '70059',
 '76246',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [14]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'49424',
 '55300',
 '03535',
 '97290',
 '04281',
 '92962',
 '17777',
 '45876',
 '54214',
 '80382',
 '68037',
 '08021',
 '59423',
 '00051',
 '00272',
 '91209',
 '00030',
 '44201',
 '99884',
 '06316',
 '00304',
 '94019',
 '00024',
 '38727',
 '06924',
 '18041',
 '84276',
 '00404',
 '18737',
 '95291',
 '30311',
 '31322',
 '00216',
 '00206',
 '76851',
 '25781',
 '05116',
 '15588',
 '28890',
 '02663',
 '89576',
 '02647',
 '00145',
 '00189',
 '12605',
 '11808',
 '62459',
 '61338',
 '40520',
 '47858',
 '89394',
 '03087',
 '03736',
 '46341',
 '08734',
 '77567',
 '69566',
 '52227',
 '40881',
 '44502',
 '40035',
 '34409',
 '33237',
 '43657',
 '00545',
 '00295',
 '95301',
 '00235',
 '55659',
 '05974',
 '92241',
 '67400',
 '00005',
 '88135',
 '11215',
 '47354',
 '21688',
 '00131',
 '98245',
 '00320',
 '00328',
 '63880',
 '51653',
 '03431',
 '33100',
 '46662',
 '33643',
 '10518',
 '53089',
 '24612',
 '49241',
 '95978',
 '45161',
 '25721',
 '81293',
 '99475',
 '24491',
 '29271',
 '88377',
 '49880',
 '00566',
 '15971',
 '45736',
 '11864',
 '45825',
 '26776',
 '46291',
 '02471',
 '62768',
 '73251',
 '44199',
 '29118',
 '35605',
 '71791',
 '02518',
 '91645',
 '42173',
 '82954',
 '13073',
 '59226',
 '75061',
 '17277',
 '29025',
 '32171',
 '45668',
 '58993',
 '30660',
 '02862',
 '03263',
 '05151',
 '47494',
 '00138',
 '33664',
 '72486',
 '24032',
 '48710',
 '45047',
 '64612',
 '56764',
 '38771',
 '77811',
 '25683',
 '95127',
 '04431',
 '87337',
 '39537',
 '23049',
 '30283',
 '00178',
 '05304',
 '86113',
 '54932',
 '60909',
 '53076',
 '47567',
 '00038',
 '74840',
 '11282',
 '79590',
 '80979',
 '29999',
 '01637',
 '85989',
 '83377',
 '16372',
 '84375',
 '24994',
 '77782',
 '37091',
 '22119',
 '37732',
 '00050',
 '83937',
 '62241',
 '60688',
 '29796',
 '00279',
 '31577',
 '11111',
 '11159',
 '86050',
 '89081',
 '38463',
 '41061',
 '26916',
 '00170',
 '46643',
 '99376',
 '77509',
 '89195',
 '18402',
 '75579',
 '42465',
 '21860',
 '17916',
 '20827',
 '46520',
 '85879',
 '58870',
 '00273',
 '55911',
 '83257',
 '16247',
 '20606',
 '00116',
 '00280',
 '00281',
 '63018',
 '53356',
 '44902',
 '54192',
 '9250',
 '39448',
 '08741',
 '00203',
 '62440',
 '95810',
 '00039',
 '00218',
 '25179',
 '93991',
 '00190',
 '26574',
 '05291',
 '18527',
 '66155',
 '94454',
 '00124',
 '31534',
 '42228',
 '23958',
 '14387',
 '51065',
 '69576',
 '30977',
 '27046',
 '98260',
 '19241',
 '86474',
 '00166',
 '00155',
 '69556',
 '52922',
 '29611',
 '00082',
 '05507',
 '00011',
 '65509',
 '72938',
 '80511',
 '22377',
 '11007',
 '83659',
 '00268',
 '47933',
 '79322',
 '82211',
 '50580',
 '83733',
 '26511',
 '61095',
 '30067',
 '00121',
 '31762',
 '32891',
 '15678',
 '40533',
 '68856',
 '18954',
 '03421',
 '12044',
 '54427',
 '05091',
 '89056',
 '03100',
 '77706',
 '31811',
 '45593',
 '77670',
 '29441',
 '48368',
 '53333',
 '62443',
 '73876',
 '00185',
 '21378',
 '78901',
 '16085',
 '21010',
 '85433',
 '73772',
 '00164',
 '25659',
 '26477',
 '02594',
 '28399',
 '77978',
 '26957',
 '72451',
 '61591',
 '51310',
 '00265',
 '00270',
 '42098',
 '08242',
 '54599',
 '00345',
 '05961',
 '53011',
 '00065',
 '00187',
 '67094',
 '07331',
 '00582',
 '85379',
 '30121',
 '45752',
 '07573',
 '37127',
 '52013',
 '31062',
 '25128',
 '31982',
 '17184',
 '10264',
 '00042',
 '33103',
 '18892',
 '14771',
 '79066',
 '84187',
 '03308',
 '14390',
 '72988',
 '11816',
 '08072',
 '09226',
 '67972',
 '59128',
 '97016',
 '63753',
 '49103',
 '00159',
 '84479',
 '22680',
 '46902',
 '92648',
 '21177',
 '55430',
 '44888',
 '60879',
 '52209',
 '10695',
 '46767',
 '01850',
 '83449',
 '02230',
 '06268',
 '41951',
 '47623',
 '03359',
 '94494',
 '26651',
 '71228',
 '07427',
 '53579',
 '70810',
 '74335',
 '70490',
 '29485',
 '96417',
 '00034',
 '63471',
 '23811',
 '22722',
 '97913',
 '37216',
 '00188',
 '33553',
 '14255',
 '46783',
 '00205',
 '00902',
 '96630',
 '37018',
 '30511',
 '33869',
 '17938',
 '46622',
 '55806',
 '04854',
 '00017',
 '00305',
 '92580',
 '39103',
 '11742',
 '71813',
 '00324',
 '29000',
 '76475',
 '00781',
 '74782',
 '00147',
 '69789',
 '89493',
 '32581',
 '24179',
 '13978',
 '88351',
 '51689',
 '34988',
 '40828',
 '00153',
 '06277',
 '71781',
 '46627',
 '38422',
 '46970',
 '02962',
 '29094',
 '92691',
 '29391',
 '35512',
 '00285',
 '37691',
 '00146',
 '28186',
 '89837',
 '65075',
 '19762',
 '90604',
 '00037',
 '03562',
 '95668',
 '19202',
 '50471',
 '34791',
 '87218',
 '00291',
 '65854',
 '39079',
 '18865',
 '14491',
 '24559',
 '00032',
 '10691',
 '99250',
 '83725',
 '55692',
 '00308',
 '02102',
 '26199',
 '28743',
 '48962',
 '37186',
 '17769',
 '00211',
 '99734',
 '02897',
 '00143',
 '89329',
 '93726',
 '55299',
 '00210',
 '03169',
 '04255',
 '25943',
 '31114',
 '31229',
 '14891',
 '47157',
 '00251',
 '35942',
 '01942',
 '76088',
 '27096',
 '00223',
 '56004',
 '50727',
 '05182',
 '70370',
 '00180',
 '14764',
 '54974',
 '93527',
 '12023',
 '35139',
 '73225',
 '32077',
 '52665',
 '90770',
 '66437',
 '09006',
 '48956',
 '00221',
 '61325',
 '04347',
 '77254',
 '76339',
 '75921',
 '26442',
 '40577',
 '74345',
 '86545',
 '01883',
 '99992',
 '00151',
 '10194',
 '43834',
 '19675',
 '78960',
 '62334',
 '00353',
 '99011',
 '31551',
 '00212',
 '94988',
 '04221',
 '00315',
 '33791',
 '98703',
 '89290',
 '19632',
 '26445',
 '00115',
 '01636',
 '30024',
 '00755',
 '08773',
 '65632',
 '05210',
 '12015',
 '88459',
 '00012',
 '87181',
 '38547',
 '40865',
 '20690',
 '71891',
 '00171',
 '97255',
 '04857',
 '30767',
 '00048',
 '89475',
 '26647',
 '12041',
 '00966',
 '75771',
 '37231',
 '19671',
 '68162',
 '11198',
 '00267',
 '48016',
 '22545',
 '90872',
 '55354',
 '74523',
 '10348',
 '36358',
 '91438',
 '38522',
 '20304',
 '19527',
 '00300',
 '61182',
 '00213',
 '75487',
 '19364',
 '19201',
 '31879',
 '73496',
 '15801',
 '69037',
 '19624',
 '28917',
 '12003',
 '26859',
 '86601',
 '71805',
 '63485',
 '00081',
 '28402',
 '00033',
 '01428',
 '37551',
 '00296',
 '37408',
 '68805',
 '93189',
 '45846',
 '49634',
 '47061',
 '19265',
 '66205',
 '16112',
 '65664',
 '13361',
 '01403',
 '40591',
 '81724',
 '43068',
 '55547',
 '26990',
 '41026',
 '54538',
 '00284',
 '16193',
 '61806',
 '43228',
 '01183',
 '72364',
 '74414',
 '66082',
 '11387',
 '00301',
 '22455',
 '47938',
 '64520',
 '16144',
 '97057',
 '08602',
 '83662',
 '54923',
 '25804',
 '05272',
 '31133',
 '95161',
 '11361',
 '15229',
 '20395',
 '06079',
 '24468',
 '32625',
 '63284',
 '96771',
 '11891',
 '45485',
 '29417',
 '55236',
 '70409',
 '70940',
 '00029',
 '00031',
 '59181',
 '00233',
 '96292',
 '30059',
 '27129',
 '19903',
 '00278',
 '01594',
 '02396',
 '00043',
 '24563',
 '00083',
 '33251',
 '77576',
 '76096',
 '99288',
 '02091',
 '19250',
 '96786',
 '59721',
 '49413',
 '00177',
 '50756',
 '70671',
 '46775',
 '62616',
 '50332',
 '18890',
 '65656',
 '58845',
 '96099',
 '88337',
 '86774',
 '58668',
 '66501',
 '81472',
 '04193',
 '00341',
 '79525',
 '02759',
 '95927',
 '38500',
 '41000',
 '46566',
 '00352',
 '51903',
 '95151',
 '86299',
 '45531',
 '54679',
 '73233',
 '66381',
 '83276',
 '67241',
 '00073',
 '00001',
 '63200',
 '47810',
 '05228',
 '10120',
 '00025',
 '19237',
 '27529',
 '49863',
 '94414',
 '00394',
 '65733',
 '61486',
 '25466',
 '67864',
 '14380',
 '83777',
 '11165',
 '76105',
 '17842',
 '05663',
 '25403',
 '79028',
 '00018',
 '51474',
 '38121',
 '08370',
 '64385',
 '48440',
 '28731',
 '51235',
 '97860',
 '23796',
 '50577',
 '13406',
 '00193',
 '12561',
 '70187',
 '18513',
 '19130',
 '31792',
 '00194',
 '63910',
 '58814',
 '24622',
 '18769',
 '96481',
 '43257',
 '94295',
 '15930',
 '00195',
 '02878',
 '16904',
 '36481',
 '25837',
 '31994',
 '39529',
 '84063',
 '00201',
 '00289',
 '20951',
 '48393',
 '53481',
 '19737',
 '74964',
 '82685',
 '99835',
 '99771',
 '00252',
 '95104',
 '30431',
 '00118',
 '19911',
 '70455',
 '45701',
 '67212',
 '19411',
 '66062',
 '05038',
 '00126',
 '09820',
 '03080',
 '63429',
 '00004',
 '60250',
 '87067',
 '00283',
 '39726',
 '62687',
 '46951',
 '00306',
 '76386',
 '74891',
 '95821',
 '63477',
 '60847',
 '61359',
 '51241',
 '86588',
 '32796',
 '00169',
 '66261',
 '51795',
 '64081',
 '89470',
 '71327',
 '37228',
 '02728',
 '13312',
 '06655',
 '05113',
 '37915',
 '90888',
 '20380',
 '14455',
 '65390',
 '47429',
 '76803',
 '91402',
 '00013',
 '00302',
 '01762',
 '51039',
 '74367',
 '16022',
 '31428',
 '66708',
 '63098',
 '03731',
 '51403',
 '22824',
 '00040',
 '22099',
 '64817',
 '87374',
 '81065',
 '28291',
 '00127',
 '00140',
 '22478',
 '46481',
 '80175',
 '20215',
 '69428',
 '00253',
 '62415',
 '70492',
 '49782',
 '00165',
 '39342',
 '90609',
 '65675',
 '40551',
 '80289',
 '20291',
 '01651',
 '34096',
 '85702',
 '00565',
 '00174',
 '19211',
 '77665',
 '02263',
 '71998',
 '46960',
 '62059',
 '00028',
 '54281',
 '46732',
 '47593',
 '90154',
 '42055',
 '60581',
 '44509',
 '29502',
 '77688',
 '77358',
 '63381',
 '96061',
 '39764',
 '00059',
 '72483',
 '05849',
 '02825',
 '94087',
 '84055',
 '09188',
 '00176',
 '00399',
 '87536',
 '62962',
 '77587',
 '28381',
 '00044',
 '26043',
 '46415',
 '62941',
 '36390',
 '00297',
 '26459',
 '89381',
 '19002',
 '24986',
 '03338',
 '00293',
 '51568',
 '14505',
 '98829',
 '35888',
 '00158',
 '09582',
 '94406',
 '13070',
 '55075',
 '18025',
 '59361',
 '33316',
 '01861',
 '77994',
 '00003',
 '99245',
 '25829',
 '71378',
 '67352',
 '48768',
 '19699',
 '34829',
 '28627',
 '46313',
 '68759',
 '18849',
 '00941',
 '10993',
 '95193',
 '63606',
 '38614',
 '59326',
 '61419',
 '00006',
 '89251',
 '00008',
 '00117',
 '84409',
 '42468',
 '50349',
 '59476',
 '54544',
 '04402',
 '25593',
 '02547',
 '64199',
 '80734',
 '17560',
 '32200',
 '49215',
 '70059',
 '76246',
 '81570',
 '00120',
 '27604',
 '52912',
 '87697',
 '11177',
 '97484',
 '27143',
 '32948',
 '47146',
 '53151',
 '93307',
 '27503',
 '13824',
 '16783',
 '00290',
 '40553',
 '55865',
 '33081',
 '55415',
 '94150',
 '97831',
 '91947',
 '26811',
 '06855',
 '61746',
 '00202',
 '25923',
 '91917',
 '01882',
 '03831',
 '70948',
 '61587',
 '61087',
 '29476',
 '23010',
 '21751',
 '23889',
 '51205',
 '53330',
 '03409',
 '31196',
 '34169',
 ...}

In [16]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [17]:
alldb_drop2['user'] = alldb_drop2['user'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
alldb_drop2.dtypes # เช็คว่า user ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ site

In [19]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [20]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [22]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [23]:
alldb_drop3['site'] = alldb_drop3['site'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
alldb_drop3.dtypes # เช็คว่า site ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ ov

In [25]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [26]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [27]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [28]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [29]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [31]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'02989',
 '05101',
 '00100',
 '00591',
 '02631',
 '02908',
 '03126',
 '03365',
 '03535',
 '04185',
 '00462',
 '00816',
 '01644',
 '01688',
 '02367',
 '03182',
 '05341',
 '02256',
 '01352',
 '02931',
 '08956',
 '00056',
 '01645',
 '00991',
 '03936',
 '01061',
 '05106',
 '00819',
 '00577',
 '01924',
 '01271',
 '00051',
 '00272',
 '00924',
 '01383',
 '00030',
 '00613',
 '00655',
 '01839',
 '06050',
 '00480',
 '00304',
 '00430',
 '01720',
 '02135',
 '03389',
 '00024',
 '00372',
 '01214',
 '00870',
 '01786',
 '10970',
 '00062',
 '01921',
 '01103',
 '00832',
 '00964',
 '02003',
 '01851',
 '00528',
 '01095',
 '01755',
 '01056',
 '01763',
 '01539',
 '01555',
 '05770',
 '02024',
 '00404',
 '01463',
 '01846',
 '01981',
 '08938',
 '02599',
 '00947',
 '00516',
 '01477',
 '10966',
 '01712',
 '04033',
 '01371',
 '00765',
 '01205',
 '02965',
 '08909',
 '01109',
 '06022',
 '00742',
 '00216',
 '01373',
 '01520',
 '01878',
 '05120',
 '00206',
 '00861',
 '05116',
 '00928',
 '09022',
 '00145',
 '02647',
 '05195',
 '10997',
 '00189',
 '00914',
 '00640',
 '01313',
 '00441',
 '00915',
 '03376',
 '01764',
 '01799',
 '01358',
 '01495',
 '01901',
 '02032',
 '01368',
 '02735',
 '01081',
 '01245',
 '02775',
 '01457',
 '02030',
 '01518',
 '01632',
 '03075',
 '00664',
 '00725',
 '01164',
 '02973',
 '03073',
 '01449',
 '03545',
 '03063',
 '00327',
 '01571',
 '01590',
 '01242',
 '00823',
 '01226',
 '08957',
 '00545',
 '01832',
 '00592',
 '00295',
 '02844',
 '01459',
 '00737',
 '00722',
 '01064',
 '04652',
 '00645',
 '00235',
 '01487',
 '01600',
 '05129',
 '08254',
 '03398',
 '01018',
 '00812',
 '02364',
 '02578',
 '00638',
 '09004',
 '03549',
 '05974',
 '01017',
 '01059',
 '03508',
 '00848',
 '00705',
 '01254',
 '04619',
 '04781',
 '01551',
 '00084',
 '01040',
 '02408',
 '01816',
 '02053',
 '00543',
 '01613',
 '00005',
 '09034',
 '01580',
 '02839',
 '00131',
 '02178',
 '00432',
 '03231',
 '00320',
 '00328',
 '01031',
 '04624',
 '01406',
 '01958',
 '00242',
 '00311',
 '01514',
 '04074',
 '00860',
 '00386',
 '08351',
 '03417',
 '03290',
 '00989',
 '01875',
 '02611',
 '00602',
 '00663',
 '00496',
 '00929',
 '00387',
 '01379',
 '01296',
 '00651',
 '01873',
 '03356',
 '00745',
 '56',
 '00566',
 '01359',
 '01968',
 '05992',
 '00391',
 '185',
 '04974',
 '02910',
 '01057',
 '03065',
 '03939',
 '01233',
 '01597',
 '179',
 '00532',
 '01866',
 '02207',
 '03078',
 '00234',
 '04182',
 '02880',
 '03139',
 '06019',
 '02336',
 '000152',
 '02116',
 '01290',
 '01298',
 '03074',
 '00659',
 '01437',
 '01035',
 '01891',
 '02518',
 '02761',
 '03095',
 '10981',
 '03593',
 '01157',
 '02682',
 '05721',
 '01150',
 '03462',
 '02651',
 '00119',
 '00465',
 '06031',
 '00459',
 '02093',
 '02337',
 '01193',
 '02862',
 '29',
 '02420',
 '10984',
 '04692',
 '03263',
 '02755',
 '00456',
 '00356',
 '01080',
 '01840',
 '02147',
 '00918',
 '00138',
 '00973',
 '33664',
 '00699',
 '03093',
 '01874',
 '03127',
 '01317',
 '04137',
 '09014',
 '00865',
 '00718',
 '02490',
 '00497',
 '02808',
 '01199',
 '00502',
 '01546',
 '00178',
 '01262',
 '00064',
 '09013',
 '00038',
 '00950',
 '01335',
 '01867',
 '01847',
 '00953',
 '01955',
 '02236',
 '00769',
 '01637',
 '06051',
 '02672',
 '00625',
 '03347',
 '03284',
 '02046',
 '02481',
 '00050',
 '01813',
 '01695',
 '00687',
 '01950',
 '02390',
 '02534',
 '03068',
 '02864',
 '04094',
 '00279',
 '00330',
 '11111',
 '00080',
 '00669',
 '01589',
 '05310',
 '10979',
 '03824',
 '02937',
 '00626',
 '02286',
 '02802',
 '02855',
 '00506',
 '00479',
 '00384',
 '00170',
 '02015',
 '02600',
 '00494',
 '03419',
 '01556',
 '02271',
 '02204',
 '03547',
 '08961',
 '02000',
 '01084',
 '00590',
 '05131',
 '01243',
 '00551',
 '03397',
 '04754',
 '02494',
 '03998',
 '00558',
 '02262',
 '00273',
 '01370',
 '04642',
 '08521',
 '01939',
 '08962',
 '03153',
 '01506',
 '00116',
 '01032',
 '01731',
 '00280',
 '01287',
 '01541',
 '00281',
 '02836',
 '02210',
 '03137',
 '09024',
 '02026',
 '00767',
 '05342',
 '01042',
 '00203',
 '02045',
 '00908',
 '05100',
 '02133',
 '09026',
 '00039',
 '01935',
 '00218',
 '04165',
 '00579',
 '01696',
 '03386',
 '177',
 '02852',
 '00190',
 '02977',
 '01494',
 '02771',
 '01925',
 '00124',
 '04679',
 '00997',
 '00451',
 '01649',
 '08913',
 '01452',
 '02164',
 '00594',
 '89170',
 '04671',
 '00838',
 '01618',
 '01363',
 '02013',
 '00068',
 '01011',
 '01261',
 '04118',
 '05290',
 '04136',
 '00097',
 '00155',
 '00166',
 '01224',
 '05118',
 '06717',
 '00082',
 '01140',
 '04187',
 '00011',
 '05104',
 '04664',
 '00572',
 '02327',
 '04667',
 '03060',
 '11007',
 '01423',
 '00268',
 '04117',
 '03188',
 '01612',
 '00642',
 '02383',
 '10011',
 '04695',
 '03877',
 '00323',
 '10973',
 '05985',
 '05987',
 '03236',
 '05196',
 '01146',
 '01705',
 '02068',
 '08937',
 '02807',
 '03244',
 '02124',
 '02773',
 '00121',
 '02832',
 '02048',
 '05997',
 '02400',
 '01263',
 '05112',
 '01661',
 '08943',
 '01137',
 '01366',
 '02833',
 '00484',
 '01134',
 '03504',
 '00314',
 '01098',
 '04623',
 '00813',
 '01795',
 '00775',
 '05091',
 '11005',
 '01998',
 '00339',
 '03100',
 '02943',
 '00717',
 '08945',
 '01947',
 '03033',
 '04735',
 '00454',
 '00248',
 '01675',
 '02409',
 '01272',
 '01863',
 '02741',
 '04630',
 '60202',
 '00827',
 '02541',
 '00185',
 '00239',
 '01807',
 '01912',
 '02228',
 '04043',
 '02589',
 '08952',
 '03410',
 '04663',
 '02794',
 '02662',
 '01752',
 '00164',
 '02077',
 '00482',
 '01276',
 '06043',
 '02750',
 '02594',
 '01306',
 '00439',
 '00597',
 '02985',
 '01733',
 '03394',
 '00622',
 '01640',
 '02676',
 '01206',
 '02972',
 '00635',
 '00265',
 '00887',
 '00270',
 '02214',
 '00920',
 '01667',
 '02790',
 '01916',
 '01864',
 '01914',
 '02345',
 '04659',
 '01475',
 '00345',
 '01560',
 '02917',
 '05961',
 '01334',
 '01852',
 '10408',
 '89',
 '00231',
 '00065',
 '00187',
 '00734',
 '01887',
 '08115',
 '01228',
 '01365',
 '03310',
 '01806',
 '01122',
 '02598',
 '03724',
 '00872',
 '00582',
 '02403',
 '03155',
 '05109',
 '01838',
 '06052',
 '72093',
 '01120',
 '00425',
 '02668',
 '01692',
 '00381',
 '02979',
 '06182',
 '01592',
 '03373',
 '03363',
 '00630',
 '01148',
 '00650',
 '983',
 '01113',
 '02406',
 '02489',
 '04688',
 '05718',
 '00042',
 '01774',
 '01583',
 '02671',
 '01509',
 '01687',
 '01984',
 '04179',
 '03335',
 '00476',
 '05123',
 '01085',
 '02814',
 '02866',
 '00990',
 '05223',
 '08905',
 '01820',
 '03006',
 '01053',
 '01038',
 '02968',
 '00256',
 '00679',
 '01427',
 '05114',
 '08987',
 '02638',
 '01382',
 '00264',
 '04730',
 '02632',
 '241',
 '02935',
 '02601',
 '00469',
 '00749',
 '00104',
 '05132',
 '03049',
 '02341',
 '02017',
 '02648',
 '05227',
 '00427',
 '04620',
 '02858',
 '03315',
 '01386',
 '03019',
 '01607',
 '03934',
 '00448',
 '01932',
 '00159',
 '01576',
 '01679',
 '01203',
 '02563',
 '01519',
 '02401',
 '00825',
 '03299',
 '01197',
 '09016',
 '00593',
 '01229',
 '02376',
 '01144',
 '00333',
 '03187',
 '02936',
 '03329',
 '04143',
 '03981',
 '00937',
 '01876',
 '01071',
 '03909',
 '01837',
 '01850',
 '08925',
 '00811',
 '00724',
 '01775',
 '05281',
 '02230',
 '02994',
 '32',
 '01339',
 '01946',
 '03411',
 '02982',
 '00555',
 '02565',
 '01672',
 '03997',
 '03359',
 '01868',
 '00245',
 '05128',
 '06723',
 '00633',
 '01163',
 '06145',
 '03291',
 '01824',
 '01913',
 '01829',
 '125',
 '01044',
 '02664',
 '01466',
 '01292',
 '01455',
 '00620',
 '02875',
 '03109',
 '02351',
 '01732',
 '00034',
 '00949',
 '01821',
 '08910',
 '06025',
 '00472',
 '02399',
 '02223',
 '05998',
 '01985',
 '02196',
 '00188',
 '05806',
 '05960',
 '00548',
 '01244',
 '00575',
 '03541',
 '01743',
 '00205',
 '00228',
 '00902',
 '02264',
 '01470',
 '00067',
 '02012',
 '02291',
 '02034',
 '00818',
 '03512',
 '01972',
 '02686',
 '03134',
 '00017',
 '00243',
 '05094',
 '00305',
 '00856',
 '01817',
 '00982',
 '08123',
 '00324',
 '02038',
 '00752',
 '00839',
 '06058',
 '03221',
 '01482',
 '00179',
 '00257',
 '00781',
 '02888',
 '00147',
 '00527',
 '02356',
 '02010',
 '03220',
 '03176',
 '01511',
 '01125',
 '01138',
 '00730',
 '01568',
 '01097',
 '00220',
 '04098',
 '01106',
 '00696',
 '00690',
 ' 0000',
 '01656',
 '01980',
 '03105',
 '04039',
 '10990',
 '01221',
 '02653',
 '01189',
 '04030',
 '03034',
 '00153',
 '02819',
 '01528',
 '00955',
 '02398',
 '01630',
 '04101',
 '02557',
 '05396',
 '00777',
 '00373',
 '02945',
 '02962',
 '03150',
 '08936',
 '00491',
 '02928',
 '00431',
 '00358',
 '04054',
 '180',
 '02117',
 '00285',
 '00568',
 '00754',
 '00186',
 '06033',
 '00468',
 '01994',
 '00444',
 '01210',
 '03092',
 '02268',
 '03804',
 '00146',
 '03496',
 '00096',
 '06006',
 '04626',
 '01776',
 '00374',
 '01247',
 '02137',
 '01417',
 '01465',
 '06020',
 '00037',
 '01232',
 '05831',
 '01822',
 '976',
 '02233',
 '05207',
 '00236',
 '02220',
 '04008',
 '00291',
 '01771',
 '00814',
 '03372',
 '04191',
 '04666',
 '218',
 '02175',
 '02983',
 '01166',
 '00584',
 '01948',
 '08932',
 '00032',
 '01579',
 '01013',
 '02189',
 '02177',
 '02765',
 '05172',
 '00308',
 '00382',
 '01234',
 '01116',
 '01079',
 '00517',
 '02767',
 '04006',
 '00764',
 '01963',
 '02006',
 '00211',
 '00780',
 '01250',
 '01291',
 '00143',
 '01750',
 '09005',
 '00418',
 '02338',
 '01930',
 '00753',
 '09037',
 '00407',
 '02156',
 '00210',
 '02484',
 '01136',
 '01468',
 '03963',
 '01563',
 '00733',
 '10999',
 '08979',
 '00433',
 '00378',
 '00790',
 '01107',
 '02455',
 '04012',
 '01595',
 '00251',
 '01380',
 '00440',
 '01558',
 '01374',
 '01942',
 '01525',
 '00223',
 '08914',
 '02978',
 '00393',
 '02231',
 '02597',
 '03062',
 '00607',
 '08939',
 '02585',
 '01142',
 '04038',
 '00732',
 '03317',
 '01400',
 '02329',
 '02580',
 '02063',
 '00180',
 '02932',
 '08245',
 '01126',
 '00674',
 '01977',
 '00794',
 '04678',
 '00646',
 '02782',
 '01552',
 '05983',
 '01050',
 '01809',
 '03464',
 '05155',
 '03234',
 '02821',
 '240',
 '00346',
 '02544',
 '00855',
 '03194',
 '09006',
 '00993',
 '00221',
 '00241',
 '04347',
 '02893',
 '02215',
 '00727',
 '00519',
 '05200',
 '10976',
 '01492',
 '01883',
 '01996',
 '05202',
 '01923',
 '04650',
 '00824',
 '03509',
 '00550',
 '10972',
 '08994',
 '00151',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [32]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [34]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'02989',
 '05101',
 '00100',
 '00591',
 '02631',
 '02908',
 '03126',
 '03365',
 '03535',
 '04185',
 '00462',
 '00816',
 '01644',
 '01688',
 '02367',
 '03182',
 '05341',
 '02256',
 '01352',
 '02931',
 '08956',
 '00056',
 '01645',
 '00991',
 '03936',
 '01061',
 '05106',
 '00819',
 '00577',
 '01924',
 '01271',
 '00051',
 '00272',
 '00924',
 '01383',
 '00030',
 '00613',
 '00655',
 '01839',
 '06050',
 '00480',
 '00304',
 '00430',
 '01720',
 '02135',
 '03389',
 '00024',
 '00372',
 '01214',
 '00870',
 '01786',
 '10970',
 '00062',
 '01921',
 '01103',
 '00832',
 '00964',
 '02003',
 '01851',
 '00528',
 '01095',
 '01755',
 '01056',
 '01763',
 '01539',
 '01555',
 '05770',
 '02024',
 '00404',
 '01463',
 '01846',
 '01981',
 '08938',
 '02599',
 '00947',
 '00516',
 '01477',
 '10966',
 '01712',
 '04033',
 '01371',
 '00765',
 '01205',
 '02965',
 '08909',
 '01109',
 '06022',
 '00742',
 '00216',
 '01373',
 '01520',
 '01878',
 '05120',
 '00206',
 '00861',
 '05116',
 '00928',
 '09022',
 '00145',
 '02647',
 '05195',
 '10997',
 '00189',
 '00914',
 '00640',
 '01313',
 '00441',
 '00915',
 '03376',
 '01764',
 '01799',
 '01358',
 '01495',
 '01901',
 '02032',
 '01368',
 '02735',
 '01081',
 '01245',
 '02775',
 '01457',
 '02030',
 '01518',
 '01632',
 '03075',
 '00664',
 '00725',
 '01164',
 '02973',
 '03073',
 '01449',
 '03545',
 '03063',
 '00327',
 '01571',
 '01590',
 '01242',
 '00823',
 '01226',
 '08957',
 '00545',
 '01832',
 '00592',
 '00295',
 '02844',
 '01459',
 '00737',
 '00722',
 '01064',
 '04652',
 '00645',
 '00235',
 '01487',
 '01600',
 '05129',
 '08254',
 '03398',
 '01018',
 '00812',
 '02364',
 '02578',
 '00638',
 '09004',
 '03549',
 '05974',
 '01017',
 '01059',
 '03508',
 '00848',
 '00705',
 '01254',
 '04619',
 '04781',
 '01551',
 '00084',
 '01040',
 '02408',
 '01816',
 '02053',
 '00543',
 '01613',
 '00005',
 '09034',
 '01580',
 '02839',
 '00131',
 '02178',
 '00432',
 '03231',
 '00320',
 '00328',
 '01031',
 '04624',
 '01406',
 '01958',
 '00242',
 '00311',
 '01514',
 '04074',
 '00860',
 '00386',
 '08351',
 '03417',
 '03290',
 '00989',
 '01875',
 '02611',
 '00602',
 '00663',
 '00496',
 '00929',
 '00387',
 '01379',
 '01296',
 '00651',
 '01873',
 '03356',
 '00745',
 '56',
 '00566',
 '01359',
 '01968',
 '05992',
 '00391',
 '04974',
 '02910',
 '01057',
 '03065',
 '03939',
 '01233',
 '01597',
 '179',
 '00532',
 '01866',
 '02207',
 '03078',
 '00234',
 '04182',
 '02880',
 '03139',
 '06019',
 '02336',
 '02116',
 '01290',
 '01298',
 '03074',
 '00659',
 '01437',
 '01035',
 '01891',
 '02518',
 '02761',
 '03095',
 '10981',
 '03593',
 '01157',
 '02682',
 '05721',
 '01150',
 '03462',
 '02651',
 '00119',
 '00465',
 '06031',
 '00459',
 '02093',
 '02337',
 '01193',
 '02862',
 '02420',
 '10984',
 '04692',
 '03263',
 '02755',
 '00456',
 '00356',
 '01080',
 '01840',
 '02147',
 '00918',
 '00138',
 '00973',
 '33664',
 '00699',
 '03093',
 '01874',
 '03127',
 '01317',
 '04137',
 '09014',
 '00865',
 '00718',
 '02490',
 '00497',
 '02808',
 '01199',
 '00502',
 '01546',
 '00178',
 '01262',
 '00064',
 '09013',
 '00038',
 '00950',
 '01335',
 '01867',
 '01847',
 '00953',
 '01955',
 '02236',
 '00769',
 '01637',
 '06051',
 '02672',
 '00625',
 '03347',
 '03284',
 '02046',
 '02481',
 '00050',
 '01813',
 '01695',
 '00687',
 '01950',
 '02390',
 '02534',
 '03068',
 '02864',
 '04094',
 '00279',
 '00330',
 '11111',
 '00080',
 '00669',
 '01589',
 '05310',
 '10979',
 '03824',
 '02937',
 '00626',
 '02286',
 '02802',
 '02855',
 '00506',
 '00479',
 '00384',
 '00170',
 '02015',
 '02600',
 '00494',
 '03419',
 '01556',
 '02271',
 '02204',
 '03547',
 '08961',
 '02000',
 '01084',
 '00590',
 '05131',
 '01243',
 '00551',
 '03397',
 '04754',
 '02494',
 '03998',
 '00558',
 '02262',
 '00273',
 '01370',
 '04642',
 '08521',
 '01939',
 '08962',
 '03153',
 '01506',
 '00116',
 '01032',
 '01731',
 '00280',
 '01287',
 '01541',
 '00281',
 '02836',
 '02210',
 '03137',
 '09024',
 '02026',
 '00767',
 '05342',
 '01042',
 '00203',
 '02045',
 '00908',
 '05100',
 '02133',
 '09026',
 '00039',
 '01935',
 '00218',
 '04165',
 '00579',
 '01696',
 '03386',
 '177',
 '02852',
 '00190',
 '02977',
 '01494',
 '02771',
 '01925',
 '00124',
 '04679',
 '00997',
 '00451',
 '01649',
 '08913',
 '01452',
 '02164',
 '00594',
 '89170',
 '04671',
 '00838',
 '01618',
 '01363',
 '02013',
 '00068',
 '01011',
 '01261',
 '04118',
 '05290',
 '04136',
 '00097',
 '00155',
 '00166',
 '01224',
 '05118',
 '06717',
 '00082',
 '01140',
 '04187',
 '00011',
 '05104',
 '04664',
 '00572',
 '02327',
 '04667',
 '03060',
 '11007',
 '01423',
 '00268',
 '04117',
 '03188',
 '01612',
 '00642',
 '02383',
 '10011',
 '04695',
 '03877',
 '00323',
 '10973',
 '05985',
 '05987',
 '03236',
 '05196',
 '01146',
 '01705',
 '02068',
 '08937',
 '02807',
 '03244',
 '02124',
 '02773',
 '00121',
 '02832',
 '02048',
 '05997',
 '02400',
 '01263',
 '05112',
 '01661',
 '08943',
 '01137',
 '01366',
 '02833',
 '00484',
 '01134',
 '03504',
 '00314',
 '01098',
 '04623',
 '00813',
 '01795',
 '00775',
 '05091',
 '11005',
 '01998',
 '00339',
 '03100',
 '02943',
 '00717',
 '08945',
 '01947',
 '03033',
 '04735',
 '00454',
 '00248',
 '01675',
 '02409',
 '01272',
 '01863',
 '02741',
 '04630',
 '60202',
 '00827',
 '02541',
 '00185',
 '00239',
 '01807',
 '01912',
 '02228',
 '04043',
 '02589',
 '08952',
 '03410',
 '04663',
 '02794',
 '02662',
 '01752',
 '00164',
 '02077',
 '00482',
 '01276',
 '06043',
 '02750',
 '02594',
 '01306',
 '00439',
 '00597',
 '02985',
 '01733',
 '03394',
 '00622',
 '01640',
 '02676',
 '01206',
 '02972',
 '00635',
 '00265',
 '00887',
 '00270',
 '02214',
 '00920',
 '01667',
 '02790',
 '01916',
 '01864',
 '01914',
 '02345',
 '04659',
 '01475',
 '00345',
 '01560',
 '02917',
 '05961',
 '01334',
 '01852',
 '10408',
 '00231',
 '00065',
 '00187',
 '00734',
 '01887',
 '08115',
 '01228',
 '01365',
 '03310',
 '01806',
 '01122',
 '02598',
 '03724',
 '00872',
 '00582',
 '02403',
 '03155',
 '05109',
 '01838',
 '06052',
 '72093',
 '01120',
 '00425',
 '02668',
 '01692',
 '00381',
 '02979',
 '06182',
 '01592',
 '03373',
 '03363',
 '00630',
 '01148',
 '00650',
 '983',
 '01113',
 '02406',
 '02489',
 '04688',
 '05718',
 '00042',
 '01774',
 '01583',
 '02671',
 '01509',
 '01687',
 '01984',
 '04179',
 '03335',
 '00476',
 '05123',
 '01085',
 '02814',
 '02866',
 '00990',
 '05223',
 '08905',
 '01820',
 '03006',
 '01053',
 '01038',
 '02968',
 '00256',
 '00679',
 '01427',
 '05114',
 '08987',
 '02638',
 '01382',
 '00264',
 '04730',
 '02632',
 '241',
 '02935',
 '02601',
 '00469',
 '00749',
 '00104',
 '05132',
 '03049',
 '02341',
 '02017',
 '02648',
 '05227',
 '00427',
 '04620',
 '02858',
 '03315',
 '01386',
 '03019',
 '01607',
 '03934',
 '00448',
 '01932',
 '00159',
 '01576',
 '01679',
 '01203',
 '02563',
 '01519',
 '02401',
 '00825',
 '03299',
 '01197',
 '09016',
 '00593',
 '01229',
 '02376',
 '01144',
 '00333',
 '03187',
 '02936',
 '03329',
 '04143',
 '03981',
 '00937',
 '01876',
 '01071',
 '03909',
 '01837',
 '01850',
 '08925',
 '00811',
 '00724',
 '01775',
 '05281',
 '02230',
 '02994',
 '01339',
 '01946',
 '03411',
 '02982',
 '00555',
 '02565',
 '01672',
 '03997',
 '03359',
 '01868',
 '00245',
 '05128',
 '06723',
 '00633',
 '01163',
 '06145',
 '03291',
 '01824',
 '01913',
 '01829',
 '01044',
 '02664',
 '01466',
 '01292',
 '01455',
 '00620',
 '02875',
 '03109',
 '02351',
 '01732',
 '00034',
 '00949',
 '01821',
 '08910',
 '06025',
 '00472',
 '02399',
 '02223',
 '05998',
 '01985',
 '02196',
 '00188',
 '05806',
 '05960',
 '00548',
 '01244',
 '00575',
 '03541',
 '01743',
 '00205',
 '00228',
 '00902',
 '02264',
 '01470',
 '00067',
 '02012',
 '02291',
 '02034',
 '00818',
 '03512',
 '01972',
 '02686',
 '03134',
 '00017',
 '00243',
 '05094',
 '00305',
 '00856',
 '01817',
 '00982',
 '08123',
 '00324',
 '02038',
 '00752',
 '00839',
 '06058',
 '03221',
 '01482',
 '00179',
 '00257',
 '00781',
 '02888',
 '00147',
 '00527',
 '02356',
 '02010',
 '03220',
 '03176',
 '01511',
 '01125',
 '01138',
 '00730',
 '01568',
 '01097',
 '00220',
 '04098',
 '01106',
 '00696',
 '00690',
 ' 0000',
 '01656',
 '01980',
 '03105',
 '04039',
 '10990',
 '01221',
 '02653',
 '01189',
 '04030',
 '03034',
 '00153',
 '02819',
 '01528',
 '00955',
 '02398',
 '01630',
 '04101',
 '02557',
 '05396',
 '00777',
 '00373',
 '02945',
 '02962',
 '03150',
 '08936',
 '00491',
 '02928',
 '00431',
 '00358',
 '04054',
 '180',
 '02117',
 '00285',
 '00568',
 '00754',
 '00186',
 '06033',
 '00468',
 '01994',
 '00444',
 '01210',
 '03092',
 '02268',
 '03804',
 '00146',
 '03496',
 '00096',
 '06006',
 '04626',
 '01776',
 '00374',
 '01247',
 '02137',
 '01417',
 '01465',
 '06020',
 '00037',
 '01232',
 '05831',
 '01822',
 '976',
 '02233',
 '05207',
 '00236',
 '02220',
 '04008',
 '00291',
 '01771',
 '00814',
 '03372',
 '04191',
 '04666',
 '218',
 '02175',
 '02983',
 '01166',
 '00584',
 '01948',
 '08932',
 '00032',
 '01579',
 '01013',
 '02189',
 '02177',
 '02765',
 '05172',
 '00308',
 '00382',
 '01234',
 '01116',
 '01079',
 '00517',
 '02767',
 '04006',
 '00764',
 '01963',
 '02006',
 '00211',
 '00780',
 '01250',
 '01291',
 '00143',
 '01750',
 '09005',
 '00418',
 '02338',
 '01930',
 '00753',
 '09037',
 '00407',
 '02156',
 '00210',
 '02484',
 '01136',
 '01468',
 '03963',
 '01563',
 '00733',
 '10999',
 '08979',
 '00433',
 '00378',
 '00790',
 '01107',
 '02455',
 '04012',
 '01595',
 '00251',
 '01380',
 '00440',
 '01558',
 '01374',
 '01942',
 '01525',
 '00223',
 '08914',
 '02978',
 '00393',
 '02231',
 '02597',
 '03062',
 '00607',
 '08939',
 '02585',
 '01142',
 '04038',
 '00732',
 '03317',
 '01400',
 '02329',
 '02580',
 '02063',
 '00180',
 '02932',
 '08245',
 '01126',
 '00674',
 '01977',
 '00794',
 '04678',
 '00646',
 '02782',
 '01552',
 '05983',
 '01050',
 '01809',
 '03464',
 '05155',
 '03234',
 '02821',
 '240',
 '00346',
 '02544',
 '00855',
 '03194',
 '09006',
 '00993',
 '00221',
 '00241',
 '04347',
 '02893',
 '02215',
 '00727',
 '00519',
 '05200',
 '10976',
 '01492',
 '01883',
 '01996',
 '05202',
 '01923',
 '04650',
 '00824',
 '03509',
 '00550',
 '10972',
 '08994',
 '00151',
 '00981',
 '87606',
 '02248',
 '02988',
 '05248',
 '01554',
 ...}

In [35]:
alldb_drop5['PartitionKey'] = alldb_drop5['PartitionKey'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
alldb_drop5.dtypes # เช็คว่า PartitionKey ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [53]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [43]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [37]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [38]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [40]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [42]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [44]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [45]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [48]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [49]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [50]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [51]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [52]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [54]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [55]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [56]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [57]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [58]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [59]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [60]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [63]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [65]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'27974',
 '06902',
 '14086',
 '25794',
 '26922',
 '03365',
 '06771',
 '02219',
 '09588',
 '00462',
 '24132',
 '26654',
 '05341',
 '05912',
 '19477',
 '02931',
 '04970',
 '03120',
 '00056',
 '06543',
 '26620',
 '04579',
 '05106',
 '13934',
 '25444',
 '22707',
 '12071',
 '25191',
 '40864',
 '09283',
 '04919',
 '07847',
 '04436',
 '00613',
 '14294',
 '06316',
 '00480',
 '03389',
 '00372',
 '07626',
 '02104',
 '07093',
 '09615',
 '24890',
 '04743',
 '10794',
 '08084',
 '21650',
 '22523',
 '10141',
 '13855',
 '99961',
 '09669',
 '06933',
 '11343',
 '00528',
 '05605',
 '05770',
 '01539',
 '01555',
 '13829',
 '00404',
 '06382',
 '02599',
 '05046',
 '22206',
 '24182',
 '07196',
 '17158',
 '02568',
 '05297',
 '06219',
 '19350',
 '24676',
 '04033',
 '26314',
 '28820',
 '15108',
 '01109',
 '08103',
 '14857',
 '00742',
 '28088',
 '00216',
 '04472',
 '01520',
 '04329',
 '00206',
 '05417',
 '12482',
 '22007',
 '11026',
 '11322',
 '12223',
 '23112',
 '06503',
 '07164',
 '00928',
 '28626',
 '28806',
 '08651',
 '99956',
 '24923',
 '24493',
 '24604',
 '09264',
 '09910',
 '02187',
 '15648',
 '00189',
 '01313',
 '05414',
 '00915',
 '06350',
 '11466',
 '24386',
 '23988',
 '01764',
 '08137',
 '28682',
 '03087',
 '13623',
 '13975',
 '12464',
 '27632',
 '25803',
 '07212',
 '14004',
 '10366',
 '06576',
 '05615',
 '02373',
 '18594',
 '25068',
 '09132',
 '13887',
 '14112',
 '07922',
 '06341',
 '02186',
 '11752',
 '25898',
 '01632',
 '12159',
 '16025',
 '19472',
 '07641',
 '03926',
 '09527',
 '11857',
 '24479',
 '10240',
 '04762',
 '08544',
 '03073',
 '01449',
 '09551',
 '09707',
 '03545',
 '15243',
 '03063',
 '24508',
 '27992',
 '15181',
 '10126',
 '06487',
 '00823',
 '05656',
 '09327',
 '10696',
 '10445',
 '00545',
 '03210',
 '10947',
 '07901',
 '00592',
 '09288',
 '28102',
 '10177',
 '28269',
 '08285',
 '13825',
 '01459',
 '04652',
 '04507',
 '19525',
 '25070',
 '07225',
 '03398',
 '24447',
 '23653',
 '02578',
 '07935',
 '24789',
 '15133',
 '25134',
 '01017',
 '08316',
 '07036',
 '18191',
 '24118',
 '10108',
 '00848',
 '01254',
 '05494',
 '04322',
 '00084',
 '06352',
 '01816',
 '06417',
 '13775',
 '00005',
 '06374',
 '11215',
 '23267',
 '09312',
 '03193',
 '25936',
 '07662',
 '13688',
 '28254',
 '05776',
 '08232',
 '07808',
 '01031',
 '04624',
 '07988',
 '11888',
 '15060',
 '09862',
 '26953',
 '24301',
 '00311',
 '04421',
 '00386',
 '04217',
 '15157',
 '26340',
 '09200',
 '23933',
 '03297',
 '09712',
 '03281',
 '06572',
 '23536',
 '28346',
 '25080',
 '03480',
 '26991',
 '09437',
 '28804',
 '05495',
 '11146',
 '22838',
 '24282',
 '01968',
 '26145',
 '11864',
 '06918',
 '15001',
 '22863',
 '01057',
 '03939',
 '06540',
 '15119',
 '08330',
 '05651',
 '00532',
 '05411',
 '09983',
 '06137',
 '24547',
 '05217',
 '10509',
 '05833',
 '04182',
 '13818',
 '02880',
 '14098',
 '07562',
 '24089',
 '09139',
 '11223',
 '03214',
 '05311',
 '10450',
 '00659',
 '01437',
 '12283',
 '04918',
 '06305',
 '14238',
 '24086',
 '05390',
 '05705',
 '23978',
 '03593',
 '05517',
 '09220',
 '25893',
 '07893',
 '07348',
 '08821',
 '23748',
 '06758',
 '07445',
 '13901',
 '24267',
 '26644',
 '28229',
 '01150',
 '99868',
 '05899',
 '15141',
 '03462',
 '09336',
 '06202',
 '09949',
 '16246',
 '07377',
 '99846',
 '02093',
 '14378',
 '09287',
 '09741',
 '01193',
 '25082',
 '23634',
 '09173',
 '04692',
 '27972',
 '10588',
 '11209',
 '06524',
 '24776',
 '07580',
 '28226',
 '01080',
 '28631',
 '02147',
 '00138',
 '11206',
 '07804',
 '05908',
 '00699',
 '08095',
 '20039',
 '04806',
 '26889',
 '10050',
 '22788',
 '05037',
 '00865',
 '06782',
 '04089',
 '25683',
 '05750',
 '26277',
 '00497',
 '07568',
 '06932',
 '01199',
 '05564',
 '23836',
 '00178',
 '04209',
 '11212',
 '05304',
 '09824',
 '27656',
 '01867',
 '07535',
 '09953',
 '10404',
 '24110',
 '09879',
 '17890',
 '11282',
 '25606',
 '99903',
 '10719',
 '10725',
 '09734',
 '14359',
 '07360',
 '00769',
 '01637',
 '03705',
 '03960',
 '08707',
 '24399',
 '26715',
 '19444',
 '06871',
 '04300',
 '23706',
 '04376',
 '02817',
 '10219',
 '24184',
 '04428',
 '09715',
 '04536',
 '11513',
 '05090',
 '25690',
 '03284',
 '06519',
 '15238',
 '01813',
 '01695',
 '00687',
 '01950',
 '02534',
 '06266',
 '04094',
 '02864',
 '25838',
 '77748',
 '28160',
 '28715',
 '07173',
 '28001',
 '25037',
 '07485',
 '03302',
 '06294',
 '07633',
 '03824',
 '11047',
 '15299',
 '25619',
 '05863',
 '26711',
 '03185',
 '26016',
 '07474',
 '28704',
 '02802',
 '11490',
 '05265',
 '00506',
 '09810',
 '00384',
 '09970',
 '25894',
 '04414',
 '02015',
 '09376',
 '03082',
 '09391',
 '14831',
 '02271',
 '02204',
 '15129',
 '07605',
 '06867',
 '09098',
 '02734',
 '07617',
 '12030',
 '23558',
 '25462',
 '28702',
 '26115',
 '07115',
 '00551',
 '03397',
 '04754',
 '09503',
 '09890',
 '02494',
 '03892',
 '03998',
 '25807',
 '07109',
 '10368',
 '07720',
 '00273',
 '28250',
 '08962',
 '04170',
 '23673',
 '77729',
 '07745',
 '01032',
 '10720',
 '11806',
 '11775',
 '03443',
 '07582',
 '09564',
 '09024',
 '08828',
 '08327',
 '07852',
 '15269',
 '01042',
 '09682',
 '25036',
 '02045',
 '07671',
 '26703',
 '02133',
 '06332',
 '24519',
 '07327',
 '28772',
 '01696',
 '06707',
 '04349',
 '03386',
 '10742',
 '10003',
 '11408',
 '00190',
 '02977',
 '06381',
 '01494',
 '05320',
 '07459',
 '01925',
 '14693',
 '09252',
 '11144',
 '07718',
 '01452',
 '08913',
 '09865',
 '05453',
 '09788',
 '11430',
 '24701',
 '25443',
 '27348',
 '11472',
 '27046',
 '12079',
 '02432',
 '10795',
 '24581',
 '25181',
 '01011',
 '14656',
 '25988',
 '05290',
 '27421',
 '06459',
 '05118',
 '22816',
 '23838',
 '04187',
 '28349',
 '10855',
 '15138',
 '05104',
 '26161',
 '05905',
 '08471',
 '15146',
 '25968',
 '02385',
 '11288',
 '24230',
 '01353',
 '09090',
 '11062',
 '24521',
 '07206',
 '11468',
 '14902',
 '08713',
 '05765',
 '14887',
 '17796',
 '03616',
 '10365',
 '05530',
 '23979',
 '06595',
 '13658',
 '10011',
 '06781',
 '25093',
 '05985',
 '02927',
 '05892',
 '03490',
 '07995',
 '05196',
 '14922',
 '25445',
 '26269',
 '24043',
 '77675',
 '00121',
 '06742',
 '27489',
 '10572',
 '05997',
 '22952',
 '14142',
 '05755',
 '24953',
 '01137',
 '02171',
 '02833',
 '12044',
 '21405',
 '05799',
 '27431',
 '09583',
 '05163',
 '19990',
 '25831',
 '01795',
 '05091',
 '10364',
 '11005',
 '11801',
 '01998',
 '03100',
 '77706',
 '07499',
 '02943',
 '25735',
 '99785',
 '14084',
 '11783',
 '28625',
 '26311',
 '10155',
 '25664',
 '23366',
 '05487',
 '09787',
 '04630',
 '13725',
 '14878',
 '23877',
 '17863',
 '11509',
 '09831',
 '11104',
 '19406',
 '06106',
 '04043',
 '04698',
 '08178',
 '26586',
 '02794',
 '14647',
 '23472',
 '07283',
 '02077',
 '07394',
 '24356',
 '02870',
 '10806',
 '25798',
 '04203',
 '01640',
 '23557',
 '02109',
 '24660',
 '11543',
 '04987',
 '26954',
 '22675',
 '27625',
 '01667',
 '09484',
 '08802',
 '09639',
 '06630',
 '23733',
 '15194',
 '07246',
 '08844',
 '08087',
 '05017',
 '14441',
 '09123',
 '09866',
 '01475',
 '06288',
 '06876',
 '13692',
 '28105',
 '01560',
 '07558',
 '28109',
 '06463',
 '09068',
 '00231',
 '00187',
 '03965',
 '24516',
 '09813',
 '09341',
 '18567',
 '01365',
 '03310',
 '05800',
 '25106',
 '25908',
 '00872',
 '03704',
 '03155',
 '11843',
 '19365',
 '01838',
 '24893',
 '07782',
 '08774',
 '03611',
 '02358',
 '24675',
 '28125',
 '03641',
 '28585',
 '01592',
 '23879',
 '06306',
 '03363',
 '07158',
 '07450',
 '00630',
 '01148',
 '02570',
 '03050',
 '04264',
 '15251',
 '25852',
 '26685',
 '10394',
 '08718',
 '20787',
 '00042',
 '06832',
 '06102',
 '08336',
 '06865',
 '10664',
 '27447',
 '07775',
 '06209',
 '03277',
 '04268',
 '19335',
 '02866',
 '00990',
 '11426',
 '23871',
 '03944',
 '07444',
 '03728',
 '23652',
 '01427',
 '77710',
 '11289',
 '08307',
 '04485',
 '04967',
 '09843',
 '02935',
 '04053',
 '09059',
 '26919',
 '08072',
 '26107',
 '05587',
 '14322',
 '00104',
 '11319',
 '10933',
 '05364',
 '11054',
 '02341',
 '05550',
 '03315',
 '04340',
 '23172',
 '10687',
 '09548',
 '22424',
 '01386',
 '06686',
 '26623',
 '23929',
 '11126',
 '01576',
 '09749',
 '06866',
 '25017',
 '03026',
 '09418',
 '27449',
 '04205',
 '00825',
 '03299',
 '01197',
 '26973',
 '01229',
 '11308',
 '26232',
 '03253',
 '08346',
 '06951',
 '26231',
 '07075',
 '03981',
 '12269',
 '27391',
 '09666',
 '09409',
 '04424',
 '11600',
 '00724',
 '07657',
 '08362',
 '02230',
 '02994',
 '11375',
 '01339',
 '08763',
 '05867',
 '01946',
 '02628',
 '05055',
 '27050',
 '03411',
 '07506',
 '08764',
 '27614',
 '23360',
 '10848',
 '00555',
 '03997',
 '09367',
 '28244',
 '28767',
 '03683',
 '01868',
 '09808',
 '05128',
 '05795',
 '06735',
 '99962',
 '09270',
 '26651',
 '06555',
 '01913',
 '06446',
 '01292',
 '09542',
 '24198',
 '04392',
 '03336',
 '15168',
 '06094',
 '03226',
 '12026',
 '06025',
 '13696',
 '09680',
 '11921',
 '11294',
 '05998',
 '10507',
 '10843',
 '07948',
 '09393',
 '02196',
 '09153',
 '09681',
 '26597',
 '28713',
 '00548',
 '09989',
 '99880',
 '02706',
 '01244',
 '04920',
 '03541',
 '03716',
 '10113',
 '06233',
 '08380',
 '08834',
 '07521',
 '09445',
 '04237',
 '25044',
 '09193',
 '00902',
 '28692',
 '23759',
 '25975',
 '05842',
 '12189',
 '02264',
 '01470',
 '09796',
 '22454',
 '25453',
 '28757',
 '03739',
 '08002',
 '08312',
 '05584',
 '04206',
 '07184',
 '07363',
 '09914',
 '23529',
 '24250',
 '25998',
 '10053',
 '02686',
 '06214',
 '03404',
 '02948',
 '07132',
 '00856',
 '01817',
 '08034',
 '08371',
 '08123',
 '77680',
 '07728',
 '13854',
 '09702',
 '10229',
 '11802',
 '14844',
 '06715',
 '07387',
 '26982',
 '05861',
 '07945',
 '14096',
 '06502',
 '06368',
 '07044',
 '01511',
 '01125',
 '07290',
 '03537',
 '23688',
 '11483',
 '03871',
 '09512',
 '09145',
 '22609',
 '06675',
 '04463',
 '01106',
 '06691',
 '26945',
 '00696',
 '00690',
 '03105',
 '11897',
 '24629',
 '06337',
 '23853',
 '10705',
 '03034',
 '08772',
 '02819',
 '06277',
 '25912',
 '06520',
 '06875',
 '00955',
 '09607',
 '27026',
 '01630',
 '04101',
 '25004',
 '02557',
 '24194',
 '27418',
 '08812',
 '02962',
 '14190',
 '13705',
 '24915',
 '28593',
 '14824',
 '06493',
 '07019',
 '08688',
 '02117',
 '14817',
 '00285',
 '08131',
 '24786',
 '15015',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [74]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [75]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [76]:
hospital_list_drop['hcode'] = hospital_list_drop['hcode'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [77]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [78]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37964,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37965,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [79]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [80]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15:32:53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11:03:40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [81]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37892, 25)

In [83]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37966
size after drop = 37892
% from drop = 0.19491123636938312

# ตารางข้อมูลที่จะนำมาใช้

In [84]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15:32:53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11:03:40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [87]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [88]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาญจนบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
กาฬสินธุ์,7902,7902,7902,7902,7902,7902,7902,7902,7902,7902,...,7902,7902,7902,7902,7902,7902,7902,7902,7902,7902
ขอนแก่น,4280,4280,4280,4280,4280,4280,4280,4280,4280,4280,...,4280,4280,4280,4280,4280,4280,4280,4280,4280,4280
จันทบุรี,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
ฉะเชิงเทรา,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
ชลบุรี,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ชัยนาท,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ชัยภูมิ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ตรัง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
นครนายก,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
นครพนม,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
นครราชสีมา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นนทบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
น่าน,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
บุรีรัมย์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ประจวบคีรีขันธ์,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ปราจีนบุรี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
พระนครศรีอยุธยา,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
พิจิตร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,8950,8950,8950,8950,8950,8950,8950,8950,8950,8950,...,8950,8950,8950,8950,8950,8950,8950,8950,8950,8950
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ระยอง,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
ราชบุรี,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
ร้อยเอ็ด,13752,13752,13752,13752,13752,13752,13752,13752,13752,13752,...,13752,13752,13752,13752,13752,13752,13752,13752,13752,13752
ลพบุรี,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สกลนคร,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สตูล,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สุรินทร์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
อุตรดิตถ์,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
อุบลราชธานี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [91]:
Province_new = Province.iloc[:,:1]
Province_new

                  user
province
กาญจนบุรี            1
กาฬสินธุ์         7902
ขอนแก่น           4280
จันทบุรี            27
ฉะเชิงเทรา          11
ชลบุรี               4
ชัยนาท               1
ชัยภูมิ              2
ตรัง                 1
ตราด                 7
นครนายก             25
นครพนม              23
นครราชสีมา           8
นนทบุรี              1
น่าน                 1
บุรีรัมย์            2
ปทุมธานี             3
ประจวบคีรีขันธ์      6
ปราจีนบุรี           5
พระนครศรีอยุธยา      5
พิจิตร               2
มหาสารคาม         8950
มุกดาหาร             2
ระยอง                5
ราชบุรี             23
ร้อยเอ็ด         13752
ลพบุรี               6
ลำปาง                1
ศรีสะเกษ             3
สกลนคร               6
สงขลา                1
สตูล                 1
สมุทรปราการ          2
สมุทรสงคราม          1
สมุทรสาคร            1
สระแก้ว              5
สิงห์บุรี            1
สุรินทร์             1
อุดรธานี            15
อุตรดิตถ์         2792
อุบลราชธานี          5
อ่างทอง              1
เชียงใหม่            1

In [92]:
P_noindex = Province_new.reset_index()
P_noindex

           province   user
0         กาญจนบุรี      1
1         กาฬสินธุ์   7902
2           ขอนแก่น   4280
3          จันทบุรี     27
4        ฉะเชิงเทรา     11
5            ชลบุรี      4
6            ชัยนาท      1
7           ชัยภูมิ      2
8              ตรัง      1
9              ตราด      7
10          นครนายก     25
11           นครพนม     23
12       นครราชสีมา      8
13          นนทบุรี      1
14             น่าน      1
15        บุรีรัมย์      2
16         ปทุมธานี      3
17  ประจวบคีรีขันธ์      6
18       ปราจีนบุรี      5
19  พระนครศรีอยุธยา      5
20           พิจิตร      2
21        มหาสารคาม   8950
22         มุกดาหาร      2
23            ระยอง      5
24          ราชบุรี     23
25         ร้อยเอ็ด  13752
26           ลพบุรี      6
27            ลำปาง      1
28         ศรีสะเกษ      3
29           สกลนคร      6
30            สงขลา      1
31             สตูล      1
32      สมุทรปราการ      2
33      สมุทรสงคราม      1
34        สมุทรสาคร      1
35          สระแก้ว      5
36        สิงห์บุรี      1
37         สุรินทร์      1
38         อุดรธานี     15
39        อุตรดิตถ์   2792
40      อุบลราชธานี      5
41          อ่างทอง      1
42        เชียงใหม่      1

In [95]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

           province  จำนวนการตรวจในแต่ละพื้นที่
0         กาญจนบุรี                           1
1         กาฬสินธุ์                        7902
2           ขอนแก่น                        4280
3          จันทบุรี                          27
4        ฉะเชิงเทรา                          11
5            ชลบุรี                           4
6            ชัยนาท                           1
7           ชัยภูมิ                           2
8              ตรัง                           1
9              ตราด                           7
10          นครนายก                          25
11           นครพนม                          23
12       นครราชสีมา                           8
13          นนทบุรี                           1
14             น่าน                           1
15        บุรีรัมย์                           2
16         ปทุมธานี                           3
17  ประจวบคีรีขันธ์                           6
18       ปราจีนบุรี                           5
19  พระนครศรีอยุธยา                           5
20           พิจิตร                           2
21        มหาสารคาม                        8950
22         มุกดาหาร                           2
23            ระยอง                           5
24          ราชบุรี                          23
25         ร้อยเอ็ด                       13752
26           ลพบุรี                           6
27            ลำปาง                           1
28         ศรีสะเกษ                           3
29           สกลนคร                           6
30            สงขลา                           1
31             สตูล                           1
32      สมุทรปราการ                           2
33      สมุทรสงคราม                           1
34        สมุทรสาคร                           1
35          สระแก้ว                           5
36        สิงห์บุรี                           1
37         สุรินทร์                           1
38         อุดรธานี                          15
39        อุตรดิตถ์                        2792
40      อุบลราชธานี                           5
41          อ่างทอง                           1
42        เชียงใหม่                           1

## จำนวนที่พบโรค

### ระดับ 0

In [101]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
7,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),0,1,6334.0,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
11,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,"iPhone12,5",6319,09:32:46,ปกติ (เหลืองใส),0,1,6319.0,...,7.0,พิชัย,11.0,นายาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37941,72483,kghmuhemvv.png,2022-03-23,HUAWEI FLA-LX2,5003,10:32:12,ขุ่น,0,72483,5003.0,...,7.0,นาเชือก,3.0,หนองแดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
37943,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10:31:40,ปกติ (เหลืองใส),0,87606,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37944,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10:26:19,ปกติ (เหลืองใส),0,87720,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11:03:40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [102]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,5252,5252,5252,5252,5252,5252,5252,5252,5252,5252,...,5252,5252,5252,5252,5252,5252,5252,5252,5252,5252
ขอนแก่น,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337,...,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337
จันทบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ฉะเชิงเทรา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
ชลบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครนายก,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครราชสีมา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ประจวบคีรีขันธ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ปราจีนบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
พระนครศรีอยุธยา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
พิจิตร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,3986,3986,3986,3986,3986,3986,3986,3986,3986,3986,...,3986,3986,3986,3986,3986,3986,3986,3986,3986,3986
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ราชบุรี,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
ร้อยเอ็ด,7085,7085,7085,7085,7085,7085,7085,7085,7085,7085,...,7085,7085,7085,7085,7085,7085,7085,7085,7085,7085
ลพบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สกลนคร,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุตรดิตถ์,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524,...,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524
อุบลราชธานี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [103]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

                 user
province
กาฬสินธุ์        5252
ขอนแก่น          3337
จันทบุรี            2
ฉะเชิงเทรา          8
ชลบุรี              1
ตราด                3
นครนายก            16
นครพนม              3
นครราชสีมา          2
ปทุมธานี            1
ประจวบคีรีขันธ์     1
ปราจีนบุรี          2
พระนครศรีอยุธยา     2
พิจิตร              1
มหาสารคาม        3986
มุกดาหาร            2
ราชบุรี            19
ร้อยเอ็ด         7085
ลพบุรี              2
ศรีสะเกษ            1
สกลนคร              3
สงขลา               1
สมุทรปราการ         1
สมุทรสาคร           1
สระแก้ว             3
สิงห์บุรี           1
อุดรธานี            3
อุตรดิตถ์        1524
อุบลราชธานี         2
อ่างทอง             1
เชียงใหม่           1

In [104]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

           province  user
0         กาฬสินธุ์  5252
1           ขอนแก่น  3337
2          จันทบุรี     2
3        ฉะเชิงเทรา     8
4            ชลบุรี     1
5              ตราด     3
6           นครนายก    16
7            นครพนม     3
8        นครราชสีมา     2
9          ปทุมธานี     1
10  ประจวบคีรีขันธ์     1
11       ปราจีนบุรี     2
12  พระนครศรีอยุธยา     2
13           พิจิตร     1
14        มหาสารคาม  3986
15         มุกดาหาร     2
16          ราชบุรี    19
17         ร้อยเอ็ด  7085
18           ลพบุรี     2
19         ศรีสะเกษ     1
20           สกลนคร     3
21            สงขลา     1
22      สมุทรปราการ     1
23        สมุทรสาคร     1
24          สระแก้ว     3
25        สิงห์บุรี     1
26         อุดรธานี     3
27        อุตรดิตถ์  1524
28      อุบลราชธานี     2
29          อ่างทอง     1
30        เชียงใหม่     1

In [105]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

           province  จำนวนที่พบโรค ระดับ 0
0         กาฬสินธุ์                   5252
1           ขอนแก่น                   3337
2          จันทบุรี                      2
3        ฉะเชิงเทรา                      8
4            ชลบุรี                      1
5              ตราด                      3
6           นครนายก                     16
7            นครพนม                      3
8        นครราชสีมา                      2
9          ปทุมธานี                      1
10  ประจวบคีรีขันธ์                      1
11       ปราจีนบุรี                      2
12  พระนครศรีอยุธยา                      2
13           พิจิตร                      1
14        มหาสารคาม                   3986
15         มุกดาหาร                      2
16          ราชบุรี                     19
17         ร้อยเอ็ด                   7085
18           ลพบุรี                      2
19         ศรีสะเกษ                      1
20           สกลนคร                      3
21            สงขลา                      1
22      สมุทรปราการ                      1
23        สมุทรสาคร                      1
24          สระแก้ว                      3
25        สิงห์บุรี                      1
26         อุดรธานี                      3
27        อุตรดิตถ์                   1524
28      อุบลราชธานี                      2
29          อ่างทอง                      1
30        เชียงใหม่                      1

### ระดับ 1