<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

## ข้อมูลหลัก ตาราง alldb.csv

In [4]:
alldb = os.path.join(path,'alldb.csv')
alldb = pd.read_csv(alldb)
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [5]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [6]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [7]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [8]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [9]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [10]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [11]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [12]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [13]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'41340',
 '17564',
 '28551',
 '13361',
 '32468',
 '89801',
 '34829',
 '43868',
 '20827',
 '36385',
 '23675',
 '3451100451251',
 '61359',
 '12605',
 '00010',
 '92120',
 '14360',
 '77688',
 '22354',
 '65509',
 '56326',
 '85737',
 '24258',
 '00755',
 '41182',
 '38305',
 '03087',
 '38381',
 '94295',
 '27529',
 '20435',
 '58500',
 '00114',
 '00042',
 '42370',
 '00180',
 '00190',
 '02102',
 '00195',
 '14771',
 '00074',
 '51403',
 '31534',
 '34501009308',
 'www',
 '18385',
 '78231',
 '61552',
 '00201',
 '63091',
 '96431',
 '00263',
 '37914',
 '00129',
 '38463',
 '00198',
 '00154',
 'yyy',
 '00136',
 '9250',
 '42468',
 '05849',
 '40533',
 '66082',
 '18524',
 '34988',
 '65656',
 '3451100324624',
 '31869',
 '06855',
 '05304',
 '87315',
 '15737',
 '89913',
 '52912',
 '07573',
 '84187',
 '84374',
 'test1',
 '77811',
 '84494',
 '70610',
 '50951',
 '13824',
 '  67241\n',
 '06271',
 '78334',
 '49961',
 'u789',
 '25923',
 '78251',
 '44845',
 '16529',
 '16144',
 '89329',
 '04281',
 '00219',
 '00322',
 '15971',
 '91947',
 '53188',
 '40035',
 '18873',
 '64817',
 '97831',
 '09582',
 '53579',
 '45825',
 '54192',
 '14291',
 '48274',
 '63880',
 '00284',
 '76819',
 '87797',
 '19559',
 '93726',
 '34801',
 '81409',
 '06924',
 '00409',
 '80979',
 '70455',
 'ggg',
 '14106',
 '62941',
 '33869',
 '3450101514299',
 '70187',
 '00146',
 '37216',
 '73233',
 '10348',
 '18253',
 '19675',
 '31196',
 '05228',
 '05663',
 '08818',
 '74951',
 '77978',
 '26477',
 '82211',
 '99250',
 '73772',
 '60250',
 '62440',
 '40865',
 '11198',
 '85934',
 '24846',
 '02518',
 '90070',
 '32200',
 '28291',
 '94881',
 '66062',
 '46775',
 '88459',
 '51973',
 '02878',
 '91167',
 '65390',
 '26082',
 '26604',
 '89195',
 '42465',
 '69789',
 '63323',
 '09188',
 '75579',
 '98156',
 '00321',
 '01882',
 '05590',
 '87067',
 '62459',
 '00174',
 '65664',
 '71921',
 '98080',
 '30431',
 '91811',
 '05358',
 '66381',
 '96061',
 '51205',
 '05291',
 '22688',
 '31401',
 '08436',
 '75911',
 '51689',
 '48493',
 '33503',
 '95631',
 '18892',
 '37728',
 '04857',
 '25199',
 '25837',
 '54614',
 '25403',
 '13978',
 '29502',
 '01431',
 '68856',
 '10105',
 '90257',
 '27129',
 '05507',
 '97913',
 '55806',
 '26916',
 '50471',
 '58870',
 '12015',
 '54100',
 '00168',
 '56051',
 '25071',
 '55911',
 '10993',
 '38771',
 '76642',
 '05242',
 '14891',
 '98488',
 '23012',
 '89470',
 '74493',
 '80847',
 '18318',
 '28992',
 '62616',
 'fff',
 '50466',
 '93028',
 '05082',
 '93991',
 '76246',
 '49424',
 '34705',
 '00301',
 '00118',
 '90516',
 '97255',
 '00941',
 '89394',
 '50756',
 '53330',
 '02263',
 '89837',
 '98703',
 '02962',
 '26859',
 '25219',
 '00149',
 '11742',
 '09006',
 '11727',
 '10375',
 '81570',
 '97016',
 '24622',
 '00048',
 '61746',
 '99884',
 '98509',
 '25221',
 '33100',
 '24994',
 '01942',
 '56764',
 '52724',
 '49863',
 '01312',
 '67379',
 '46627',
 '86299',
 '74747',
 '99992',
 '15930',
 '96699',
 '36362',
 '23811',
 '45884',
 '72225',
 '26990',
 '31582',
 '18890',
 '03562',
 '15229',
 '00150',
 '23338',
 '89475',
 '25659',
 '00315',
 '95810',
 '16085',
 '95978',
 '28593',
 '17974',
 '24468',
 '71112',
 '61325',
 '39440',
 '96630',
 '26442',
 '50802',
 '97013',
 '81197',
 '46783',
 '80481',
 '00319',
 '74378',
 '77509',
 '15678',
 '28731',
 '52131',
 '76014',
 '62415',
 '50911',
 '72483',
 '40520',
 '00306',
 '00273',
 '87541',
 '01883',
 '24641',
 '85753',
 '59423',
 '80175',
 '63381',
 '46291',
 '22545',
 '92431',
 '50284',
 '22804',
 '53041',
 '18331',
 '50291',
 '16848',
 '54281',
 '80253',
 '00109',
 '00046',
 '37259',
 '47605',
 '15980',
 '17916',
 '31133',
 '74345',
 '77358',
 '00170',
 '26989',
 '45680',
 '85504',
 '00033',
 '00140',
 '23416',
 '59269',
 '24501',
 '94414',
 '16193',
 '84768',
 '02853',
 '81472',
 '3450101325119',
 '00134',
 '79920',
 '3460500500020',
 '49413',
 '64081',
 '71891',
 '63767',
 '63837',
 '15731',
 '23554',
 '26540',
 '87337',
 '74964',
 '82822',
 '28381',
 '3451100141252',
 '00005',
 '75061',
 '25176',
 '07644',
 '74069',
 'qqq',
 '00582',
 '72451',
 '61121',
 '05154',
 '38547',
 '20215',
 '71813',
 '84493',
 '00285',
 '56821',
 '3451100324713',
 '32310',
 '37915',
 '20380',
 '05353',
 '00002',
 '53045',
 '00565',
 '31428',
 '91438',
 '94558',
 '27143',
 '26811',
 '3450100805222',
 '18008',
 '00081',
 '00308',
 '85989',
 '75251',
 '40551',
 '58814',
 '58718',
 '10534',
 '19855',
 '57398',
 '48440',
 '38121',
 '00041',
 '00292',
 '54468',
 '00160',
 '05211',
 '15734',
 '29476',
 '18527',
 '42682',
 '53980',
 '32591',
 '86588',
 '12966',
 '72364',
 '86601',
 '7197',
 '40828',
 '00141',
 '00226',
 '01408',
 '00343',
 '47656',
 '05391',
 '34343',
 '52665',
 '31879',
 '18181',
 '81529',
 '26776',
 '00304',
 '00017',
 '17790',
 '98260',
 '17536',
 '48255',
 '75910',
 '39448',
 '00217',
 '32171',
 '79590',
 '23049',
 '61486',
 '00205',
 '97484',
 '00216',
 '83303',
 '22456',
 '36390',
 '00006',
 'mks',
 '49741',
 '63564',
 '32077',
 '25179',
 '79066',
 '73225',
 '58271',
 '08236',
 '41951',
 '38522',
 '19180',
 '57954',
 '76088',
 '92648',
 '21860',
 '26841',
 '23958',
 '33081',
 '35605',
 '17966',
 '69566',
 '54544',
 '56044',
 '43834',
 '90817',
 '76523',
 '01008',
 '45593',
 '94392',
 '77587',
 '00276',
 '66501',
 '46415',
 '37691',
 '17842',
 '84479',
 '52830',
 '00316',
 '00172',
 '84063',
 '44018',
 '17536\n\n17536',
 '00313',
 '745-61',
 '76011',
 '00348',
 '14491',
 '41026',
 '03736',
 '51892',
 '00128',
 '90609',
 '74840',
 '00267',
 '10264',
 '97057',
 '03263',
 '03617',
 '51235',
 '00251',
 '01861',
 '47157',
 '00289',
 '50837',
 '78133',
 '87468',
 '71417',
 '31982',
 '15588',
 '88942',
 '74432',
 '67972',
 '48298',
 '42055',
 '36593',
 '05038',
 '57099',
 '16725',
 '50349',
 '62687',
 '68768',
 '00012',
 '46767',
 '52921',
 '84409',
 '92241',
 '19737',
 '74414',
 '95301',
 '24612',
 '14835',
 '72486',
 '30016',
 '00218',
 '95104',
 '94601',
 '00117',
 '02128',
 '24032',
 '58196',
 '71805',
 '65678',
 '24229',
 '31577',
 '26462',
 '02693',
 '00053',
 '19591',
 '16214',
 '36141',
 '68805',
 '39802',
 '00211',
 '01762',
 '3450100810285',
 '31619',
 '00173',
 '00162',
 '3451100150251',
 '00302',
 '59144',
 '00910',
 '5450500072920',
 '18865',
 '92220',
 '54599',
 '37140',
 '00183',
 'tttt',
 '37607',
 '88377',
 '09820',
 '00282',
 '48962',
 '12561',
 '49596',
 '01637',
 '08734',
 '47146',
 '20454',
 '46622',
 '45563',
 '49322',
 '73381',
 '30977',
 '09529',
 'kkk',
 '34711',
 '14088',
 '00400',
 '34169',
 '99771',
 '17184',
 '32622',
 '55547',
 '27096',
 '00039',
 '99376',
 '43143',
 '04255',
 '5600190011969',
 '28241',
 'uuu',
 '22377',
 '89493',
 '38500',
 '39103',
 '98171',
 'aiov0001',
 '15046',
 '16162',
 '22119',
 '59326',
 '90604',
 '93671',
 '63753',
 '73375',
 '03100',
 '30660',
 '37231',
 '74338',
 '04402',
 '02825',
 '32625',
 '11177',
 '00281',
 'zzz',
 '52209',
 '70810',
 '79525',
 '85702',
 '92580',
 '11887',
 '00121',
 '00288',
 '96081',
 '33553',
 '52180',
 '40553',
 '51310',
 '01636',
 '18402',
 '06436',
 '44902',
 '98829',
 '41061',
 '23010',
 '50172',
 '96481',
 '45-161',
 '86474',
 '61591',
 '18025',
 '12723',
 '25128',
 '66801',
 '79028',
 '78257',
 '35178',
 '88708',
 '61338',
 '00132',
 '90770',
 '45783',
 '00185',
 '64671',
 '52350',
 '00147',
 '03169',
 '65675',
 '46313',
 '25829',
 '63284',
 'lll',
 '50004',
 '60181',
 '19852',
 '19875',
 '54932',
 '24491',
 '52902',
 '23885',
 '11165',
 '13073',
 '00756',
 '00298',
 '08370',
 '16321',
 '76339',
 '76486',
 '12378',
 '19250',
 '00300',
 '49268',
 '29094',
 '00008',
 '54974',
 '99011',
 '60909',
 '88973',
 '28627',
 '03949',
 '47429',
 '79834',
 '02396',
 '51474',
 '73636',
 '77576',
 '02087',
 '03431',
 '74335',
 '65775',
 '83377',
 '86545',
 '00113',
 '51175',
 '79817',
 '11891',
 '10691',
 '60581',
 '13312',
 '50276',
 '76096',
 '25683',
 '06079',
 '74394',
 '97308',
 '22421',
 '07203',
 '19575',
 '59305',
 '39539',
 '02604',
 '47950',
 '71228',
 '63852',
 '09269',
 '83937',
 '99999',
 '29000',
 '00283',
 '18954',
 'sss',
 '38422',
 '88538',
 '70059',
 '26440',
 '28743',
 '44888',
 '26957',
 '43657',
 '00177',
 '00189',
 '77994',
 '92042',
 '90612',
 '32082',
 '53356',
 '86271',
 '00286',
 '44805',
 '11611',
 '74369',
 '92747',
 '83900',
 '46520',
 '00036',
 '89609',
 '92962',
 '08242',
 '16247',
 '48393',
 'aiov0002',
 '55865',
 '3451100451758',
 '00159',
 '71998',
 '50577',
 '32873',
 '94494',
 '00030',
 '47933',
 '66155',
 '29417',
 '79620',
 '33316',
 '00293',
 '20690',
 '00051',
 '05974',
 '14764',
 '00026',
 '04461',
 '23738',
 '01009',
 '27658',
 '02091',
 '70490',
 '74103',
 '00196',
 '63068',
 '73302',
 '00299',
 '62105',
 '00007',
 '11007',
 '00214',
 '29025',
 '20951',
 '08021',
 'hhh',
 '65388',
 '47122',
 '01248',
 '37732',
 '93307',
 '00165',
 '51301',
 '61265',
 '43257',
 '76851',
 '16174',
 '11215',
 '00309',
 '94538',
 '97965',
 '80317',
 '26043',
 '12023',
 '64385',
 'ccc',
 '54734',
 '62517',
 '49308',
 '39537',
 '32914',
 '21045',
 '19201',
 '55236',
 '60847',
 '66205',
 '95161',
 '01651',
 '76803',
 '53151',
 '90154',
 '79001',
 '19241',
 '13406',
 '84196',
 '25478',
 '30041',
 '30067',
 '81293',
 '21688',
 '04991',
 '75126',
 '91402',
 '05368',
 '69681',
 '22824',
 '59181',
 '54214',
 'tt',
 '00235',
 '31011',
 '79493',
 '51568',
 '69037',
 '93020',
 '05039',
 '00025',
 '04483',
 '00164',
 '32666',
 '93189',
 '85379',
 '77567',
 '03359',
 '22099',
 '57228',
 '29999',
 '08741',
 '32948',
 '00126',
 '80364',
 '32949',
 '12786',
 '63485',
 '94135',
 '34210',
 '69576',
 '09259',
 '01461',
 '02990',
 '86407',
 '05116',
 '00122',
 '53333',
 '81095',
 '00088',
 '87697',
 '27589',
 '19130',
 '10405',
 '54427',
 '68112',
 '51060',
 '70957',
 '54781',
 '00280',
 '00208',
 '55299',
 '12041',
 '00307',
 '46285',
 '31283',
 '29379',
 '78494',
 'eee',
 '39593',
 '21378',
 '26531',
 '29760',
 '00045',
 '37186',
 '03663',
 '97770',
 '87181',
 '00203',
 '63200',
 '95127',
 '00019',
 '87771',
 '24404',
 '  noknoi2601@gmail.com\n',
 '66780',
 '00076',
 '15102',
 '00207',
 '45924',
 '70281',
 '00049',
 '06277',
 '16754',
 '88135',
 '73336',
 '65555',
 '01730',
 '81621',
 '61813',
 '64211',
 '87029',
 '25943',
 '01403',
 '43791',
 '39764',
 '1450700099250',
 '58668',
 '00277',
 '22722',
 '83449',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [14]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'41340',
 '17564',
 '28551',
 '13361',
 '32468',
 '89801',
 '34829',
 '43868',
 '20827',
 '36385',
 '23675',
 '61359',
 '12605',
 '00010',
 '92120',
 '14360',
 '77688',
 '22354',
 '65509',
 '56326',
 '85737',
 '24258',
 '00755',
 '41182',
 '38305',
 '03087',
 '38381',
 '94295',
 '27529',
 '20435',
 '58500',
 '00114',
 '00042',
 '42370',
 '00180',
 '00190',
 '02102',
 '00195',
 '14771',
 '00074',
 '51403',
 '31534',
 '18385',
 '78231',
 '61552',
 '00201',
 '63091',
 '96431',
 '00263',
 '37914',
 '00129',
 '38463',
 '00198',
 '00154',
 '00136',
 '9250',
 '42468',
 '05849',
 '40533',
 '66082',
 '18524',
 '34988',
 '65656',
 '31869',
 '06855',
 '05304',
 '87315',
 '15737',
 '89913',
 '52912',
 '07573',
 '84187',
 '84374',
 '77811',
 '84494',
 '70610',
 '50951',
 '13824',
 '06271',
 '78334',
 '49961',
 '25923',
 '78251',
 '44845',
 '16529',
 '16144',
 '89329',
 '04281',
 '00219',
 '00322',
 '15971',
 '91947',
 '53188',
 '40035',
 '18873',
 '64817',
 '97831',
 '09582',
 '53579',
 '45825',
 '54192',
 '14291',
 '48274',
 '63880',
 '00284',
 '76819',
 '87797',
 '19559',
 '93726',
 '34801',
 '81409',
 '06924',
 '00409',
 '80979',
 '70455',
 '14106',
 '62941',
 '33869',
 '70187',
 '00146',
 '37216',
 '73233',
 '10348',
 '18253',
 '19675',
 '31196',
 '05228',
 '05663',
 '08818',
 '74951',
 '77978',
 '26477',
 '82211',
 '99250',
 '73772',
 '60250',
 '62440',
 '40865',
 '11198',
 '85934',
 '24846',
 '02518',
 '90070',
 '32200',
 '28291',
 '94881',
 '66062',
 '46775',
 '88459',
 '51973',
 '02878',
 '91167',
 '65390',
 '26082',
 '26604',
 '89195',
 '42465',
 '69789',
 '63323',
 '09188',
 '75579',
 '98156',
 '00321',
 '01882',
 '05590',
 '87067',
 '62459',
 '00174',
 '65664',
 '71921',
 '98080',
 '30431',
 '91811',
 '05358',
 '66381',
 '96061',
 '51205',
 '05291',
 '22688',
 '31401',
 '08436',
 '75911',
 '51689',
 '48493',
 '33503',
 '95631',
 '18892',
 '37728',
 '04857',
 '25199',
 '25837',
 '54614',
 '25403',
 '13978',
 '29502',
 '01431',
 '68856',
 '10105',
 '90257',
 '27129',
 '05507',
 '97913',
 '55806',
 '26916',
 '50471',
 '58870',
 '12015',
 '54100',
 '00168',
 '56051',
 '25071',
 '55911',
 '10993',
 '38771',
 '76642',
 '05242',
 '14891',
 '98488',
 '23012',
 '89470',
 '74493',
 '80847',
 '18318',
 '28992',
 '62616',
 '50466',
 '93028',
 '05082',
 '93991',
 '76246',
 '49424',
 '34705',
 '00301',
 '00118',
 '90516',
 '97255',
 '00941',
 '89394',
 '50756',
 '53330',
 '02263',
 '89837',
 '98703',
 '02962',
 '26859',
 '25219',
 '00149',
 '11742',
 '09006',
 '11727',
 '10375',
 '81570',
 '97016',
 '24622',
 '00048',
 '61746',
 '99884',
 '98509',
 '25221',
 '33100',
 '24994',
 '01942',
 '56764',
 '52724',
 '49863',
 '01312',
 '67379',
 '46627',
 '86299',
 '74747',
 '99992',
 '15930',
 '96699',
 '36362',
 '23811',
 '45884',
 '74561',
 '72225',
 '26990',
 '31582',
 '18890',
 '03562',
 '15229',
 '00150',
 '23338',
 '89475',
 '25659',
 '00315',
 '95810',
 '16085',
 '95978',
 '28593',
 '17974',
 '24468',
 '71112',
 '61325',
 '39440',
 '96630',
 '26442',
 '50802',
 '97013',
 '81197',
 '46783',
 '80481',
 '00319',
 '74378',
 '77509',
 '15678',
 '28731',
 '52131',
 '76014',
 '62415',
 '50911',
 '72483',
 '40520',
 '00306',
 '00273',
 '87541',
 '01883',
 '24641',
 '85753',
 '59423',
 '80175',
 '63381',
 '46291',
 '22545',
 '92431',
 '50284',
 '22804',
 '53041',
 '18331',
 '50291',
 '16848',
 '54281',
 '80253',
 '00109',
 '00046',
 '37259',
 '47605',
 '15980',
 '17916',
 '31133',
 '74345',
 '77358',
 '00170',
 '26989',
 '45680',
 '85504',
 '00033',
 '00140',
 '23416',
 '59269',
 '24501',
 '94414',
 '16193',
 '84768',
 '02853',
 '81472',
 '00134',
 '79920',
 '49413',
 '64081',
 '71891',
 '63767',
 '63837',
 '15731',
 '23554',
 '26540',
 '87337',
 '74964',
 '82822',
 '28381',
 '00005',
 '75061',
 '25176',
 '07644',
 '74069',
 '00582',
 '72451',
 '61121',
 '05154',
 '38547',
 '20215',
 '71813',
 '84493',
 '00285',
 '56821',
 '32310',
 '37915',
 '20380',
 '05353',
 '00002',
 '53045',
 '00565',
 '31428',
 '91438',
 '94558',
 '27143',
 '26811',
 '18008',
 '00081',
 '00308',
 '85989',
 '75251',
 '40551',
 '58814',
 '58718',
 '10534',
 '19855',
 '57398',
 '48440',
 '38121',
 '00041',
 '00292',
 '54468',
 '00160',
 '05211',
 '15734',
 '29476',
 '18527',
 '42682',
 '53980',
 '32591',
 '86588',
 '12966',
 '72364',
 '86601',
 '40828',
 '00141',
 '00226',
 '01408',
 '00343',
 '47656',
 '05391',
 '34343',
 '52665',
 '31879',
 '18181',
 '81529',
 '26776',
 '00304',
 '00017',
 '17790',
 '98260',
 '17536',
 '48255',
 '75910',
 '39448',
 '00217',
 '32171',
 '79590',
 '23049',
 '61486',
 '00205',
 '97484',
 '00216',
 '83303',
 '22456',
 '36390',
 '00006',
 '49741',
 '63564',
 '32077',
 '25179',
 '79066',
 '73225',
 '58271',
 '08236',
 '41951',
 '38522',
 '19180',
 '57954',
 '76088',
 '92648',
 '21860',
 '26841',
 '23958',
 '33081',
 '35605',
 '17966',
 '69566',
 '54544',
 '56044',
 '43834',
 '90817',
 '76523',
 '01008',
 '45593',
 '94392',
 '77587',
 '00276',
 '66501',
 '46415',
 '37691',
 '17842',
 '84479',
 '52830',
 '00316',
 '00172',
 '84063',
 '44018',
 '00313',
 '76011',
 '00348',
 '14491',
 '41026',
 '03736',
 '51892',
 '00128',
 '90609',
 '74840',
 '00267',
 '10264',
 '97057',
 '03263',
 '03617',
 '51235',
 '00251',
 '01861',
 '47157',
 '00289',
 '50837',
 '78133',
 '87468',
 '71417',
 '31982',
 '15588',
 '88942',
 '74432',
 '67972',
 '48298',
 '42055',
 '36593',
 '05038',
 '57099',
 '16725',
 '50349',
 '62687',
 '68768',
 '00012',
 '46767',
 '52921',
 '84409',
 '92241',
 '19737',
 '74414',
 '95301',
 '24612',
 '14835',
 '72486',
 '30016',
 '00218',
 '95104',
 '94601',
 '00117',
 '02128',
 '24032',
 '58196',
 '71805',
 '65678',
 '24229',
 '31577',
 '26462',
 '02693',
 '00053',
 '19591',
 '16214',
 '36141',
 '68805',
 '39802',
 '00211',
 '01762',
 '31619',
 '00173',
 '00162',
 '00302',
 '59144',
 '00910',
 '18865',
 '92220',
 '54599',
 '37140',
 '00183',
 '37607',
 '88377',
 '09820',
 '00282',
 '48962',
 '12561',
 '49596',
 '01637',
 '08734',
 '47146',
 '20454',
 '46622',
 '45563',
 '49322',
 '73381',
 '30977',
 '09529',
 '34711',
 '14088',
 '00400',
 '34169',
 '99771',
 '17184',
 '32622',
 '55547',
 '27096',
 '00039',
 '99376',
 '43143',
 '04255',
 '28241',
 '22377',
 '89493',
 '38500',
 '39103',
 '98171',
 '15046',
 '16162',
 '22119',
 '59326',
 '90604',
 '93671',
 '63753',
 '73375',
 '03100',
 '30660',
 '37231',
 '74338',
 '04402',
 '02825',
 '32625',
 '11177',
 '00281',
 '52209',
 '70810',
 '79525',
 '85702',
 '92580',
 '11887',
 '00121',
 '00288',
 '96081',
 '33553',
 '52180',
 '40553',
 '51310',
 '01636',
 '18402',
 '06436',
 '44902',
 '98829',
 '41061',
 '23010',
 '50172',
 '96481',
 '86474',
 '61591',
 '18025',
 '12723',
 '25128',
 '66801',
 '79028',
 '78257',
 '35178',
 '88708',
 '61338',
 '00132',
 '90770',
 '45783',
 '00185',
 '64671',
 '52350',
 '00147',
 '03169',
 '65675',
 '46313',
 '25829',
 '63284',
 '50004',
 '60181',
 '19852',
 '19875',
 '54932',
 '24491',
 '52902',
 '23885',
 '11165',
 '13073',
 '00756',
 '00298',
 '08370',
 '16321',
 '76339',
 '76486',
 '12378',
 '19250',
 '00300',
 '49268',
 '29094',
 '00008',
 '54974',
 '99011',
 '60909',
 '88973',
 '28627',
 '03949',
 '47429',
 '79834',
 '02396',
 '51474',
 '73636',
 '77576',
 '02087',
 '03431',
 '74335',
 '65775',
 '83377',
 '86545',
 '00113',
 '51175',
 '79817',
 '11891',
 '10691',
 '60581',
 '13312',
 '50276',
 '76096',
 '25683',
 '06079',
 '74394',
 '97308',
 '22421',
 '07203',
 '19575',
 '59305',
 '39539',
 '02604',
 '47950',
 '71228',
 '63852',
 '09269',
 '83937',
 '99999',
 '29000',
 '00283',
 '18954',
 '38422',
 '88538',
 '70059',
 '26440',
 '28743',
 '44888',
 '26957',
 '43657',
 '00177',
 '00189',
 '77994',
 '92042',
 '90612',
 '32082',
 '53356',
 '86271',
 '00286',
 '44805',
 '11611',
 '74369',
 '92747',
 '83900',
 '46520',
 '00036',
 '89609',
 '92962',
 '08242',
 '16247',
 '48393',
 '55865',
 '00159',
 '71998',
 '50577',
 '32873',
 '94494',
 '00030',
 '47933',
 '66155',
 '29417',
 '79620',
 '33316',
 '00293',
 '20690',
 '00051',
 '05974',
 '14764',
 '00026',
 '04461',
 '23738',
 '01009',
 '27658',
 '02091',
 '70490',
 '74103',
 '00196',
 '63068',
 '73302',
 '00299',
 '62105',
 '00007',
 '11007',
 '00214',
 '29025',
 '20951',
 '08021',
 '65388',
 '47122',
 '01248',
 '37732',
 '93307',
 '00165',
 '51301',
 '61265',
 '43257',
 '76851',
 '16174',
 '11215',
 '00309',
 '94538',
 '97965',
 '80317',
 '26043',
 '12023',
 '64385',
 '54734',
 '62517',
 '49308',
 '39537',
 '32914',
 '21045',
 '19201',
 '55236',
 '60847',
 '66205',
 '95161',
 '01651',
 '76803',
 '40591',
 '53151',
 '90154',
 '79001',
 '19241',
 '13406',
 '84196',
 '25478',
 '30041',
 '30067',
 '81293',
 '21688',
 '04991',
 '75126',
 '91402',
 '05368',
 '69681',
 '22824',
 '59181',
 '54214',
 '00235',
 '31011',
 '79493',
 '51568',
 '69037',
 '93020',
 '05039',
 '00025',
 '04483',
 '00164',
 '32666',
 '93189',
 '85379',
 '77567',
 '03359',
 '22099',
 '57228',
 '29999',
 '08741',
 '32948',
 '00126',
 '12786',
 '80364',
 '32949',
 '63485',
 '94135',
 '34210',
 '69576',
 '09259',
 '01461',
 '02990',
 '86407',
 '05116',
 '00122',
 '53333',
 '81095',
 '00088',
 '87697',
 '27589',
 '19130',
 '10405',
 '54427',
 '68112',
 '51060',
 '70957',
 '54781',
 '00280',
 '00208',
 '55299',
 '12041',
 '00307',
 '46285',
 '31283',
 '29379',
 '78494',
 '39593',
 '21378',
 '26531',
 '29760',
 '00045',
 '37186',
 '03663',
 '97770',
 '87181',
 '00203',
 '63200',
 '95127',
 '00019',
 '87771',
 '24404',
 '66780',
 '00076',
 '15102',
 '00207',
 '45924',
 '70281',
 '00049',
 '06277',
 '16754',
 '88135',
 '73336',
 '65555',
 '01730',
 '81621',
 '61813',
 '64211',
 '87029',
 '25943',
 '01403',
 '43791',
 '39764',
 '58668',
 '00277',
 '22722',
 '83449',
 '72938',
 '66708',
 '96730',
 '7140',
 '62443',
 '77743',
 '32387',
 '38778',
 '85433',
 '04055',
 '00399',
 '28186',
 '30121',
 '00578',
 '73038',
 '70492',
 '97290',
 '00188',
 '80463',
 '62491',
 '61320',
 '86547',
 '66771',
 '16284',
 '00158',
 '33171',
 '00221',
 '66473',
 '37127',
 '91645',
 '02913',
 '49387',
 '02579',
 '95927',
 '11387',
 '65995',
 '43228',
 '00135',
 '47607',
 ...}

In [16]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [17]:
alldb_drop2['user'] = alldb_drop2['user'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
alldb_drop2.dtypes # เช็คว่า user ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ site

In [19]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [20]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [22]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [23]:
alldb_drop3['site'] = alldb_drop3['site'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
alldb_drop3.dtypes # เช็คว่า site ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ ov

In [25]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [26]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [27]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [28]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [29]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [31]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'01862',
 '02202',
 '09040',
 '00517',
 '08996',
 '08983',
 '01537',
 '00480',
 '03981',
 '00954',
 '00086',
 '00804',
 '00856',
 '01107',
 '05172',
 '01940',
 '05259',
 '00175',
 '01285',
 '00441',
 '01089',
 '00882',
 '02232',
 '03419',
 '87720',
 '00893',
 '03507',
 '01916',
 '01356',
 '00798',
 '03061',
 '03058',
 '03410',
 '00096',
 '01243',
 '05195',
 '08914',
 '02122',
 '03614',
 '00010',
 '02027',
 '00444',
 '00764',
 '01219',
 '00961',
 '03354',
 '04043',
 '02204',
 '00508',
 '00755',
 '00586',
 '03142',
 '01279',
 '00909',
 '0010',
 '01404',
 '02812',
 '02404',
 '01563',
 '01355',
 '11005',
 '01641',
 '00062',
 '01659',
 '00347',
 '00114',
 '02257',
 '03379',
 '10011',
 '00042',
 '01585',
 '00180',
 '01069',
 '01206',
 '03398',
 '05720',
 '03391',
 '03438',
 '02632',
 '03963',
 '03545',
 '09035',
 '00190',
 '00195',
 '01631',
 '00074',
 '00438',
 '01184',
 '02912',
 '03998',
 '92',
 '04188',
 '00102',
 '00766',
 '02066',
 '01072',
 '02811',
 '08984',
 '02408',
 '00201',
 '01054',
 '00631',
 '01281',
 '08917',
 '00628',
 '06001',
 '00263',
 '00129',
 '01064',
 '03333',
 '00198',
 '00685',
 '00154',
 '00686',
 '03399',
 '04017',
 '00136',
 '01087',
 '01382',
 '02491',
 '02824',
 '04020',
 '01749',
 '00254',
 '01702',
 '01756',
 '01991',
 '03933',
 '01675',
 '03461',
 '03031',
 '04070',
 '00366',
 '05095',
 '01884',
 '01146',
 '01029',
 '10980',
 '01541',
 '02338',
 '03505',
 '01388',
 '01778',
 '01295',
 '00696',
 '09013',
 '01908',
 '02423',
 '01190',
 '02769',
 '02941',
 '01966',
 '00489',
 '219',
 '00611',
 '01460',
 '56',
 '02380',
 '02875',
 '08994',
 '03154',
 '00836',
 '04060',
 '00907',
 '04670',
 '04793',
 '01952',
 '02709',
 '01308',
 '00256',
 '01173',
 '02852',
 '02989',
 '05308',
 '00234',
 '03521',
 '00865',
 '00311',
 '02103',
 ' 0000',
 '01874',
 '02321',
 '01926',
 '03123',
 '01732',
 '03436',
 '02796',
 '16',
 '00549',
 '03312',
 '09004',
 '00720',
 '08963',
 '00570',
 '02586',
 '09042',
 '02035',
 '01013',
 '00669',
 '01581',
 '00349',
 '08975',
 '00957',
 '02516',
 '00219',
 '00322',
 '02238',
 '02596',
 '00695',
 '01148',
 '01364',
 '01837',
 '01605',
 '03939',
 '04016',
 '01915',
 '05147',
 '02937',
 '06049',
 '00101',
 '01494',
 '02900',
 '00656',
 '00916',
 '02147',
 '00110',
 '02244',
 '10969',
 '00284',
 '00605',
 '02016',
 '04662',
 '00714',
 '01208',
 '03108',
 '00952',
 '00745',
 '02053',
 '03063',
 '02312',
 '01192',
 '05302',
 '02727',
 '03130',
 '01519',
 '00806',
 '01796',
 '01540',
 '08995',
 '02337',
 '01816',
 '02455',
 '01350',
 '00409',
 '02013',
 '00525',
 '08254',
 '05106',
 '00743',
 '00759',
 '02223',
 '02481',
 '01595',
 '02803',
 '03059',
 '00813',
 '05117',
 '01410',
 '01465',
 '00932',
 '00146',
 '00994',
 '02566',
 '01868',
 '05228',
 '01558',
 '01549',
 '02484',
 '01171',
 '02135',
 '02206',
 '02559',
 '09036',
 '00454',
 '00698',
 '02651',
 '01328',
 '01741',
 '02237',
 '08942',
 '02518',
 '01574',
 '01608',
 '00707',
 '00355',
 '03069',
 '02623',
 '00673',
 '02025',
 '04054',
 '00990',
 '01817',
 '02878',
 '00921',
 '02843',
 '01247',
 '00816',
 '01707',
 '03236',
 '06021',
 '04191',
 '03180',
 '01065',
 '00703',
 '00867',
 '01413',
 '00321',
 '00889',
 '01548',
 '00876',
 '00930',
 '00536',
 '00625',
 '01882',
 '01925',
 '02095',
 '00174',
 '09010',
 '00422',
 '00895',
 '05958',
 '11006',
 '02042',
 '05977',
 '00337',
 '03278',
 '02616',
 '01901',
 '240',
 '04645',
 '00975',
 '01896',
 '02057',
 '08941',
 '02006',
 '00310',
 '01191',
 '08992',
 '01696',
 '01431',
 '08421',
 '01655',
 '03384',
 '00771',
 '08959',
 '00483',
 '00841',
 '03415',
 '00370',
 '00068',
 '00058',
 '02037',
 '02737',
 '02240',
 '03144',
 '00381',
 '02485',
 '02251',
 '02333',
 '00388',
 '03261',
 '03284',
 '01706',
 '00168',
 '04094',
 '06019',
 '02335',
 '05382',
 '00510',
 '00870',
 '09001',
 '00915',
 '00674',
 '03095',
 '10993',
 '01105',
 '02454',
 '01960',
 '03394',
 '02841',
 '02884',
 '04684',
 '01383',
 '02262',
 '00184',
 '02482',
 '00344',
 '10972',
 '02938',
 '05983',
 '00608',
 '02548',
 '09027',
 '00785',
 '08991',
 '03365',
 '06009',
 '00060',
 '00089',
 '00775',
 '02004',
 '00812',
 '08572',
 '01469',
 '00301',
 '00118',
 '01409',
 '01468',
 '03527',
 '04024',
 '02383',
 '10963',
 '00768',
 '03206',
 '04648',
 '000152',
 '01781',
 '02314',
 '00941',
 '00933',
 '02509',
 '01255',
 '02005',
 '00649',
 '02766',
 '00801',
 '01838',
 '02163',
 '01212',
 '01877',
 '01078',
 '01158',
 '04189',
 '02172',
 '02962',
 '03454',
 '04018',
 '00246',
 '04622',
 '02830',
 '00503',
 '00149',
 '00838',
 '01624',
 '09006',
 '01928',
 '00495',
 '01080',
 '01025',
 '00660',
 '01515',
 '08949',
 '00874',
 '01830',
 '01806',
 '01927',
 '01662',
 '02673',
 '00868',
 '02676',
 '01899',
 '02334',
 '02401',
 '09008',
 '01306',
 '01609',
 '01692',
 '04646',
 '03563',
 '03073',
 '02514',
 '08964',
 '00048',
 '01416',
 '01555',
 '01823',
 '00986',
 '00588',
 '04086',
 '01942',
 '09002',
 '00682',
 '00845',
 '01372',
 '0000',
 '04625',
 '01349',
 '00227',
 '03220',
 '01132',
 '01312',
 '09020',
 '185',
 '03497',
 '00363',
 '00105',
 '00244',
 '01309',
 '01289',
 '02467',
 '00623',
 '02580',
 '01261',
 '01870',
 '00810',
 '00432',
 '00150',
 '02773',
 '02903',
 '03553',
 '01162',
 '01357',
 '03395',
 '01344',
 '01710',
 '01824',
 '02674',
 '01499',
 '00315',
 '00817',
 '02041',
 '00760',
 '02823',
 '00723',
 '02272',
 '09033',
 '01189',
 '01111',
 '02490',
 '00859',
 '01197',
 '00452',
 '10989',
 '00761',
 '00955',
 '01932',
 '03096',
 '01229',
 '00732',
 '00779',
 '01552',
 '00892',
 '00104',
 '01900',
 '02701',
 '03511',
 '06004',
 '01793',
 '01012',
 '03132',
 '01984',
 '04675',
 '00544',
 '00538',
 '02922',
 '05310',
 '05343',
 '01241',
 '00319',
 '01894',
 '02069',
 '02495',
 '00107',
 '01714',
 '01663',
 '00493',
 '00477',
 '10995',
 '01573',
 '00070',
 '01099',
 '02534',
 '03007',
 '01891',
 '01043',
 '72483',
 '01606',
 '01700',
 '01770',
 '01333',
 '01561',
 '00306',
 '02809',
 '02930',
 '03954',
 '02857',
 '03179',
 '01232',
 '00273',
 '02677',
 '02792',
 '01618',
 '01478',
 '04117',
 '00446',
 '00474',
 '01645',
 '01883',
 '03183',
 '02397',
 '01365',
 '01040',
 '02731',
 '00638',
 '03544',
 '01303',
 '06058',
 '01242',
 '00767',
 '01153',
 '02348',
 '09024',
 '01125',
 '02107',
 '00780',
 '08956',
 '01589',
 '01886',
 '01888',
 '01310',
 '00243',
 '03512',
 '00635',
 '01800',
 '03290',
 '00057',
 '00109',
 '00953',
 '02271',
 '03279',
 '02760',
 '00046',
 '06033',
 '09017',
 '08969',
 '00642',
 '01938',
 '09018',
 '01477',
 '02480',
 '03231',
 '134',
 '03964',
 '00516',
 '00170',
 '00423',
 '02826',
 '04075',
 '03222',
 '02437',
 '00652',
 '03158',
 '01023',
 '00447',
 '02611',
 '04046',
 '00033',
 '00140',
 '03155',
 '02051',
 '107',
 '23416',
 '00374',
 '05727',
 '05119',
 '01249',
 '02507',
 '00434',
 '08930',
 '01216',
 '00134',
 '00653',
 '03019',
 '01691',
 '01598',
 '04636',
 '01997',
 '02093',
 '01640',
 '00385',
 '06020',
 '01472',
 '03042',
 '01446',
 '02094',
 '03112',
 '03332',
 '04101',
 '02341',
 '09029',
 '04660',
 '00661',
 '00433',
 '02354',
 '01619',
 '02668',
 '00005',
 '00391',
 '08954',
 '03127',
 '01592',
 '05267',
 '01393',
 '03156',
 '00985',
 '02435',
 '08978',
 '00582',
 '00725',
 '01237',
 '00869',
 '03238',
 '03508',
 '02242',
 '01028',
 '00712',
 '00666',
 '00949',
 '01865',
 '08971',
 '05154',
 '01118',
 '00056',
 '02497',
 '02161',
 '03109',
 '02779',
 '00799',
 '08923',
 '00285',
 '01340',
 '03464',
 '01722',
 '05723',
 '06026',
 '05959',
 '04106',
 '00648',
 '02253',
 '00002',
 '00565',
 '03273',
 '00675',
 '04655',
 '06000',
 '00897',
 '00663',
 '00081',
 '03549',
 '02539',
 '01820',
 '01887',
 '00308',
 '00389',
 '02170',
 '03321',
 '08937',
 '00505',
 '01268',
 '01532',
 '02620',
 '02621',
 '01922',
 '01019',
 '01020',
 '01834',
 '08931',
 '01752',
 '00492',
 '00830',
 '06505',
 '196',
 '01923',
 '04039',
 '114',
 '02096',
 '00041',
 '00292',
 '02208',
 '03006',
 '00602',
 '03936',
 '00160',
 '02045',
 '02288',
 '02350',
 '00946',
 '00821',
 '01842',
 '01597',
 '08948',
 '01165',
 '00087',
 '04116',
 '02417',
 '01895',
 '01331',
 '06040',
 '01481',
 '00479',
 '02466',
 '03499',
 '04187',
 '00455',
 '05780',
 '01457',
 '02305',
 '02905',
 '03225',
 '02589',
 '03422',
 '179',
 '02879',
 '00141',
 '08989',
 '00958',
 '00226',
 '00539',
 '01059',
 '01341',
 '00343',
 '00590',
 '01818',
 '00744',
 '01235',
 '02020',
 '02613',
 '01728',
 '08952',
 '01536',
 '10996',
 '00468',
 '01264',
 '01057',
 '00717',
 '04118',
 '00304',
 '00697',
 '02653',
 '02624',
 '00017',
 '05189',
 '90470',
 '02352',
 '03434',
 '00461',
 '00437',
 '02819',
 '05999',
 '02195',
 '01112',
 '04692',
 '03386',
 '04052',
 '00093',
 '00217',
 '01178',
 '08900',
 '02859',
 '02965',
 '01039',
 '09026',
 '00205',
 '01226',
 '02434',
 '05960',
 '00858',
 '02757',
 '01286',
 '03315',
 '00629',
 '00216',
 '02854',
 '03062',
 '02601',
 '03055',
 '03510',
 '00077',
 '00006',
 '01352',
 '00392',
 '00410',
 '01168',
 '01002',
 '03462',
 '01091',
 '04653',
 '01750',
 '02086',
 '01066',
 '00736',
 '01077',
 '02994',
 '48',
 '00236',
 '02584',
 '02504',
 '03218',
 '00581',
 '00988',
 '01299',
 '02332',
 '08960',
 '02052',
 '00971',
 '3450101522372',
 '00846',
 '00220',
 '01008',
 '03376',
 '02026',
 '03400',
 '03347',
 '00276',
 '00614',
 '05248',
 '01157',
 '01475',
 '00609',
 '01437',
 '02019',
 '01429',
 '01797',
 '02442',
 '01450',
 '01669',
 '01116',
 '03107',
 '00977',
 '01114',
 '01238',
 '02494',
 '03151',
 '01156',
 '04674',
 '01339',
 '00316',
 '00403',
 '01634',
 '01638',
 '00672',
 '00172',
 '00407',
 '22222',
 '02390',
 '00313',
 '02034',
 '02782',
 '02746',
 '00731',
 '02887',
 '00577',
 '01738',
 '01804',
 '05127',
 '01207',
 '00458',
 '02983',
 '00515',
 '02592',
 '01130',
 '00348',
 '01301',
 '09005',
 '00448',
 '02451',
 '10987',
 '00128',
 '00326',
 '01061',
 '01805',
 '01297',
 '03552',
 '02062',
 '04635',
 '00478',
 '00267',
 '01731',
 '03322',
 '01245',
 '01327',
 '02400',
 '01414',
 '03263',
 '04619',
 '00251',
 '04654',
 '09016',
 '02360',
 '02029',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [32]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [34]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'01862',
 '02202',
 '09040',
 '00517',
 '08996',
 '08983',
 '01537',
 '00480',
 '03981',
 '00954',
 '00086',
 '00804',
 '00856',
 '01107',
 '05172',
 '01940',
 '05259',
 '00175',
 '01285',
 '00441',
 '01089',
 '00882',
 '02232',
 '03419',
 '87720',
 '00893',
 '03507',
 '01916',
 '01356',
 '00798',
 '03061',
 '03058',
 '03410',
 '00096',
 '01243',
 '05195',
 '08914',
 '02122',
 '03614',
 '00010',
 '02027',
 '00444',
 '00764',
 '01219',
 '00961',
 '03354',
 '04043',
 '02204',
 '00508',
 '00755',
 '00586',
 '03142',
 '01279',
 '00909',
 '0010',
 '01404',
 '02812',
 '02404',
 '01563',
 '01355',
 '11005',
 '01641',
 '00062',
 '01659',
 '00347',
 '00114',
 '02257',
 '03379',
 '10011',
 '00042',
 '01585',
 '00180',
 '01069',
 '01206',
 '03398',
 '05720',
 '03391',
 '03438',
 '02632',
 '03963',
 '03545',
 '09035',
 '00190',
 '00195',
 '01631',
 '00074',
 '00438',
 '01184',
 '02912',
 '03998',
 '92',
 '04188',
 '00102',
 '00766',
 '02066',
 '01072',
 '02811',
 '08984',
 '02408',
 '00201',
 '01054',
 '00631',
 '01281',
 '08917',
 '00628',
 '06001',
 '00263',
 '00129',
 '01064',
 '03333',
 '00198',
 '00685',
 '00154',
 '00686',
 '03399',
 '04017',
 '00136',
 '01087',
 '01382',
 '02491',
 '02824',
 '04020',
 '01749',
 '00254',
 '01702',
 '01756',
 '01991',
 '03933',
 '01675',
 '03461',
 '03031',
 '04070',
 '00366',
 '05095',
 '01884',
 '01146',
 '01029',
 '10980',
 '01541',
 '02338',
 '03505',
 '01388',
 '01778',
 '01295',
 '00696',
 '09013',
 '01908',
 '02423',
 '01190',
 '02769',
 '02941',
 '01966',
 '00489',
 '00611',
 '01460',
 '56',
 '02380',
 '02875',
 '08994',
 '03154',
 '00836',
 '04060',
 '00907',
 '04670',
 '04793',
 '01952',
 '02709',
 '01308',
 '00256',
 '01173',
 '02852',
 '02989',
 '05308',
 '00234',
 '03521',
 '00865',
 '00311',
 '02103',
 ' 0000',
 '01874',
 '02321',
 '01926',
 '03123',
 '01732',
 '03436',
 '02796',
 '16',
 '00549',
 '03312',
 '09004',
 '00720',
 '08963',
 '00570',
 '02586',
 '09042',
 '02035',
 '01013',
 '00669',
 '01581',
 '00349',
 '08975',
 '00957',
 '02516',
 '00219',
 '00322',
 '02238',
 '02596',
 '00695',
 '01148',
 '01364',
 '01837',
 '01605',
 '03939',
 '04016',
 '01915',
 '05147',
 '02937',
 '06049',
 '00101',
 '01494',
 '02900',
 '00656',
 '00916',
 '02147',
 '00110',
 '02244',
 '10969',
 '00284',
 '00605',
 '02016',
 '04662',
 '00714',
 '01208',
 '03108',
 '00952',
 '00745',
 '02053',
 '03063',
 '02312',
 '01192',
 '05302',
 '02727',
 '03130',
 '01519',
 '00806',
 '01796',
 '01540',
 '08995',
 '02337',
 '01816',
 '02455',
 '01350',
 '00409',
 '02013',
 '00525',
 '08254',
 '05106',
 '00743',
 '00759',
 '02223',
 '02481',
 '01595',
 '02803',
 '03059',
 '00813',
 '05117',
 '01410',
 '01465',
 '00932',
 '00146',
 '00994',
 '02566',
 '01868',
 '05228',
 '01558',
 '01549',
 '02484',
 '01171',
 '02135',
 '02206',
 '02559',
 '09036',
 '00454',
 '00698',
 '02651',
 '01328',
 '01741',
 '02237',
 '08942',
 '02518',
 '01574',
 '01608',
 '00707',
 '00355',
 '03069',
 '02623',
 '00673',
 '02025',
 '04054',
 '00990',
 '01817',
 '02878',
 '00921',
 '02843',
 '01247',
 '00816',
 '01707',
 '03236',
 '06021',
 '04191',
 '03180',
 '01065',
 '00703',
 '00867',
 '01413',
 '00321',
 '00889',
 '01548',
 '00876',
 '00930',
 '00536',
 '00625',
 '01882',
 '01925',
 '02095',
 '00174',
 '09010',
 '00422',
 '00895',
 '05958',
 '11006',
 '02042',
 '05977',
 '00337',
 '03278',
 '02616',
 '01901',
 '240',
 '04645',
 '00975',
 '01896',
 '02057',
 '08941',
 '02006',
 '00310',
 '01191',
 '08992',
 '01696',
 '01431',
 '08421',
 '01655',
 '03384',
 '00771',
 '08959',
 '00483',
 '00841',
 '03415',
 '00370',
 '00068',
 '00058',
 '02037',
 '02737',
 '02240',
 '03144',
 '00381',
 '02485',
 '02251',
 '02333',
 '00388',
 '03261',
 '03284',
 '01706',
 '00168',
 '04094',
 '06019',
 '02335',
 '05382',
 '00510',
 '00870',
 '09001',
 '00915',
 '00674',
 '03095',
 '10993',
 '01105',
 '02454',
 '01960',
 '03394',
 '02841',
 '02884',
 '04684',
 '01383',
 '02262',
 '00184',
 '02482',
 '00344',
 '10972',
 '02938',
 '05983',
 '00608',
 '02548',
 '09027',
 '00785',
 '08991',
 '03365',
 '06009',
 '00060',
 '00089',
 '00775',
 '02004',
 '00812',
 '08572',
 '01469',
 '00301',
 '00118',
 '01409',
 '01468',
 '03527',
 '04024',
 '02383',
 '10963',
 '00768',
 '03206',
 '04648',
 '01781',
 '02314',
 '00941',
 '00933',
 '02509',
 '01255',
 '02005',
 '00649',
 '02766',
 '00801',
 '01838',
 '02163',
 '01212',
 '01877',
 '01078',
 '01158',
 '04189',
 '02172',
 '02962',
 '03454',
 '04018',
 '00246',
 '04622',
 '02830',
 '00503',
 '00149',
 '00838',
 '01624',
 '09006',
 '01928',
 '00495',
 '01080',
 '01025',
 '00660',
 '01515',
 '08949',
 '00874',
 '01830',
 '01806',
 '01927',
 '01662',
 '02673',
 '00868',
 '02676',
 '01899',
 '02334',
 '02401',
 '09008',
 '01306',
 '01609',
 '01692',
 '04646',
 '03563',
 '03073',
 '02514',
 '08964',
 '00048',
 '01416',
 '01555',
 '01823',
 '00986',
 '00588',
 '04086',
 '01942',
 '09002',
 '00682',
 '00845',
 '01372',
 '0000',
 '04625',
 '01349',
 '00227',
 '03220',
 '01132',
 '01312',
 '09020',
 '03497',
 '00363',
 '00105',
 '00244',
 '01309',
 '01289',
 '02467',
 '00623',
 '02580',
 '01261',
 '01870',
 '00810',
 '00432',
 '00150',
 '02773',
 '02903',
 '03553',
 '01162',
 '01357',
 '03395',
 '01344',
 '01710',
 '01824',
 '02674',
 '01499',
 '00315',
 '00817',
 '02041',
 '00760',
 '02823',
 '00723',
 '02272',
 '09033',
 '01189',
 '01111',
 '02490',
 '00859',
 '01197',
 '00452',
 '10989',
 '00761',
 '00955',
 '01932',
 '03096',
 '01229',
 '00732',
 '00779',
 '01552',
 '00892',
 '00104',
 '01900',
 '02701',
 '03511',
 '06004',
 '01793',
 '01012',
 '03132',
 '01984',
 '04675',
 '00544',
 '00538',
 '02922',
 '05310',
 '05343',
 '01241',
 '00319',
 '01894',
 '02069',
 '02495',
 '00107',
 '01714',
 '01663',
 '00493',
 '00477',
 '10995',
 '01573',
 '00070',
 '01099',
 '02534',
 '03007',
 '01891',
 '01043',
 '72483',
 '01606',
 '01700',
 '01770',
 '01333',
 '01561',
 '00306',
 '02809',
 '02930',
 '03954',
 '02857',
 '03179',
 '01232',
 '00273',
 '02677',
 '02792',
 '01618',
 '01478',
 '04117',
 '00446',
 '00474',
 '01645',
 '01883',
 '03183',
 '02397',
 '01365',
 '01040',
 '02731',
 '00638',
 '03544',
 '01303',
 '06058',
 '01242',
 '00767',
 '01153',
 '02348',
 '09024',
 '01125',
 '02107',
 '00780',
 '08956',
 '01589',
 '01886',
 '01888',
 '01310',
 '00243',
 '03512',
 '00635',
 '01800',
 '03290',
 '00057',
 '00109',
 '00953',
 '02271',
 '03279',
 '02760',
 '00046',
 '06033',
 '09017',
 '08969',
 '00642',
 '01938',
 '09018',
 '01477',
 '02480',
 '03231',
 '134',
 '03964',
 '00516',
 '00170',
 '00423',
 '02826',
 '04075',
 '03222',
 '02437',
 '00652',
 '03158',
 '01023',
 '00447',
 '02611',
 '04046',
 '00033',
 '00140',
 '03155',
 '02051',
 '107',
 '23416',
 '00374',
 '05727',
 '05119',
 '01249',
 '02507',
 '00434',
 '08930',
 '01216',
 '00134',
 '00653',
 '03019',
 '01691',
 '01598',
 '04636',
 '01997',
 '02093',
 '01640',
 '00385',
 '06020',
 '01472',
 '03042',
 '01446',
 '02094',
 '03112',
 '03332',
 '04101',
 '02341',
 '09029',
 '04660',
 '00661',
 '00433',
 '02354',
 '01619',
 '02668',
 '00005',
 '00391',
 '08954',
 '03127',
 '01592',
 '05267',
 '01393',
 '03156',
 '00985',
 '02435',
 '08978',
 '00582',
 '00725',
 '01237',
 '00869',
 '03238',
 '03508',
 '02242',
 '01028',
 '00712',
 '00666',
 '00949',
 '01865',
 '08971',
 '05154',
 '01118',
 '00056',
 '02497',
 '02161',
 '03109',
 '02779',
 '00799',
 '08923',
 '00285',
 '01340',
 '03464',
 '01722',
 '05723',
 '06026',
 '05959',
 '04106',
 '00648',
 '02253',
 '00002',
 '00565',
 '03273',
 '00675',
 '04655',
 '06000',
 '00897',
 '00663',
 '00081',
 '03549',
 '02539',
 '01820',
 '01887',
 '00308',
 '00389',
 '02170',
 '03321',
 '08937',
 '00505',
 '01268',
 '01532',
 '02620',
 '02621',
 '01922',
 '01019',
 '01020',
 '01834',
 '08931',
 '01752',
 '00492',
 '00830',
 '06505',
 '01923',
 '04039',
 '114',
 '02096',
 '00041',
 '00292',
 '02208',
 '03006',
 '00602',
 '03936',
 '00160',
 '02045',
 '02288',
 '02350',
 '00946',
 '00821',
 '01842',
 '01597',
 '08948',
 '01165',
 '00087',
 '04116',
 '02417',
 '01895',
 '01331',
 '06040',
 '01481',
 '00479',
 '02466',
 '03499',
 '04187',
 '00455',
 '05780',
 '01457',
 '02305',
 '02905',
 '03225',
 '02589',
 '03422',
 '179',
 '02879',
 '00141',
 '08989',
 '00958',
 '00226',
 '00539',
 '01059',
 '01341',
 '00343',
 '00590',
 '01818',
 '00744',
 '01235',
 '02020',
 '02613',
 '01728',
 '08952',
 '01536',
 '10996',
 '00468',
 '01264',
 '01057',
 '00717',
 '04118',
 '00304',
 '00697',
 '02653',
 '02624',
 '00017',
 '05189',
 '90470',
 '02352',
 '03434',
 '00461',
 '00437',
 '02819',
 '05999',
 '02195',
 '01112',
 '04692',
 '03386',
 '04052',
 '00093',
 '00217',
 '01178',
 '08900',
 '02859',
 '02965',
 '01039',
 '09026',
 '00205',
 '01226',
 '02434',
 '05960',
 '00858',
 '02757',
 '01286',
 '03315',
 '00629',
 '00216',
 '02854',
 '03062',
 '02601',
 '03055',
 '03510',
 '00077',
 '00006',
 '01352',
 '00392',
 '00410',
 '01168',
 '01002',
 '03462',
 '01091',
 '04653',
 '01750',
 '02086',
 '01066',
 '00736',
 '01077',
 '02994',
 '48',
 '00236',
 '02584',
 '02504',
 '03218',
 '00581',
 '00988',
 '01299',
 '02332',
 '08960',
 '02052',
 '00971',
 '3450101522372',
 '00846',
 '00220',
 '01008',
 '03376',
 '02026',
 '03400',
 '03347',
 '00276',
 '00614',
 '05248',
 '01157',
 '01475',
 '00609',
 '01437',
 '02019',
 '01429',
 '01797',
 '02442',
 '01450',
 '01669',
 '01116',
 '03107',
 '00977',
 '01114',
 '01238',
 '02494',
 '03151',
 '01156',
 '04674',
 '01339',
 '00316',
 '00403',
 '01634',
 '01638',
 '00672',
 '00172',
 '00407',
 '22222',
 '02390',
 '00313',
 '02034',
 '02782',
 '02746',
 '00731',
 '02887',
 '00577',
 '01738',
 '01804',
 '05127',
 '01207',
 '00458',
 '02983',
 '00515',
 '02592',
 '01130',
 '00348',
 '01301',
 '09005',
 '00448',
 '02451',
 '10987',
 '00128',
 '00326',
 '01061',
 '01805',
 '01297',
 '03552',
 '02062',
 '04635',
 '00478',
 '00267',
 '01731',
 '03322',
 '01245',
 '01327',
 '02400',
 '01414',
 '03263',
 '04619',
 '00251',
 '04654',
 '09016',
 '02360',
 '02029',
 '05989',
 '08284',
 '01861',
 '02416',
 ...}

In [35]:
alldb_drop5['PartitionKey'] = alldb_drop5['PartitionKey'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
alldb_drop5.dtypes # เช็คว่า PartitionKey ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [37]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [38]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [39]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [40]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [41]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [42]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [43]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [44]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [45]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [46]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [47]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [48]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [49]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [50]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [51]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [52]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [53]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [54]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [55]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [56]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [57]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [58]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [59]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'03084',
 '16498',
 '26147',
 '13830',
 '04573',
 '27419',
 '05299',
 '00517',
 '10597',
 '21833',
 '99877',
 '07995',
 '08983',
 '27983',
 '04000',
 '06664',
 '04712',
 '00954',
 '00086',
 '11542',
 '03848',
 '01285',
 '12001',
 '02232',
 '01089',
 '24273',
 '24370',
 '27378',
 '08882',
 '01916',
 '05613',
 '10927',
 '05490',
 '24873',
 '06789',
 '19343',
 '24230',
 '05195',
 '09107',
 '26297',
 '28625',
 '24298',
 '03614',
 '06999',
 '14691',
 '04907',
 '23761',
 '00444',
 '24344',
 '04065',
 '08565',
 '02842',
 '07846',
 '09514',
 '03648',
 '00508',
 '24258',
 '14658',
 '07812',
 '01279',
 '26238',
 '03692',
 '17786',
 '00909',
 '08326',
 '02955',
 '09561',
 '01563',
 '07140',
 '08231',
 '26324',
 '09719',
 '00062',
 '24874',
 '05241',
 '02257',
 '02656',
 '03490',
 '10374',
 '00042',
 '00180',
 '07806',
 '13709',
 '25811',
 '03398',
 '09339',
 '99856',
 '25753',
 '23945',
 '09491',
 '02729',
 '13655',
 '03438',
 '07634',
 '10154',
 '11074',
 '24164',
 '03545',
 '05276',
 '06642',
 '25117',
 '01631',
 '24667',
 '22834',
 '08516',
 '28549',
 '18360',
 '00766',
 '24739',
 '18385',
 '26657',
 '08539',
 '06996',
 '11431',
 '11139',
 '09647',
 '00628',
 '99774',
 '08562',
 '07516',
 '99796',
 '03333',
 '00198',
 '00685',
 '28394',
 '07780',
 '00136',
 '28208',
 '02824',
 '01756',
 '10002',
 '04337',
 '08006',
 '11135',
 '03031',
 '03043',
 '14047',
 '24629',
 '03561',
 '00366',
 '05293',
 '11806',
 '03740',
 '15243',
 '09895',
 '09464',
 '23838',
 '25762',
 '02700',
 '06626',
 '14849',
 '06995',
 '22735',
 '01190',
 '24263',
 '26145',
 '04444',
 '07257',
 '09587',
 '03796',
 '24335',
 '08994',
 '04419',
 '10765',
 '24827',
 '10220',
 '24150',
 '09497',
 '14453',
 '14621',
 '14450',
 '02852',
 '07573',
 '15239',
 '00311',
 '14091',
 '02321',
 '22007',
 '07628',
 '77776',
 '03123',
 '08681',
 '24189',
 '03436',
 '06271',
 '07358',
 '02658',
 '02194',
 '09495',
 '14141',
 '08963',
 '24593',
 '07462',
 '22781',
 '10843',
 '00669',
 '07264',
 '27639',
 '09371',
 '11208',
 '22790',
 '00349',
 '08975',
 '05873',
 '10099',
 '08538',
 '04861',
 '05854',
 '05001',
 '26168',
 '07883',
 '23873',
 '27469',
 '00101',
 '21546',
 '26117',
 '26983',
 '00656',
 '13689',
 '06480',
 '18383',
 '05898',
 '02016',
 '28267',
 '04662',
 '02118',
 '07638',
 '23716',
 '25752',
 '02834',
 '05472',
 '03063',
 '05302',
 '04029',
 '02312',
 '02727',
 '22091',
 '06762',
 '19559',
 '03202',
 '02303',
 '06128',
 '02455',
 '24036',
 '04950',
 '02013',
 '06924',
 '08194',
 '77761',
 '06471',
 '10664',
 '04053',
 '10846',
 '13952',
 '08254',
 '02223',
 '05268',
 '07128',
 '08543',
 '07234',
 '27467',
 '20014',
 '25185',
 '22854',
 '08470',
 '11058',
 '08613',
 '05194',
 '03595',
 '12453',
 '25902',
 '02553',
 '02535',
 '05663',
 '07301',
 '08157',
 '15863',
 '25765',
 '08818',
 '26152',
 '09036',
 '02559',
 '06819',
 '02651',
 '08265',
 '22796',
 '25586',
 '09998',
 '11771',
 '03613',
 '26946',
 '09150',
 '24846',
 '00707',
 '06800',
 '07349',
 '24237',
 '02623',
 '14071',
 '22964',
 '04531',
 '04611',
 '06973',
 '06361',
 '05067',
 '03677',
 '05415',
 '00921',
 '05802',
 '01247',
 '06617',
 '25461',
 '26082',
 '28702',
 '04191',
 '05251',
 '24903',
 '03180',
 '03251',
 '24514',
 '23556',
 '09188',
 '04404',
 '22801',
 '08817',
 '27025',
 '24008',
 '12451',
 '28395',
 '07087',
 '24257',
 '02095',
 '05590',
 '14165',
 '07987',
 '00174',
 '08001',
 '25867',
 '04447',
 '05358',
 '08807',
 '07340',
 '06829',
 '26359',
 '03138',
 '05291',
 '09877',
 '05731',
 '01901',
 '24953',
 '09630',
 '06435',
 '08345',
 '02057',
 '05713',
 '02527',
 '28601',
 '03481',
 '06712',
 '12159',
 '07091',
 '15249',
 '02800',
 '28801',
 '05320',
 '07558',
 '06748',
 '14283',
 '99892',
 '99862',
 '10803',
 '06408',
 '10105',
 '00058',
 '19568',
 '10403',
 '25067',
 '05507',
 '05814',
 '11185',
 '11292',
 '08241',
 '10412',
 '00388',
 '08746',
 '10747',
 '25861',
 '01706',
 '00168',
 '28709',
 '21678',
 '09364',
 '14118',
 '07515',
 '06955',
 '11430',
 '28676',
 '04021',
 '11900',
 '77708',
 '10112',
 '19958',
 '14452',
 '27445',
 '24200',
 '06466',
 '06322',
 '27480',
 '02262',
 '00184',
 '09602',
 '09769',
 '25658',
 '00344',
 '10972',
 '22128',
 '23648',
 '03941',
 '13679',
 '24620',
 '04384',
 '02548',
 '11107',
 '00785',
 '11257',
 '28213',
 '10812',
 '23717',
 '10679',
 '24038',
 '28280',
 '02004',
 '05515',
 '05618',
 '24721',
 '00301',
 '28202',
 '08581',
 '14420',
 '13902',
 '01409',
 '01468',
 '02502',
 '03522',
 '02383',
 '04024',
 '06540',
 '08866',
 '11467',
 '09114',
 '26100',
 '07844',
 '03206',
 '01781',
 '02314',
 '11602',
 '00941',
 '25956',
 '08355',
 '02509',
 '10953',
 '22183',
 '02766',
 '26609',
 '14294',
 '03387',
 '06072',
 '09545',
 '26050',
 '11528',
 '25817',
 '04189',
 '02172',
 '03587',
 '07071',
 '26163',
 '06555',
 '08328',
 '99863',
 '13810',
 '00503',
 '05312',
 '24288',
 '07124',
 '05518',
 '01080',
 '09842',
 '00660',
 '13712',
 '02441',
 '10375',
 '03440',
 '16424',
 '09983',
 '26992',
 '00868',
 '02676',
 '04140',
 '24647',
 '28393',
 '07746',
 '03694',
 '24447',
 '04130',
 '05252',
 '07789',
 '00048',
 '08964',
 '10513',
 '04364',
 '14668',
 '04437',
 '08074',
 '07657',
 '08336',
 '09002',
 '01372',
 '08464',
 '09383',
 '23217',
 '03435',
 '01132',
 '09020',
 '23626',
 '23780',
 '07697',
 '08192',
 '26108',
 '08295',
 '08511',
 '00244',
 '05675',
 '01289',
 '02580',
 '00623',
 '07032',
 '05926',
 '08867',
 '13828',
 '15229',
 '27039',
 '77719',
 '24411',
 '17895',
 '04223',
 '05390',
 '24384',
 '01344',
 '02300',
 '05250',
 '11060',
 '02041',
 '07646',
 '19414',
 '02823',
 '09033',
 '27041',
 '02272',
 '24308',
 '11089',
 '14859',
 '01189',
 '26918',
 '02490',
 '07327',
 '24796',
 '12284',
 '04941',
 '28109',
 '27066',
 '25003',
 '05766',
 '09051',
 '05821',
 '28151',
 '14926',
 '13758',
 '26110',
 '21737',
 '00892',
 '00104',
 '15168',
 '10441',
 '08025',
 '03582',
 '01012',
 '07041',
 '15282',
 '07798',
 '06697',
 '08579',
 '03888',
 '00544',
 '08219',
 '09977',
 '28350',
 '09579',
 '01241',
 '01894',
 '21750',
 '01714',
 '26728',
 '99789',
 '10995',
 '01573',
 '04969',
 '06490',
 '10356',
 '03007',
 '03146',
 '24933',
 '07355',
 '11095',
 '01700',
 '14142',
 '01561',
 '14278',
 '17914',
 '23810',
 '22814',
 '25093',
 '02857',
 '08429',
 '25728',
 '04745',
 '09186',
 '25647',
 '05572',
 '11162',
 '23549',
 '01478',
 '07473',
 '09252',
 '01365',
 '04887',
 '99748',
 '09986',
 '05835',
 '10502',
 '77680',
 '10041',
 '21345',
 '08731',
 '11750',
 '01242',
 '08535',
 '10367',
 '27381',
 '27019',
 '23067',
 '07885',
 '03340',
 '08216',
 '10918',
 '14023',
 '09797',
 '03051',
 '13693',
 '00635',
 '02629',
 '00109',
 '03290',
 '14096',
 '03519',
 '27971',
 '08366',
 '07022',
 '26878',
 '01938',
 '03908',
 '08510',
 '09018',
 '11879',
 '07821',
 '26221',
 '13970',
 '08378',
 '21633',
 '24637',
 '07482',
 '09643',
 '24943',
 '08717',
 '26329',
 '03586',
 '03968',
 '05897',
 '17156',
 '20021',
 '00423',
 '02826',
 '02065',
 '04528',
 '07159',
 '23696',
 '27612',
 '03001',
 '03222',
 '04211',
 '25938',
 '08103',
 '14967',
 '05624',
 '14083',
 '01023',
 '24181',
 '00033',
 '04091',
 '24413',
 '25793',
 '05727',
 '23869',
 '03357',
 '09478',
 '16881',
 '28757',
 '09835',
 '99929',
 '11495',
 '11946',
 '08279',
 '24327',
 '15186',
 '09535',
 '26246',
 '08118',
 '02093',
 '25796',
 '07210',
 '07019',
 '09397',
 '01472',
 '06582',
 '10799',
 '02094',
 '03112',
 '03681',
 '03332',
 '22753',
 '02341',
 '05257',
 '26337',
 '05216',
 '00661',
 '02326',
 '00433',
 '01619',
 '24069',
 '00391',
 '09102',
 '15733',
 '24849',
 '27781',
 '01592',
 '06863',
 '08563',
 '14427',
 '11407',
 '06943',
 '03238',
 '28857',
 '26292',
 '03898',
 '04309',
 '22471',
 '06078',
 '11675',
 '01118',
 '00056',
 '02963',
 '08697',
 '02161',
 '03109',
 '02779',
 '26935',
 '07359',
 '08923',
 '16142',
 '00285',
 '14080',
 '01340',
 '10393',
 '28701',
 '06373',
 '01722',
 '04899',
 '05682',
 '05954',
 '06026',
 '06116',
 '26252',
 '07286',
 '03012',
 '03739',
 '08700',
 '00565',
 '12188',
 '09236',
 '13699',
 '16940',
 '09653',
 '02130',
 '18754',
 '03273',
 '24084',
 '10050',
 '99977',
 '11632',
 '15174',
 '04113',
 '25664',
 '04655',
 '06532',
 '11041',
 '04893',
 '00663',
 '12104',
 '11017',
 '00081',
 '09661',
 '08404',
 '01820',
 '01887',
 '00389',
 '12406',
 '02621',
 '01922',
 '15106',
 '10703',
 '00830',
 '10165',
 '04178',
 '05222',
 '07588',
 '10240',
 '26253',
 '14043',
 '99933',
 '00292',
 '03936',
 '00602',
 '08469',
 '22971',
 '05211',
 '07577',
 '14040',
 '07223',
 '08471',
 '24267',
 '08131',
 '07181',
 '03349',
 '14930',
 '05636',
 '15033',
 '20026',
 '22556',
 '06568',
 '06690',
 '04116',
 '02417',
 '08718',
 '13882',
 '06330',
 '28255',
 '23474',
 '23770',
 '27571',
 '04287',
 '28232',
 '02307',
 '01457',
 '05876',
 '07684',
 '08784',
 '03422',
 '03495',
 '15625',
 '26158',
 '10796',
 '28790',
 '99952',
 '04133',
 '05811',
 '07553',
 '10612',
 '00226',
 '01341',
 '09119',
 '23891',
 '24964',
 '10686',
 '12103',
 '99871',
 '10085',
 '10131',
 '08620',
 '09663',
 '24494',
 '03631',
 '26663',
 '00468',
 '04917',
 '26257',
 '10392',
 '01057',
 '13772',
 '04452',
 '06035',
 '05896',
 '23940',
 '04938',
 '06393',
 '04872',
 '06618',
 '05189',
 '09615',
 '11128',
 '24771',
 '14657',
 '25590',
 '05883',
 '24984',
 '14089',
 '06544',
 '09757',
 '05999',
 '14068',
 '14438',
 '24518',
 '09177',
 '05796',
 '15160',
 '08048',
 '13945',
 '14005',
 '05938',
 '09173',
 '00217',
 '21308',
 '08041',
 '99919',
 '09750',
 '14415',
 '01039',
 '09789',
 '02434',
 '04784',
 '07375',
 '10816',
 '06304',
 '08444',
 '03214',
 '00858',
 '04509',
 '10600',
 '06144',
 '14867',
 '03315',
 '06163',
 '00629',
 '22853',
 '25157',
 '12489',
 '04501',
 '03062',
 '25622',
 '05577',
 '26966',
 '13781',
 '24163',
 '01002',
 '05875',
 '05593',
 '05546',
 '06704',
 '02234',
 '01091',
 '07337',
 '05837',
 '08125',
 '17885',
 '08236',
 '03875',
 '09838',
 '14053',
 '23658',
 '27383',
 '12470',
 '09318',
 '11986',
 '20039',
 '25889',
 '10584',
 '24917',
 '28053',
 '06708',
 '06294',
 '05664',
 '03479',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [60]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [61]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [62]:
hospital_list_drop['hcode'] = hospital_list_drop['hcode'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [63]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [64]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37964,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37965,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [65]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [66]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15-32-53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11-03-40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [67]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37892, 25)

In [68]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37966
size after drop = 37892
% from drop = 0.19491123636938312

## ตรวจสอบเอาแต่ 5 หลัก

site & PartitionKey

In [69]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['site'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

# ตารางข้อมูลที่จะนำมาใช้

In [70]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [71]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [72]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,578,578,578,578,578,578,578,578,578,578,...,578,578,578,578,578,578,578,578,578,578
ขอนแก่น,74,74,74,74,74,74,74,74,74,74,...,74,74,74,74,74,74,74,74,74,74
นครพนม,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ประจวบคีรีขันธ์,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
มหาสารคาม,723,723,723,723,723,723,723,723,723,723,...,723,723,723,723,723,723,723,723,723,723
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ราชบุรี,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
ร้อยเอ็ด,1977,1977,1977,1977,1977,1977,1977,1977,1977,1977,...,1977,1977,1977,1977,1977,1977,1977,1977,1977,1977
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,621,621,621,621,621,621,621,621,621,621,...,621,621,621,621,621,621,621,621,621,621
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [73]:
Province_new = Province.iloc[:,:1]
Province_new

                 user
province
กาฬสินธุ์         578
ขอนแก่น            74
นครพนม             16
ปทุมธานี            1
ประจวบคีรีขันธ์     5
มหาสารคาม         723
มุกดาหาร            2
ราชบุรี            23
ร้อยเอ็ด         1977
สมุทรสงคราม         1
อุตรดิตถ์         621
เชียงใหม่           1

In [74]:
P_noindex = Province_new.reset_index()
P_noindex

           province  user
0         กาฬสินธุ์   578
1           ขอนแก่น    74
2            นครพนม    16
3          ปทุมธานี     1
4   ประจวบคีรีขันธ์     5
5         มหาสารคาม   723
6          มุกดาหาร     2
7           ราชบุรี    23
8          ร้อยเอ็ด  1977
9       สมุทรสงคราม     1
10        อุตรดิตถ์   621
11        เชียงใหม่     1

In [75]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

           province  จำนวนการตรวจในแต่ละพื้นที่
0         กาฬสินธุ์                         578
1           ขอนแก่น                          74
2            นครพนม                          16
3          ปทุมธานี                           1
4   ประจวบคีรีขันธ์                           5
5         มหาสารคาม                         723
6          มุกดาหาร                           2
7           ราชบุรี                          23
8          ร้อยเอ็ด                        1977
9       สมุทรสงคราม                           1
10        อุตรดิตถ์                         621
11        เชียงใหม่                           1

## จำนวนที่พบโรค

### ระดับ 0

In [76]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ชม,CMI
53,54614,A4023987-89F9-40AD-B8CB-4EBBE29838E3,2022-04-01,"iPhone13,3",14284,16-28-39,ปกติ (เหลืองใส),0,1,14284.0,...,8.0,ห้วยเม็ก,6.0,พิมูล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
55,71417,AEA3FEAA-376F-427E-A660-83777C7CDD7F,2022-03-28,"iPhone13,4",11159,15-04-55,ปกติ (เหลืองใส),0,1,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37881,11177,frvgwohzcx.png,2022-02-27,Samsung SM-G998B,11111,12-47-12,ปกติ (เหลืองใส),0,44147,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37940,68768,5CF89F00-A898-4BB6-B42A-06CC7EBD3114,2022-03-24,"iPhone11,8",11088,10-30-56,ปกติ (เหลืองใส),0,72093,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37943,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10-31-40,ปกติ (เหลืองใส),0,87606,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37944,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10-26-19,ปกติ (เหลืองใส),0,87720,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [77]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,391,391,391,391,391,391,391,391,391,391,...,391,391,391,391,391,391,391,391,391,391
ขอนแก่น,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,41,41,41,41,41
นครพนม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,294,294,294,294,294,294,294,294,294,294,...,294,294,294,294,294,294,294,294,294,294
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ราชบุรี,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
ร้อยเอ็ด,956,956,956,956,956,956,956,956,956,956,...,956,956,956,956,956,956,956,956,956,956
อุตรดิตถ์,388,388,388,388,388,388,388,388,388,388,...,388,388,388,388,388,388,388,388,388,388
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [78]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

           user
province
กาฬสินธุ์   391
ขอนแก่น      41
นครพนม        1
ปทุมธานี      1
มหาสารคาม   294
มุกดาหาร      2
ราชบุรี      19
ร้อยเอ็ด    956
อุตรดิตถ์   388
เชียงใหม่     1

In [79]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

    province  user
0  กาฬสินธุ์   391
1    ขอนแก่น    41
2     นครพนม     1
3   ปทุมธานี     1
4  มหาสารคาม   294
5   มุกดาหาร     2
6    ราชบุรี    19
7   ร้อยเอ็ด   956
8  อุตรดิตถ์   388
9  เชียงใหม่     1

In [80]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

    province  จำนวนที่พบโรค ระดับ 0
0  กาฬสินธุ์                    391
1    ขอนแก่น                     41
2     นครพนม                      1
3   ปทุมธานี                      1
4  มหาสารคาม                    294
5   มุกดาหาร                      2
6    ราชบุรี                     19
7   ร้อยเอ็ด                    956
8  อุตรดิตถ์                    388
9  เชียงใหม่                      1

### ระดับ 1

In [81]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
156,2,228360F0-EAA2-4081-8A1B-B05002D71F01,2022-03-28,"iPad13,6",10360,12-25-55,ปกติ (เหลืองใส),1,2,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
170,14088,52058EC4-F49F-4AE0-A7DA-2326279781B9,2022-03-10,"iPhone13,4",13944,13-56-20,ปกติ (เหลืองใส),1,2,13944.0,...,2.0,เกษตรวิสัย,3.0,เหล่าหลวง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
176,18041,60E80E30-324B-42E4-A7E1-91F8E4F0DEFC,2022-03-28,"iPhone14,3",11158,10-35-27,ปกติ (เหลืองใส),1,2,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
235,8734,cnhueszysr.png,2022-03-29,OPPO CPH2121,14007,14-00-09,ปกติ (เหลืองใส),1,2,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37856,22244,qkicoalymp.png,2022-02-24,Realme RMX2170,24650,13-49-58,ปกติ (เหลืองใส),1,116,24650.0,...,1.0,เมืองร้อยเอ็ด,1.0,ในเมือง,13.0,ศูนย์บริการสาธารณสุข,10.0,1 ปฐมภูมิ,รอ,RET
37939,2594,vlsujosidt.png,2022-04-05,HUAWEI JKM-LX2,11010,10-03-29,"ปกติ (เหลืองใส), ขุ่น",1,60202,11010.0,...,18.0,ชนบท,1.0,ชนบท,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,ขก,KKN
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [82]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99
ขอนแก่น,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ประจวบคีรีขันธ์,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
มหาสารคาม,190,190,190,190,190,190,190,190,190,190,...,190,190,190,190,190,190,190,190,190,190
ราชบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,469,469,469,469,469,469,469,469,469,469,...,469,469,469,469,469,469,469,469,469,469
อุตรดิตถ์,121,121,121,121,121,121,121,121,121,121,...,121,121,121,121,121,121,121,121,121,121

In [83]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

                 user
province
กาฬสินธุ์          99
ขอนแก่น            22
นครพนม              3
ประจวบคีรีขันธ์     3
มหาสารคาม         190
ราชบุรี             1
ร้อยเอ็ด          469
อุตรดิตถ์         121

In [84]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

          province  user
0        กาฬสินธุ์    99
1          ขอนแก่น    22
2           นครพนม     3
3  ประจวบคีรีขันธ์     3
4        มหาสารคาม   190
5          ราชบุรี     1
6         ร้อยเอ็ด   469
7        อุตรดิตถ์   121

In [85]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

          province  จำนวนที่พบโรค ระดับ 1
0        กาฬสินธุ์                     99
1          ขอนแก่น                     22
2           นครพนม                      3
3  ประจวบคีรีขันธ์                      3
4        มหาสารคาม                    190
5          ราชบุรี                      1
6         ร้อยเอ็ด                    469
7        อุตรดิตถ์                    121

### ระดับ 2

In [86]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
65,95104,C425E09D-D9EF-4690-A4E0-6B1E67EEB760,2022-03-01,"iPhone11,8",13953,11-38-01,ปกติ (เหลืองใส),2,1,13953.0,...,11.0,สุวรรณภูมิ,8.0,ทุ่งหลวง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37859,22244,qhfenzqvzy.png,2022-02-24,Realme RMX2170,24650,13-53-24,ปกติ (เหลืองใส),2,121,24650.0,...,1.0,เมืองร้อยเอ็ด,1.0,ในเมือง,13.0,ศูนย์บริการสาธารณสุข,10.00000,1 ปฐมภูมิ,รอ,RET
37872,11111,willjicqkd.png,2022-03-07,Samsung SM-G998B,11111,11-58-03,สีฟ้า หรือน้ำเงิน,2,22222,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN

In [87]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,42,42,42,42,42,42,42,42,42,42,...,42,42,42,42,42,42,42,42,42,42
ขอนแก่น,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ประจวบคีรีขันธ์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99
ราชบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,237,237,237,237,237,237,237,237,237,237,...,237,237,237,237,237,237,237,237,237,237
อุตรดิตถ์,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51

In [88]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

                 user
province
กาฬสินธุ์          42
ขอนแก่น             7
นครพนม              2
ประจวบคีรีขันธ์     2
มหาสารคาม          99
ราชบุรี             1
ร้อยเอ็ด          237
อุตรดิตถ์          51

In [89]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

          province  user
0        กาฬสินธุ์    42
1          ขอนแก่น     7
2           นครพนม     2
3  ประจวบคีรีขันธ์     2
4        มหาสารคาม    99
5          ราชบุรี     1
6         ร้อยเอ็ด   237
7        อุตรดิตถ์    51

In [90]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

          province  จำนวนที่พบโรค ระดับ 2
0        กาฬสินธุ์                     42
1          ขอนแก่น                      7
2           นครพนม                      2
3  ประจวบคีรีขันธ์                      2
4        มหาสารคาม                     99
5          ราชบุรี                      1
6         ร้อยเอ็ด                    237
7        อุตรดิตถ์                     51

### ระดับ 3

In [91]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
193,2,9EA54E6A-7FD1-46AC-AD82-7F81C47B5B8A,2022-03-30,"iPhone13,4",14280,08-43-41,ขุ่น,3,2,14280.0,...,7.0,พิชัย,5.0,คอรุม,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
205,10993,C469F722-1EB5-41FE-9C7A-123861D4DBBE,2022-03-25,"iPhone12,8",14005,08-55-44,ปกติ (เหลืองใส),3,2,14005.0,...,2.0,ตรอน,4.0,น้ำอ่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
358,77509,E37B852E-2E81-4E70-951B-41064A03C230,2022-03-28,"iPhone13,4",11159,13-02-35,ปกติ (เหลืองใส),3,3,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
441,80734,yazcvadjkd.png,2022-03-29,OPPO CPH2121,14007,14-05-47,ปกติ (เหลืองใส),3,3,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
530,80734,awqkxuyxxw.png,2022-03-29,OPPO CPH2121,14007,15-47-46,ปกติ (เหลืองใส),3,4,14007.0,...,8.0,ลับแล,5.0,ชัยจุมพล,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37845,11111,A6D69321-ED1F-457D-B615-6F4C1F600C01,2022-02-27,"iPhone13,4",11111,18-50-25,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37848,11111,D8D8751F-7259-429A-98AE-431346C74317,2022-02-27,"iPhone13,4",11111,19-14-58,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37849,11111,E2371023-E100-4255-BB0A-9314D26674FC,2022-02-27,"iPhone13,4",11111,19-19-43,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37851,11111,FA4AB630-0269-4445-8439-D22139951BC1,2022-03-07,"iPhone13,4",11111,11-49-54,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37853,11111,mnoycjbkar.png,2022-03-07,Samsung SM-G998B,11111,11-57-35,ปกติ (เหลืองใส),3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [92]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
ขอนแก่น,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครพนม,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
มหาสารคาม,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,68,68
ร้อยเอ็ด,189,189,189,189,189,189,189,189,189,189,...,189,189,189,189,189,189,189,189,189,189
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,35

In [93]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

             user
province
กาฬสินธุ์      30
ขอนแก่น         3
นครพนม          7
มหาสารคาม      68
ร้อยเอ็ด      189
สมุทรสงคราม     1
อุตรดิตถ์      35

In [94]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

      province  user
0    กาฬสินธุ์    30
1      ขอนแก่น     3
2       นครพนม     7
3    มหาสารคาม    68
4     ร้อยเอ็ด   189
5  สมุทรสงคราม     1
6    อุตรดิตถ์    35

In [95]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

      province  จำนวนที่พบโรค ระดับ 3
0    กาฬสินธุ์                     30
1      ขอนแก่น                      3
2       นครพนม                      7
3    มหาสารคาม                     68
4     ร้อยเอ็ด                    189
5  สมุทรสงคราม                      1
6    อุตรดิตถ์                     35

### ระดับ 4

In [96]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
491,74747,965CAA1B-D5FA-498B-A91B-D4662A18E794,2022-03-30,"iPhone12,1",11164,09-07-15,ปกติ (เหลืองใส),4,4,11164.0,...,8.0,ลับแล,5.0,ชัยจุมพล,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
638,10993,679D1941-51ED-406B-A019-94F9922DD485,2022-03-25,"iPhone12,8",14005,11-40-50,ปกติ (เหลืองใส),4,5,14005.0,...,2.0,ตรอน,4.0,น้ำอ่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
832,23811,FBD9F3C2-3679-423B-807B-584E398F54BF,2022-03-30,"iPhone11,8",11161,10-27-48,ปกติ (เหลืองใส),4,6,11161.0,...,5.0,ฟากท่า,1.0,ฟากท่า,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
1092,19237,63A48F39-032E-462D-974B-B651FF741C03,2022-03-28,"iPhone13,4",11159,14-30-03,ปกติ (เหลืองใส),4,8,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
1228,43257,5CB1EEAC-FBBC-4966-9F20-E6B09213840B,2022-03-28,"iPhone13,4",11159,15-03-44,ปกติ (เหลืองใส),4,9,11159.0,...,3.0,ท่าปลา,1.0,ท่าปลา,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37818,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09-32-10,ปกติ (เหลืองใส),4,10986,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37833,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11-52-34,มีเม็ดเลือดแดง,4,11002,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37842,11111,6F95D193-3E3D-452D-99BD-705D0271030F,2022-02-27,"iPhone13,4",11111,18-53-44,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37843,11111,7BB0E403-CEC8-4860-A4B9-C9487B18CDC5,2022-02-27,"iPhone13,4",11111,19-23-10,ใสเป็นน้ำเปล่า,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37846,11111,AD73A95C-3C91-42DA-85AC-00AE0524FAEE,2022-02-27,"iPhone13,4",11111,19-01-11,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [97]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

    province  user
0  กาฬสินธุ์    16
1    ขอนแก่น     1
2     นครพนม     3
3  มหาสารคาม    72
4    ราชบุรี     2
5   ร้อยเอ็ด   126
6  อุตรดิตถ์    26

In [98]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

    province  จำนวนที่พบโรค ระดับ 4
0  กาฬสินธุ์                     16
1    ขอนแก่น                      1
2     นครพนม                      3
3  มหาสารคาม                     72
4    ราชบุรี                      2
5   ร้อยเอ็ด                    126
6  อุตรดิตถ์                     26

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [99]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,391,99.0,42.0,30.0,16.0
1,ขอนแก่น,41,22.0,7.0,3.0,1.0
2,นครพนม,1,3.0,2.0,7.0,3.0
3,ปทุมธานี,1,NaN,NaN,NaN,NaN
4,มหาสารคาม,294,190.0,99.0,68.0,72.0
5,มุกดาหาร,2,NaN,NaN,NaN,NaN
6,ราชบุรี,19,1.0,1.0,NaN,2.0
7,ร้อยเอ็ด,956,469.0,237.0,189.0,126.0
8,อุตรดิตถ์,388,121.0,51.0,35.0,26.0
9,เชียงใหม่,1,NaN,NaN,NaN,NaN

In [100]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [101]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [102]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,578,391.0,99.0,42.0,30.0,16.0
1,ขอนแก่น,74,41.0,22.0,7.0,3.0,1.0
2,นครพนม,16,1.0,3.0,2.0,7.0,3.0
3,ปทุมธานี,1,1.0,0.0,0.0,0.0,0.0
4,ประจวบคีรีขันธ์,5,NaN,NaN,NaN,NaN,NaN
5,มหาสารคาม,723,294.0,190.0,99.0,68.0,72.0
6,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
7,ราชบุรี,23,19.0,1.0,1.0,0.0,2.0
8,ร้อยเอ็ด,1977,956.0,469.0,237.0,189.0,126.0
9,สมุทรสงคราม,1,NaN,NaN,NaN,NaN,NaN
10,อุตรดิตถ์,621,388.0,121.0,51.0,35.0,26.0
11,เชียงใหม่,1,1.0,0.0,0.0,0.0,0.0

In [103]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [104]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [105]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [106]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
2,6223,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น
15,18041,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,โรงพยาบาลตรอน,อุตรดิตถ์
20,27096,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,โรงพยาบาลน้ำปาด,อุตรดิตถ์
22,1,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,โรงพยาบาลส่งเสริมสุขภาพตำบลห้วยเดื่อ ตำบลน้ำไผ่,อุตรดิตถ์
30,8370,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเหล่าสีแก้ว,กาฬสินธุ์
...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37948,68768,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37950,68317,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,โรงพยาบาลนาคู,กาฬสินธุ์
37951,68317,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,โรงพยาบาลนาคู,กาฬสินธุ์
37952,68768,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์

In [107]:
merged_use.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: