<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

## ข้อมูลหลัก ตาราง alldb.csv

In [4]:
alldb = os.path.join(path,'alldb.csv')
alldb = pd.read_csv(alldb)
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [5]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [6]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [7]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [8]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [9]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [10]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [11]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [12]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [13]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'03831',
 '29502',
 '00353',
 '00065',
 '3451400598487',
 '3450101325593',
 '5450500072920',
 '24612',
 '39529',
 '48016',
 '12015',
 '00151',
 '55365',
 '09259',
 '02396',
 '38305',
 '47810',
 '54734',
 '74345',
 '73496',
 'testtohn',
 '00132',
 '97461',
 '84063',
 '27802',
 '51653',
 '53980',
 '11727',
 '73225',
 '25221',
 '62616',
 '49782',
 '00292',
 '35178',
 '65555',
 '11887',
 'ggg',
 '06964',
 '45485',
 '54468',
 '05272',
 '04347',
 '00267',
 '50063',
 '31551',
 '26469',
 '02579',
 '50756',
 '28330',
 '00006',
 '02128',
 '38771',
 '43431',
 '00190',
 '3451100241281',
 '50172',
 '41000',
 '17536',
 '49387',
 '81065',
 '46767',
 '80317',
 '56326',
 '00144',
 '02663',
 '02853',
 '95631',
 '71998',
 '19578',
 '00174',
 '48908',
 '26043',
 '86588',
 '65678',
 '63767',
 '17974',
 '42173',
 '00781',
 '47146',
 '00010',
 '47593',
 '20215',
 '12576',
 '34409',
 '18385',
 '84459',
 '76486',
 '32891',
 '00289',
 '80336',
 '78257',
 '19852',
 '73636',
 '86981',
 '59181',
 '74103',
 '89837',
 '32949',
 '71813',
 '88538',
 '00265',
 '37826',
 '09617',
 '31534',
 '32591',
 '00208',
 '95927',
 '00312',
 '08242',
 '05063',
 '75579',
 '28399',
 '05304',
 '00200',
 '20435',
 '07644',
 '98829',
 '52665',
 '53751',
 '86050',
 '00224',
 '92073',
 '00109',
 '85989',
 '63018',
 '39802',
 '47844',
 '04402',
 '74335',
 '19800',
 '89329',
 '00052',
 '19211',
 '3450100805222',
 '86113',
 '00146',
 '99011',
 '02913',
 '26531',
 '95810',
 '32625',
 '01762',
 '00306',
 '00078',
 '46783',
 '82582',
 '66473',
 '3450101325119',
 '52520',
 '74964',
 '65953',
 '05019',
 '92691',
 '36994',
 '19808',
 '54932',
 '47938',
 '24468',
 '00166',
 '48493',
 '29309',
 '23554',
 '87315',
 '61806',
 '00020',
 '00025',
 '00153',
 '26859',
 '00002',
 '28402',
 '28977',
 '00269',
 '3450101323370',
 '53151',
 '40520',
 '50004',
 '05113',
 '93671',
 '27589',
 '84375',
 '03731',
 '00028',
 '34169',
 '28062',
 '00162',
 '35888',
 '76105',
 '33791',
 '00294',
 'tttt',
 '11215',
 '82822',
 '42098',
 '00399',
 '94538',
 '00160',
 '39103',
 '22804',
 '88023',
 '99884',
 '03663',
 '46622',
 '00134',
 '32873',
 '16904',
 '00966',
 'ttohn',
 '33643',
 '00015',
 '98290',
 '01248',
 '51973',
 '93884',
 '11282',
 '64081',
 '89381',
 '00076',
 '37127',
 '70973',
 '98260',
 '05182',
 '00308',
 '01461',
 '00129',
 '00295',
 '43834',
 '55692',
 '14884',
 '25923',
 '45787',
 '50577',
 '62440',
 '10534',
 '50284',
 '03558',
 '22635',
 '00155',
 '39079',
 '79590',
 '89470',
 'tt',
 '10487',
 '61044',
 '55354',
 '27529',
 '25478',
 '63091',
 '26459',
 '19237',
 '30121',
 '00189',
 '00281',
 '97770',
 '17560',
 '95609',
 '00211',
 '09188',
 '26604',
 '53356',
 '00266',
 '00305',
 '53089',
 '07166',
 '74493',
 '00197',
 '01403',
 '02962',
 '49741',
 '04255',
 '06436',
 '62105',
 '00026',
 '69566',
 '03087',
 '56845',
 '89475',
 '40577',
 '62415',
 '78486',
 '26779',
 '73204',
 '66386',
 '61218',
 '92220',
 '00013',
 '01428',
 '64520',
 '00270',
 '00400',
 '00177',
 '25593',
 '96699',
 '47061',
 '29025',
 '60887',
 '59266',
 '17055',
 '54458',
 '01431',
 '63284',
 '65388',
 '26462',
 '54192',
 '40553',
 '76246',
 '00328',
 '53579',
 '97308',
 '00286',
 '03562',
 '32948',
 '16085',
 '72451',
 '49413',
 '36001',
 '45729',
 '51039',
 '49634',
 '12561',
 '22244',
 '19265',
 '09582',
 '25199',
 '39764',
 '00185',
 '03217',
 '58814',
 '84374',
 '04325',
 '00202',
 '00030',
 '16604',
 '00048',
 '76011',
 '00309',
 '16247',
 '16970',
 '87218',
 '22455',
 '22421',
 '20827',
 '29476',
 '96760',
 '71921',
 '02604',
 '11742',
 '02825',
 '83943',
 '25829',
 '45736',
 '62962',
 '00032',
 '80481',
 '29271',
 '90770',
 '85094',
 '16022',
 '05082',
 '53333',
 '05219',
 '65301',
 '66501',
 '71503',
 '00038',
 '24229',
 'xxx',
 '73876',
 '22456',
 '00756',
 '25466',
 '90609',
 '05849',
 '3451100451251',
 '67850',
 '55547',
 '39965',
 '91811',
 '39537',
 '91209',
 '47623',
 '12022',
 '17777',
 '49161',
 '87771',
 '04405',
 '83771',
 '00219',
 '64810',
 '46520',
 '60147',
 '36362',
 '95161',
 '00214',
 '97057',
 '23338',
 '25781',
 '65995',
 '38500',
 '00090',
 '16675',
 '98126',
 '96099',
 '80253',
 '37216',
 '20690',
 '31619',
 '67778',
 '00348',
 '29514',
 '23675',
 '87738',
 '22542',
 '73772',
 '24179',
 '00055',
 '59326',
 '14914',
 '62059',
 '65854',
 '76475',
 '29611',
 '48042',
 '94454',
 '29094',
 '76523',
 '74378',
 '30431',
 '10264',
 '35942',
 '28010',
 '24563',
 '71417',
 '11816',
 '33316',
 '37140',
 '87536',
 '00578',
 '40591\n40591\n',
 '46970',
 '74951',
 '14380',
 '15229',
 '44199',
 '44805',
 '64612',
 '33100',
 '00217',
 '23630',
 '23049',
 '65733',
 '00123',
 '98530',
 '21831',
 '42370',
 '47950',
 '58668',
 '97505',
 '29907',
 '49659',
 '05116',
 '95668',
 '31428',
 '00180',
 '30059',
 'zzz',
 '50047',
 '00221',
 '17415',
 '01651',
 '03949',
 '39524',
 '67241',
 '27678',
 '26440',
 '52066',
 '22680',
 '05069',
 '94414',
 '45563',
 '83257',
 '45-161',
 '00116',
 '70290',
 '24404',
 '04221',
 '28627',
 '02091',
 '21955',
 '94087',
 '00128',
 '74840',
 '51175',
 '02639',
 '00357',
 '69037',
 '75838',
 'rrr',
 '51689',
 '37151',
 '38778',
 '6724-',
 '50802',
 '19756',
 '93028',
 '81724',
 '82211',
 '18954',
 '11111',
 '00288',
 '63039',
 '05242',
 '11177',
 '00082',
 '23885',
 '17184',
 '63951',
 'aaa',
 '61359',
 '63748',
 '07573',
 '61121',
 '02087',
 '94392',
 '77567',
 '39342',
 '3450101576642',
 '67450',
 '89913',
 '70281',
 '63477',
 '94295',
 '83303',
 '00042',
 '47567',
 '52922',
 '00218',
 '06655',
 '78133',
 '3450100543961',
 '06385',
 '49241',
 '00173',
 '63068',
 '71112',
 '65675',
 '28992',
 '00201',
 '95127',
 '00147',
 '84493',
 '3451100451758',
 '00133',
 '63274',
 '77743',
 '79028',
 '27503',
 '04431',
 '85934',
 '06260',
 '61320',
 '47615',
 '77706',
 '53481',
 '33103',
 '5600190011969',
 '52131',
 '50624',
 '75519',
 '90571',
 '01467',
 '06316',
 '06079',
 '66780',
 '90343',
 '00301',
 '05091',
 '00188',
 '10673',
 '92545',
 '85504',
 '00169',
 '14891',
 '96786',
 '42468',
 '00168',
 '96292',
 '57099',
 '93726',
 'ccc',
 '42380',
 '29417',
 '19632',
 '22119',
 '00126',
 '31322',
 '45641',
 '12413',
 '00206',
 '00297',
 '08818',
 '76386',
 '00176',
 '37249',
 '23186',
 '00018',
 '76851',
 '03649',
 '78231',
 '73445',
 '94881',
 '48298',
 '31994',
 '23010',
 '53943',
 '05391',
 '45161',
 '33553',
 '36390',
 '37231',
 '52912',
 '20847',
 '61486',
 '00114',
 '77978',
 '29379',
 '00902',
 '46643',
 '00046',
 '00203',
 '98171',
 '45825',
 '43228',
 '46732',
 '12041',
 '88942',
 '11361',
 '81409',
 '65632',
 'fff',
 '37645',
 '25083',
 '05210',
 '16372',
 '71378\n71378',
 '77994',
 '87029',
 '00081',
 '13070',
 '10992',
 '81057',
 '20380',
 '26442',
 '00152',
 '77384',
 '93020',
 '33219',
 '60181',
 '00280',
 '76331',
 '53616',
 '37091',
 '00079',
 '75921',
 '37691',
 '00322',
 '23214',
 '745-61',
 '19250',
 '59423',
 '08011',
 '38518',
 '16529',
 '63837',
 '77576',
 '26957',
 '21751',
 '42228',
 '10993',
 '96630',
 '50837',
 '37228',
 '36385',
 '00302',
 '38727',
 '12605',
 '25721',
 '00409',
 '72186',
 '50951',
 '06271',
 '08602',
 '48768',
 '05374',
 '80463',
 '6724100235',
 '34705',
 '97965',
 '29796',
 '25659',
 '69428',
 '00122',
 '52219',
 '57228',
 '01730',
 '98245',
 '19241',
 '3450101536268',
 '02594',
 '95935',
 '51501',
 '83662',
 '22824',
 '00012',
 '68112',
 '24501',
 '17982',
 '03953',
 '05154',
 '65390',
 '31133',
 '18008',
 '54100',
 '32831',
 '98080',
 '00196',
 '28381',
 '84495',
 '38822',
 '94019',
 '03409',
 '83276',
 '44201',
 '3459900286317',
 '00284',
 '28241',
 '68317',
 '15971',
 '26990',
 '00282',
 '00321',
 '87733',
 '55236',
 '32816',
 '65664',
 '17277',
 '00118',
 '46627',
 '26776',
 '19364',
 '01008',
 '55415',
 '53041',
 '06681',
 '15737',
 '97484',
 '47494',
 '30511',
 '00213',
 '00016',
 '49103',
 '92756',
 '86271',
 '67409',
 '19322',
 '62491',
 '08998',
 '00192',
 '96349',
 '02889',
 '90872',
 '88351',
 '99475',
 '19273',
 '89801',
 '14189',
 '34829',
 '16174',
 '19180',
 '00120',
 '59476',
 '15980',
 '00127',
 '27129',
 '40551',
 '46897',
 '26841',
 '01068',
 '10046',
 '08741',
 '44812',
 '49367',
 '30067',
 '14106',
 '3460500500020',
 '11007',
 '00138',
 '67400',
 '00019',
 '5451100055352',
 '45680',
 '17564',
 '49424',
 '84005',
 '00545',
 '16321',
 '00212',
 '00165',
 '73336',
 '80880',
 '46285',
 '00290',
 '61182',
 '69681',
 '19411',
 '47354',
 '75771',
 '87067',
 '31811',
 '3450500541443',
 '00150',
 '67352',
 '57398',
 '50332',
 '83934',
 '00198',
 '50727',
 '92241',
 '05358',
 '30660',
 '00163',
 '00209',
 '48368',
 '00125',
 '73233',
 '36141',
 '00139',
 '64199',
 '00023',
 't006',
 '26916',
 '34096',
 '16820',
 '00318',
 'yyy',
 '62070',
 '86542',
 '74069',
 '03169',
 '83777',
 '17790',
 '51474',
 '55659',
 '34501009308',
 '47933',
 '64385',
 '00303',
 '22354',
 '02728',
 '5450100026807',
 '20304',
 '7140',
 '21177',
 '14767',
 '60953',
 '34791',
 '01009',
 '14291',
 '32077',
 '73251',
 '66708',
 '69576',
 '29875',
 '96081',
 '31762',
 '89056',
 '79920',
 '51892',
 '37607',
 '12023',
 '05211',
 '19855',
 '04857',
 '49322',
 '03535',
 '11198',
 '13978',
 '00193',
 '19903',
 '47656',
 '30977',
 '09006',
 '00131',
 '00069',
 '85444',
 '64503',
 '48393',
 '90154',
 '00273',
 'mks',
 '53510',
 '41061',
 '00304',
 '57066',
 '99771',
 '00299',
 '72938',
 '17536\n\n17536',
 '85433',
 '04461',
 '23416',
 '00115',
 '23231',
 '00277',
 '69431',
 '32796',
 '17966',
 '98551',
 '48956',
 '06277',
 '00278',
 '00404',
 '63910',
 '02217',
 '53330',
 '36358',
 '41951',
 '41301',
 '40035',
 '32310',
 '50144',
 '79001',
 '38422',
 '13361',
 '14667',
 '29159',
 'kkk',
 '14255',
 '06790',
 '78901',
 '00039',
 '10460',
 '34801',
 '46948',
 '67615',
 '70957',
 '78494',
 '18849',
 '43068',
 '00158',
 '53045',
 '52013',
 '70187',
 '58870',
 '47858',
 '28731',
 '94758',
 '25219',
 '00216',
 '06223',
 '45881',
 '12723',
 '98488',
 '96417',
 '77645',
 '16754',
 '38547',
 '86474',
 '00005',
 '87394',
 '74375',
 '27484',
 '55075',
 '41042',
 '00272',
 '54788',
 '32622',
 '00582',
 '74369',
 '87797',
 '66771',
 '00215',
 '10518',
 '89251',
 '38121',
 '16725',
 '13406',
 '84055',
 '39593',
 '00034',
 '26082',
 '00143',
 '15930',
 '44509',
 '72483',
 '77587',
 '51241',
 '58718',
 '93527',
 '69789',
 '39726',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [14]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'03831',
 '29502',
 '00353',
 '00065',
 '24612',
 '39529',
 '48016',
 '12015',
 '00151',
 '55365',
 '09259',
 '02396',
 '38305',
 '47810',
 '54734',
 '74345',
 '73496',
 '00132',
 '97461',
 '84063',
 '27802',
 '51653',
 '53980',
 '11727',
 '73225',
 '25221',
 '62616',
 '49782',
 '00292',
 '35178',
 '65555',
 '11887',
 '06964',
 '45485',
 '54468',
 '05272',
 '04347',
 '00267',
 '50063',
 '31551',
 '26469',
 '02579',
 '50756',
 '28330',
 '00006',
 '02128',
 '38771',
 '43431',
 '00190',
 '50172',
 '41000',
 '17536',
 '49387',
 '81065',
 '46767',
 '80317',
 '56326',
 '00144',
 '02663',
 '02853',
 '95631',
 '71998',
 '19578',
 '00174',
 '48908',
 '26043',
 '86588',
 '65678',
 '63767',
 '17974',
 '42173',
 '00781',
 '47146',
 '00010',
 '47593',
 '20215',
 '12576',
 '34409',
 '18385',
 '84459',
 '76486',
 '32891',
 '00289',
 '80336',
 '78257',
 '40591',
 '19852',
 '73636',
 '86981',
 '59181',
 '74103',
 '89837',
 '32949',
 '71813',
 '88538',
 '00265',
 '37826',
 '09617',
 '31534',
 '32591',
 '00208',
 '95927',
 '00312',
 '08242',
 '05063',
 '75579',
 '28399',
 '05304',
 '00200',
 '20435',
 '07644',
 '98829',
 '52665',
 '53751',
 '86050',
 '00224',
 '92073',
 '00109',
 '85989',
 '63018',
 '39802',
 '47844',
 '04402',
 '74335',
 '19800',
 '89329',
 '00052',
 '19211',
 '86113',
 '00146',
 '99011',
 '02913',
 '26531',
 '95810',
 '32625',
 '01762',
 '00306',
 '00078',
 '46783',
 '82582',
 '66473',
 '52520',
 '74964',
 '65953',
 '05019',
 '92691',
 '36994',
 '19808',
 '54932',
 '47938',
 '24468',
 '00166',
 '48493',
 '29309',
 '23554',
 '87315',
 '61806',
 '00020',
 '00025',
 '00153',
 '26859',
 '00002',
 '28402',
 '28977',
 '00269',
 '53151',
 '40520',
 '50004',
 '05113',
 '93671',
 '27589',
 '84375',
 '03731',
 '00028',
 '34169',
 '28062',
 '00162',
 '35888',
 '76105',
 '33791',
 '00294',
 '11215',
 '82822',
 '42098',
 '00399',
 '94538',
 '00160',
 '39103',
 '22804',
 '88023',
 '99884',
 '03663',
 '46622',
 '00134',
 '32873',
 '16904',
 '00966',
 '33643',
 '00015',
 '98290',
 '01248',
 '51973',
 '93884',
 '11282',
 '64081',
 '89381',
 '00076',
 '37127',
 '70973',
 '98260',
 '05182',
 '00308',
 '01461',
 '00129',
 '00295',
 '43834',
 '55692',
 '14884',
 '25923',
 '45787',
 '50577',
 '62440',
 '10534',
 '50284',
 '03558',
 '22635',
 '00155',
 '39079',
 '79590',
 '89470',
 '10487',
 '61044',
 '55354',
 '27529',
 '25478',
 '63091',
 '26459',
 '19237',
 '30121',
 '00189',
 '00281',
 '97770',
 '17560',
 '95609',
 '00211',
 '09188',
 '26604',
 '53356',
 '00266',
 '00305',
 '53089',
 '07166',
 '74493',
 '00197',
 '01403',
 '02962',
 '49741',
 '04255',
 '06436',
 '62105',
 '00026',
 '69566',
 '03087',
 '56845',
 '89475',
 '40577',
 '62415',
 '78486',
 '26779',
 '73204',
 '66386',
 '61218',
 '92220',
 '00013',
 '01428',
 '64520',
 '00270',
 '00400',
 '00177',
 '25593',
 '96699',
 '47061',
 '29025',
 '60887',
 '59266',
 '17055',
 '54458',
 '01431',
 '63284',
 '65388',
 '26462',
 '54192',
 '40553',
 '76246',
 '00328',
 '53579',
 '97308',
 '00286',
 '03562',
 '32948',
 '16085',
 '72451',
 '49413',
 '36001',
 '45729',
 '51039',
 '49634',
 '12561',
 '22244',
 '19265',
 '09582',
 '25199',
 '39764',
 '00185',
 '03217',
 '58814',
 '84374',
 '04325',
 '00202',
 '00030',
 '16604',
 '00048',
 '76011',
 '00309',
 '16247',
 '16970',
 '87218',
 '22455',
 '22421',
 '20827',
 '29476',
 '96760',
 '71921',
 '02604',
 '11742',
 '02825',
 '83943',
 '25829',
 '45736',
 '62962',
 '00032',
 '80481',
 '29271',
 '90770',
 '85094',
 '16022',
 '05082',
 '53333',
 '05219',
 '65301',
 '66501',
 '71503',
 '00038',
 '24229',
 '73876',
 '22456',
 '00756',
 '25466',
 '90609',
 '05849',
 '67850',
 '55547',
 '39965',
 '91811',
 '39537',
 '91209',
 '47623',
 '12022',
 '17777',
 '49161',
 '87771',
 '04405',
 '83771',
 '00219',
 '64810',
 '46520',
 '60147',
 '36362',
 '95161',
 '00214',
 '97057',
 '23338',
 '25781',
 '65995',
 '38500',
 '00090',
 '16675',
 '98126',
 '96099',
 '80253',
 '37216',
 '20690',
 '31619',
 '67778',
 '00348',
 '29514',
 '23675',
 '87738',
 '22542',
 '73772',
 '24179',
 '00055',
 '59326',
 '14914',
 '62059',
 None,
 '65854',
 '76475',
 '29611',
 '48042',
 '94454',
 '29094',
 '76523',
 '74378',
 '30431',
 '10264',
 '35942',
 '28010',
 '24563',
 '71417',
 '11816',
 '33316',
 '37140',
 '87536',
 '00578',
 '46970',
 '74951',
 '14380',
 '15229',
 '44199',
 '44805',
 '64612',
 '33100',
 '00217',
 '23630',
 '23049',
 '65733',
 '00123',
 '98530',
 '21831',
 '42370',
 '47950',
 '58668',
 '97505',
 '29907',
 '49659',
 '05116',
 '95668',
 '31428',
 '00180',
 '30059',
 '50047',
 '00221',
 '17415',
 '01651',
 '03949',
 '39524',
 '67241',
 '27678',
 '26440',
 '52066',
 '22680',
 '05069',
 '94414',
 '45563',
 '83257',
 '00116',
 '70290',
 '24404',
 '04221',
 '28627',
 '02091',
 '21955',
 '94087',
 '00128',
 '74840',
 '51175',
 '02639',
 '00357',
 '69037',
 '75838',
 '51689',
 '37151',
 '38778',
 '50802',
 '19756',
 '93028',
 '81724',
 '82211',
 '18954',
 '11111',
 '00288',
 '63039',
 '05242',
 '11177',
 '00082',
 '23885',
 '17184',
 '63951',
 '74561',
 '61359',
 '63748',
 '07573',
 '61121',
 '02087',
 '94392',
 '77567',
 '39342',
 '67450',
 '89913',
 '70281',
 '63477',
 '94295',
 '83303',
 '00042',
 '47567',
 '52922',
 '00218',
 '06655',
 '78133',
 '06385',
 '49241',
 '00173',
 '63068',
 '71112',
 '65675',
 '28992',
 '00201',
 '95127',
 '00147',
 '84493',
 '00133',
 '63274',
 '77743',
 '79028',
 '27503',
 '04431',
 '85934',
 '06260',
 '61320',
 '47615',
 '77706',
 '53481',
 '33103',
 '52131',
 '50624',
 '75519',
 '90571',
 '01467',
 '06316',
 '06079',
 '66780',
 '90343',
 '00301',
 '05091',
 '00188',
 '10673',
 '92545',
 '85504',
 '00169',
 '14891',
 '96786',
 '42468',
 '00168',
 '96292',
 '57099',
 '93726',
 '42380',
 '29417',
 '19632',
 '22119',
 '00126',
 '31322',
 '45641',
 '12413',
 '00206',
 '00297',
 '08818',
 '76386',
 '00176',
 '37249',
 '23186',
 '00018',
 '76851',
 '03649',
 '78231',
 '73445',
 '94881',
 '48298',
 '31994',
 '23010',
 '53943',
 '05391',
 '45161',
 '33553',
 '36390',
 '37231',
 '52912',
 '20847',
 '61486',
 '00114',
 '77978',
 '29379',
 '00902',
 '46643',
 '00046',
 '00203',
 '98171',
 '45825',
 '43228',
 '46732',
 '12041',
 '88942',
 '11361',
 '81409',
 '65632',
 '37645',
 '25083',
 '05210',
 '16372',
 '77994',
 '87029',
 '00081',
 '13070',
 '10992',
 '81057',
 '20380',
 '26442',
 '00152',
 '77384',
 '93020',
 '33219',
 '60181',
 '00280',
 '76331',
 '53616',
 '37091',
 '00079',
 '75921',
 '37691',
 '00322',
 '23214',
 '19250',
 '59423',
 '08011',
 '38518',
 '16529',
 '63837',
 '77576',
 '26957',
 '21751',
 '42228',
 '10993',
 '96630',
 '50837',
 '37228',
 '36385',
 '00302',
 '38727',
 '12605',
 '25721',
 '00409',
 '72186',
 '50951',
 '06271',
 '08602',
 '48768',
 '05374',
 '80463',
 '34705',
 '97965',
 '29796',
 '25659',
 '69428',
 '00122',
 '52219',
 '57228',
 '01730',
 '98245',
 '19241',
 '02594',
 '95935',
 '51501',
 '83662',
 '22824',
 '00012',
 '68112',
 '24501',
 '17982',
 '03953',
 '05154',
 '65390',
 '31133',
 '18008',
 '54100',
 '32831',
 '98080',
 '00196',
 '28381',
 '84495',
 '38822',
 '94019',
 '03409',
 '83276',
 '44201',
 '00284',
 '28241',
 '68317',
 '15971',
 '26990',
 '00282',
 '00321',
 '87733',
 '55236',
 '32816',
 '65664',
 '17277',
 '00118',
 '46627',
 '26776',
 '19364',
 '01008',
 '55415',
 '53041',
 '06681',
 '15737',
 '97484',
 '47494',
 '30511',
 '00213',
 '00016',
 '49103',
 '92756',
 '86271',
 '67409',
 '19322',
 '62491',
 '08998',
 '00192',
 '96349',
 '02889',
 '90872',
 '88351',
 '99475',
 '19273',
 '89801',
 '14189',
 '34829',
 '16174',
 '19180',
 '00120',
 '59476',
 '15980',
 '00127',
 '27129',
 '40551',
 '46897',
 '26841',
 '01068',
 '10046',
 '08741',
 '44812',
 '49367',
 '30067',
 '14106',
 '11007',
 '00138',
 '67400',
 '00019',
 '45680',
 '17564',
 '49424',
 '84005',
 '00545',
 '16321',
 '00212',
 '00165',
 '73336',
 '80880',
 '46285',
 '00290',
 '61182',
 '69681',
 '19411',
 '47354',
 '75771',
 '87067',
 '31811',
 '00150',
 '67352',
 '57398',
 '50332',
 '83934',
 '00198',
 '50727',
 '92241',
 '05358',
 '30660',
 '00163',
 '00209',
 '48368',
 '00125',
 '73233',
 '36141',
 '00139',
 '64199',
 '00023',
 '26916',
 '34096',
 '16820',
 '00318',
 '62070',
 '86542',
 '74069',
 '03169',
 '83777',
 '17790',
 '51474',
 '55659',
 '47933',
 '64385',
 '00303',
 '22354',
 '02728',
 '20304',
 '7140',
 '21177',
 '14767',
 '60953',
 '34791',
 '01009',
 '14291',
 '32077',
 '73251',
 '66708',
 '69576',
 '29875',
 '96081',
 '31762',
 '89056',
 '79920',
 '51892',
 '37607',
 '12023',
 '05211',
 '19855',
 '04857',
 '49322',
 '03535',
 '11198',
 '13978',
 '00193',
 '19903',
 '47656',
 '30977',
 '09006',
 '00131',
 '00069',
 '85444',
 '64503',
 '48393',
 '90154',
 '00273',
 '53510',
 '41061',
 '00304',
 '57066',
 '99771',
 '00299',
 '72938',
 '85433',
 '04461',
 '23416',
 '00115',
 '23231',
 '00277',
 '69431',
 '32796',
 '17966',
 '98551',
 '48956',
 '06277',
 '00278',
 '00404',
 '63910',
 '02217',
 '53330',
 '36358',
 '41951',
 '41301',
 '40035',
 '32310',
 '50144',
 '79001',
 '38422',
 '13361',
 '14667',
 '29159',
 '14255',
 '06790',
 '78901',
 '00039',
 '10460',
 '34801',
 '46948',
 '67615',
 '70957',
 '78494',
 '18849',
 '43068',
 '00158',
 '53045',
 '52013',
 '70187',
 '58870',
 '47858',
 '28731',
 '94758',
 '25219',
 '00216',
 '06223',
 '45881',
 '12723',
 '98488',
 '96417',
 '77645',
 '16754',
 '38547',
 '86474',
 '00005',
 '87394',
 '74375',
 '27484',
 '55075',
 '41042',
 '00272',
 '54788',
 '32622',
 '00582',
 '74369',
 '87797',
 '66771',
 '00215',
 '10518',
 '89251',
 '38121',
 '16725',
 '13406',
 '84055',
 '39593',
 '00034',
 '26082',
 '00143',
 '15930',
 '44509',
 '72483',
 '77587',
 '51241',
 '58718',
 '93527',
 '69789',
 '39726',
 '63852',
 '08236',
 '52481',
 '81537',
 '60250',
 '62241',
 '14835',
 '63865',
 '12966',
 '00283',
 '37408',
 '68829',
 '62459',
 '72330',
 '18025',
 '46662',
 '46415',
 '77782',
 '44902',
 '10348',
 '76088',
 '10724',
 '91947',
 '01861',
 '45914',
 '00195',
 '81095',
 '51568',
 '31582',
 '33121',
 '04055',
 '00565',
 '20452',
 '00351',
 '22688',
 '33081',
 '00300',
 '00029',
 ...}

In [16]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [17]:
alldb_drop2['user'] = alldb_drop2['user'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
alldb_drop2.dtypes # เช็คว่า user ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ site

In [19]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [20]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [22]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [23]:
alldb_drop3['site'] = alldb_drop3['site'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
alldb_drop3.dtypes # เช็คว่า site ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ ov

In [25]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [26]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [27]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [28]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [29]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [31]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00353',
 '00749',
 '00065',
 '00816',
 '01422',
 '02461',
 '01699',
 '05115',
 '01714',
 '00787',
 '00783',
 '02708',
 '00839',
 '00464',
 '01520',
 '05139',
 '01644',
 '01490',
 '02048',
 '00151',
 '01304',
 '06004',
 '02396',
 '00940',
 '01173',
 '01769',
 '08278',
 '00558',
 '00976',
 '02672',
 '02199',
 '01171',
 '05013',
 '00489',
 '00132',
 '00488',
 '01570',
 '00856',
 '01137',
 '00682',
 '01864',
 '03065',
 '02251',
 '03299',
 '06030',
 '00688',
 '00527',
 '00292',
 '02727',
 '02231',
 '01726',
 '03134',
 '09025',
 '04074',
 '02015',
 '00988',
 '01460',
 '03330',
 '04666',
 '08978',
 '04347',
 '01796',
 '01451',
 '00267',
 '00401',
 '01288',
 '02421',
 '02826',
 '03964',
 '02437',
 '00626',
 '04127',
 '00485',
 '02773',
 '01381',
 '00057',
 '02579',
 '02588',
 '01688',
 '01862',
 '02813',
 '03101',
 '00006',
 '02093',
 '00689',
 '02345',
 '06003',
 '08383',
 '00974',
 '04012',
 '04019',
 '08919',
 '00190',
 '00258',
 '00962',
 '01015',
 '01561',
 '00820',
 '01596',
 '01716',
 '00846',
 '02749',
 '01184',
 '05998',
 '01895',
 '02690',
 '04006',
 '01897',
 '02987',
 '08939',
 '10984',
 '01992',
 '00144',
 '00514',
 '06020',
 '01556',
 '00736',
 ' 0000',
 '01440',
 '00174',
 '00945',
 '00066',
 '01674',
 '01335',
 '01276',
 '01501',
 '03420',
 '01518',
 '02096',
 '01987',
 '00611',
 '00633',
 '02713',
 '01123',
 '45972',
 '00781',
 '05724',
 '0000',
 '01913',
 '00010',
 '08521',
 '02516',
 '03127',
 '08477',
 '02900',
 '00416',
 '02624',
 '01713',
 '01559',
 '03932',
 '01415',
 '03393',
 '00887',
 '05720',
 '05960',
 '10971',
 '01815',
 '01099',
 '00289',
 '01162',
 '01387',
 '00759',
 '02286',
 '08963',
 '01190',
 '02922',
 '00265',
 '00778',
 '03312',
 '01282',
 '05266',
 '00784',
 '02619',
 '02679',
 '01510',
 '05200',
 '05308',
 '03309',
 '00208',
 '00312',
 '00461',
 '00922',
 '00559',
 '09012',
 '05255',
 '00200',
 '00831',
 '02981',
 '00000',
 '00515',
 '01110',
 '00785',
 '02100',
 '01552',
 '02741',
 '03252',
 '00224',
 '05716',
 '01046',
 '00109',
 '01483',
 '02543',
 '09008',
 '00871',
 '08948',
 '01488',
 '00067',
 '01052',
 '01071',
 '00923',
 '10963',
 '01337',
 '00052',
 '05118',
 '02360',
 '02488',
 '01866',
 '04001',
 '00146',
 '00518',
 '08519',
 '01773',
 '03265',
 '01025',
 '00383',
 '00667',
 '02714',
 '02531',
 '05098',
 '00643',
 '10964',
 '00563',
 '01762',
 '02982',
 '00058',
 '01724',
 '00306',
 '00078',
 '01214',
 '01833',
 '02137',
 '00646',
 '00080',
 '01284',
 '01820',
 '00553',
 '01819',
 '02313',
 '04732',
 '00225',
 '08923',
 '01497',
 '02857',
 '00100',
 '02891',
 '00437',
 '02014',
 '01264',
 '03279',
 '03437',
 '00849',
 '01741',
 '01407',
 '00892',
 '05988',
 '01278',
 '05117',
 '00166',
 '00536',
 '01191',
 '01652',
 '03358',
 '04022',
 '05196',
 '01991',
 '00020',
 '01538',
 '00025',
 '00153',
 '02640',
 '01574',
 '01229',
 '00220',
 '00002',
 '00567',
 '00269',
 '01259',
 '11003',
 '01817',
 '02249',
 '06723',
 '01568',
 '02596',
 '05113',
 '00448',
 '00934',
 '04643',
 '00510',
 '01801',
 '02028',
 '02384',
 '00826',
 '03055',
 '01017',
 '00028',
 '03363',
 '01973',
 '00950',
 '02994',
 '03052',
 '01004',
 '00162',
 '00669',
 '01521',
 '01271',
 '02849',
 '03378',
 '08944',
 '00928',
 '06017',
 '01631',
 '00294',
 '02031',
 '02943',
 '01322',
 '01429',
 '03826',
 '00595',
 '00490',
 '03445',
 '05770',
 '00399',
 '01898',
 '06720',
 '02892',
 '00811',
 '00160',
 '00537',
 '04623',
 '01681',
 '03155',
 '00532',
 '02776',
 '02340',
 '03054',
 '05128',
 '01859',
 '01072',
 '02827',
 '03939',
 '01327',
 '04788',
 '153',
 '01133',
 '01349',
 '00134',
 '05109',
 '10987',
 '00068',
 '02124',
 '00543',
 '00966',
 '00015',
 '00243',
 '01289',
 '02544',
 '09016',
 '01248',
 '04652',
 '03126',
 '01738',
 '15069',
 '03133',
 '01876',
 '05267',
 '00819',
 '01170',
 '87720',
 '00814',
 '00557',
 '01826',
 '06026',
 '00884',
 '00076',
 '00242',
 '02622',
 '00717',
 '02975',
 '02775',
 '01930',
 '03496',
 '01492',
 '05127',
 '09007',
 '02189',
 '02275',
 '01302',
 '01430',
 '00879',
 '01908',
 '04253',
 '02390',
 '02933',
 '00308',
 '00860',
 '06043',
 '00991',
 '00421',
 '02748',
 '01461',
 '00361',
 '01868',
 '00129',
 '02387',
 '03509',
 '00295',
 '01185',
 '03347',
 '03550',
 '05096',
 '00593',
 '02314',
 '01844',
 '03019',
 '00880',
 '02860',
 '01363',
 '03140',
 '05204',
 '01614',
 '03044',
 '00155',
 '03909',
 '01588',
 '02395',
 '01292',
 '01504',
 '01775',
 '01090',
 '03287',
 '000152',
 '04080',
 '02250',
 '00774',
 '00793',
 '00599',
 '01443',
 '03156',
 '03324',
 '01807',
 '04664',
 '02863',
 '00584',
 '00668',
 '02917',
 '08067',
 '06060',
 '08351',
 '03311',
 '00918',
 '00189',
 '00281',
 '04039',
 '05131',
 '00708',
 '01818',
 '00240',
 '02823',
 '01655',
 '01841',
 '00211',
 '01240',
 '01150',
 '01630',
 '00915',
 '02586',
 '00095',
 '01874',
 '06001',
 '03057',
 '01165',
 '05126',
 '00763',
 '01086',
 '04681',
 '00266',
 '01005',
 '0005',
 '00305',
 '02080',
 '05980',
 '04635',
 '00197',
 '02107',
 '03244',
 '00507',
 '01403',
 '01181',
 '02962',
 '01525',
 '01001',
 '02687',
 '03494',
 '05997',
 '00026',
 '00834',
 '10967',
 '03042',
 '00091',
 '00531',
 '02042',
 '04663',
 '00544',
 '00896',
 '01697',
 '01899',
 '02808',
 '04165',
 '08911',
 '10970',
 '00013',
 '02468',
 '00077',
 '03503',
 '01428',
 '00405',
 '00270',
 '02262',
 '02781',
 '00400',
 '00614',
 '00179',
 '01547',
 '02370',
 '03063',
 '03549',
 '00177',
 '00971',
 '01382',
 '02237',
 '02677',
 '02909',
 '04639',
 '02757',
 '02006',
 '01147',
 '03015',
 '00378',
 '05982',
 '00542',
 '02567',
 '05313',
 '00494',
 '02814',
 '00730',
 '03188',
 '00802',
 '01128',
 '00372',
 '01431',
 '01742',
 '00365',
 '02637',
 '04688',
 '01928',
 '03167',
 '10979',
 '01144',
 '00328',
 '01682',
 '00765',
 '02265',
 '48',
 '01889',
 '00356',
 '02112',
 '05111',
 '04098',
 '00245',
 '00286',
 '01187',
 '00944',
 '01348',
 '02683',
 '03553',
 '03824',
 '10998',
 '01712',
 '05146',
 '01297',
 '00806',
 '01104',
 '01748',
 '02021',
 '01962',
 '03538',
 '00996',
 '04625',
 '01346',
 '03181',
 '04642',
 '00715',
 '112',
 '01039',
 '03180',
 '00609',
 '00853',
 '02666',
 '01778',
 '1881',
 '01374',
 '02220',
 '05336',
 '00097',
 '0030',
 '08975',
 '09028',
 '00726',
 '01493',
 '04075',
 '00185',
 '01690',
 '03150',
 '03217',
 '05102',
 '01936',
 '03124',
 '06059',
 '08934',
 '00495',
 '02490',
 '00202',
 '00030',
 '02209',
 '00048',
 '00722',
 '01405',
 '00762',
 '00309',
 '01765',
 '02989',
 '02287',
 '01496',
 '03995',
 '04651',
 '02170',
 '02125',
 '03948',
 '00520',
 '01169',
 '00354',
 '02812',
 '01261',
 '00979',
 '06018',
 '02854',
 '03329',
 '01030',
 '02030',
 '03125',
 '01125',
 '03397',
 '89',
 '00326',
 '01063',
 '01669',
 '01620',
 '02604',
 '01548',
 '02524',
 '08938',
 '01365',
 '02825',
 '02610',
 '000164',
 '05318',
 '00907',
 '01571',
 '02893',
 '00032',
 '01893',
 '02064',
 '03328',
 '09005',
 '89170',
 '219',
 '01447',
 '000102',
 '02218',
 '00872',
 '03510',
 '04018',
 '03111',
 '00999',
 '05219',
 '10978',
 '00038',
 '03151',
 '00756',
 '01092',
 '08945',
 '08995',
 '00393',
 '00855',
 '01628',
 '01194',
 '03179',
 '02073',
 '03068',
 '00949',
 '03725',
 '02830',
 '09011',
 '88432',
 '00981',
 '01522',
 '00500',
 '09009',
 '09001',
 '107',
 '00575',
 '01256',
 '01717',
 '01242',
 '01560',
 '00843',
 '02977',
 '01824',
 '05247',
 '05995',
 '01389',
 '00590',
 '00219',
 '00718',
 '03030',
 '00487',
 '00480',
 '01379',
 '05093',
 '00583',
 '01014',
 '00438',
 '00397',
 '00214',
 '06031',
 '01886',
 '02694',
 '00707',
 '04735',
 '0010',
 '00368',
 '01402',
 '04014',
 '04095',
 '00090',
 '02662',
 '02756',
 '03345',
 '03508',
 '04013',
 '00912',
 '00060',
 '08421',
 '00627',
 '00417',
 '05107',
 '04183',
 '08974',
 '01804',
 '01376',
 '00496',
 '02106',
 '00572',
 '00348',
 '01597',
 '02517',
 '05104',
 '01045',
 '00055',
 '01607',
 '01725',
 '05719',
 '00946',
 '87606',
 '02956',
 '02110',
 '01687',
 '02949',
 '00426',
 '00623',
 '04059',
 '02337',
 '01667',
 '00766',
 '02883',
 '03008',
 '00870',
 '00683',
 '01413',
 '01632',
 '03060',
 '00327',
 '00408',
 '01711',
 '03334',
 '02752',
 '08987',
 '01106',
 '00680',
 '01323',
 '02005',
 '02079',
 '00578',
 '02123',
 '02151',
 '00741',
 '02405',
 '01419',
 '05973',
 '01888',
 '00840',
 '01519',
 '10965',
 '03379',
 '00535',
 '00973',
 '02376',
 '02500',
 '03424',
 '00747',
 '177',
 '002.5',
 '05120',
 '00217',
 '01011',
 '00585',
 '04060',
 '01980',
 '02934',
 '01388',
 '00385',
 '01879',
 '00123',
 '01485',
 '01694',
 '06023',
 '00275',
 '00877',
 '00428',
 '00391',
 '00827',
 '00377',
 '10976',
 '02534',
 '03154',
 '05116',
 '05958',
 '01975',
 '03141',
 '00180',
 '00671',
 '01958',
 '10961',
 '02267',
 '00221',
 '00818',
 '02941',
 '03292',
 '01763',
 '01671',
 '00890',
 '01651',
 '02616',
 '03949',
 '02204',
 '00529',
 '08917',
 '01059',
 '00369',
 '01177',
 '01308',
 '04684',
 '02256',
 '02621',
 '02882',
 '03168',
 '00805',
 '00674',
 '00844',
 '01212',
 '02350',
 '02848',
 '00116',
 '00771',
 '02498',
 '03261',
 '06033',
 '01003',
 '05977',
 '00175',
 '08989',
 '01658',
 '01601',
 '08910',
 '02348',
 '00128',
 '02341',
 '01965',
 '02493',
 '001',
 '00804',
 '00869',
 '02236',
 '10986',
 '01486',
 '02639',
 '00357',
 '00634',
 '01166',
 '08967',
 '00184',
 '05112',
 '02692',
 '00596',
 '00716',
 '03039',
 '06041',
 '05339',
 '08980',
 '08972',
 '03533',
 '01100',
 '03007',
 '06717',
 '06013',
 '00613',
 '01495',
 '02197',
 '02431',
 '00288',
 '02009',
 '00994',
 '02103',
 '11111',
 '01172',
 '04802',
 '02960',
 '01450',
 '02819',
 '00082',
 '00628',
 '08996',
 '06012',
 '03236',
 '01580',
 '09003',
 '116',
 '04046',
 '00739',
 '04659',
 '05248',
 '01277',
 '02292',
 '09017',
 '02122',
 '05290',
 '02986',
 '03977',
 '1022',
 '02513',
 '01770',
 '10974',
 '00478',
 '00547',
 '00867',
 '02925',
 '00227',
 '03136',
 '01315',
 '00364',
 '03048',
 '05721',
 '00042',
 '08743',
 '09036',
 '04640',
 '01105',
 '03708',
 '03361',
 '08958',
 '00218',
 '01901',
 '02024',
 '02685',
 '00366',
 '00339',
 '00358',
 '02887',
 '01617',
 '11163',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [32]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [34]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00353',
 '00749',
 '00065',
 '00816',
 '01422',
 '02461',
 '01699',
 '05115',
 '01714',
 '00787',
 '00783',
 '02708',
 '00839',
 '00464',
 '01520',
 '05139',
 '01644',
 '01490',
 '02048',
 '00151',
 '01304',
 '06004',
 '02396',
 '00940',
 '01173',
 '01769',
 '08278',
 '00558',
 '00976',
 '02672',
 '02199',
 '01171',
 '05013',
 '00489',
 '00132',
 '00488',
 '01570',
 '00856',
 '01137',
 '00682',
 '01864',
 '03065',
 '02251',
 '03299',
 '06030',
 '00688',
 '00527',
 '00292',
 '02727',
 '02231',
 '01726',
 '03134',
 '09025',
 '04074',
 '02015',
 '00988',
 '01460',
 '03330',
 '04666',
 '08978',
 '04347',
 '01796',
 '01451',
 '00267',
 '00401',
 '01288',
 '02421',
 '02826',
 '03964',
 '02437',
 '00626',
 '04127',
 '00485',
 '02773',
 '01381',
 '00057',
 '02579',
 '02588',
 '01688',
 '01862',
 '02813',
 '03101',
 '00006',
 '02093',
 '00689',
 '02345',
 '06003',
 '08383',
 '00974',
 '04012',
 '04019',
 '08919',
 '00190',
 '00258',
 '00962',
 '01015',
 '01561',
 '00820',
 '01596',
 '01716',
 '00846',
 '02749',
 '01184',
 '05998',
 '01895',
 '02690',
 '04006',
 '01897',
 '02987',
 '08939',
 '10984',
 '01992',
 '00144',
 '00514',
 '06020',
 '01556',
 '00736',
 ' 0000',
 '01440',
 '00174',
 '00945',
 '00066',
 '01674',
 '01335',
 '01276',
 '01501',
 '03420',
 '01518',
 '02096',
 '01987',
 '00611',
 '00633',
 '02713',
 '01123',
 '45972',
 '00781',
 '05724',
 '0000',
 '01913',
 '00010',
 '08521',
 '02516',
 '03127',
 '08477',
 '02900',
 '00416',
 '02624',
 '01713',
 '01559',
 '03932',
 '01415',
 '03393',
 '00887',
 '05720',
 '05960',
 '10971',
 '01815',
 '01099',
 '00289',
 '01162',
 '01387',
 '00759',
 '02286',
 '08963',
 '01190',
 '02922',
 '00265',
 '00778',
 '03312',
 '01282',
 '05266',
 '00784',
 '02619',
 '02679',
 '01510',
 '05200',
 '05308',
 '03309',
 '00208',
 '00312',
 '00461',
 '00922',
 '00559',
 '09012',
 '05255',
 '00200',
 '00831',
 '02981',
 '00000',
 '00515',
 '01110',
 '00785',
 '02100',
 '01552',
 '02741',
 '03252',
 '00224',
 '05716',
 '01046',
 '00109',
 '01483',
 '02543',
 '09008',
 '00871',
 '08948',
 '01488',
 '00067',
 '01052',
 '01071',
 '00923',
 '10963',
 '01337',
 '00052',
 '05118',
 '02360',
 '02488',
 '01866',
 '04001',
 '00146',
 '00518',
 '08519',
 '01773',
 '03265',
 '01025',
 '00383',
 '00667',
 '02714',
 '02531',
 '05098',
 '00643',
 '10964',
 '00563',
 '01762',
 '02982',
 '00058',
 '01724',
 '00306',
 '00078',
 '01214',
 '01833',
 '02137',
 '00646',
 '00080',
 '01284',
 '01820',
 '00553',
 '01819',
 '02313',
 '04732',
 '00225',
 '08923',
 '01497',
 '02857',
 '00100',
 '02891',
 '00437',
 '02014',
 '01264',
 '03279',
 '03437',
 '00849',
 '01741',
 '01407',
 '00892',
 '05988',
 '01278',
 '05117',
 '00166',
 '00536',
 '01191',
 '01652',
 '03358',
 '04022',
 '05196',
 '01991',
 '00020',
 '01538',
 '00025',
 '00153',
 '02640',
 '01574',
 '01229',
 '00220',
 '00002',
 '00567',
 '00269',
 '01259',
 '11003',
 '01817',
 '02249',
 '06723',
 '01568',
 '02596',
 '05113',
 '00448',
 '00934',
 '04643',
 '00510',
 '01801',
 '02028',
 '02384',
 '00826',
 '03055',
 '01017',
 '00028',
 '03363',
 '01973',
 '00950',
 '02994',
 '03052',
 '01004',
 '00162',
 '00669',
 '01521',
 '01271',
 '02849',
 '03378',
 '08944',
 '00928',
 '06017',
 '01631',
 '00294',
 '02031',
 '02943',
 '01322',
 '01429',
 '03826',
 '00595',
 '00490',
 '03445',
 '05770',
 '00399',
 '01898',
 '06720',
 '02892',
 '00811',
 '00160',
 '00537',
 '04623',
 '01681',
 '03155',
 '00532',
 '02776',
 '02340',
 '03054',
 '05128',
 '01859',
 '01072',
 '02827',
 '03939',
 '01327',
 '04788',
 '153',
 '01133',
 '01349',
 '00134',
 '05109',
 '10987',
 '00068',
 '02124',
 '00543',
 '00966',
 '00015',
 '00243',
 '01289',
 '02544',
 '09016',
 '01248',
 '04652',
 '03126',
 '01738',
 '15069',
 '03133',
 '01876',
 '05267',
 '00819',
 '01170',
 '87720',
 '00814',
 '00557',
 '01826',
 '06026',
 '00884',
 '00076',
 '00242',
 '02622',
 '00717',
 '02975',
 '02775',
 '01930',
 '03496',
 '01492',
 '05127',
 '09007',
 '02189',
 '02275',
 '01302',
 '01430',
 '00879',
 '01908',
 '04253',
 '02390',
 '02933',
 '00308',
 '00860',
 '06043',
 '00991',
 '00421',
 '02748',
 '01461',
 '00361',
 '01868',
 '00129',
 '02387',
 '03509',
 '00295',
 '01185',
 '03347',
 '03550',
 '05096',
 '00593',
 '02314',
 '01844',
 '03019',
 '00880',
 '02860',
 '01363',
 '03140',
 '05204',
 '01614',
 '03044',
 '00155',
 '03909',
 '01588',
 '02395',
 '01292',
 '01504',
 '01775',
 '01090',
 '03287',
 '04080',
 '02250',
 '00774',
 '00793',
 '00599',
 '01443',
 '03156',
 '03324',
 '01807',
 '04664',
 '02863',
 '00584',
 '00668',
 '02917',
 '08067',
 '06060',
 '08351',
 '03311',
 '00918',
 '00189',
 '00281',
 '04039',
 '05131',
 '00708',
 '01818',
 '00240',
 '02823',
 '01655',
 '01841',
 '00211',
 '01240',
 '01150',
 '01630',
 '00915',
 '02586',
 '00095',
 '01874',
 '06001',
 '03057',
 '01165',
 '05126',
 '00763',
 '01086',
 '04681',
 '00266',
 '01005',
 '0005',
 '00305',
 '02080',
 '05980',
 '04635',
 '00197',
 '02107',
 '03244',
 '00507',
 '01403',
 '01181',
 '02962',
 '01525',
 '01001',
 '02687',
 '03494',
 '05997',
 '00026',
 '00834',
 '10967',
 '03042',
 '00091',
 '00531',
 '02042',
 '04663',
 '00544',
 '00896',
 '01697',
 '01899',
 '02808',
 '04165',
 '08911',
 '10970',
 '00013',
 '02468',
 '00077',
 '03503',
 '01428',
 '00405',
 '00270',
 '02262',
 '02781',
 '00400',
 '00614',
 '00179',
 '01547',
 '02370',
 '03063',
 '03549',
 '00177',
 '00971',
 '01382',
 '02237',
 '02677',
 '02909',
 '04639',
 '02757',
 '02006',
 '01147',
 '03015',
 '00378',
 '05982',
 '00542',
 '02567',
 '05313',
 '00494',
 '02814',
 '00730',
 '03188',
 '00802',
 '01128',
 '00372',
 '01431',
 '01742',
 '00365',
 '02637',
 '04688',
 '01928',
 '03167',
 '10979',
 '01144',
 '00328',
 '01682',
 '00765',
 '02265',
 '48',
 '01889',
 '00356',
 '02112',
 '05111',
 '04098',
 '00245',
 '00286',
 '01187',
 '00944',
 '01348',
 '02683',
 '03553',
 '03824',
 '10998',
 '01712',
 '05146',
 '01297',
 '00806',
 '01104',
 '01748',
 '02021',
 '01962',
 '03538',
 '00996',
 '04625',
 '01346',
 '03181',
 '04642',
 '00715',
 '01039',
 '03180',
 '00609',
 '00853',
 '02666',
 '01778',
 '01374',
 '02220',
 '05336',
 '00097',
 '0030',
 '08975',
 '09028',
 '00726',
 '01493',
 '04075',
 '00185',
 '01690',
 '03150',
 '03217',
 '05102',
 '01936',
 '03124',
 '06059',
 '08934',
 '00495',
 '02490',
 '00202',
 '00030',
 '02209',
 '00048',
 '00722',
 '01405',
 '00762',
 '00309',
 '01765',
 '02989',
 '02287',
 '01496',
 '03995',
 '04651',
 '02170',
 '02125',
 '03948',
 '00520',
 '01169',
 '00354',
 '02812',
 '01261',
 '00979',
 '06018',
 '02854',
 '03329',
 '01030',
 '02030',
 '03125',
 '01125',
 '03397',
 '00326',
 '01063',
 '01669',
 '01620',
 '02604',
 '01548',
 '02524',
 '08938',
 '01365',
 '02825',
 '02610',
 '000164',
 '05318',
 '00907',
 '01571',
 '02893',
 '00032',
 '01893',
 '02064',
 '03328',
 '09005',
 '89170',
 '01447',
 '000102',
 '02218',
 '00872',
 '03510',
 '04018',
 '03111',
 '00999',
 '05219',
 '10978',
 '00038',
 '03151',
 '00756',
 '01092',
 '08945',
 '08995',
 '00393',
 '00855',
 '01628',
 '01194',
 '03179',
 '02073',
 '03068',
 '00949',
 '03725',
 '02830',
 '09011',
 '88432',
 '00981',
 '01522',
 '00500',
 '09009',
 '09001',
 '107',
 '00575',
 '01256',
 '01717',
 '01242',
 '01560',
 '00843',
 '02977',
 '01824',
 '05247',
 '05995',
 '01389',
 '00590',
 '00219',
 '00718',
 '03030',
 '00487',
 '00480',
 '01379',
 '05093',
 '00583',
 '01014',
 '00438',
 '00397',
 '00214',
 '06031',
 '01886',
 '02694',
 '00707',
 '04735',
 '0010',
 '00368',
 '01402',
 '04014',
 '04095',
 '00090',
 '02662',
 '02756',
 '03345',
 '03508',
 '04013',
 '00912',
 '00060',
 '08421',
 '00627',
 '00417',
 '05107',
 '04183',
 '08974',
 '01804',
 '01376',
 '00496',
 '02106',
 '00572',
 '00348',
 '01597',
 '02517',
 '05104',
 '01045',
 '00055',
 '01607',
 '01725',
 '05719',
 '00946',
 '87606',
 '02956',
 '02110',
 '01687',
 '02949',
 '00426',
 '00623',
 '04059',
 '02337',
 '01667',
 '00766',
 '02883',
 '03008',
 '00870',
 '00683',
 '01413',
 '01632',
 '03060',
 '00327',
 '00408',
 '01711',
 '03334',
 '02752',
 '08987',
 '01106',
 '00680',
 '01323',
 '02005',
 '02079',
 '00578',
 '02123',
 '02151',
 '00741',
 '02405',
 '01419',
 '05973',
 '01888',
 '00840',
 '01519',
 '10965',
 '03379',
 '00535',
 '00973',
 '02376',
 '02500',
 '03424',
 '00747',
 '177',
 '05120',
 '00217',
 '01011',
 '00585',
 '04060',
 '01980',
 '02934',
 '01388',
 '00385',
 '01879',
 '00123',
 '01485',
 '01694',
 '06023',
 '00275',
 '00877',
 '00428',
 '00391',
 '00827',
 '00377',
 '10976',
 '02534',
 '03154',
 '05116',
 '05958',
 '01975',
 '03141',
 '00180',
 '00671',
 '01958',
 '10961',
 '02267',
 '00221',
 '00818',
 '02941',
 '03292',
 '01763',
 '01671',
 '00890',
 '01651',
 '02616',
 '03949',
 '02204',
 '00529',
 '08917',
 '01059',
 '00369',
 '01177',
 '01308',
 '04684',
 '02256',
 '02621',
 '02882',
 '03168',
 '00805',
 '00674',
 '00844',
 '01212',
 '02350',
 '02848',
 '00116',
 '00771',
 '02498',
 '03261',
 '06033',
 '01003',
 '05977',
 '00175',
 '08989',
 '01658',
 '01601',
 '08910',
 '02348',
 '00128',
 '02341',
 '01965',
 '02493',
 '001',
 '00804',
 '00869',
 '02236',
 '10986',
 '01486',
 '02639',
 '00357',
 '00634',
 '01166',
 '08967',
 '00184',
 '05112',
 '02692',
 '00596',
 '00716',
 '03039',
 '06041',
 '05339',
 '08980',
 '08972',
 '03533',
 '01100',
 '03007',
 '06717',
 '06013',
 '00613',
 '01495',
 '02197',
 '02431',
 '00288',
 '02009',
 '00994',
 '02103',
 '11111',
 '01172',
 '04802',
 '02960',
 '01450',
 '02819',
 '00082',
 '00628',
 '08996',
 '06012',
 '03236',
 '01580',
 '09003',
 '116',
 '04046',
 '00739',
 '04659',
 '05248',
 '01277',
 '02292',
 '09017',
 '02122',
 '05290',
 '02986',
 '03977',
 '1022',
 '02513',
 '01770',
 '10974',
 '00478',
 '00547',
 '00867',
 '02925',
 '00227',
 '03136',
 '01315',
 '00364',
 '03048',
 '05721',
 '00042',
 '08743',
 '09036',
 '04640',
 '01105',
 '03708',
 '03361',
 '08958',
 '00218',
 '01901',
 '02024',
 '02685',
 '00366',
 '00339',
 '00358',
 '02887',
 '01617',
 '11163',
 '01397',
 '179',
 '01948',
 '04671',
 '00106',
 '11008',
 ...}

In [35]:
alldb_drop5['PartitionKey'] = alldb_drop5['PartitionKey'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
alldb_drop5.dtypes # เช็คว่า PartitionKey ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [37]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [38]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [39]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [40]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [41]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [42]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [43]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [44]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [45]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [46]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [47]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [48]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [49]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [50]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [51]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [52]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [53]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [54]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [55]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [56]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [57]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [58]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [59]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'28840',
 '28109',
 '01422',
 '27047',
 '11734',
 '28260',
 '01699',
 '07679',
 '07919',
 '24321',
 '27021',
 '23957',
 '27979',
 '05307',
 '08179',
 '11616',
 '09804',
 '00839',
 '00464',
 '01520',
 '05139',
 '08310',
 '24936',
 '11338',
 '01304',
 '28213',
 '02396',
 '14440',
 '09069',
 '01769',
 '09955',
 '07294',
 '00558',
 '06481',
 '11652',
 '28107',
 '11071',
 '24458',
 '25031',
 '08336',
 '12488',
 '09409',
 '00132',
 '04364',
 '00488',
 '01570',
 '06802',
 '24740',
 '14720',
 '00682',
 '03202',
 '11896',
 '24734',
 '06716',
 '11945',
 '11497',
 '27761',
 '14849',
 '03975',
 '00292',
 '09632',
 '04002',
 '15131',
 '28184',
 '24318',
 '02689',
 '10584',
 '26941',
 '23948',
 '09967',
 '21293',
 '26304',
 '08785',
 '07162',
 '06257',
 '23892',
 '07746',
 '05260',
 '08471',
 '26697',
 '13905',
 '09233',
 '27342',
 '07097',
 '07245',
 '05272',
 '04224',
 '01451',
 '08881',
 '11138',
 '05537',
 '00267',
 '03147',
 '26925',
 '06405',
 '09140',
 '02437',
 '11126',
 '00626',
 '12055',
 '05221',
 '11741',
 '05608',
 '09464',
 '23975',
 '04836',
 '02813',
 '07574',
 '05483',
 '07763',
 '10679',
 '27457',
 '05024',
 '09546',
 '08154',
 '26119',
 '00974',
 '08919',
 '11172',
 '25095',
 '02705',
 '27464',
 '28113',
 '27988',
 '05064',
 '01716',
 '11513',
 '07587',
 '15260',
 '08884',
 '03891',
 '07107',
 '08095',
 '08888',
 '01184',
 '06881',
 '26104',
 '10938',
 '07414',
 '26922',
 '04006',
 '04810',
 '06160',
 '26263',
 '03941',
 '11334',
 '04258',
 '05948',
 '22538',
 '01992',
 '11452',
 '02412',
 '04173',
 '27454',
 '02418',
 '17901',
 '11560',
 '12441',
 '02322',
 '13994',
 '99815',
 '00174',
 '99919',
 '28140',
 '23623',
 '06100',
 '08717',
 '01674',
 '04184',
 '04120',
 '09871',
 '01987',
 '05001',
 '14071',
 '06240',
 '05724',
 '01913',
 '11300',
 '08521',
 '13930',
 '02433',
 '14067',
 '02516',
 '09241',
 '02744',
 '22844',
 '11200',
 '26009',
 '28563',
 '09682',
 '11660',
 '09499',
 '01713',
 '22758',
 '07479',
 '25151',
 '01415',
 '15247',
 '28782',
 '07592',
 '09790',
 '11656',
 '24701',
 '14195',
 '07236',
 '11065',
 '16352',
 '03586',
 '08073',
 '01162',
 '24597',
 '14626',
 '07595',
 '10889',
 '04341',
 '21708',
 '00265',
 '07742',
 '11114',
 '11536',
 '07468',
 '09416',
 '10871',
 '10885',
 '14803',
 '02679',
 '09221',
 '00208',
 '00461',
 '04743',
 '21336',
 '09664',
 '08242',
 '00922',
 '04600',
 '09510',
 '06868',
 '15411',
 '00200',
 '04952',
 '07384',
 '00515',
 '24859',
 '03252',
 '26715',
 '06323',
 '23609',
 '25831',
 '25975',
 '28052',
 '14555',
 '24035',
 '20299',
 '09701',
 '11471',
 '28823',
 '28003',
 '28124',
 '00871',
 '25600',
 '09220',
 '08299',
 '04414',
 '11176',
 '09836',
 '04763',
 '10963',
 '01337',
 '06169',
 '11307',
 '24395',
 '03568',
 '00052',
 '02198',
 '08872',
 '04001',
 '06768',
 '23658',
 '08519',
 '07599',
 '25651',
 '24085',
 '27989',
 '28353',
 '00383',
 '00667',
 '02714',
 '03601',
 '14133',
 '00563',
 '02982',
 '01724',
 '13708',
 '07011',
 '02374',
 '07380',
 '10381',
 '09032',
 '12069',
 '13740',
 '00080',
 '05462',
 '02313',
 '01497',
 '00100',
 '24090',
 '25613',
 '04345',
 '08037',
 '24530',
 '24803',
 '03279',
 '03437',
 '04964',
 '10099',
 '24515',
 '24468',
 '08380',
 '09175',
 '24780',
 '08865',
 '05117',
 '00536',
 '28616',
 '24374',
 '03358',
 '05698',
 '08202',
 '22949',
 '25616',
 '09648',
 '00020',
 '27636',
 '11535',
 '02640',
 '08382',
 '04889',
 '08511',
 '77754',
 '07318',
 '77608',
 '00269',
 '06508',
 '21507',
 '02260',
 '15167',
 '99945',
 '06952',
 '10040',
 '23122',
 '14719',
 '07317',
 '11847',
 '00934',
 '22034',
 '25890',
 '28848',
 '03055',
 '09950',
 '27555',
 '01017',
 '23945',
 '04556',
 '01973',
 '24568',
 '04817',
 '00162',
 '05392',
 '07340',
 '09064',
 '09615',
 '10954',
 '09213',
 '08944',
 '25990',
 '12064',
 '09447',
 '09906',
 '03862',
 '03847',
 '05478',
 '08575',
 '25910',
 '11323',
 '02943',
 '19440',
 '24140',
 '06566',
 '09288',
 '01898',
 '04774',
 '14650',
 '25765',
 '00811',
 '11144',
 '26209',
 '28093',
 '00537',
 '26062',
 '01681',
 '25917',
 '14710',
 '02776',
 '24556',
 '03663',
 '01072',
 '02827',
 '06229',
 '27976',
 '03293',
 '13861',
 '27746',
 '06215',
 '26294',
 '07780',
 '10050',
 '05061',
 '06840',
 '03717',
 '08244',
 '09261',
 '00068',
 '04560',
 '06732',
 '03757',
 '24541',
 '10020',
 '09901',
 '14850',
 '25645',
 '27551',
 '11205',
 '14221',
 '16084',
 '05224',
 '03126',
 '09799',
 '06735',
 '27623',
 '28303',
 '07977',
 '26616',
 '05267',
 '00819',
 '05749',
 '08860',
 '23736',
 '10126',
 '12408',
 '08706',
 '00884',
 '05786',
 '07263',
 '05658',
 '05836',
 '05890',
 '08737',
 '02622',
 '10683',
 '05410',
 '12042',
 '15049',
 '17342',
 '24548',
 '25173',
 '03496',
 '09639',
 '21532',
 '77692',
 '07883',
 '05401',
 '02275',
 '24155',
 '00879',
 '11272',
 '22884',
 '02933',
 '25661',
 '00308',
 '00860',
 '06943',
 '26356',
 '00421',
 '14591',
 '02387',
 '19435',
 '01185',
 '15012',
 '23711',
 '03347',
 '03550',
 '24538',
 '00593',
 '01844',
 '05324',
 '08557',
 '12489',
 '03650',
 '15152',
 '24329',
 '10041',
 '25668',
 '09230',
 '06789',
 '09926',
 '11854',
 '05204',
 '13746',
 '26653',
 '03044',
 '08111',
 '07487',
 '13691',
 '24039',
 '03256',
 '04471',
 '99747',
 '01504',
 '27490',
 '11467',
 '02250',
 '00793',
 '03156',
 '25006',
 '01807',
 '25857',
 '10094',
 '02863',
 '00584',
 '09623',
 '24356',
 '07188',
 '10515',
 '25812',
 '09732',
 '24797',
 '25706',
 '08319',
 '00281',
 '04088',
 '03702',
 '10024',
 '24575',
 '08578',
 '24956',
 '11992',
 '25718',
 '23216',
 '10739',
 '28056',
 '06715',
 '09402',
 '05434',
 '01630',
 '05406',
 '02449',
 '09086',
 '09188',
 '26016',
 '27650',
 '28803',
 '01874',
 '05838',
 '13922',
 '06922',
 '24486',
 '01086',
 '24079',
 '04027',
 '04324',
 '26134',
 '11433',
 '22340',
 '09161',
 '02080',
 '28812',
 '11407',
 '11079',
 '23474',
 '03244',
 '00507',
 '04195',
 '05851',
 '05626',
 '06603',
 '06743',
 '09363',
 '01001',
 '24111',
 '08805',
 '10053',
 '03903',
 '11099',
 '06247',
 '07731',
 '03042',
 '08090',
 '23969',
 '09616',
 '08726',
 '00531',
 '22879',
 '23720',
 '09754',
 '10750',
 '00896',
 '04837',
 '02808',
 '09545',
 '03795',
 '09268',
 '24633',
 '24027',
 '00077',
 '08539',
 '25447',
 '01428',
 '25715',
 '06691',
 '00405',
 '00270',
 '03453',
 '10711',
 '23232',
 '01547',
 '28860',
 '00971',
 '02677',
 '04639',
 '06244',
 '10558',
 '25966',
 '09120',
 '10368',
 '14147',
 '22093',
 '06204',
 '10796',
 '24558',
 '28023',
 '03015',
 '26927',
 '06144',
 '10781',
 '24330',
 '07436',
 '04491',
 '05611',
 '05313',
 '07999',
 '11150',
 '14318',
 '03990',
 '06336',
 '00372',
 '01742',
 '02637',
 '06087',
 '08846',
 '09469',
 '26353',
 '07684',
 '04045',
 '28821',
 '77730',
 '09811',
 '03167',
 '07492',
 '09331',
 '26612',
 '09729',
 '10979',
 '08665',
 '15863',
 '03203',
 '99913',
 '04988',
 '28871',
 '01889',
 '02112',
 '03750',
 '24950',
 '26205',
 '02806',
 '05881',
 '24382',
 '07894',
 '04098',
 '25836',
 '03553',
 '03264',
 '09250',
 '26354',
 '00806',
 '01104',
 '01962',
 '00996',
 '05300',
 '05402',
 '26163',
 '05781',
 '04642',
 '00715',
 '19733',
 '26088',
 '05409',
 '03180',
 '23507',
 '05165',
 '11021',
 '14053',
 '21344',
 '00609',
 '24422',
 '08131',
 '09898',
 '13667',
 '11294',
 '11627',
 '99902',
 '22821',
 '01374',
 '05336',
 '10091',
 '14361',
 '10961',
 '06045',
 '00185',
 '07721',
 '25000',
 '05102',
 '01936',
 '24046',
 '07873',
 '04325',
 '00202',
 '03440',
 '26918',
 '14217',
 '00030',
 '02209',
 '06525',
 '03556',
 '28765',
 '11411',
 '11152',
 '10219',
 '04963',
 '05337',
 '03995',
 '16936',
 '24178',
 '02125',
 '28329',
 '25111',
 '23998',
 '02812',
 '22421',
 '05453',
 '08220',
 '15017',
 '03864',
 '20827',
 '06437',
 '05400',
 '07748',
 '06048',
 '19346',
 '02542',
 '01125',
 '26170',
 '03694',
 '14269',
 '04114',
 '05460',
 '07407',
 '09564',
 '02604',
 '09751',
 '01365',
 '07852',
 '02610',
 '09479',
 '06128',
 '11244',
 '19355',
 '01571',
 '00032',
 '77664',
 '08744',
 '07310',
 '10228',
 '11621',
 '26133',
 '06243',
 '08820',
 '09481',
 '04202',
 '11415',
 '16135',
 '04037',
 '25004',
 '09600',
 '03737',
 '06482',
 '07699',
 '11989',
 '27477',
 '04885',
 '06736',
 '26216',
 '03667',
 '99879',
 '00999',
 '07180',
 '09537',
 '18360',
 '07046',
 '06744',
 '09118',
 '25155',
 '22178',
 '06993',
 '04930',
 '99904',
 '28254',
 '07814',
 '07469',
 '01628',
 '03725',
 '05407',
 '10664',
 '10862',
 '11454',
 '23028',
 '02649',
 '06796',
 '26002',
 '09009',
 '06183',
 '23984',
 '09001',
 '23795',
 '02089',
 '26222',
 '25904',
 '09356',
 '28801',
 '01560',
 '11134',
 '41075',
 '05995',
 '28101',
 '19441',
 '00590',
 '02551',
 '06512',
 '02432',
 '00718',
 '23944',
 '07867',
 '00487',
 '05093',
 '07141',
 '10504',
 '26703',
 '07185',
 '06263',
 '11155',
 '11393',
 '03813',
 '00438',
 '10674',
 '00397',
 '28684',
 '00214',
 '26960',
 '00707',
 '14130',
 '27968',
 '12271',
 '06161',
 '23715',
 '06584',
 '21585',
 '04095',
 '16043',
 '06594',
 '23961',
 '09911',
 '00090',
 '03693',
 '11914',
 '28027',
 '09531',
 '13815',
 '99743',
 '00417',
 '14186',
 '13999',
 '11425',
 '10748',
 '01804',
 '07059',
 '04433',
 '07182',
 '02106',
 '13895',
 '19925',
 '08841',
 '09863',
 '24972',
 '02517',
 '28441',
 '11331',
 '19467',
 '23675',
 '14220',
 '11271',
 '01607',
 '04454',
 '07271',
 '02110',
 '11296',
 '07175',
 '13834',
 '28621',
 '03802',
 '21351',
 '02883',
 '06293',
 '10715',
 '14019',
 '04972',
 '02171',
 '11498',
 '07527',
 '27347',
 '07520',
 '03639',
 '21593',
 '14717',
 '03912',
 '00870',
 '05120',
 '03712',
 '07250',
 '13662',
 '26348',
 '26691',
 '02246',
 '07138',
 '11301',
 '01106',
 '00680',
 '05246',
 '09289',
 '28083',
 '14922',
 '24519',
 '02005',
 '02970',
 '06133',
 '06532',
 '07765',
 '27685',
 '07753',
 '05545',
 '03379',
 '00535',
 '00973',
 '07918',
 '15252',
 '03424',
 '03974',
 '99973',
 '10019',
 '26041',
 '07907',
 '04896',
 '28316',
 '01011',
 '07359',
 '03534',
 '24680',
 '02444',
 '01879',
 '01485',
 '05253',
 '04370',
 '14223',
 '19579',
 '23949',
 '10425',
 '10234',
 '26608',
 '08162',
 '00877',
 '22806',
 '11231',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [60]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [61]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [62]:
hospital_list_drop['hcode'] = hospital_list_drop['hcode'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [63]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [64]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37964,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37965,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [65]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [66]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15-32-53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11-03-40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [67]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37892, 25)

In [68]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37966
size after drop = 37892
% from drop = 0.19491123636938312

## ตรวจสอบเอาแต่ 5 หลัก

user & site & PartitionKey

In [69]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['site'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [70]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['user'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ชม,CMI
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [71]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['PartitionKey'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

# ตารางข้อมูลที่จะนำมาใช้

In [72]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [73]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [74]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นครพนม,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
ร้อยเอ็ด,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
อุตรดิตถ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [75]:
Province_new = Province.iloc[:,:1]
Province_new

           user
province
กาฬสินธุ์     8
นครพนม       16
ร้อยเอ็ด     47
อุตรดิตถ์     1

In [76]:
P_noindex = Province_new.reset_index()
P_noindex

    province  user
0  กาฬสินธุ์     8
1     นครพนม    16
2   ร้อยเอ็ด    47
3  อุตรดิตถ์     1

In [77]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

    province  จำนวนการตรวจในแต่ละพื้นที่
0  กาฬสินธุ์                           8
1     นครพนม                          16
2   ร้อยเอ็ด                          47
3  อุตรดิตถ์                           1

## จำนวนที่พบโรค

### ระดับ 0

In [78]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37797,26462,rkkutomafv.png,2022-03-22,Vivo V2050,11069,09-12-19,ใส่เป็นน้ำเปล่า,0,10966,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37798,26462,emcshsfjwi.png,2022-03-22,Vivo V2050,11069,09-32-32,ขุ่น,0,10967,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37802,26462,lybdixwhaq.png,2022-03-22,Vivo V2050,11069,11-40-37,ปกติ (เหลืองใส),0,10971,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37803,26462,alevoqyzru.png,2022-03-22,OPPO CPH1819,11069,10-59-51,ปกติ (เหลืองใส),0,10972,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37804,26462,gukjamcmkc.png,2022-03-22,OPPO CPH1819,11069,10-57-27,ปกติ (เหลืองใส),0,10972,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37805,26462,vdnnojfhka.png,2022-03-22,Vivo V2050,11069,10-56-14,ปกติ (เหลืองใส),0,10973,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37806,26462,byyhydmqlz.png,2022-03-21,Vivo 1920,11069,13-57-55,ปกติ (เหลืองใส),0,10974,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37809,26462,vmenrqvavo.png,2022-03-21,Vivo 1920,11069,10-27-48,ใส่เป็นน้ำเปล่า,0,10977,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37811,26462,fezuexxmnv.png,2022-03-21,Vivo V2050,11069,09-48-21,ปกติ (เหลืองใส),0,10979,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37813,26462,CF0A47B9-752D-4FC9-A96F-DDC08AAA2247,2022-03-21,"iPhone13,4",11069,09-47-58,ปกติ (เหลืองใส),0,10981,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37815,26462,lyqpzibhsh.png,2022-03-21,Vivo 1920,11069,11-52-33,ปกติ (เหลืองใส),0,10983,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37817,26462,zjcmumrvpp.png,2022-03-22,Vivo V2050,11069,09-11-13,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",0,10985,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37819,26462,uvjpltipuw.png,2022-03-22,Vivo 1920,11069,13-42-14,ปกติ (เหลืองใส),0,10987,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37820,26462,jvbisyqqsu.png,2022-03-21,Vivo V2050,11069,10-53-58,ปกติ (เหลืองใส),0,10988,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37821,26462,vzenektyaa.png,2022-03-22,Vivo 1920,11069,13-41-49,ปกติ (เหลืองใส),0,10989,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37822,26462,edquaqyuia.png,2022-03-21,Vivo 1920,11069,10-55-13,ปกติ (เหลืองใส),0,10990,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37823,26462,9B2969BF-F999-43AD-A082-AFFF7615AEC7,2022-03-21,"iPhone13,4",11069,10-56-13,ปกติ (เหลืองใส),0,10991,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37824,26462,zkddsdiwzw.png,2022-03-21,Vivo 1920,11069,14-17-08,ปกติ (เหลืองใส),0,10992,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37825,26462,jajxlriszt.png,2022-03-22,Vivo 1920,11069,14-01-37,ปกติ (เหลืองใส),0,10993,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37826,26462,vqkgeemfhy.png,2022-03-22,Vivo 1920,11069,14-02-37,มีตะกอน,0,10993,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37827,26462,vcubzchjxv.png,2022-03-21,Vivo 1920,11069,14-18-41,ปกติ (เหลืองใส),0,10995,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37829,26462,AD576EF3-4128-4DCD-93CB-63494C69F326,2022-03-22,"iPhone13,4",11069,13-39-56,ปกติ (เหลืองใส),0,10997,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37830,26462,qukpkgoxfp.png,2022-03-21,Vivo 1920,11069,11-54-17,ปกติ (เหลืองใส),0,10998,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37832,26462,dghzdcrtay.png,2022-03-21,Vivo 1920,11069,11-51-32,มีตะกอน,0,11000,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37837,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),0,11007,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37854,80880,4648F57F-E9AD-468B-9E56-E2844626C772,2022-03-30,"iPhone12,1",11163,09-17-58,ปกติ (เหลืองใส),0,11163,11163.0,...,7.0,พิชัย,1.0,ในเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
37881,11177,frvgwohzcx.png,2022-02-27,Samsung SM-G998B,11111,12-47-12,ปกติ (เหลืองใส),0,44147,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37940,68768,5CF89F00-A898-4BB6-B42A-06CC7EBD3114,2022-03-24,"iPhone11,8",11088,10-30-56,ปกติ (เหลืองใส),0,72093,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37943,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10-31-40,ปกติ (เหลืองใส),0,87606,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37944,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10-26-19,ปกติ (เหลืองใส),0,87720,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [79]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
นครพนม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
อุตรดิตถ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [80]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

           user
province
กาฬสินธุ์     4
นครพนม        1
ร้อยเอ็ด     27
อุตรดิตถ์     1

In [81]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

    province  user
0  กาฬสินธุ์     4
1     นครพนม     1
2   ร้อยเอ็ด    27
3  อุตรดิตถ์     1

In [82]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

    province  จำนวนที่พบโรค ระดับ 0
0  กาฬสินธุ์                      4
1     นครพนม                      1
2   ร้อยเอ็ด                     27
3  อุตรดิตถ์                      1

### ระดับ 1

In [83]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37801,26462,bfceftfurl.png,2022-03-22,OPPO CPH1819,11069,10-08-24,ปกติ (เหลืองใส),1,10970,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37808,26462,sxzmzrsmyf.png,2022-03-21,Vivo 1920,11069,10-08-48,ปกติ (เหลืองใส),1,10976,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37810,26462,9438FD60-2EED-4FC1-BDE0-3AE05A3317BF,2022-03-21,"iPhone13,4",11069,09-49-51,ปกติ (เหลืองใส),1,10978,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37812,26462,fvygcngevl.png,2022-03-21,Vivo 1920,11069,10-29-01,ปกติ (เหลืองใส),1,10980,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37816,26462,jdmhexxudc.png,2022-03-21,Vivo 1920,11069,10-54-05,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,10984,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37831,26462,10CBBBC5-3BAC-4927-93B1-24918834B166,2022-03-22,"iPhone13,4",11069,14-01-18,ปกติ (เหลืองใส),1,10999,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37834,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),1,11003,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37838,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37840,11111,2B2C2FAA-3007-46DF-950D-443F3AEB1C98,2022-02-27,"iPhone13,4",11111,19-04-40,สีเหลืองส้ม (ผิดปกติ),1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37847,11111,C4DAA911-AC32-413D-99DC-880D598208B4,2022-03-07,"iPhone13,4",11111,11-45-19,มีตะกอน,1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37850,11111,EF66DB5E-518F-43A4-A071-4548470CDC2C,2022-03-10,"iPhone13,4",11111,19-22-23,มีตะกอน,1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [84]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ร้อยเอ็ด,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [85]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

           user
province
กาฬสินธุ์     3
นครพนม        3
ร้อยเอ็ด      9

In [86]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

    province  user
0  กาฬสินธุ์     3
1     นครพนม     3
2   ร้อยเอ็ด     9

In [87]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

    province  จำนวนที่พบโรค ระดับ 1
0  กาฬสินธุ์                      3
1     นครพนม                      3
2   ร้อยเอ็ด                      9

### ระดับ 2

In [88]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37799,26462,wgxurysjec.png,2022-03-22,OPPO CPH1819,11069,09-13-07,ขุ่น,2,10968,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37800,26462,vanquopswi.png,2022-03-22,Vivo V2050,11069,09-48-29,ปกติ (เหลืองใส),2,10969,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37828,26462,3340619E-D3F4-4090-B3D0-B6CDF1D9F370,2022-03-21,"iPhone13,4",11069,13-58-41,มีตะกอน,2,10996,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37835,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),2,11005,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37836,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),2,11006,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37852,11111,FF5EA455-7093-4F87-B00C-CD84B563F7DE,2022-02-27,"iPhone13,4",11111,19-23-25,สีเหลืองส้ม (ผิดปกติ),2,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37872,11111,willjicqkd.png,2022-03-07,Samsung SM-G998B,11111,11-58-03,สีฟ้า หรือน้ำเงิน,2,22222,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [89]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5

In [90]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

           user
province
กาฬสินธุ์     1
นครพนม        2
ร้อยเอ็ด      5

In [91]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

    province  user
0  กาฬสินธุ์     1
1     นครพนม     2
2   ร้อยเอ็ด     5

In [92]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

    province  จำนวนที่พบโรค ระดับ 2
0  กาฬสินธุ์                      1
1     นครพนม                      2
2   ร้อยเอ็ด                      5

### ระดับ 3

In [93]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37814,10982,D713CB5A-AE59-4FA7-9387-39C0B766120A,2022-03-21,"iPhone13,4",11069,10-30-00,ปกติ (เหลืองใส),3,10982,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37839,11111,1CE25D88-8ED6-46C8-8EBD-DE2D5F89EB7F,2022-02-27,"iPhone13,4",11111,19-21-47,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37844,11111,97F01805-4C0F-4478-9D0F-FF6A5A0B45B5,2022-02-27,"iPhone13,4",11111,19-22-48,มีตะกอน,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37845,11111,A6D69321-ED1F-457D-B615-6F4C1F600C01,2022-02-27,"iPhone13,4",11111,18-50-25,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37848,11111,D8D8751F-7259-429A-98AE-431346C74317,2022-02-27,"iPhone13,4",11111,19-14-58,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37849,11111,E2371023-E100-4255-BB0A-9314D26674FC,2022-02-27,"iPhone13,4",11111,19-19-43,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37851,11111,FA4AB630-0269-4445-8439-D22139951BC1,2022-03-07,"iPhone13,4",11111,11-49-54,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37853,11111,mnoycjbkar.png,2022-03-07,Samsung SM-G998B,11111,11-57-35,ปกติ (เหลืองใส),3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [94]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
นครพนม,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
ร้อยเอ็ด,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [95]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

          user
province
นครพนม       7
ร้อยเอ็ด     2

In [96]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

   province  user
0    นครพนม     7
1  ร้อยเอ็ด     2

In [97]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

   province  จำนวนที่พบโรค ระดับ 3
0    นครพนม                      7
1  ร้อยเอ็ด                      2

### ระดับ 4

In [98]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37807,26462,5CB6F5EB-324D-448C-84AD-C9D48B23684E,2022-03-22,"iPhone13,4",11069,14-04-13,ปกติ (เหลืองใส),4,10975,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37818,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09-32-10,ปกติ (เหลืองใส),4,10986,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37833,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11-52-34,มีเม็ดเลือดแดง,4,11002,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37842,11111,6F95D193-3E3D-452D-99BD-705D0271030F,2022-02-27,"iPhone13,4",11111,18-53-44,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37843,11111,7BB0E403-CEC8-4860-A4B9-C9487B18CDC5,2022-02-27,"iPhone13,4",11111,19-23-10,ใสเป็นน้ำเปล่า,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37846,11111,AD73A95C-3C91-42DA-85AC-00AE0524FAEE,2022-02-27,"iPhone13,4",11111,19-01-11,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [99]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

   province  user
0    นครพนม     3
1  ร้อยเอ็ด     4

In [100]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

   province  จำนวนที่พบโรค ระดับ 4
0    นครพนม                      3
1  ร้อยเอ็ด                      4

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [101]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,4,3.0,1.0,NaN,NaN
1,นครพนม,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,NaN,NaN,NaN,NaN

In [102]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [103]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [104]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,8,4,3.0,1.0,0.0,0.0
1,นครพนม,16,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,47,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,1,0.0,0.0,0.0,0.0

In [105]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [106]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [107]:
data1 # แสดงข้อมูลหลังเเทน NaN ด้วย 0

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,8,4,3.0,1.0,0.0,0.0
1,นครพนม,16,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,47,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,1,0.0,0.0,0.0,0.0

In [108]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [109]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
37792,26462,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37793,26462,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37794,26462,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37795,26462,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37796,26462,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37946,68768,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37947,68768,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37948,68768,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37952,68768,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์

In [110]:
merged_use.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: https://datastudio.google.com/reporting/a76882b0-d2de-409a-a7b9-b9d4b4a6061a