<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

## ข้อมูลหลัก ตาราง alldb.csv

In [4]:
alldb = os.path.join(path,'alldb.csv')
alldb = pd.read_csv(alldb)
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [5]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [6]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [7]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [8]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [9]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [10]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [11]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [12]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [13]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'00578',
 '00124',
 '25837',
 'test',
 '03523',
 '76819',
 '28402',
 '38522',
 '32873',
 '17842',
 '79493',
 '00180',
 '28010',
 '80175',
 '09188',
 '17966',
 '93028',
 '45701',
 '75835',
 '62616',
 '68805',
 '28627',
 '00042',
 '05219',
 '51689',
 '68856',
 '16022',
 '05135',
 '25199',
 '79066',
 '65854',
 '30481',
 '00624',
 '61044',
 '50580',
 '30024',
 '28291',
 '51235',
 '84187',
 '00169',
 '95927',
 '44812',
 '63564',
 '70610',
 '36481',
 '01721',
 '20395',
 '26511',
 '31534',
 '11611',
 '37091',
 '00144',
 '64385',
 '02639',
 '61338',
 '50466',
 '00300',
 '80880',
 '00118',
 '22099',
 '01248',
 '85989',
 '31619',
 'rrr',
 '00142',
 '17536',
 '67409',
 '50291',
 '12015',
 '34331',
 '03308',
 '52209',
 '58870',
 '00008',
 '20215',
 '23889',
 '19855',
 '48368',
 '18513',
 '40881',
 '00188',
 '53579',
 '54734',
 '03087',
 '62061',
 '86601',
 '18524',
 '78257',
 '08242',
 '94295',
 '77254',
 '63306',
 '04347',
 '86721',
 '00183',
 '82277',
 '91811',
 '00147',
 '64503',
 '34096',
 '99250',
 '23630',
 '95151',
 '45876',
 '00565',
 '02102',
 '75910',
 '63799',
 '01009',
 '15734',
 '47607',
 '48016',
 '00203',
 '45680',
 '74378',
 '48908',
 '69431',
 '24641',
 '80317',
 '45668',
 '39764',
 '98829',
 '05116',
 '00307',
 '71781',
 '02087',
 '32200',
 '97913',
 '05291',
 '61218',
 '14771',
 '65509',
 '00122',
 '49103',
 '04857',
 '09343',
 '37216',
 '08602',
 '35512',
 '48710',
 '37691',
 '02230',
 'bbb',
 '72988',
 '00125',
 '33739',
 '29271',
 '03617',
 '88973',
 '60581',
 '21860',
 '22680',
 '34322',
 '36362',
 '67400',
 '31086',
 '46970',
 '00226',
 '92580',
 '49961',
 '13978',
 '66708',
 '84768',
 '  noknoi2601@gmail.com\n',
 '00117',
 '02594',
 '84374',
 '26442',
 '97255',
 '25683',
 '17564',
 '38121',
 '49161',
 '97016',
 '21177',
 '31755',
 '00030',
 '24986',
 '20452',
 '06260',
 '48646',
 '04387',
 '03649',
 '19800',
 '51903',
 '00120',
 '17790',
 '11727',
 '62440',
 '00409',
 '54974',
 '02091',
 '06079',
 '39103',
 '00136',
 '05272',
 '32310',
 '24994',
 '27046',
 '94392',
 '70370',
 '03535',
 '33171',
 '23058',
 '32591',
 '00328',
 '43431',
 '95631',
 '00266',
 '97057',
 '80067',
 '17184',
 '39079',
 '58196',
 '19364',
 '87797',
 '67615',
 '89576',
 '00076',
 '62962',
 '17415',
 '87218',
 '70948',
 '99376',
 '00015',
 '00139',
 '00024',
 '29514',
 '95821',
 '74523',
 '00173',
 '35942',
 '37249',
 '45531',
 '14767',
 '01850',
 '43791',
 '00052',
 '00158',
 '80481',
 '01088',
 '73038',
 '97461',
 '86299',
 '41340',
 '00071',
 '04325',
 '45884',
 '79620',
 '94538',
 '46341',
 '90612',
 'ttt',
 '02547',
 '16284',
 '43228',
 '24846',
 '09315',
 '08370',
 '97770',
 '49268',
 '25593',
 '52350',
 '62517',
 '25071',
 '01594',
 '96081',
 '95301',
 '91167',
 '94758',
 '02217',
 '94135',
 '98126',
 '29309',
 '65075',
 '33503',
 '67850',
 '09269',
 '06223',
 '10194',
 '44364',
 '88351',
 '00160',
 '09617',
 '06964',
 '51060',
 '94881',
 '00304',
 '62059',
 '11055',
 '86407',
 '03736',
 '22635',
 '94558',
 '03731',
 '26779',
 '20454',
 '46285',
 '00171',
 '23596',
 '85702',
 '00235',
 '36692',
 '84479',
 '51568',
 '77811',
 '74782',
 '92962',
 '01024',
 '69789',
 '24559',
 '42098',
 '32816',
 '60688',
 '09582',
 '48298',
 '46767',
 '98156',
 '06271',
 '64810',
 '03663',
 '00131',
 '00165',
 '45787',
 '34343',
 '77509',
 '01636',
 '04402',
 '37231',
 '49791',
 '61121',
 '88337',
 '00039',
 '52724',
 '96706',
 '77978',
 '00305',
 '45161',
 '83943',
 '18733',
 '56845',
 '78731',
 '00215',
 '08021',
 '29391',
 '59181',
 '00267',
 '00277',
 '05151',
 '19808',
 '78486',
 '11361',
 '75911',
 '19737',
 'vvv',
 '02647',
 '04405',
 '91402',
 '31551',
 '01403',
 '00268',
 '00029',
 '80979',
 '00010',
 '30059',
 '24032',
 '29159',
 'u789',
 '36385',
 '75771',
 '91917',
 '00177',
 '54468',
 '86758',
 '06790',
 '17916',
 '24612',
 '68081',
 '00044',
 '65254',
 '00342',
 '19903',
 '16630',
 '70187',
 '58845',
 '99884',
 '00233',
 '31869',
 '00319',
 '93671',
 '79590',
 '97013',
 '28330',
 '04854',
 '05304',
 '3',
 '27604',
 '88459',
 '55806',
 '01068',
 '71378',
 '66780',
 '00290',
 '22421',
 '00020',
 '29025',
 '33553',
 '72186',
 '89470',
 '10905',
 '01942',
 '40828',
 '05154',
 '37645',
 '22354',
 '29118',
 '51501',
 '04431',
 '00002',
 '00182',
 '00079',
 '02784',
 '3451100146637',
 '00202',
 '94150',
 '95291',
 '16529',
 '41182',
 '05232',
 '00353',
 '95127',
 '67093',
 '00313',
 '13088',
 '40591\n40591\n',
 '53041',
 '74394',
 '42370',
 '87181',
 '81095',
 '00281',
 '76803',
 '09006',
 '99734',
 '51241',
 '70492',
 '57398',
 '13073',
 '05039',
 '14455',
 '25219',
 '3451100241281',
 '51205',
 '38727',
 '21751',
 '87468',
 '07427',
 '76851',
 '00209',
 '03100',
 '3400900747146',
 '36593',
 '24501',
 '02471',
 '05368',
 '80253',
 '16214',
 '34317',
 '71417',
 '87067',
 '27143',
 '60887',
 '49308',
 '83303',
 '96481',
 '05358',
 '53943',
 '39537',
 '64671',
 '29760',
 '40551',
 '84540',
 '3450101229373',
 '63837',
 '00025',
 '64081',
 '18890',
 '00285',
 '15980',
 '00007',
 '40533',
 '31982',
 '94279',
 '23811',
 '00292',
 '04461',
 '77782',
 '43068',
 '45881',
 '70490',
 '22804',
 '94494',
 '59266',
 '30660',
 '31994',
 '00032',
 '63381',
 '47494',
 '9250',
 '22824',
 'fff',
 '73772',
 '53333',
 '28241',
 '66437',
 '77862',
 '45825',
 '51175',
 '00321',
 '3450101576642',
 '89394',
 '00126',
 '00283',
 '83377',
 '51795',
 '00291',
 '50577',
 '34829',
 '34791',
 '3450100940367',
 't006',
 '89290',
 '05091',
 '90872',
 '00303',
 '69428',
 '00149',
 '25721',
 'aiov0002',
 '07331',
 '48956',
 '16971',
 '44805',
 '00130',
 '97831',
 '63312',
 '66801',
 '51403',
 '74369',
 '61419',
 '00212',
 '01008',
 '70671',
 '00166',
 '23958',
 '70810',
 '49782',
 '65775',
 '19632',
 '39802',
 '40059',
 '11742',
 '84196',
 '38778',
 '00009',
 '58814',
 '83771',
 '06655',
 '12839',
 '62241',
 '52665',
 '07166',
 '08236',
 '05211',
 '72483',
 '44201',
 '72330',
 '13070',
 '97308',
 '18025',
 '65675',
 '87374',
 '46481',
 '95978',
 '00201',
 '03080',
 '59128',
 '18253',
 '41061',
 'yyy',
 '92747',
 '15963',
 '67379',
 '97290',
 '76486',
 '75841',
 '71327',
 '00297',
 '42120',
 '3450500541443',
 '50373',
 '70973',
 '23675',
 '76096',
 '49863',
 '72451',
 '26957',
 '98290',
 '27902',
 '61325',
 '67352',
 '98908',
 '6724100235',
 '00073',
 '26082',
 '04483',
 '54781',
 '20304',
 '14491',
 'iii',
 '82822',
 '07573',
 '21688',
 '53751',
 '20606',
 '00037',
 '38518',
 '18954',
 '21955',
 '37728',
 '87697',
 '00302',
 '15801',
 '39342',
 '15971',
 '32077',
 '63284',
 '27678',
 '47602',
 '63323',
 '74414',
 '81570',
 '63748',
 '00197',
 '04193',
 '76331',
 '30311',
 '01762',
 '00280',
 '08998',
 '26540',
 '32625',
 '79920',
 '00167',
 '05210',
 '49901',
 '10487',
 '68759',
 '32891',
 '62687',
 '42465',
 '30067',
 '48255',
 '59305',
 '27096',
 '00298',
 '49178',
 '10653',
 '00078',
 '03217',
 '05663',
 '58668',
 '76246',
 '92120',
 '92648',
 '48042',
 '31114',
 '92691',
 '00006',
 '80336',
 '16904',
 '00081',
 '86542',
 'tt',
 '67864',
 '47135',
 '41937',
 '28917',
 '16247',
 '26811',
 '59144',
 '00134',
 '67280',
 '03263',
 '47605',
 '37228',
 '05961',
 '00781',
 '23049',
 '12561',
 '56764',
 '22692',
 '55354',
 '85504',
 '38547',
 '91209',
 '00251',
 '31428',
 '00049',
 '25829',
 '75251',
 '22545',
 '55299',
 '47844',
 '01183',
 '00059',
 '38771',
 '43868',
 '31011',
 '78251',
 '84276',
 '00065',
 '62491',
 '85094',
 '54599',
 '62941',
 '42173',
 '19591',
 '02728',
 '20847',
 '47567',
 '18008',
 '30121',
 '38463',
 '28731',
 '96699',
 '73302',
 '18402',
 '18849',
 '05019',
 '77572',
 '54458',
 '30041',
 '32171',
 '52131',
 'kkk',
 '97965',
 '53356',
 '01730',
 '11007',
 '00196',
 '56044',
 '54100',
 '46333',
 '37408',
 '92431',
 '09226',
 '00210',
 '32468',
 '18737',
 '37018',
 '51892',
 '54923',
 '26651',
 '88942',
 '14387',
 '65953',
 '15737',
 '62334',
 '08072',
 '96786',
 '15731',
 '05507',
 '16321',
 '06385',
 '00138',
 '74891',
 '19237',
 '89475',
 '11887',
 '34705',
 '74338',
 '00021',
 '90516',
 '5799',
 'ggg',
 '98245',
 '28186',
 '86133',
 '11891',
 '00114',
 '29907',
 '19875',
 '69556',
 '36358',
 'aiov0001',
 '96417',
 '12966',
 '00132',
 '02693',
 '81724',
 '39726',
 '65995',
 '41301',
 '71970',
 '10264',
 '55911',
 '27484',
 '17769',
 '68829',
 '02396',
 '63068',
 '16174',
 '16783',
 '49367',
 '69037',
 '96760',
 '26990',
 '56821',
 '85433',
 '80289',
 '00195',
 '05082',
 '  67241\n',
 '26469',
 '68006',
 '15102',
 '00133',
 '84495',
 '47429',
 '69566',
 '38381',
 '54788',
 'zzz',
 '73381',
 '00055',
 '17132',
 '65656',
 '11864',
 '12378',
 '50837',
 '27802',
 '45047',
 '19202',
 '76014',
 '66082',
 '00123',
 '23554',
 '37732',
 '58993',
 '00214',
 '73204',
 '10993',
 '06268',
 '47938',
 '59721',
 '82894',
 '00223',
 '78901',
 '15046',
 '18865',
 '71112',
 '00357',
 '39638',
 '46902',
 '37259',
 '15229',
 '63429',
 '53920',
 '35178',
 '02759',
 '05069',
 '01882',
 '16725',
 '3450101323370',
 '61182',
 '00113',
 '61265',
 '74747',
 '76386',
 '51653',
 '17777',
 '00154',
 '77645',
 '3460500500020',
 '00159',
 '99011',
 '29796',
 '03421',
 '22542',
 '23214',
 '81472',
 '25179',
 '19762',
 '22456',
 '31196',
 '17982',
 '00069',
 '10105',
 '61605',
 '96431',
 '84392',
 '25128',
 '18331',
 '03562',
 '80463',
 '23738',
 '93726',
 '48274',
 '28961',
 '23010',
 '27529',
 '10518',
 '4',
 '74861',
 '67778',
 '26859',
 '14380',
 '30977',
 '00040',
 '3450100543961',
 '39529',
 '05242',
 '61095',
 '19671',
 '17938',
 '26445',
 '18892',
 '74432',
 '39593',
 '52147',
 '00019',
 '56326',
 '65390',
 '71872',
 '96061',
 '83659',
 '27732',
 '26574',
 '98171',
 '02604',
 '17055',
 '89913',
 '00041',
 '26841',
 '5600190011969',
 '59423',
 '54932',
 '44509',
 '00152',
 '56004',
 '77743',
 '96349',
 '26477',
 '32948',
 '02128',
 '73375',
 '50284',
 '67450',
 '75579',
 '11282',
 '85493',
 '71921',
 '27658',
 '02897',
 '65632',
 '89195',
 '46415',
 '94087',
 '76459',
 '73496',
 '40865',
 '09259',
 'test1',
 '19920',
 '00273',
 '10992',
 '52520',
 '06924',
 '46520',
 '33869',
 '68162',
 '84459',
 '3451400598487',
 '84935',
 '00296',
 '09820',
 '98509',
 '94988',
 '3451100451251',
 '55365',
 '78133',
 '28399',
 '87315',
 '36390',
 '32082',
 '80673',
 '54281',
 '22722',
 '29999',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [14]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'00578',
 '00124',
 '25837',
 '03523',
 '76819',
 '28402',
 '38522',
 '32873',
 '17842',
 '79493',
 '00180',
 '28010',
 '80175',
 '09188',
 '17966',
 '93028',
 '45701',
 '75835',
 '62616',
 '68805',
 '28627',
 '00042',
 '05219',
 '51689',
 '68856',
 '16022',
 '05135',
 '25199',
 '79066',
 '65854',
 '30481',
 '00624',
 '61044',
 '50580',
 '30024',
 '28291',
 '51235',
 '84187',
 '00169',
 '95927',
 '44812',
 '63564',
 '70610',
 '36481',
 '01721',
 '20395',
 '26511',
 '31534',
 '11611',
 '37091',
 '00144',
 '64385',
 '02639',
 '61338',
 '50466',
 '00300',
 '80880',
 '00118',
 '22099',
 '01248',
 '85989',
 '31619',
 '00142',
 '17536',
 '67409',
 '50291',
 '12015',
 '34331',
 '03308',
 '52209',
 '58870',
 '00008',
 '20215',
 '23889',
 '19855',
 '48368',
 '18513',
 '40881',
 '00188',
 '53579',
 '54734',
 '03087',
 '62061',
 '86601',
 '18524',
 '78257',
 '08242',
 '94295',
 '77254',
 '63306',
 '04347',
 '86721',
 '00183',
 '82277',
 '91811',
 '00147',
 '64503',
 '34096',
 '99250',
 '23630',
 '95151',
 '45876',
 '00565',
 '02102',
 '75910',
 '63799',
 '01009',
 '15734',
 '47607',
 '48016',
 '00203',
 '45680',
 '74378',
 '48908',
 '69431',
 '24641',
 '80317',
 '45668',
 '39764',
 '98829',
 '05116',
 '00307',
 '71781',
 '02087',
 '32200',
 '97913',
 '05291',
 '61218',
 '14771',
 '65509',
 '00122',
 '49103',
 '04857',
 '09343',
 '37216',
 '08602',
 '35512',
 '48710',
 '37691',
 '02230',
 '72988',
 '00125',
 '33739',
 '29271',
 '03617',
 '88973',
 '60581',
 '21860',
 '22680',
 '34322',
 '36362',
 '67400',
 '31086',
 '46970',
 '00226',
 '92580',
 '49961',
 '13978',
 '66708',
 '84768',
 '00117',
 '02594',
 '84374',
 '26442',
 '97255',
 '25683',
 '17564',
 '38121',
 '49161',
 '97016',
 '21177',
 '31755',
 '00030',
 '24986',
 '20452',
 '06260',
 '48646',
 '04387',
 '03649',
 '19800',
 '51903',
 '00120',
 '17790',
 '11727',
 '62440',
 '00409',
 '54974',
 '02091',
 '06079',
 '39103',
 '00136',
 '05272',
 '32310',
 '24994',
 '27046',
 '94392',
 '70370',
 '03535',
 '33171',
 '23058',
 '32591',
 '00328',
 '43431',
 '95631',
 '00266',
 '97057',
 '80067',
 '17184',
 '39079',
 '58196',
 '19364',
 '87797',
 '67615',
 '89576',
 '00076',
 '62962',
 '17415',
 '87218',
 '70948',
 '99376',
 '00015',
 '00139',
 '00024',
 '29514',
 '95821',
 '74523',
 '00173',
 '35942',
 '37249',
 '45531',
 '14767',
 '01850',
 '43791',
 '00052',
 '00158',
 '80481',
 '01088',
 '73038',
 '97461',
 '86299',
 '41340',
 '00071',
 '04325',
 '45884',
 '79620',
 '94538',
 '46341',
 '90612',
 '02547',
 '16284',
 '43228',
 '24846',
 '09315',
 '08370',
 '97770',
 '49268',
 '25593',
 '52350',
 '62517',
 '25071',
 '01594',
 '96081',
 '95301',
 '91167',
 '94758',
 '02217',
 '94135',
 '98126',
 '29309',
 '65075',
 '33503',
 '67850',
 '09269',
 '06223',
 '10194',
 '44364',
 '88351',
 '00160',
 '09617',
 '06964',
 '51060',
 '94881',
 '00304',
 '62059',
 '11055',
 '86407',
 '03736',
 '22635',
 '94558',
 '03731',
 '26779',
 '20454',
 '46285',
 '00171',
 '23596',
 '85702',
 '00235',
 '36692',
 '84479',
 '51568',
 '77811',
 '74782',
 '92962',
 '01024',
 '69789',
 '24559',
 '42098',
 '32816',
 '60688',
 '09582',
 '48298',
 '46767',
 '98156',
 '06271',
 '64810',
 '03663',
 '00131',
 '00165',
 '45787',
 '34343',
 '77509',
 '01636',
 '04402',
 '37231',
 '49791',
 '61121',
 '88337',
 '00039',
 '52724',
 '96706',
 '77978',
 '00305',
 '45161',
 '83943',
 '18733',
 '56845',
 '78731',
 '00215',
 '08021',
 '29391',
 '59181',
 '00267',
 '00277',
 '05151',
 '19808',
 '78486',
 '11361',
 '75911',
 '19737',
 '02647',
 '04405',
 '91402',
 '31551',
 '01403',
 '00268',
 '00029',
 '80979',
 '00010',
 '30059',
 '24032',
 '29159',
 '36385',
 '75771',
 '91917',
 '00177',
 '54468',
 '86758',
 '06790',
 '17916',
 '24612',
 '68081',
 '00044',
 '65254',
 '00342',
 '19903',
 '16630',
 '70187',
 '58845',
 '99884',
 '00233',
 '31869',
 '00319',
 '93671',
 '79590',
 '97013',
 '28330',
 '04854',
 '05304',
 '27604',
 '88459',
 '55806',
 '01068',
 '71378',
 '66780',
 '00290',
 '22421',
 '00020',
 '29025',
 '33553',
 '72186',
 '89470',
 '10905',
 '01942',
 '40828',
 '05154',
 '37645',
 '22354',
 '29118',
 '51501',
 '04431',
 '00002',
 '00182',
 '00079',
 '02784',
 '00202',
 '94150',
 '95291',
 '16529',
 '41182',
 '05232',
 '00353',
 '95127',
 '67093',
 '00313',
 '13088',
 '53041',
 '74394',
 '42370',
 '87181',
 '81095',
 '00281',
 '76803',
 '09006',
 '99734',
 '51241',
 '70492',
 '57398',
 '13073',
 '05039',
 '14455',
 '25219',
 '51205',
 '38727',
 '21751',
 '87468',
 '07427',
 '76851',
 '00209',
 '03100',
 '36593',
 '24501',
 '02471',
 '05368',
 '80253',
 '16214',
 '34317',
 '71417',
 '87067',
 '27143',
 '60887',
 '49308',
 '83303',
 '96481',
 '05358',
 '53943',
 '39537',
 '64671',
 '29760',
 '40551',
 '84540',
 '63837',
 '00025',
 '64081',
 '18890',
 '00285',
 '15980',
 '00007',
 '40533',
 '31982',
 '94279',
 '23811',
 '00292',
 '04461',
 '77782',
 '43068',
 '45881',
 '70490',
 '22804',
 '94494',
 '59266',
 '30660',
 '31994',
 '00032',
 '63381',
 '47494',
 '9250',
 '22824',
 '73772',
 '53333',
 '28241',
 '66437',
 '77862',
 '45825',
 '51175',
 '00321',
 '89394',
 '00126',
 '00283',
 '83377',
 '51795',
 '00291',
 '50577',
 '34829',
 '34791',
 '89290',
 '05091',
 '90872',
 '00303',
 '69428',
 '00149',
 '25721',
 '07331',
 '48956',
 '16971',
 '44805',
 '00130',
 '97831',
 '63312',
 '66801',
 '51403',
 '74369',
 '61419',
 '00212',
 '01008',
 '70671',
 '00166',
 '23958',
 '70810',
 '49782',
 '65775',
 '19632',
 '39802',
 '40059',
 '11742',
 '84196',
 '38778',
 '00009',
 '58814',
 '83771',
 '06655',
 '12839',
 '62241',
 '52665',
 '07166',
 '08236',
 '05211',
 '72483',
 '44201',
 '72330',
 '13070',
 '97308',
 '18025',
 '65675',
 '87374',
 '46481',
 '95978',
 '00201',
 '03080',
 '59128',
 '18253',
 '41061',
 '92747',
 '15963',
 '67379',
 '97290',
 '76486',
 '75841',
 '71327',
 '00297',
 '42120',
 '50373',
 '70973',
 '23675',
 '76096',
 '49863',
 '72451',
 '26957',
 '98290',
 '27902',
 '61325',
 '67352',
 '98908',
 '00073',
 '26082',
 '04483',
 '54781',
 '20304',
 '14491',
 '82822',
 '07573',
 '21688',
 '53751',
 '20606',
 '00037',
 '38518',
 '18954',
 '21955',
 '37728',
 '87697',
 '00302',
 '15801',
 '39342',
 '15971',
 '32077',
 '63284',
 '27678',
 '47602',
 '63323',
 '74414',
 '81570',
 '63748',
 '00197',
 '04193',
 '76331',
 '30311',
 '01762',
 '00280',
 '08998',
 '26540',
 '32625',
 '79920',
 '00167',
 '05210',
 '49901',
 '10487',
 '68759',
 '32891',
 '62687',
 '42465',
 '30067',
 '48255',
 '59305',
 '27096',
 '00298',
 '49178',
 '10653',
 '00078',
 '03217',
 '05663',
 '58668',
 '76246',
 '92120',
 '92648',
 '48042',
 '31114',
 '92691',
 '00006',
 '80336',
 '16904',
 '00081',
 '86542',
 '67864',
 '47135',
 '41937',
 '28917',
 '16247',
 '26811',
 '59144',
 '00134',
 '67280',
 '03263',
 '47605',
 '37228',
 '05961',
 '00781',
 '23049',
 '12561',
 '56764',
 '22692',
 '55354',
 '85504',
 '38547',
 '91209',
 '00251',
 '31428',
 '00049',
 '25829',
 '75251',
 '22545',
 '55299',
 '47844',
 '01183',
 '00059',
 '38771',
 '43868',
 '31011',
 '78251',
 '84276',
 '00065',
 '62491',
 '85094',
 '54599',
 '62941',
 '42173',
 '19591',
 '02728',
 '20847',
 '47567',
 '18008',
 '30121',
 '38463',
 '28731',
 '96699',
 '73302',
 '18402',
 '18849',
 '05019',
 '77572',
 '54458',
 '30041',
 '32171',
 '52131',
 '97965',
 '53356',
 '01730',
 '11007',
 '00196',
 '56044',
 '54100',
 '46333',
 '37408',
 '92431',
 '09226',
 '00210',
 '32468',
 '18737',
 '37018',
 '51892',
 '54923',
 '26651',
 '88942',
 '14387',
 '65953',
 '15737',
 '62334',
 '08072',
 '96786',
 '15731',
 '05507',
 '16321',
 '06385',
 '00138',
 '74891',
 '19237',
 '89475',
 '11887',
 '34705',
 '74338',
 '00021',
 '90516',
 '98245',
 '28186',
 '86133',
 '11891',
 '00114',
 '29907',
 '19875',
 '69556',
 '36358',
 '96417',
 '12966',
 '00132',
 '02693',
 '81724',
 '39726',
 '65995',
 '41301',
 '71970',
 '10264',
 '55911',
 '27484',
 '17769',
 '68829',
 '02396',
 '63068',
 '16174',
 '16783',
 '49367',
 '69037',
 '96760',
 '26990',
 '56821',
 '85433',
 '80289',
 '00195',
 '05082',
 '26469',
 '68006',
 '15102',
 '00133',
 '84495',
 '47429',
 '69566',
 '38381',
 '54788',
 '73381',
 '00055',
 '17132',
 '65656',
 '11864',
 '12378',
 '50837',
 '27802',
 '45047',
 '19202',
 '76014',
 '66082',
 '00123',
 '23554',
 '37732',
 '58993',
 '00214',
 '73204',
 '10993',
 '06268',
 '47938',
 '59721',
 '82894',
 '00223',
 '78901',
 '15046',
 '18865',
 '71112',
 '00357',
 '39638',
 '46902',
 '37259',
 '15229',
 '63429',
 '53920',
 '35178',
 '02759',
 '05069',
 '01882',
 '16725',
 '61182',
 '00113',
 '61265',
 '74747',
 '76386',
 '51653',
 '17777',
 '00154',
 '77645',
 '00159',
 '99011',
 '29796',
 '03421',
 '22542',
 '23214',
 '81472',
 '25179',
 '19762',
 '22456',
 '31196',
 '17982',
 '00069',
 '10105',
 '61605',
 '96431',
 '84392',
 '25128',
 '18331',
 '03562',
 '80463',
 '23738',
 '93726',
 '48274',
 '28961',
 '23010',
 '27529',
 '10518',
 '74861',
 '67778',
 '26859',
 '14380',
 '30977',
 '00040',
 '39529',
 '05242',
 '61095',
 '19671',
 '17938',
 '26445',
 '18892',
 '74432',
 '39593',
 '52147',
 '00019',
 '56326',
 '65390',
 '71872',
 '96061',
 '83659',
 '27732',
 '26574',
 '98171',
 '02604',
 '17055',
 '89913',
 '00041',
 '26841',
 '59423',
 '54932',
 '44509',
 '00152',
 '56004',
 '77743',
 '96349',
 '26477',
 '32948',
 '02128',
 '73375',
 '50284',
 '67450',
 '75579',
 '85493',
 '11282',
 '71921',
 '27658',
 '02897',
 '65632',
 '89195',
 '46415',
 '94087',
 '76459',
 '73496',
 '40865',
 '09259',
 '19920',
 '00273',
 '10992',
 '52520',
 '06924',
 '46520',
 '33869',
 '68162',
 '84459',
 '84935',
 '00296',
 '09820',
 '98509',
 '94988',
 '55365',
 '78133',
 '28399',
 '87315',
 '36390',
 '32082',
 '80673',
 '54281',
 '22722',
 '29999',
 '03338',
 '69576',
 '00219',
 '75126',
 '30431',
 '81197',
 '65678',
 '61320',
 '77384',
 '86774',
 '76475',
 '72364',
 '77726',
 '38305',
 '20435',
 '00003',
 '00137',
 '03953',
 '02862',
 '31143',
 '29000',
 '47146',
 '00048',
 '05038',
 '50047',
 '02263',
 '12786',
 '01408',
 '57228',
 '26773',
 '37151',
 '33100',
 '36001',
 '72169',
 '00163',
 '00312',
 '62261',
 ...}

In [16]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [17]:
alldb_drop2 = alldb_drop2[(alldb_drop2['user'].astype(str).str.isdigit()) & (alldb_drop2['user'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [18]:
alldb_drop2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

#### คอลัมน์ site

In [19]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [20]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [22]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [23]:
alldb_drop3 = alldb_drop3[(alldb_drop3['site'].astype(str).str.isdigit()) & (alldb_drop3['site'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [24]:
alldb_drop3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

#### คอลัมน์ ov

In [25]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [26]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

In [27]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [28]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [29]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [31]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00578',
 '00869',
 '00124',
 '00515',
 '03424',
 '01317',
 '06505',
 '03411',
 '00909',
 '00971',
 '00474',
 '00782',
 '01052',
 '00663',
 '00180',
 '01201',
 '03345',
 '03300',
 '01607',
 '01360',
 '02480',
 '02986',
 '01415',
 '01021',
 '01708',
 '03415',
 '01764',
 '00042',
 '08949',
 '05219',
 '00402',
 '10998',
 '01274',
 '00984',
 '06021',
 '04646',
 '05770',
 '04738',
 '01418',
 '00624',
 '02678',
 '00094',
 '03224',
 '02489',
 '01754',
 '02282',
 '00244',
 '01677',
 '02782',
 '02958',
 '04629',
 '00437',
 '00354',
 '02872',
 '0010',
 '00169',
 '01707',
 '00783',
 '03287',
 '04675',
 '00603',
 '04179',
 '00906',
 '01831',
 '01721',
 '02851',
 '03804',
 '02022',
 '04511',
 '10965',
 '00670',
 '00144',
 '08996',
 '01802',
 '00844',
 '02405',
 '01544',
 '02639',
 '01384',
 '01576',
 '04649',
 '00300',
 '01186',
 '00118',
 '00905',
 '01689',
 '01933',
 '00519',
 '01778',
 '02726',
 '00645',
 '01248',
 '01013',
 '01684',
 '02288',
 '02769',
 '11163',
 '00997',
 '06041',
 '01840',
 '02147',
 '01321',
 '02776',
 '00142',
 '03939',
 '01876',
 '01600',
 '01691',
 '10984',
 '06001',
 '00102',
 '05093',
 '06043',
 '01421',
 '00506',
 '03509',
 '02504',
 '01620',
 '01857',
 '02720',
 '00008',
 '01055',
 '01570',
 '03506',
 '08921',
 '01404',
 '04054',
 '01806',
 '01922',
 '00658',
 '02871',
 '00188',
 '01799',
 '01286',
 '01977',
 '08952',
 '01450',
 '02228',
 '01426',
 '02297',
 '01100',
 '02917',
 '01422',
 '08974',
 '01172',
 '01482',
 '04347',
 '00183',
 '01391',
 '00649',
 '03549',
 '06006',
 '02249',
 '00147',
 '01375',
 '00693',
 '10971',
 '00923',
 '01534',
 '02912',
 '01992',
 '04669',
 '03072',
 '03422',
 '02548',
 '02748',
 '03200',
 '01402',
 '01234',
 '01397',
 '01184',
 '00565',
 '02824',
 '02845',
 '05958',
 '00921',
 '04781',
 '00837',
 '00230',
 '01261',
 '01924',
 '01009',
 '02773',
 '03094',
 '01641',
 '02248',
 '04642',
 '02929',
 '01361',
 '02272',
 '01430',
 '02042',
 '02406',
 '00802',
 '04018',
 '01881',
 '01449',
 '02178',
 '08992',
 '01815',
 '04080',
 '00203',
 '02064',
 '00107',
 '00879',
 '01773',
 '01355',
 '01537',
 '08284',
 '01957',
 '00524',
 '00463',
 '02852',
 '04013',
 '00790',
 '03312',
 '01215',
 '04165',
 '00256',
 '01310',
 '04052',
 '05280',
 '02903',
 '05116',
 '00307',
 '02162',
 '02561',
 '01043',
 '00652',
 '02883',
 '04643',
 '02925',
 '00388',
 '00608',
 '02216',
 '03983',
 '03039',
 '10991',
 '01305',
 '00534',
 '00122',
 '05302',
 '01961',
 '01859',
 '02451',
 '01480',
 '03123',
 '08991',
 '01371',
 '00753',
 '05245',
 '08521',
 '00718',
 '02230',
 '01905',
 '00125',
 '02483',
 '02055',
 '02836',
 '02884',
 '01259',
 '00792',
 '00815',
 '00850',
 '01280',
 '02595',
 '02727',
 '00377',
 '00770',
 '02908',
 '03295',
 '02869',
 '05308',
 '01920',
 '03278',
 '01998',
 '01095',
 '00089',
 '00697',
 '04651',
 '01956',
 '02586',
 '01589',
 '00226',
 '03015',
 '01331',
 '01974',
 '02750',
 '11008',
 '02085',
 '00449',
 '09004',
 '01174',
 '01166',
 '01751',
 '02875',
 '00117',
 '02594',
 '01399',
 '09033',
 '00987',
 '02422',
 '03207',
 '02233',
 '02256',
 '01822',
 '00453',
 '01879',
 '01011',
 '01968',
 '04086',
 '00820',
 '03179',
 '01251',
 '01673',
 '02914',
 '01469',
 '10963',
 '00767',
 '00713',
 '01092',
 '06059',
 '08989',
 '00030',
 '01886',
 '03324',
 '04680',
 '01862',
 '02932',
 '00846',
 '00175',
 '05985',
 '02910',
 '00248',
 '03034',
 '03292',
 '04793',
 '02196',
 '00120',
 '09016',
 '01614',
 '00409',
 '02677',
 '01056',
 '02265',
 '87606',
 '01327',
 '00361',
 '1881',
 '00136',
 '02779',
 '00462',
 '00543',
 '00945',
 '00562',
 '02030',
 '00959',
 '05986',
 '00494',
 '04174',
 '00983',
 '00935',
 '01970',
 '02144',
 '02273',
 '00981',
 '03153',
 '05227',
 '08961',
 '01263',
 '00993',
 '03535',
 '00960',
 '00866',
 '00328',
 '00805',
 '01656',
 '03132',
 '00916',
 '03066',
 '05092',
 '00229',
 '00266',
 '02120',
 '00452',
 '01471',
 '00913',
 '01655',
 '01844',
 '00978',
 '09040',
 '00076',
 '00750',
 '01278',
 '02973',
 '01065',
 '04015',
 '08990',
 '02507',
 '04186',
 '00015',
 '00544',
 '00139',
 '00024',
 '00899',
 '02499',
 '02671',
 '00865',
 '01843',
 '00173',
 '00346',
 '00630',
 '01228',
 '02749',
 '01850',
 '05195',
 '00509',
 '00443',
 '02763',
 '01752',
 '03503',
 '00898',
 '00158',
 '00052',
 '00964',
 '00241',
 '00428',
 '01088',
 '03058',
 '00376',
 '05983',
 '08519',
 '01489',
 '01699',
 '01676',
 '00922',
 '44147',
 '01559',
 '01379',
 '01046',
 '03158',
 '01337',
 '00077',
 '01117',
 '00793',
 '01442',
 '01169',
 '03110',
 '00654',
 '00587',
 '00071',
 '00440',
 '00378',
 '01424',
 '03332',
 '01204',
 '00421',
 '01271',
 '02312',
 '02547',
 '02231',
 '00876',
 '03313',
 '03963',
 '01523',
 '04661',
 '02417',
 '08245',
 '03054',
 '01594',
 '01316',
 '03229',
 '00901',
 '01951',
 '02349',
 '00659',
 '01300',
 '05313',
 '08963',
 '08927',
 '00977',
 '09035',
 '01479',
 '03104',
 '01099',
 '01518',
 '09023',
 '04111',
 '03436',
 '06050',
 '02648',
 '00160',
 '02409',
 '02833',
 '00684',
 '02004',
 '00304',
 '01563',
 '02160',
 '00686',
 '00912',
 '01443',
 '00955',
 '01157',
 '01524',
 '00615',
 '04662',
 '03049',
 '09042',
 '01618',
 '01226',
 '04650',
 '02375',
 '01293',
 '02334',
 '03445',
 '05717',
 '00861',
 '01366',
 '02946',
 '03134',
 '02399',
 '02873',
 '09034',
 '00854',
 '00358',
 '03071',
 '01538',
 '00171',
 '01835',
 '02662',
 '02045',
 '00235',
 '02135',
 '04136',
 '04636',
 '3450101522372',
 '20044',
 '01133',
 '01087',
 '00393',
 '01925',
 '00359',
 '01779',
 '00495',
 '01213',
 '01726',
 '05223',
 '00093',
 '01024',
 '04687',
 '00080',
 '0012',
 '05189',
 '00614',
 '00735',
 '00933',
 '01214',
 '01890',
 '01706',
 '04653',
 '08911',
 '10969',
 '01771',
 '02796',
 '02732',
 '00833',
 '04098',
 '01912',
 '05105',
 '01267',
 '01239',
 '08964',
 '01653',
 '02771',
 '00803',
 '05718',
 '01143',
 '03932',
 '00339',
 '04187',
 '00131',
 '09036',
 '00372',
 '00165',
 '01532',
 '01114',
 '01711',
 '01636',
 '02826',
 '02832',
 '01663',
 '00464',
 '0023',
 '00039',
 '00594',
 '00886',
 '01083',
 '02025',
 '02891',
 '00305',
 '02429',
 '05247',
 '16',
 '00841',
 '08928',
 '00501',
 '01129',
 '02048',
 '00215',
 '02454',
 '02379',
 '00267',
 '01265',
 '03096',
 '00277',
 '09028',
 '04682',
 '01504',
 '03136',
 '00705',
 '03031',
 '01827',
 '06019',
 '123',
 '00934',
 '02647',
 '01907',
 '05131',
 '01403',
 '00268',
 '00029',
 '02619',
 '02000',
 '03510',
 '08941',
 '00010',
 '00095',
 '05962',
 '02284',
 '02793',
 '04628',
 '03230',
 '03266',
 '00242',
 '02029',
 '03825',
 '00459',
 '02070',
 '01845',
 '00177',
 '01499',
 '89',
 '00438',
 '05094',
 '00723',
 '03462',
 '01871',
 '02069',
 '05120',
 '01990',
 '02613',
 '00044',
 '00900',
 '01520',
 '03151',
 '00342',
 '01596',
 '02566',
 '03546',
 '02040',
 '01885',
 '02152',
 '03552',
 '02073',
 '06023',
 '002.5',
 '01249',
 '01819',
 '05248',
 '08944',
 '00611',
 '00635',
 '02495',
 '00255',
 '01313',
 '01732',
 '01477',
 '09001',
 '01813',
 '08957',
 '00233',
 '02211',
 '00761',
 '02757',
 '01994',
 '01209',
 '02811',
 '02214',
 '00458',
 '03255',
 '04678',
 '05104',
 '02407',
 '00319',
 '06064',
 '02967',
 '01405',
 '01624',
 '01296',
 '01136',
 '00835',
 '10987',
 '01383',
 '01697',
 '02210',
 '03238',
 '01390',
 '01985',
 '01348',
 '02934',
 '00103',
 '03527',
 '00972',
 '05118',
 '01068',
 '00499',
 '01657',
 '11005',
 '00290',
 '00943',
 '00355',
 '00998',
 '01294',
 '01808',
 '02345',
 '01241',
 '00020',
 '04095',
 '00574',
 '01197',
 '08987',
 '01980',
 '00385',
 '00323',
 '08962',
 '06013',
 '01917',
 '00058',
 '00778',
 '01185',
 '01329',
 '08906',
 '01942',
 '02498',
 '01742',
 '00000',
 '05154',
 '02937',
 '03222',
 '04813',
 '00491',
 '00529',
 '00567',
 '01619',
 '01221',
 '00676',
 '06038',
 '02496',
 '00002',
 '01269',
 '03008',
 '01035',
 '01420',
 '00769',
 '01423',
 '08943',
 '09015',
 '02338',
 '00182',
 '00079',
 '01884',
 '02784',
 '00696',
 '01365',
 '01171',
 '02985',
 '00202',
 '01273',
 '01388',
 '02291',
 '00365',
 '00871',
 '03361',
 '00780',
 '00609',
 '01609',
 '06028',
 '01496',
 '01067',
 '00632',
 '01747',
 '02015',
 '05232',
 '00353',
 '01326',
 '06024',
 '00442',
 '00520',
 '01229',
 '05988',
 '00540',
 '00992',
 '00894',
 '00330',
 '08947',
 '00951',
 '00612',
 '01412',
 '02142',
 '03296',
 '00337',
 '02031',
 '00313',
 '01126',
 '01212',
 '02175',
 '01007',
 '01416',
 '00514',
 '02877',
 '05013',
 '02943',
 '00700',
 '01997',
 '06011',
 '02364',
 '00699',
 '01093',
 '00281',
 '04183',
 '01913',
 '01119',
 '01788',
 '02074',
 '00512',
 '01282',
 '02094',
 '00680',
 '00106',
 '09006',
 '02337',
 '00605',
 '00747',
 '01285',
 '01188',
 '01999',
 '02054',
 '03311',
 '09025',
 '01945',
 '01167',
 '02435',
 '01389',
 '0000',
 '02469',
 '01798',
 '01744',
 '02787',
 '03007',
 '08958',
 '03398',
 '02849',
 '00209',
 '05721',
 '08983',
 '04694',
 '61',
 '00674',
 '02335',
 '03100',
 '00344',
 '01572',
 '01588',
 '01109',
 '02093',
 '04006',
 '04180',
 '02149',
 '00234',
 '05310',
 '02909',
 '03218',
 '02416',
 '02493',
 '02623',
 '04695',
 '01804',
 '00832',
 '01979',
 '00623',
 '00884',
 '01162',
 '01825',
 '05127',
 '10988',
 '01578',
 '01176',
 '04660',
 '02536',
 '02541',
 '04696',
 '00709',
 '01981',
 '01349',
 '00625',
 '00100',
 '02167',
 '08948',
 '00350',
 '01932',
 '09026',
 '02777',
 '00067',
 '00423',
 '10981',
 '00025',
 '01818',
 '03544',
 '02907',
 '00285',
 '00456',
 '01134',
 '00007',
 '02244',
 '03121',
 '00979',
 '00292',
 '03981',
 '00060',
 '00671',
 '01906',
 '08978',
 '01359',
 '02355',
 '80464',
 '00032',
 '03612',
 '00937',
 '01034',
 '02839',
 '09005',
 '08960',
 '02841',
 '03064',
 '00785',
 '01462',
 '03032',
 '00657',
 '00677',
 '02279',
 '02267',
 '01307',
 '03098',
 '00848',
 '00764',
 '03074',
 '01194',
 '00257',
 '04683',
 '01139',
 '02481',
 '00321',
 '03408',
 '01877',
 '04024',
 '02079',
 '05255',
 '01154',
 '05099',
 '01272',
 '01304',
 '03245',
 '00828',
 '02072',
 '03075',
 '01897',
 '00126',
 '03221',
 '01616',
 '05112',
 '03150',
 '00283',
 '00291',
 '03379',
 '00572',
 '05128',
 '02158',
 '00472',
 '00794',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [32]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [34]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00578',
 '00869',
 '00124',
 '00515',
 '03424',
 '01317',
 '06505',
 '03411',
 '00909',
 '00971',
 '00474',
 '00782',
 '01052',
 '00663',
 '00180',
 '01201',
 '03345',
 '03300',
 '01607',
 '01360',
 '02480',
 '02986',
 '01415',
 '01021',
 '01708',
 '03415',
 '01764',
 '00042',
 '08949',
 '05219',
 '00402',
 '10998',
 '01274',
 '00984',
 '06021',
 '04646',
 '05770',
 '04738',
 '01418',
 '00624',
 '02678',
 '00094',
 '03224',
 '02489',
 '01754',
 '02282',
 '00244',
 '01677',
 '02782',
 '02958',
 '04629',
 '00437',
 '00354',
 '02872',
 '0010',
 '00169',
 '01707',
 '00783',
 '03287',
 '04675',
 '00603',
 '04179',
 '00906',
 '01831',
 '01721',
 '02851',
 '03804',
 '02022',
 '04511',
 '10965',
 '00670',
 '00144',
 '08996',
 '01802',
 '00844',
 '02405',
 '01544',
 '02639',
 '01384',
 '01576',
 '04649',
 '00300',
 '01186',
 '00118',
 '00905',
 '01689',
 '01933',
 '00519',
 '01778',
 '02726',
 '00645',
 '01248',
 '01013',
 '01684',
 '02288',
 '02769',
 '11163',
 '00997',
 '06041',
 '01840',
 '02147',
 '01321',
 '02776',
 '00142',
 '03939',
 '01876',
 '01600',
 '01691',
 '10984',
 '06001',
 '00102',
 '05093',
 '06043',
 '01421',
 '00506',
 '03509',
 '02504',
 '01620',
 '01857',
 '02720',
 '00008',
 '01055',
 '01570',
 '03506',
 '08921',
 '01404',
 '04054',
 '01806',
 '01922',
 '00658',
 '02871',
 '00188',
 '01799',
 '01286',
 '01977',
 '08952',
 '01450',
 '02228',
 '01426',
 '02297',
 '01100',
 '02917',
 '01422',
 '08974',
 '01172',
 '01482',
 '04347',
 '00183',
 '01391',
 '00649',
 '03549',
 '06006',
 '02249',
 '00147',
 '01375',
 '00693',
 '10971',
 '00923',
 '01534',
 '02912',
 '01992',
 '04669',
 '03072',
 '03422',
 '02548',
 '02748',
 '03200',
 '01402',
 '01234',
 '01397',
 '01184',
 '00565',
 '02824',
 '02845',
 '05958',
 '00921',
 '04781',
 '00837',
 '00230',
 '01261',
 '01924',
 '01009',
 '02773',
 '03094',
 '01641',
 '02248',
 '04642',
 '02929',
 '01361',
 '02272',
 '01430',
 '02042',
 '02406',
 '00802',
 '04018',
 '01881',
 '01449',
 '02178',
 '08992',
 '01815',
 '04080',
 '00203',
 '02064',
 '00107',
 '00879',
 '01773',
 '01355',
 '01537',
 '08284',
 '01957',
 '00524',
 '00463',
 '02852',
 '04013',
 '00790',
 '03312',
 '01215',
 '04165',
 '00256',
 '01310',
 '04052',
 '05280',
 '02903',
 '05116',
 '00307',
 '02162',
 '02561',
 '01043',
 '00652',
 '02883',
 '04643',
 '02925',
 '00388',
 '00608',
 '02216',
 '03983',
 '03039',
 '10991',
 '01305',
 '00534',
 '00122',
 '05302',
 '01961',
 '01859',
 '02451',
 '01480',
 '03123',
 '08991',
 '01371',
 '00753',
 '05245',
 '08521',
 '00718',
 '02230',
 '01905',
 '00125',
 '02483',
 '02055',
 '02836',
 '02884',
 '01259',
 '00792',
 '00815',
 '00850',
 '01280',
 '02595',
 '02727',
 '00377',
 '00770',
 '02908',
 '03295',
 '02869',
 '05308',
 '01920',
 '03278',
 '01998',
 '01095',
 '00089',
 '00697',
 '04651',
 '01956',
 '02586',
 '01589',
 '00226',
 '03015',
 '01331',
 '01974',
 '02750',
 '11008',
 '02085',
 '00449',
 '09004',
 '01174',
 '01166',
 '01751',
 '02875',
 '00117',
 '02594',
 '01399',
 '09033',
 '00987',
 '02422',
 '03207',
 '02233',
 '02256',
 '01822',
 '00453',
 '01879',
 '01011',
 '01968',
 '04086',
 '00820',
 '03179',
 '01251',
 '01673',
 '02914',
 '01469',
 '10963',
 '00767',
 '00713',
 '01092',
 '06059',
 '08989',
 '00030',
 '01886',
 '03324',
 '04680',
 '01862',
 '02932',
 '00846',
 '00175',
 '05985',
 '02910',
 '00248',
 '03034',
 '03292',
 '04793',
 '02196',
 '00120',
 '09016',
 '01614',
 '00409',
 '02677',
 '01056',
 '02265',
 '87606',
 '01327',
 '00361',
 '00136',
 '02779',
 '00462',
 '00543',
 '00945',
 '00562',
 '02030',
 '00959',
 '05986',
 '00494',
 '04174',
 '00983',
 '00935',
 '01970',
 '02144',
 '02273',
 '00981',
 '03153',
 '05227',
 '08961',
 '01263',
 '00993',
 '03535',
 '00960',
 '00866',
 '00328',
 '00805',
 '01656',
 '03132',
 '00916',
 '03066',
 '05092',
 '00229',
 '00266',
 '02120',
 '00452',
 '01471',
 '00913',
 '01655',
 '01844',
 '00978',
 '09040',
 '00076',
 '00750',
 '01278',
 '02973',
 '01065',
 '04015',
 '08990',
 '02507',
 '04186',
 '00015',
 '00544',
 '00139',
 '00024',
 '00899',
 '02499',
 '02671',
 '00865',
 '01843',
 '00173',
 '00346',
 '00630',
 '01228',
 '02749',
 '01850',
 '05195',
 '00509',
 '00443',
 '02763',
 '01752',
 '03503',
 '00898',
 '00158',
 '00052',
 '00964',
 '00241',
 '00428',
 '01088',
 '03058',
 '00376',
 '05983',
 '08519',
 '01489',
 '01699',
 '01676',
 '00922',
 '44147',
 '01559',
 '01379',
 '01046',
 '03158',
 '01337',
 '00077',
 '01117',
 '00793',
 '01442',
 '01169',
 '03110',
 '00654',
 '00587',
 '00071',
 '00440',
 '00378',
 '01424',
 '03332',
 '01204',
 '00421',
 '01271',
 '02312',
 '02547',
 '02231',
 '00876',
 '03313',
 '03963',
 '01523',
 '04661',
 '02417',
 '08245',
 '03054',
 '01594',
 '01316',
 '03229',
 '00901',
 '01951',
 '02349',
 '00659',
 '01300',
 '05313',
 '08963',
 '08927',
 '00977',
 '09035',
 '01479',
 '03104',
 '01099',
 '01518',
 '09023',
 '04111',
 '03436',
 '06050',
 '02648',
 '00160',
 '02409',
 '02833',
 '00684',
 '02004',
 '00304',
 '01563',
 '02160',
 '00686',
 '00912',
 '01443',
 '00955',
 '01157',
 '01524',
 '00615',
 '04662',
 '03049',
 '09042',
 '01618',
 '01226',
 '04650',
 '02375',
 '01293',
 '02334',
 '03445',
 '05717',
 '00861',
 '01366',
 '02946',
 '03134',
 '02399',
 '02873',
 '09034',
 '00854',
 '00358',
 '03071',
 '01538',
 '00171',
 '01835',
 '02662',
 '02045',
 '00235',
 '02135',
 '04136',
 '04636',
 '3450101522372',
 '20044',
 '01133',
 '01087',
 '00393',
 '01925',
 '00359',
 '01779',
 '00495',
 '01213',
 '01726',
 '05223',
 '00093',
 '01024',
 '04687',
 '00080',
 '0012',
 '05189',
 '00614',
 '00735',
 '00933',
 '01214',
 '01890',
 '01706',
 '04653',
 '08911',
 '10969',
 '01771',
 '02796',
 '02732',
 '00833',
 '04098',
 '01912',
 '05105',
 '01267',
 '01239',
 '08964',
 '01653',
 '02771',
 '00803',
 '05718',
 '01143',
 '03932',
 '00339',
 '04187',
 '00131',
 '09036',
 '00372',
 '00165',
 '01532',
 '01114',
 '01711',
 '01636',
 '02826',
 '02832',
 '01663',
 '00464',
 '0023',
 '00039',
 '00594',
 '00886',
 '01083',
 '02025',
 '02891',
 '00305',
 '02429',
 '05247',
 '16',
 '00841',
 '08928',
 '00501',
 '01129',
 '02048',
 '00215',
 '02454',
 '02379',
 '00267',
 '01265',
 '03096',
 '00277',
 '09028',
 '04682',
 '01504',
 '03136',
 '00705',
 '03031',
 '01827',
 '06019',
 '123',
 '00934',
 '02647',
 '01907',
 '05131',
 '01403',
 '00268',
 '00029',
 '02619',
 '02000',
 '03510',
 '08941',
 '00010',
 '00095',
 '05962',
 '02284',
 '02793',
 '04628',
 '03230',
 '03266',
 '00242',
 '02029',
 '03825',
 '00459',
 '02070',
 '01845',
 '00177',
 '01499',
 '00438',
 '05094',
 '00723',
 '03462',
 '01871',
 '02069',
 '05120',
 '01990',
 '02613',
 '00044',
 '00900',
 '01520',
 '03151',
 '00342',
 '01596',
 '02566',
 '03546',
 '02040',
 '01885',
 '02152',
 '03552',
 '02073',
 '06023',
 '01249',
 '01819',
 '05248',
 '08944',
 '00611',
 '00635',
 '02495',
 '00255',
 '01313',
 '01732',
 '01477',
 '09001',
 '01813',
 '08957',
 '00233',
 '02211',
 '00761',
 '02757',
 '01994',
 '01209',
 '02811',
 '02214',
 '00458',
 '03255',
 '04678',
 '05104',
 '02407',
 '00319',
 '06064',
 '02967',
 '01405',
 '01624',
 '01296',
 '01136',
 '00835',
 '10987',
 '01383',
 '01697',
 '02210',
 '03238',
 '01390',
 '01985',
 '01348',
 '02934',
 '00103',
 '03527',
 '00972',
 '05118',
 '01068',
 '00499',
 '01657',
 '11005',
 '00290',
 '00943',
 '00355',
 '00998',
 '01294',
 '01808',
 '02345',
 '01241',
 '00020',
 '04095',
 '00574',
 '01197',
 '08987',
 '01980',
 '00385',
 '00323',
 '08962',
 '06013',
 '01917',
 '00058',
 '00778',
 '01185',
 '01329',
 '08906',
 '01942',
 '02498',
 '01742',
 '00000',
 '05154',
 '02937',
 '03222',
 '04813',
 '00491',
 '00529',
 '00567',
 '01619',
 '01221',
 '00676',
 '06038',
 '02496',
 '00002',
 '01269',
 '03008',
 '01035',
 '01420',
 '00769',
 '01423',
 '08943',
 '09015',
 '02338',
 '00182',
 '00079',
 '01884',
 '02784',
 '00696',
 '01365',
 '01171',
 '02985',
 '00202',
 '01273',
 '01388',
 '02291',
 '00365',
 '00871',
 '03361',
 '00780',
 '00609',
 '01609',
 '06028',
 '01496',
 '01067',
 '00632',
 '01747',
 '02015',
 '05232',
 '00353',
 '01326',
 '06024',
 '00442',
 '00520',
 '01229',
 '05988',
 '00540',
 '00992',
 '00894',
 '00330',
 '08947',
 '00951',
 '00612',
 '01412',
 '02142',
 '03296',
 '00337',
 '02031',
 '00313',
 '01126',
 '01212',
 '02175',
 '01007',
 '01416',
 '00514',
 '02877',
 '05013',
 '02943',
 '00700',
 '01997',
 '06011',
 '02364',
 '00699',
 '01093',
 '00281',
 '04183',
 '01913',
 '01119',
 '01788',
 '02074',
 '00512',
 '01282',
 '02094',
 '00680',
 '00106',
 '09006',
 '02337',
 '00605',
 '00747',
 '01285',
 '01188',
 '01999',
 '02054',
 '03311',
 '09025',
 '01945',
 '01167',
 '02435',
 '01389',
 '0000',
 '02469',
 '01798',
 '01744',
 '02787',
 '03007',
 '08958',
 '03398',
 '02849',
 '00209',
 '05721',
 '08983',
 '04694',
 '00674',
 '02335',
 '03100',
 '00344',
 '01572',
 '01588',
 '01109',
 '02093',
 '04006',
 '04180',
 '02149',
 '00234',
 '05310',
 '02909',
 '03218',
 '02416',
 '02493',
 '02623',
 '04695',
 '01804',
 '00832',
 '01979',
 '00623',
 '00884',
 '01162',
 '01825',
 '05127',
 '10988',
 '01578',
 '01176',
 '04660',
 '02536',
 '02541',
 '04696',
 '00709',
 '01981',
 '01349',
 '00625',
 '00100',
 '02167',
 '08948',
 '00350',
 '01932',
 '09026',
 '02777',
 '00067',
 '00423',
 '10981',
 '00025',
 '01818',
 '03544',
 '02907',
 '00285',
 '00456',
 '01134',
 '00007',
 '02244',
 '03121',
 '00979',
 '00292',
 '03981',
 '00060',
 '00671',
 '01906',
 '08978',
 '01359',
 '02355',
 '80464',
 '00032',
 '03612',
 '00937',
 '01034',
 '02839',
 '09005',
 '08960',
 '02841',
 '03064',
 '00785',
 '01462',
 '03032',
 '00657',
 '00677',
 '02279',
 '02267',
 '01307',
 '03098',
 '00848',
 '00764',
 '03074',
 '01194',
 '00257',
 '04683',
 '01139',
 '02481',
 '00321',
 '03408',
 '01877',
 '04024',
 '02079',
 '05255',
 '01154',
 '05099',
 '01272',
 '01304',
 '03245',
 '00828',
 '02072',
 '03075',
 '01897',
 '00126',
 '03221',
 '01616',
 '05112',
 '03150',
 '00283',
 '00291',
 '03379',
 '00572',
 '05128',
 '02158',
 '00472',
 '00794',
 '01723',
 '01735',
 '03006',
 '05091',
 ...}

In [35]:
alldb_drop5 = alldb_drop5[(alldb_drop5['PartitionKey'].astype(str).str.isdigit()) & (alldb_drop5['PartitionKey'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [36]:
alldb_drop5

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [37]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [38]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [39]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [40]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [41]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [42]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [43]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [44]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [45]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [46]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [47]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [48]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [49]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [50]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [51]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [52]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [53]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [54]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [55]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [56]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [57]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [58]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [59]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'07891',
 '09354',
 '05941',
 '08376',
 '00124',
 '18596',
 '05679',
 '01317',
 '03523',
 '21429',
 '08752',
 '22739',
 '00971',
 '00474',
 '07655',
 '27632',
 '05436',
 '08791',
 '08252',
 '09188',
 '24495',
 '03732',
 '03300',
 '11548',
 '26193',
 '02480',
 '21350',
 '28067',
 '04361',
 '01415',
 '06744',
 '01021',
 '01708',
 '03700',
 '05632',
 '07696',
 '19983',
 '24975',
 '14647',
 '10094',
 '10755',
 '12289',
 '00402',
 '10998',
 '06346',
 '07338',
 '05903',
 '06955',
 '25074',
 '05770',
 '07991',
 '02347',
 '08600',
 '04615',
 '15232',
 '26270',
 '04009',
 '10603',
 '12205',
 '26004',
 '03224',
 '10059',
 '23891',
 '10500',
 '07604',
 '26057',
 '10376',
 '24368',
 '07483',
 '04629',
 '02661',
 '03235',
 '03829',
 '06594',
 '16636',
 '01707',
 '02744',
 '03079',
 '22917',
 '03287',
 '07139',
 '19525',
 '26877',
 '26355',
 '06815',
 '06393',
 '01721',
 '07174',
 '02923',
 '04047',
 '03804',
 '03575',
 '04112',
 '09300',
 '10901',
 '11994',
 '00670',
 '03171',
 '01802',
 '07889',
 '01544',
 '03460',
 '06555',
 '26617',
 '01689',
 '00519',
 '09819',
 '06362',
 '02916',
 '03018',
 '06780',
 '04345',
 '09767',
 '24793',
 '06617',
 '27378',
 '14053',
 '01840',
 '01321',
 '14190',
 '09208',
 '26697',
 '01876',
 '19484',
 '26115',
 '10984',
 '05022',
 '10084',
 '11100',
 '24519',
 '23549',
 '09384',
 '26639',
 '27670',
 '28856',
 '03670',
 '09431',
 '05093',
 '14322',
 '00506',
 '10346',
 '05406',
 '07689',
 '09445',
 '05654',
 '11378',
 '14967',
 '01055',
 '03506',
 '05659',
 '09637',
 '24867',
 '28198',
 '01806',
 '09372',
 '00658',
 '02871',
 '01799',
 '05901',
 '06195',
 '27993',
 '04529',
 '03087',
 '05325',
 '06190',
 '07548',
 '27540',
 '28550',
 '04876',
 '25631',
 '23547',
 '03969',
 '06749',
 '07925',
 '04146',
 '01482',
 '06879',
 '13692',
 '01391',
 '03549',
 '28178',
 '04581',
 '23475',
 '01375',
 '12793',
 '24516',
 '02885',
 '12259',
 '20033',
 '21444',
 '10971',
 '01992',
 '15010',
 '11924',
 '08216',
 '02748',
 '11644',
 '01402',
 '06538',
 '09361',
 '25166',
 '03972',
 '23888',
 '00565',
 '03522',
 '02102',
 '05420',
 '05958',
 '06441',
 '12398',
 '23587',
 '24499',
 '28053',
 '25047',
 '01009',
 '02773',
 '24274',
 '01361',
 '04145',
 '11068',
 '02272',
 '01430',
 '14194',
 '06193',
 '08672',
 '10006',
 '26134',
 '01449',
 '08992',
 '05940',
 '04102',
 '05791',
 '02556',
 '01773',
 '01537',
 '13810',
 '02734',
 '03775',
 '01957',
 '09446',
 '04468',
 '05516',
 '13983',
 '24722',
 '24798',
 '07359',
 '06470',
 '02903',
 '05116',
 '02883',
 '10764',
 '04481',
 '27452',
 '05658',
 '07930',
 '08506',
 '23807',
 '02925',
 '03951',
 '05291',
 '07909',
 '13956',
 '05840',
 '03039',
 '01305',
 '10125',
 '00122',
 '01859',
 '06975',
 '14655',
 '14859',
 '09343',
 '28474',
 '13845',
 '28184',
 '10393',
 '24223',
 '00753',
 '03959',
 '10521',
 '23020',
 '07653',
 '08428',
 '05052',
 '01259',
 '09347',
 '00815',
 '22819',
 '25688',
 '01280',
 '10015',
 '02908',
 '04304',
 '27342',
 '27018',
 '05308',
 '09833',
 '22680',
 '24702',
 '08028',
 '01998',
 '25690',
 '25741',
 '28812',
 '08730',
 '99786',
 '11122',
 '03574',
 '07994',
 '00697',
 '05466',
 '09053',
 '08504',
 '11262',
 '23564',
 '07900',
 '06134',
 '10462',
 '07813',
 '08256',
 '09483',
 '13850',
 '02085',
 '23915',
 '28789',
 '09470',
 '01751',
 '04545',
 '23852',
 '27463',
 '09809',
 '02966',
 '02213',
 '03355',
 '10150',
 '02256',
 '08144',
 '16645',
 '01822',
 '24442',
 '25734',
 '26711',
 '06485',
 '24422',
 '25683',
 '27615',
 '01879',
 '17908',
 '01968',
 '10490',
 '19481',
 '24412',
 '24159',
 '01251',
 '15196',
 '02914',
 '12131',
 '28161',
 '00713',
 '01092',
 '06059',
 '08989',
 '10195',
 '11303',
 '24769',
 '11429',
 '23723',
 '02932',
 '09816',
 '00846',
 '07995',
 '11021',
 '24986',
 '02800',
 '02910',
 '03649',
 '04387',
 '08546',
 '03034',
 '24952',
 '13876',
 '02196',
 '03344',
 '11207',
 '13669',
 '08570',
 '10024',
 '24576',
 '06079',
 '09256',
 '01327',
 '09955',
 '00361',
 '05272',
 '07954',
 '21737',
 '03471',
 '00494',
 '02273',
 '02816',
 '05494',
 '08484',
 '03349',
 '28103',
 '07472',
 '07215',
 '11049',
 '03535',
 '28122',
 '04364',
 '04930',
 '28776',
 '10632',
 '23872',
 '01656',
 '03132',
 '07470',
 '09057',
 '19546',
 '22971',
 '28701',
 '17215',
 '07798',
 '06944',
 '00452',
 '07013',
 '28271',
 '00913',
 '01655',
 '09040',
 '19364',
 '08341',
 '10241',
 '28597',
 '00076',
 '05005',
 '24843',
 '02973',
 '07177',
 '19685',
 '26319',
 '99780',
 '21546',
 '03277',
 '00015',
 '00899',
 '07018',
 '06847',
 '06247',
 '23929',
 '07111',
 '04945',
 '01766',
 '03698',
 '11226',
 '23980',
 '25733',
 '03202',
 '04248',
 '06631',
 '19346',
 '24199',
 '11087',
 '05043',
 '24473',
 '00443',
 '03012',
 '22792',
 '00158',
 '02939',
 '77667',
 '13806',
 '25942',
 '11132',
 '10668',
 '00376',
 '23659',
 '08519',
 '04866',
 '26238',
 '04604',
 '05621',
 '20021',
 '28504',
 '25613',
 '07682',
 '12489',
 '26911',
 '24640',
 '09541',
 '27403',
 '03158',
 '04870',
 '19412',
 '27546',
 '07675',
 '08784',
 '27000',
 '10229',
 '00654',
 '08243',
 '03444',
 '04558',
 '14930',
 '10675',
 '04325',
 '14926',
 '24197',
 '07613',
 '04849',
 '25081',
 '00378',
 '13758',
 '10605',
 '11124',
 '06303',
 '22826',
 '28859',
 '13961',
 '14174',
 '09380',
 '06850',
 '08888',
 '08666',
 '09315',
 '00876',
 '03313',
 '03963',
 '06882',
 '24815',
 '01523',
 '11273',
 '26713',
 '02417',
 '08245',
 '11351',
 '24992',
 '77704',
 '03229',
 '00901',
 '28147',
 '06910',
 '11033',
 '22563',
 '08195',
 '25891',
 '09866',
 '03694',
 '11328',
 '28765',
 '77762',
 '06123',
 '15982',
 '04918',
 '09035',
 '02443',
 '17228',
 '05762',
 '07417',
 '14333',
 '09023',
 '01518',
 '24063',
 '06223',
 '27999',
 '10194',
 '03436',
 '04515',
 '14863',
 '09540',
 '28025',
 '25625',
 '02409',
 '02833',
 '06962',
 '03942',
 '77757',
 '09617',
 '02004',
 '26356',
 '04756',
 '24923',
 '06976',
 '03736',
 '23780',
 '04751',
 '05816',
 '10752',
 '24907',
 '00955',
 '01157',
 '01524',
 '19520',
 '24810',
 '06515',
 '04662',
 '25634',
 '09042',
 '01618',
 '09200',
 '04650',
 '06694',
 '09054',
 '02334',
 '05347',
 '08022',
 '00861',
 '09913',
 '03134',
 '07322',
 '11770',
 '19431',
 '02245',
 '02399',
 '11127',
 '26803',
 '05782',
 '15109',
 '01538',
 '08599',
 '02045',
 '77647',
 '28221',
 '04136',
 '06318',
 '08355',
 '08211',
 '24799',
 '24997',
 '11957',
 '11404',
 '01087',
 '06967',
 '25125',
 '77728',
 '24529',
 '00393',
 '04873',
 '28393',
 '02867',
 '99879',
 '05160',
 '10599',
 '28299',
 '07462',
 '22129',
 '10035',
 '00614',
 '28815',
 '00735',
 '13740',
 '01214',
 '24931',
 '01706',
 '09634',
 '26243',
 '18589',
 '01771',
 '15133',
 '03475',
 '17792',
 '24554',
 '24775',
 '02732',
 '07372',
 '28233',
 '06869',
 '99877',
 '09064',
 '09963',
 '04098',
 '01653',
 '03641',
 '00803',
 '14775',
 '05718',
 '06679',
 '13689',
 '04187',
 '21435',
 '26037',
 '05672',
 '09036',
 '00372',
 '27454',
 '27978',
 '11173',
 '07481',
 '09750',
 '01636',
 '02826',
 '04402',
 '04962',
 '08141',
 '25105',
 '01663',
 '09268',
 '10568',
 '05856',
 '10907',
 '07090',
 '27347',
 '10664',
 '00305',
 '05144',
 '08526',
 '08652',
 '10373',
 '28734',
 '26126',
 '25999',
 '22707',
 '04591',
 '26763',
 '05608',
 '23742',
 '11316',
 '08835',
 '09019',
 '09638',
 '22704',
 '21678',
 '28292',
 '06653',
 '07192',
 '10960',
 '11361',
 '06619',
 '22132',
 '00705',
 '10679',
 '05683',
 '09503',
 '11729',
 '08134',
 '03085',
 '06988',
 '08800',
 '10884',
 '24060',
 '07052',
 '24250',
 '00934',
 '02647',
 '01907',
 '03260',
 '04317',
 '07776',
 '10078',
 '12235',
 '26584',
 '10824',
 '00029',
 '05823',
 '10762',
 '05962',
 '27431',
 '25026',
 '04628',
 '28201',
 '22814',
 '24620',
 '04378',
 '08289',
 '07078',
 '05779',
 '24789',
 '05256',
 '02070',
 '26197',
 '11094',
 '06428',
 '00438',
 '28219',
 '08239',
 '05094',
 '06142',
 '24322',
 '09134',
 '09070',
 '17916',
 '24612',
 '03695',
 '08322',
 '10542',
 '02613',
 '01520',
 '00900',
 '06206',
 '25190',
 '28247',
 '00342',
 '07277',
 '08160',
 '09802',
 '04729',
 '02697',
 '02152',
 '23480',
 '06023',
 '28858',
 '06067',
 '05248',
 '07120',
 '08944',
 '06646',
 '06840',
 '07539',
 '10693',
 '14245',
 '17934',
 '28455',
 '05088',
 '01313',
 '06143',
 '01732',
 '01477',
 '11370',
 '09001',
 '08628',
 '08957',
 '25067',
 '04339',
 '20097',
 '24740',
 '01994',
 '01209',
 '02811',
 '05137',
 '06695',
 '07021',
 '03255',
 '08716',
 '11169',
 '23847',
 '09378',
 '06800',
 '02407',
 '25100',
 '09116',
 '06064',
 '04790',
 '10176',
 '16442',
 '01624',
 '01136',
 '00835',
 '28000',
 '01383',
 '02210',
 '03238',
 '08084',
 '24276',
 '09586',
 '04272',
 '01985',
 '22822',
 '23576',
 '09859',
 '10116',
 '03639',
 '03527',
 '00972',
 '08394',
 '11900',
 '24000',
 '24897',
 '00290',
 '00355',
 '00020',
 '13979',
 '08472',
 '01197',
 '05495',
 '11279',
 '10455',
 '07060',
 '00385',
 '04982',
 '28151',
 '06013',
 '05473',
 '13719',
 '07101',
 '05419',
 '07832',
 '09734',
 '01329',
 '25742',
 '28105',
 '05576',
 '01742',
 '02937',
 '07708',
 '04813',
 '07449',
 '24003',
 '00529',
 '24760',
 '15078',
 '01619',
 '25840',
 '00676',
 '21507',
 '24246',
 '07638',
 '24813',
 '09458',
 '09918',
 '05053',
 '10843',
 '08381',
 '08591',
 '10456',
 '25103',
 '01423',
 '09015',
 '04757',
 '08372',
 '09231',
 '04723',
 '00079',
 '01884',
 '23968',
 '02784',
 '15272',
 '07578',
 '01365',
 '12256',
 '01388',
 '01273',
 '03361',
 '05607',
 '26282',
 '00609',
 '04792',
 '01747',
 '99930',
 '05079',
 '00353',
 '07610',
 '06173',
 '22815',
 '11677',
 '00992',
 '08947',
 '06506',
 '10825',
 '03296',
 '03799',
 '05186',
 '24829',
 '24445',
 '10829',
 '28705',
 '14135',
 '11097',
 '09071',
 '06545',
 '08079',
 '07336',
 '21532',
 '02175',
 '22771',
 '01007',
 '24201',
 '26689',
 '25644',
 '11641',
 '07034',
 '23748',
 '08796',
 '99876',
 '13905',
 '06011',
 '09125',
 '02364',
 '23849',
 '15332',
 '01093',
 '09877',
 '11455',
 '01913',
 '01119',
 '06626',
 '22525',
 '27752',
 '10930',
 '00512',
 '02094',
 '05246',
 '08823',
 '28117',
 '28547',
 '14644',
 '12496',
 '04376',
 '25769',
 '07912',
 '03815',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [60]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [61]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [62]:
hospital_list_drop = hospital_list_drop[(hospital_list_drop['hcode'].astype(str).str.isdigit()) & (hospital_list_drop['hcode'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [63]:
hospital_list_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [64]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [65]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37905,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37906,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37907,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37908,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37909,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [66]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [67]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37893,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37894,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37895,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37896,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37897,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),0,99771,05396,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [68]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37836, 25)

In [69]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37910
size after drop = 37836
% from drop = 0.19519915589554207

# ตารางข้อมูลที่จะนำมาใช้

In [70]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37893,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37894,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37895,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37896,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37897,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),0,99771,05396,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [71]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [72]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาญจนบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
กาฬสินธุ์,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
ขอนแก่น,4280,4280,4280,4280,4280,4280,4280,4280,4280,4280,...,4280,4280,4280,4280,4280,4280,4280,4280,4280,4280
จันทบุรี,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
ฉะเชิงเทรา,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
ชลบุรี,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ชัยนาท,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ชัยภูมิ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ตรัง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
นครนายก,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
นครพนม,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
นครราชสีมา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นนทบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
น่าน,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
บุรีรัมย์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ประจวบคีรีขันธ์,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ปราจีนบุรี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
พระนครศรีอยุธยา,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
พิจิตร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,8935,8935,8935,8935,8935,8935,8935,8935,8935,8935,...,8935,8935,8935,8935,8935,8935,8935,8935,8935,8935
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ระยอง,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
ราชบุรี,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
ร้อยเอ็ด,13718,13718,13718,13718,13718,13718,13718,13718,13718,13718,...,13718,13718,13718,13718,13718,13718,13718,13718,13718,13718
ลพบุรี,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สกลนคร,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สตูล,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สุรินทร์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
อุตรดิตถ์,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
อุบลราชธานี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [73]:
Province_new = Province.iloc[:,:1]
Province_new

                  user
province
กาญจนบุรี            1
กาฬสินธุ์         7896
ขอนแก่น           4280
จันทบุรี            27
ฉะเชิงเทรา          11
ชลบุรี               4
ชัยนาท               1
ชัยภูมิ              2
ตรัง                 1
ตราด                 7
นครนายก             25
นครพนม              23
นครราชสีมา           8
นนทบุรี              1
น่าน                 1
บุรีรัมย์            2
ปทุมธานี             3
ประจวบคีรีขันธ์      6
ปราจีนบุรี           5
พระนครศรีอยุธยา      4
พิจิตร               2
มหาสารคาม         8935
มุกดาหาร             2
ระยอง                5
ราชบุรี             23
ร้อยเอ็ด         13718
ลพบุรี               6
ลำปาง                1
ศรีสะเกษ             3
สกลนคร               6
สงขลา                1
สตูล                 1
สมุทรปราการ          2
สมุทรสงคราม          1
สมุทรสาคร            1
สระแก้ว              5
สิงห์บุรี            1
สุรินทร์             1
อุดรธานี            15
อุตรดิตถ์         2792
อุบลราชธานี          5
อ่างทอง              1
เชียงใหม่            1

In [74]:
P_noindex = Province_new.reset_index()
P_noindex

           province   user
0         กาญจนบุรี      1
1         กาฬสินธุ์   7896
2           ขอนแก่น   4280
3          จันทบุรี     27
4        ฉะเชิงเทรา     11
5            ชลบุรี      4
6            ชัยนาท      1
7           ชัยภูมิ      2
8              ตรัง      1
9              ตราด      7
10          นครนายก     25
11           นครพนม     23
12       นครราชสีมา      8
13          นนทบุรี      1
14             น่าน      1
15        บุรีรัมย์      2
16         ปทุมธานี      3
17  ประจวบคีรีขันธ์      6
18       ปราจีนบุรี      5
19  พระนครศรีอยุธยา      4
20           พิจิตร      2
21        มหาสารคาม   8935
22         มุกดาหาร      2
23            ระยอง      5
24          ราชบุรี     23
25         ร้อยเอ็ด  13718
26           ลพบุรี      6
27            ลำปาง      1
28         ศรีสะเกษ      3
29           สกลนคร      6
30            สงขลา      1
31             สตูล      1
32      สมุทรปราการ      2
33      สมุทรสงคราม      1
34        สมุทรสาคร      1
35          สระแก้ว      5
36        สิงห์บุรี      1
37         สุรินทร์      1
38         อุดรธานี     15
39        อุตรดิตถ์   2792
40      อุบลราชธานี      5
41          อ่างทอง      1
42        เชียงใหม่      1

In [75]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

           province  จำนวนการตรวจในแต่ละพื้นที่
0         กาญจนบุรี                           1
1         กาฬสินธุ์                        7896
2           ขอนแก่น                        4280
3          จันทบุรี                          27
4        ฉะเชิงเทรา                          11
5            ชลบุรี                           4
6            ชัยนาท                           1
7           ชัยภูมิ                           2
8              ตรัง                           1
9              ตราด                           7
10          นครนายก                          25
11           นครพนม                          23
12       นครราชสีมา                           8
13          นนทบุรี                           1
14             น่าน                           1
15        บุรีรัมย์                           2
16         ปทุมธานี                           3
17  ประจวบคีรีขันธ์                           6
18       ปราจีนบุรี                           5
19  พระนครศรีอยุธยา                           4
20           พิจิตร                           2
21        มหาสารคาม                        8935
22         มุกดาหาร                           2
23            ระยอง                           5
24          ราชบุรี                          23
25         ร้อยเอ็ด                       13718
26           ลพบุรี                           6
27            ลำปาง                           1
28         ศรีสะเกษ                           3
29           สกลนคร                           6
30            สงขลา                           1
31             สตูล                           1
32      สมุทรปราการ                           2
33      สมุทรสงคราม                           1
34        สมุทรสาคร                           1
35          สระแก้ว                           5
36        สิงห์บุรี                           1
37         สุรินทร์                           1
38         อุดรธานี                          15
39        อุตรดิตถ์                        2792
40      อุบลราชธานี                           5
41          อ่างทอง                           1
42        เชียงใหม่                           1

## จำนวนที่พบโรค

### ระดับ 0

In [76]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
5,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),0,00001,06334,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
9,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,"iPhone12,5",06319,09-32-46,ปกติ (เหลืองใส),0,00001,06319,...,7.0,พิชัย,11.0,นายาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
10,99771,267232EA-5B0D-4783-8449-16687A62C5B7,2022-03-22,"iPhone10,6",05396,10-35-33,ปกติ (เหลืองใส),0,00001,05396,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
14,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,"iPhone8,2",04405,14-11-05,ปกติ (เหลืองใส),0,00001,04405,...,15.0,หนองสองห้อง,9.0,หันโจด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37888,72483,kghmuhemvv.png,2022-03-23,HUAWEI FLA-LX2,05003,10-32-12,ขุ่น,0,72483,05003,...,7.0,นาเชือก,3.0,หนองแดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
37890,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10-31-40,ปกติ (เหลืองใส),0,87606,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37891,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10-26-19,ปกติ (เหลืองใส),0,87720,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37894,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37897,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),0,99771,05396,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [77]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,5250,5250,5250,5250,5250,5250,5250,5250,5250,5250,...,5250,5250,5250,5250,5250,5250,5250,5250,5250,5250
ขอนแก่น,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337,...,3337,3337,3337,3337,3337,3337,3337,3337,3337,3337
จันทบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ฉะเชิงเทรา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
ชลบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครนายก,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครราชสีมา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ประจวบคีรีขันธ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ปราจีนบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
พระนครศรีอยุธยา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
พิจิตร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,3978,3978,3978,3978,3978,3978,3978,3978,3978,3978,...,3978,3978,3978,3978,3978,3978,3978,3978,3978,3978
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ราชบุรี,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
ร้อยเอ็ด,7067,7067,7067,7067,7067,7067,7067,7067,7067,7067,...,7067,7067,7067,7067,7067,7067,7067,7067,7067,7067
ลพบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สกลนคร,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุตรดิตถ์,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524,...,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524
อุบลราชธานี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [78]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

                 user
province
กาฬสินธุ์        5250
ขอนแก่น          3337
จันทบุรี            2
ฉะเชิงเทรา          8
ชลบุรี              1
ตราด                3
นครนายก            16
นครพนม              3
นครราชสีมา          2
ปทุมธานี            1
ประจวบคีรีขันธ์     1
ปราจีนบุรี          2
พระนครศรีอยุธยา     1
พิจิตร              1
มหาสารคาม        3978
มุกดาหาร            2
ราชบุรี            19
ร้อยเอ็ด         7067
ลพบุรี              2
ศรีสะเกษ            1
สกลนคร              3
สงขลา               1
สมุทรปราการ         1
สมุทรสาคร           1
สระแก้ว             3
สิงห์บุรี           1
อุดรธานี            3
อุตรดิตถ์        1524
อุบลราชธานี         2
อ่างทอง             1
เชียงใหม่           1

In [79]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

           province  user
0         กาฬสินธุ์  5250
1           ขอนแก่น  3337
2          จันทบุรี     2
3        ฉะเชิงเทรา     8
4            ชลบุรี     1
5              ตราด     3
6           นครนายก    16
7            นครพนม     3
8        นครราชสีมา     2
9          ปทุมธานี     1
10  ประจวบคีรีขันธ์     1
11       ปราจีนบุรี     2
12  พระนครศรีอยุธยา     1
13           พิจิตร     1
14        มหาสารคาม  3978
15         มุกดาหาร     2
16          ราชบุรี    19
17         ร้อยเอ็ด  7067
18           ลพบุรี     2
19         ศรีสะเกษ     1
20           สกลนคร     3
21            สงขลา     1
22      สมุทรปราการ     1
23        สมุทรสาคร     1
24          สระแก้ว     3
25        สิงห์บุรี     1
26         อุดรธานี     3
27        อุตรดิตถ์  1524
28      อุบลราชธานี     2
29          อ่างทอง     1
30        เชียงใหม่     1

In [80]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

           province  จำนวนที่พบโรค ระดับ 0
0         กาฬสินธุ์                   5250
1           ขอนแก่น                   3337
2          จันทบุรี                      2
3        ฉะเชิงเทรา                      8
4            ชลบุรี                      1
5              ตราด                      3
6           นครนายก                     16
7            นครพนม                      3
8        นครราชสีมา                      2
9          ปทุมธานี                      1
10  ประจวบคีรีขันธ์                      1
11       ปราจีนบุรี                      2
12  พระนครศรีอยุธยา                      1
13           พิจิตร                      1
14        มหาสารคาม                   3978
15         มุกดาหาร                      2
16          ราชบุรี                     19
17         ร้อยเอ็ด                   7067
18           ลพบุรี                      2
19         ศรีสะเกษ                      1
20           สกลนคร                      3
21            สงขลา                      1
22      สมุทรปราการ                      1
23        สมุทรสาคร                      1
24          สระแก้ว                      3
25        สิงห์บุรี                      1
26         อุดรธานี                      3
27        อุตรดิตถ์                   1524
28      อุบลราชธานี                      2
29          อ่างทอง                      1
30        เชียงใหม่                      1

### ระดับ 1

In [81]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
16,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,"iPhone14,3",06278,11-49-13,ปกติ (เหลืองใส),1,00001,06278,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
28,08370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,00001,13966,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
33,06964,7667F96F-0ACA-4111-9ABD-54BFE320009D,2022-03-29,"iPhone12,1",06286,10-58-45,ปกติ (เหลืองใส),1,00001,06286,...,3.0,ท่าปลา,6.0,ท่าแฝก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
37,71152,7A9B5C50-E7CC-4EF4-9E72-7D018B488040,2022-03-10,"iPhone13,2",05327,11-16-06,ปกติ (เหลืองใส),1,00001,05327,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
41,06283,83B0AD8E-AF6A-4D2F-A321-B9CF22915090,2022-03-28,"iPhone13,2",06283,14-29-40,ปกติ (เหลืองใส),1,00001,06283,...,3.0,ท่าปลา,5.0,น้ำหมัน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37884,05039,FA168B5F-6D9A-47B0-8048-989E7C904326,2022-03-28,"iPhone11,8",00391,09-35-25,ปกติ (เหลืองใส),1,45972,00391,...,19.0,เขาสวนกวาง,5.0,คำม่วง,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,ขก,KKN
37886,02594,vlsujosidt.png,2022-04-05,HUAWEI JKM-LX2,11010,10-03-29,"ปกติ (เหลืองใส), ขุ่น",1,60202,11010,...,18.0,ชนบท,1.0,ชนบท,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,ขก,KKN
37892,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37895,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37896,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [82]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,925,925,925,925,925,925,925,925,925,925,...,925,925,925,925,925,925,925,925,925,925
ขอนแก่น,562,562,562,562,562,562,562,562,562,562,...,562,562,562,562,562,562,562,562,562,562
จันทบุรี,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
ฉะเชิงเทรา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ชลบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ชัยภูมิ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตรัง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครนายก,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นครพนม,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
นครราชสีมา,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นนทบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
บุรีรัมย์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ประจวบคีรีขันธ์,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ปราจีนบุรี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
พระนครศรีอยุธยา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
พิจิตร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,2115,2115,2115,2115,2115,2115,2115,2115,2115,2115,...,2115,2115,2115,2115,2115,2115,2115,2115,2115,2115
ระยอง,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ราชบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,3061,3061,3061,3061,3061,3061,3061,3061,3061,3061,...,3061,3061,3061,3061,3061,3061,3061,3061,3061,3061
ลพบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สกลนคร,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สตูล,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุตรดิตถ์,454,454,454,454,454,454,454,454,454,454,...,454,454,454,454,454,454,454,454,454,454
อุบลราชธานี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [83]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

                 user
province
กาฬสินธุ์         925
ขอนแก่น           562
จันทบุรี            7
ฉะเชิงเทรา          2
ชลบุรี              2
ชัยภูมิ             1
ตรัง                1
ตราด                3
นครนายก             8
นครพนม              6
นครราชสีมา          3
นนทบุรี             1
บุรีรัมย์           1
ประจวบคีรีขันธ์     3
ปราจีนบุรี          3
พระนครศรีอยุธยา     2
พิจิตร              1
มหาสารคาม        2115
ระยอง               4
ราชบุรี             1
ร้อยเอ็ด         3061
ลพบุรี              1
ศรีสะเกษ            1
สกลนคร              3
สตูล                1
สมุทรปราการ         1
สระแก้ว             1
อุดรธานี            3
อุตรดิตถ์         454
อุบลราชธานี         2

In [84]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

           province  user
0         กาฬสินธุ์   925
1           ขอนแก่น   562
2          จันทบุรี     7
3        ฉะเชิงเทรา     2
4            ชลบุรี     2
5           ชัยภูมิ     1
6              ตรัง     1
7              ตราด     3
8           นครนายก     8
9            นครพนม     6
10       นครราชสีมา     3
11          นนทบุรี     1
12        บุรีรัมย์     1
13  ประจวบคีรีขันธ์     3
14       ปราจีนบุรี     3
15  พระนครศรีอยุธยา     2
16           พิจิตร     1
17        มหาสารคาม  2115
18            ระยอง     4
19          ราชบุรี     1
20         ร้อยเอ็ด  3061
21           ลพบุรี     1
22         ศรีสะเกษ     1
23           สกลนคร     3
24             สตูล     1
25      สมุทรปราการ     1
26          สระแก้ว     1
27         อุดรธานี     3
28        อุตรดิตถ์   454
29      อุบลราชธานี     2

In [85]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

           province  จำนวนที่พบโรค ระดับ 1
0         กาฬสินธุ์                    925
1           ขอนแก่น                    562
2          จันทบุรี                      7
3        ฉะเชิงเทรา                      2
4            ชลบุรี                      2
5           ชัยภูมิ                      1
6              ตรัง                      1
7              ตราด                      3
8           นครนายก                      8
9            นครพนม                      6
10       นครราชสีมา                      3
11          นนทบุรี                      1
12        บุรีรัมย์                      1
13  ประจวบคีรีขันธ์                      3
14       ปราจีนบุรี                      3
15  พระนครศรีอยุธยา                      2
16           พิจิตร                      1
17        มหาสารคาม                   2115
18            ระยอง                      4
19          ราชบุรี                      1
20         ร้อยเอ็ด                   3061
21           ลพบุรี                      1
22         ศรีสะเกษ                      1
23           สกลนคร                      3
24             สตูล                      1
25      สมุทรปราการ                      1
26          สระแก้ว                      1
27         อุดรธานี                      3
28        อุตรดิตถ์                    454
29      อุบลราชธานี                      2

### ระดับ 2

In [86]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
7,06277,1DDA8B23-D1EA-4E15-AE70-1E7FE53733B6,2022-03-25,"iPhone14,3",06277,10-13-51,ปกติ (เหลืองใส),2,00001,06277,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
13,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,00001,11158,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,00001,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,00001,10360,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
21,74891,594A7093-AB5F-4A64-8B74-E336ED81A444,2022-04-01,"iPhone12,8",05055,15-15-35,มีตะกอน,2,00001,05055,...,10.0,นาดูน,4.0,ดงบัง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
23,40059,5F8D255F-B0F5-4CE5-9607-7916E394173D,2022-03-18,"iPad13,1",05052,11-36-13,ใสเป็นน้ำเปล่า,2,00001,05052,...,10.0,นาดูน,2.0,หนองไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37867,05039,B5332762-291C-4D36-BC6E-CDB602DB8356,2022-03-28,"iPhone11,8",00400,09-58-36,ปกติ (เหลืองใส),2,45972,00400,...,4.0,กุมภวาปี,15.0,กุมภวาปี,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,อด,UDN
37868,05039,B7736E5D-260C-4EFF-B835-03A8EB6482A7,2022-03-28,"iPhone11,8",00055,09-41-39,ปกติ (เหลืองใส),2,45972,00055,...,1.0,เมืองกาญจนบุรี,3.0,ปากแพรก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,กจ,KRI
37882,05039,F2A7824A-7A14-41BC-813D-DBE771EFA33B,2022-03-28,"iPhone11,8",00266,10-02-46,ปกติ (เหลืองใส),2,45972,00266,...,15.0,พลับพลาชัย,4.0,สะเดา,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,บร,BRM
37889,17777,zowapmuhfo.png,2022-03-07,Realme RMX1971,04973,15-41-29,ปกติ (เหลืองใส),2,80464,04973,...,5.0,เชียงยืน,5.0,ดอนเงิน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
37893,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [87]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาญจนบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
กาฬสินธุ์,547,547,547,547,547,547,547,547,547,547,...,547,547,547,547,547,547,547,547,547,547
ขอนแก่น,165,165,165,165,165,165,165,165,165,165,...,165,165,165,165,165,165,165,165,165,165
จันทบุรี,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
ฉะเชิงเทรา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ชัยภูมิ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครนายก,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
นครราชสีมา,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
บุรีรัมย์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ปทุมธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ประจวบคีรีขันธ์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
พระนครศรีอยุธยา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,...,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187
ระยอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ราชบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,1401,1401,1401,1401,1401,1401,1401,1401,1401,1401,...,1401,1401,1401,1401,1401,1401,1401,1401,1401,1401
ลพบุรี,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุตรดิตถ์,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
อุบลราชธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [88]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

                 user
province
กาญจนบุรี           1
กาฬสินธุ์         547
ขอนแก่น           165
จันทบุรี            8
ฉะเชิงเทรา          1
ชัยภูมิ             1
ตราด                1
นครนายก             1
นครพนม              2
นครราชสีมา          2
บุรีรัมย์           1
ปทุมธานี            1
ประจวบคีรีขันธ์     2
พระนครศรีอยุธยา     1
มหาสารคาม        1187
ระยอง               1
ราชบุรี             1
ร้อยเอ็ด         1401
ลพบุรี              2
ลำปาง               1
ศรีสะเกษ            1
อุดรธานี            3
อุตรดิตถ์         235
อุบลราชธานี         1

In [89]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

           province  user
0         กาญจนบุรี     1
1         กาฬสินธุ์   547
2           ขอนแก่น   165
3          จันทบุรี     8
4        ฉะเชิงเทรา     1
5           ชัยภูมิ     1
6              ตราด     1
7           นครนายก     1
8            นครพนม     2
9        นครราชสีมา     2
10        บุรีรัมย์     1
11         ปทุมธานี     1
12  ประจวบคีรีขันธ์     2
13  พระนครศรีอยุธยา     1
14        มหาสารคาม  1187
15            ระยอง     1
16          ราชบุรี     1
17         ร้อยเอ็ด  1401
18           ลพบุรี     2
19            ลำปาง     1
20         ศรีสะเกษ     1
21         อุดรธานี     3
22        อุตรดิตถ์   235
23      อุบลราชธานี     1

In [90]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

           province  จำนวนที่พบโรค ระดับ 2
0         กาญจนบุรี                      1
1         กาฬสินธุ์                    547
2           ขอนแก่น                    165
3          จันทบุรี                      8
4        ฉะเชิงเทรา                      1
5           ชัยภูมิ                      1
6              ตราด                      1
7           นครนายก                      1
8            นครพนม                      2
9        นครราชสีมา                      2
10        บุรีรัมย์                      1
11         ปทุมธานี                      1
12  ประจวบคีรีขันธ์                      2
13  พระนครศรีอยุธยา                      1
14        มหาสารคาม                   1187
15            ระยอง                      1
16          ราชบุรี                      1
17         ร้อยเอ็ด                   1401
18           ลพบุรี                      2
19            ลำปาง                      1
20         ศรีสะเกษ                      1
21         อุดรธานี                      3
22        อุตรดิตถ์                    235
23      อุบลราชธานี                      1

### ระดับ 3

In [91]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
6,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),3,00001,06288,...,3.0,ท่าปลา,7.0,นางพญา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
17,16085,49A9B05F-9B2F-49B9-99D7-CC3A60836EE1,2022-03-30,"iPhone13,2",06299,13-11-51,ปกติ (เหลืองใส),3,00001,06299,...,5.0,ฟากท่า,2.0,สองคอน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
19,60847,52421C45-3625-4E62-B681-158CF7049DC7,2022-03-28,"iPhone14,3",06298,10-23-45,ปกติ (เหลืองใส),3,00001,06298,...,4.0,น้ำปาด,6.0,ห้วยมุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37858,05039,9D54409E-4D0F-49A6-9778-70CA2C185456,2022-03-28,"iPhone11,8",00176,09-55-54,ปกติ (เหลืองใส),3,45972,00176,...,2.0,ขลุง,1.0,ขลุง,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,จบ,CTI
37871,05039,BA275F6C-77FD-4E7A-AFAF-9FA8FFB9220F,2022-03-28,"iPhone11,8",00232,09-59-34,ปกติ (เหลืองใส),3,45972,00232,...,11.0,ขามสะแกแสง,1.0,ขามสะแกแสง,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,นม,NMA
37876,05039,D1E97E53-1F0D-4BF8-AC9D-9D916A12C146,2022-03-28,"iPhone11,8",00179,08-54-42,ปกติ (เหลืองใส),3,45972,00179,...,5.0,มะขาม,1.0,มะขาม,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,จบ,CTI
37880,05039,EDFE926A-3C79-4C3A-BF5F-2984D64D7D3C,2022-03-28,"iPhone11,8",00410,09-47-38,ปกติ (เหลืองใส),3,45972,00410,...,19.0,เพ็ญ,1.0,เพ็ญ,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,อด,UDN
37885,05039,FF539D6F-6A24-42C8-A39F-4F7C15980279,2022-03-28,"iPhone11,8",00387,09-40-31,ปกติ (เหลืองใส),3,45972,00387,...,15.0,หนองสองห้อง,1.0,หนองสองห้อง,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,ขก,KKN

In [92]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,526,526,526,526,526,526,526,526,526,526,...,526,526,526,526,526,526,526,526,526,526
ขอนแก่น,127,127,127,127,127,127,127,127,127,127,...,127,127,127,127,127,127,127,127,127,127
จันทบุรี,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ชลบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครพนม,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
นครราชสีมา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,887,887,887,887,887,887,887,887,887,887,...,887,887,887,887,887,887,887,887,887,887
ร้อยเอ็ด,1167,1167,1167,1167,1167,1167,1167,1167,1167,1167,...,1167,1167,1167,1167,1167,1167,1167,1167,1167,1167
ลพบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สุรินทร์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
อุตรดิตถ์,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261

In [93]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

             user
province
กาฬสินธุ์     526
ขอนแก่น       127
จันทบุรี        6
ชลบุรี          1
นครพนม          9
นครราชสีมา      1
มหาสารคาม     887
ร้อยเอ็ด     1167
ลพบุรี          1
สมุทรสงคราม     1
สระแก้ว         1
สุรินทร์        1
อุดรธานี        4
อุตรดิตถ์     261

In [94]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

       province  user
0     กาฬสินธุ์   526
1       ขอนแก่น   127
2      จันทบุรี     6
3        ชลบุรี     1
4        นครพนม     9
5    นครราชสีมา     1
6     มหาสารคาม   887
7      ร้อยเอ็ด  1167
8        ลพบุรี     1
9   สมุทรสงคราม     1
10      สระแก้ว     1
11     สุรินทร์     1
12     อุดรธานี     4
13    อุตรดิตถ์   261

In [95]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

       province  จำนวนที่พบโรค ระดับ 3
0     กาฬสินธุ์                    526
1       ขอนแก่น                    127
2      จันทบุรี                      6
3        ชลบุรี                      1
4        นครพนม                      9
5    นครราชสีมา                      1
6     มหาสารคาม                    887
7      ร้อยเอ็ด                   1167
8        ลพบุรี                      1
9   สมุทรสงคราม                      1
10      สระแก้ว                      1
11     สุรินทร์                      1
12     อุดรธานี                      4
13    อุตรดิตถ์                    261

### ระดับ 4

In [96]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
8,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),4,00001,06261,...,1.0,เมืองอุตรดิตถ์,9.0,งิ้วงาม,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
11,89195,27A826ED-D57D-4386-8A3C-9CFD13297B8B,2022-03-30,"iPhone9,3",06267,10-08-32,ปกติ (เหลืองใส),4,00001,06267,...,1.0,เมืองอุตรดิตถ์,13.0,วังดิน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
12,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,"iPhone9,4",05000,11-14-25,สีฟ้า หรือน้ำเงิน,4,00001,05000,...,6.0,บรบือ,20.0,ดอนงัว,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37842,05039,61E93556-119A-4C59-833A-9E8F72DEF45D,2022-03-28,"iPhone11,8",00401,09-57-33,ปกติ (เหลืองใส),4,45972,00401,...,5.0,โนนสะอาด,1.0,โนนสะอาด,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,อด,UDN
37848,05039,8281DC2A-0FB4-49D1-AD42-E216619E2F75,2022-03-28,"iPhone11,8",00094,09-52-13,ปกติ (เหลืองใส),4,45972,00094,...,7.0,สามโคก,3.0,สามโคก,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,ปท,PTE
37854,05039,8A68E3E3-084B-4B75-847C-F89719512ED0,2022-03-28,"iPhone11,8",00008,09-28-58,มีเม็ดเลือดแดง,4,45972,00008,...,1.0,เมืองชัยนาท,4.0,ชัยนาท,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ชน,CNT
37875,05039,CCC6F302-3937-47C3-B7E0-AA1BF7890550,2022-03-28,"iPhone11,8",00385,09-50-18,ปกติ (เหลืองใส),4,45972,00385,...,13.0,แวงใหญ่,4.0,แวงใหญ่,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,ขก,KKN
37877,05039,D26424AD-0AEF-4BA9-B5C5-5B09B120E407,2022-03-28,"iPhone11,8",00415,09-43-56,ปกติ (เหลืองใส),4,45972,00415,...,24.0,อำเภอกู่แก้ว,1.0,บ้านจีต,2.0,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ,10.84859,ไม่ระบุ,อด,UDN

In [97]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

     province  user
0   กาฬสินธุ์   648
1     ขอนแก่น    89
2    จันทบุรี     4
3      ชัยนาท     1
4      นครพนม     3
5        น่าน     1
6    ปทุมธานี     1
7   มหาสารคาม   768
8     ราชบุรี     2
9    ร้อยเอ็ด  1022
10   อุดรธานี     2
11  อุตรดิตถ์   318

In [98]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

     province  จำนวนที่พบโรค ระดับ 4
0   กาฬสินธุ์                    648
1     ขอนแก่น                     89
2    จันทบุรี                      4
3      ชัยนาท                      1
4      นครพนม                      3
5        น่าน                      1
6    ปทุมธานี                      1
7   มหาสารคาม                    768
8     ราชบุรี                      2
9    ร้อยเอ็ด                   1022
10   อุดรธานี                      2
11  อุตรดิตถ์                    318

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [99]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,5250,925.0,547.0,526.0,648.0
1,ขอนแก่น,3337,562.0,165.0,127.0,89.0
2,จันทบุรี,2,7.0,8.0,6.0,4.0
3,ฉะเชิงเทรา,8,2.0,1.0,NaN,NaN
4,ชลบุรี,1,2.0,NaN,1.0,NaN
5,ตราด,3,3.0,1.0,NaN,NaN
6,นครนายก,16,8.0,1.0,NaN,NaN
7,นครพนม,3,6.0,2.0,9.0,3.0
8,นครราชสีมา,2,3.0,2.0,1.0,NaN
9,ปทุมธานี,1,NaN,1.0,NaN,1.0
10,ประจวบคีรีขันธ์,1,3.0,2.0,NaN,NaN
11,ปราจีนบุรี,2,3.0,NaN,NaN,NaN
12,พระนครศรีอยุธยา,1,2.0,1.0,NaN,NaN
13,พิจิตร,1,1.0,NaN,NaN,NaN
14,มหาสารคาม,3978,2115.0,1187.0,887.0,768.0
15,มุกดาหาร,2,NaN,NaN,NaN,NaN
16,ราชบุรี,19,1.0,1.0,NaN,2.0
17,ร้อยเอ็ด,7067,3061.0,1401.0,1167.0,1022.0
18,ลพบุรี,2,1.0,2.0,1.0,NaN
19,ศรีสะเกษ,1,1.0,1.0,NaN,NaN
20,สกลนคร,3,3.0,NaN,NaN,NaN
21,สงขลา,1,NaN,NaN,NaN,NaN
22,สมุทรปราการ,1,1.0,NaN,NaN,NaN
23,สมุทรสาคร,1,NaN,NaN,NaN,NaN
24,สระแก้ว,3,1.0,NaN,1.0,NaN
25,สิงห์บุรี,1,NaN,NaN,NaN,NaN
26,อุดรธานี,3,3.0,3.0,4.0,2.0
27,อุตรดิตถ์,1524,454.0,235.0,261.0,318.0
28,อุบลราชธานี,2,2.0,1.0,NaN,NaN
29,อ่างทอง,1,NaN,NaN,NaN,NaN
30,เชียงใหม่,1,NaN,NaN,NaN,NaN

In [100]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [101]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [102]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาญจนบุรี,1,NaN,NaN,NaN,NaN,NaN
1,กาฬสินธุ์,7896,5250.0,925.0,547.0,526.0,648.0
2,ขอนแก่น,4280,3337.0,562.0,165.0,127.0,89.0
3,จันทบุรี,27,2.0,7.0,8.0,6.0,4.0
4,ฉะเชิงเทรา,11,8.0,2.0,1.0,0.0,0.0
5,ชลบุรี,4,1.0,2.0,0.0,1.0,0.0
6,ชัยนาท,1,NaN,NaN,NaN,NaN,NaN
7,ชัยภูมิ,2,NaN,NaN,NaN,NaN,NaN
8,ตรัง,1,NaN,NaN,NaN,NaN,NaN
9,ตราด,7,3.0,3.0,1.0,0.0,0.0
10,นครนายก,25,16.0,8.0,1.0,0.0,0.0
11,นครพนม,23,3.0,6.0,2.0,9.0,3.0
12,นครราชสีมา,8,2.0,3.0,2.0,1.0,0.0
13,นนทบุรี,1,NaN,NaN,NaN,NaN,NaN
14,น่าน,1,NaN,NaN,NaN,NaN,NaN
15,บุรีรัมย์,2,NaN,NaN,NaN,NaN,NaN
16,ปทุมธานี,3,1.0,0.0,1.0,0.0,1.0
17,ประจวบคีรีขันธ์,6,1.0,3.0,2.0,0.0,0.0
18,ปราจีนบุรี,5,2.0,3.0,0.0,0.0,0.0
19,พระนครศรีอยุธยา,4,1.0,2.0,1.0,0.0,0.0
20,พิจิตร,2,1.0,1.0,0.0,0.0,0.0
21,มหาสารคาม,8935,3978.0,2115.0,1187.0,887.0,768.0
22,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
23,ระยอง,5,NaN,NaN,NaN,NaN,NaN
24,ราชบุรี,23,19.0,1.0,1.0,0.0,2.0
25,ร้อยเอ็ด,13718,7067.0,3061.0,1401.0,1167.0,1022.0
26,ลพบุรี,6,2.0,1.0,2.0,1.0,0.0
27,ลำปาง,1,NaN,NaN,NaN,NaN,NaN
28,ศรีสะเกษ,3,1.0,1.0,1.0,0.0,0.0
29,สกลนคร,6,3.0,3.0,0.0,0.0,0.0
30,สงขลา,1,1.0,0.0,0.0,0.0,0.0
31,สตูล,1,NaN,NaN,NaN,NaN,NaN
32,สมุทรปราการ,2,1.0,1.0,0.0,0.0,0.0
33,สมุทรสงคราม,1,NaN,NaN,NaN,NaN,NaN
34,สมุทรสาคร,1,1.0,0.0,0.0,0.0,0.0
35,สระแก้ว,5,3.0,1.0,0.0,1.0,0.0
36,สิงห์บุรี,1,1.0,0.0,0.0,0.0,0.0
37,สุรินทร์,1,NaN,NaN,NaN,NaN,NaN
38,อุดรธานี,15,3.0,3.0,3.0,4.0,2.0
39,อุตรดิตถ์,2792,1524.0,454.0,235.0,261.0,318.0
40,อุบลราชธานี,5,2.0,2.0,1.0,0.0,0.0
41,อ่างทอง,1,1.0,0.0,0.0,0.0,0.0
42,เชียงใหม่,1,1.0,0.0,0.0,0.0,0.0

In [103]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [104]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [105]:
data1 # แสดงข้อมูลหลังเเทน NaN ด้วย 0

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาญจนบุรี,1,0.0,0.0,0.0,0.0,0.0
1,กาฬสินธุ์,7896,5250.0,925.0,547.0,526.0,648.0
2,ขอนแก่น,4280,3337.0,562.0,165.0,127.0,89.0
3,จันทบุรี,27,2.0,7.0,8.0,6.0,4.0
4,ฉะเชิงเทรา,11,8.0,2.0,1.0,0.0,0.0
5,ชลบุรี,4,1.0,2.0,0.0,1.0,0.0
6,ชัยนาท,1,0.0,0.0,0.0,0.0,0.0
7,ชัยภูมิ,2,0.0,0.0,0.0,0.0,0.0
8,ตรัง,1,0.0,0.0,0.0,0.0,0.0
9,ตราด,7,3.0,3.0,1.0,0.0,0.0
10,นครนายก,25,16.0,8.0,1.0,0.0,0.0
11,นครพนม,23,3.0,6.0,2.0,9.0,3.0
12,นครราชสีมา,8,2.0,3.0,2.0,1.0,0.0
13,นนทบุรี,1,0.0,0.0,0.0,0.0,0.0
14,น่าน,1,0.0,0.0,0.0,0.0,0.0
15,บุรีรัมย์,2,0.0,0.0,0.0,0.0,0.0
16,ปทุมธานี,3,1.0,0.0,1.0,0.0,1.0
17,ประจวบคีรีขันธ์,6,1.0,3.0,2.0,0.0,0.0
18,ปราจีนบุรี,5,2.0,3.0,0.0,0.0,0.0
19,พระนครศรีอยุธยา,4,1.0,2.0,1.0,0.0,0.0
20,พิจิตร,2,1.0,1.0,0.0,0.0,0.0
21,มหาสารคาม,8935,3978.0,2115.0,1187.0,887.0,768.0
22,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
23,ระยอง,5,0.0,0.0,0.0,0.0,0.0
24,ราชบุรี,23,19.0,1.0,1.0,0.0,2.0
25,ร้อยเอ็ด,13718,7067.0,3061.0,1401.0,1167.0,1022.0
26,ลพบุรี,6,2.0,1.0,2.0,1.0,0.0
27,ลำปาง,1,0.0,0.0,0.0,0.0,0.0
28,ศรีสะเกษ,3,1.0,1.0,1.0,0.0,0.0
29,สกลนคร,6,3.0,3.0,0.0,0.0,0.0
30,สงขลา,1,1.0,0.0,0.0,0.0,0.0
31,สตูล,1,0.0,0.0,0.0,0.0,0.0
32,สมุทรปราการ,2,1.0,1.0,0.0,0.0,0.0
33,สมุทรสงคราม,1,0.0,0.0,0.0,0.0,0.0
34,สมุทรสาคร,1,1.0,0.0,0.0,0.0,0.0
35,สระแก้ว,5,3.0,1.0,0.0,1.0,0.0
36,สิงห์บุรี,1,1.0,0.0,0.0,0.0,0.0
37,สุรินทร์,1,0.0,0.0,0.0,0.0,0.0
38,อุดรธานี,15,3.0,3.0,3.0,4.0,2.0
39,อุตรดิตถ์,2792,1524.0,454.0,235.0,261.0,318.0
40,อุบลราชธานี,5,2.0,2.0,1.0,0.0,0.0
41,อ่างทอง,1,1.0,0.0,0.0,0.0,0.0
42,เชียงใหม่,1,1.0,0.0,0.0,0.0,0.0

In [106]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [107]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
0,06223,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น
1,12015,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์
2,91811,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์
3,95821,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์
4,13361,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม
...,...,...,...,...,...,...,...,...,...,...,...
37893,68768,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37894,68768,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37895,68768,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37896,68768,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37897,99771,2022-03-31,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,กาฬสินธุ์

In [108]:
merged_use.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: https://datastudio.google.com/reporting/a76882b0-d2de-409a-a7b9-b9d4b4a6061a